.psh {
  background-color: #fff;
  color: #333;
  margin: 1em 0;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #fff;
  color: #333;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #999;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #fff;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e6e6e6;
  color: #5c5c5c;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #e6e6e6;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #5c5c5c;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #e6e6e6;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #5c5c5c;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #999;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #ccc;
  font-size: 13px;
  word-break: break-all;
  color: #5c5c5c;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #f1faf5;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #ecf9fc;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #f6f3fe;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #fef6f0;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #fdf1f3;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #fcf8f1;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #f1faf5;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #fdf1f3;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ccc;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #e9ad1a;
}

.psh .comment {
  color: #adadad;
  font-style: normal;
}

.psh .entity {
  color: #2f6f9f;
}

.psh .keyword {
  color: #699d36;
}

.psh .storage.type {
  color: #699d36;
}

.psh .constant {
  color: #f93232;
}

.psh .constant.boolean, .psh .constant.numeric {
  color: #2aa198;
}

.psh .variable {
  color: #5fafef;
}

.psh .brace, .psh .delimiter {
  color: #000;
}

.psh .delimiter.period {
  color: #699d36;
}

.psh .invalid.deprecated {
  text-decoration: underline;
  color: #f93232;
}

.psh .invalid.illegal {
  color: #f93232;
}

.psh .string {
  color: #e9ad1a;
}

.psh .string .constant.character.escape {
  color: #f93232;
}

.psh .string.regexp {
  color: #2aa198;
}

.psh .string.regexp .source.ruby.embedded,
.psh .string.regexp .string.regexp.arbitrary-repitition {
  color: #f93232;
}

.psh .css .entity {
  color: #5fafef;
}

.psh .css .property-name {
  color: #f93232;
}

.psh .css .variable {
  color: #699d36;
}

.psh .css .constant, .psh .css .unit {
  color: #6700b9;
  background-color: rgba(118, 83, 119, .07);
  border-radius: 3px;
}

.psh .css .quoted {
  color: #e9ad1a;
}

.psh .html .tag, .psh .xml .tag {
  color: #5fafef;
}

.psh .html .entity, .psh .xml .entity {
  color: #2f6f9f;
}

.psh .html .entity.name, .psh .xml .entity.name {
  background-color: rgba(137, 198, 243, .1);
  border-radius: 3px;
}

.psh .html .comment, .psh .xml .comment {
  color: #adadad;
}

.psh .html .attribute-name, .psh .xml .attribute-name {
  color: #5fafef;
}

.psh .html .quoted, .psh .xml .quoted {
  color: #f93232;
}

.psh .html .quoted .punctuation, .psh .xml .quoted .punctuation {
  color: #2f6f9f;
}

.psh .html .js .quoted, .psh .xml .js .quoted {
  color: #e9ad1a;
}

.psh .gfm .link {
  color: #000;
  font-weight: 700;
}

.psh .gfm .link .entity {
  color: #e9ad1a;
  font-weight: 400;
}

.psh .gfm .link .link {
  color: #699d36;
  font-weight: 400;
}

.psh .gfm .heading {
  font-weight: 700;
  color: #000;
}

.psh .gfm .hr, .psh .gfm .list {
  color: #f93232;
}

.psh .gfm .quote {
  font-style: italic;
  color: #2f6f9f;
}

.psh .gfm .raw {
  color: #6700b9;
}

.psh .gfm .raw .support {
  color: #f93232;
  font-weight: 700;
}

.psh .json .punctuation {
  color: #333;
}

.psh .json .punctuation.separator {
  color: red;
}

.psh .json .quoted {
  color: #2f6f9f;
  background-color: rgba(137, 198, 243, .1);
  border-radius: 3px;
}

.psh .json .constant {
  color: #6700b9;
  background-color: rgba(118, 83, 119, .07);
  border-radius: 3px;
}

.psh .yaml .entity.name {
  background-color: rgba(137, 198, 243, .1);
}

.psh .yaml .string .punctuation {
  color: #777;
}

.psh .ruby .entity.name {
  color: #6700b9;
}

.psh .ruby .string {
  color: #f93232;
}

.psh .erb .embedded.erb {
  color: #6700b9;
  background-color: rgba(118, 83, 119, .07);
  border-radius: 3px;
}

.psh .erb .embedded.erb .variable {
  color: #47007f;
}

.psh .erb .embedded.erb .punctuation {
  color: #6700b9;
}
