/*Moblify Terms*/

/* Moblify Web Code was giving to you from Cosmic and at any time you may*/

/* not remove these terms and/or say you made this. Moblify was not made */

/*to track or turn a site into a mobile looking site just to size different parts*/

/*of pages and to make scrolling easier! Using Moblify means you agree*/

/*with the terms!*/

/*About Moblify*/

/*Moblify uses css to calculate the width of the screen then change the elements*/

/*So they can fit the screen size*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
* {
    margin: 0;
    padding: 0;
    -webkit-overview-scrolling: touch
}
body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
    -webkit-text-size-adjust: none
}
img {
    max-height: 100%;
    margin: auto;
    display: block
}
@media (max-width: @screen-xs){body{font-size:10px}}@media (max-width: @screen-sm){body{font-size:14px}}h5{font-size:1.4em}@media screen and (max-device-width: 480px) {
    img {
        max-width: 100%;
        height: auto
    }
}
@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: auto;
        font-family: Helvetica, Arial, Verdana, sans-serif;
        padding: 5px
    }
}
.hide {
    display: none
}
input[type=checkbox] {
    width: 44px;
    height: 44px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: 1px solid #bbb
}
input[type=range] {
    width: 100%
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 44px;
    height: 44px;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0, #bebebe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfdfd), color-stop(100%, #bebebe));
    background: -webkit-linear-gradient(top, #fdfdfd 0, #bebebe 100%);
    background: -o-linear-gradient(top, #fdfdfd 0, #bebebe 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0, #bebebe 100%);
    background: linear-gradient(to bottom, #fdfdfd 0, #bebebe 100%);
    border: 1px solid #bbb;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px
}
button[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    margin: 1.5em 0;
    font-size: 1em;
    line-height: 2.5em;
    color: #333;
    font-weight: 700;
    height: 2.5em;
    width: 100%;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0, #bebebe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfdfd), color-stop(100%, #bebebe));
    background: -webkit-linear-gradient(top, #fdfdfd 0, #bebebe 100%);
    background: -o-linear-gradient(top, #fdfdfd 0, #bebebe 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0, #bebebe 100%);
    background: linear-gradient(to bottom, #fdfdfd 0, #bebebe 100%);
    border: 1px solid #bbb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}
input[type=email],
input[type=password],
input[type=tel],
input[type=text],
input[type=url] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    margin: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    border: 1px solid #bbb
}
embed,
object,
video {
    max-width: 100%
}
.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden
}
.video embed,
.video iframe,
.video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
img {
    width: auto;
    height: auto
}
.wrapper {
    width: 100%
}
li,
p {
    margin-bottom: 10px
}
h1 {
    height: 0
}
h2 {
    margin-bottom: 10px
}
ul {
    margin-left: 25px
}
img {
    border: none
}
#page-wrap {
    min-width: 780px;
    max-width: 1260px;
    margin: 10px auto
}
#page-wrap #inside {
    margin: 10px 10px 0;
    padding-top: 10px;
    padding-bottom: 10px
}
#main-content {
    padding-left: 230px;
    padding-top: 20px
}
#header {
    text-align: center
}
#left-sidebar {
    width: 150px;
    float: left;
    padding-left: 15px;
    padding-top: 20px
}
#footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px
}
@media screen and (max-width: 500px) {
    #header {
        position: static
    }
}
@media screen and (max-width: 500px) {
    .tabs {
        padding: 3px 1em
    }
}
img,
input,
textarea {
    max-width: 100%
}
p {
    font-size: .875em
}
@media screen and (max-width: 30em) {
    body {
        font-size: 90%
    }
}
@media screen and (max-width: 20em) {
    body {
        font-size: 80%
    }
}
body {
    font-size: 18px
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.45
}
h1 {
    font-size: 4em
}
h2 {
    font-size: 3em
}
h3 {
    font-size: 2em
}
h4 {
    font-size: 1em
}
html {
    font-size: 20px
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}
.pointer,
a[href],
button,
input[type=submit],
input[type=image],
label[for],
select {
    cursor: pointer
}
@media screen and (max-width: 600px) {
    nav {
        height: auto
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto
    }
    nav li {
        width: 50%;
        float: left;
        position: relative
    }
    nav li a {
        border-bottom: 1px solid #576979;
        border-right: 1px solid #576979
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px
    }
}
@media only screen and (max-width: 480px) {
    nav {
        border-bottom: 0
    }
    nav ul {
        display: none;
        height: auto
    }
    nav a#pull {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative
    }
    nav a#pull:after {
        content: "";
        background: url(nav-icon.png) no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px
    }
}
@media only screen and (max-width: 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%
    }
    nav li a {
        border-bottom: 1px solid #576979
    }
}
[class*=row-] {
    margin-bottom: 20px
}
[class*=row-]:last-child {
    margin-bottom: 0
}
@media all and (min-width: 768px) {
    [class*=col-] {
        margin-right: 20px
    }
    [class*=col-]:last-child {
        margin-right: 0
    }
    .col-1-2 {
        float: left;
        width: 50%
    }
    .col-1-4,
    .col-1-8 {
        float: left;
        width: 25%
    }
    .row-2 {
        padding-left: 20px
    }
    .row-2[class*=col-]:first-child {
        margin-left: -20px
    }
    .row-4 {
        padding-left: 60px
    }
    .row-4[class*=col-]:first-child {
        margin-left: -60px
    }
    .row-8 {
        padding-left: 60px
    }
    .row-8[class*=col-]:nth-child(4n+1) {
        margin-left: -60px
    }
    .row-8[class*=col-]:nth-child(5n-1) {
        margin-right: 0
    }
    .row-8[class*=col-]:nth-child(6n-1) {
        clear: both
    }
}
@media all and (min-width: 1200px) {
    .col-1-8 {
        float: left;
        width: 12.5%
    }
    .row-8 {
        padding-left: 140px
    }
    .row-8[class*=col-]:nth-child(4n+1) {
        margin-left: 0
    }
    .row-8[class*=col-]:nth-child(5n-1) {
        margin-right: 20px
    }
    .row-8[class*=col-]:nth-child(6n-1) {
        clear: none
    }
    .row-8[class*=col-]:nth-child(1) {
        margin-left: -140px
    }
}
@media print {
    * {
        float: none;
        width: auto
    }
    body {
        font-family: "Times New Roman", Times, serif;
        font-size: 12pt;
        background: #fff;
        color: #000;
        margin: 0
    }
    a:link,
    a:visited {
        color: #520;
        background: 0 0;
        font-weight: 700;
        text-decoration: underline
    }
    #hide {
        display: none
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
        page-break-inside: avoid
    }
    img {
        page-break-inside: avoid;
        page-break-after: avoid
    }
    blockquote,
    pre,
    table {
        page-break-inside: avoid
    }
    dl,
    ol,
    ul {
        page-break-before: avoid
    }
}
