/* YUI Tooltip Skin CSS by Josh Lizarraga */

/* ! contentBox */

.yui3-tooltip-content {
	max-width: 220px;
	_width: 220px; /* IE6 */
	border: 1px solid #996b3d;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #4d2600;
	background: #ffffcc; /* Fallback */
	background: -moz-linear-gradient(top, #ffffcc 0%, #ffff66 100%); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffcc), color-stop(100%, #ffff66)); /* Chrome, Safari */
	background: -o-linear-gradient(#ffffcc, #ffff66); /* Opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffcc, endColorstr=#ffff66, GradientType=0)"; /* IE8, IE9 */
	*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffcc, endColorstr=#ffff66, GradientType=0); /* IE6, IE7 */
	-moz-box-shadow: 0px 2px 8px hsla(0, 0%, 0%, .30);
	-webkit-box-shadow: 0px 2px 8px hsla(0, 0%, 0%, .30);
	box-shadow: 0px 2px 8px hsla(0, 0%, 0%, .30);
}

/* ! Widget Body */

.yui3-tooltip .yui3-widget-bd {
	padding: 1px 10px;
}

.yui3-tooltip .yui3-widget-bd h1,
.yui3-tooltip .yui3-widget-bd h2,
.yui3-tooltip .yui3-widget-bd h3,
.yui3-tooltip .yui3-widget-bd h4,
.yui3-tooltip .yui3-widget-bd h5,
.yui3-tooltip .yui3-widget-bd h6,
.yui3-tooltip .yui3-widget-bd p,
.yui3-tooltip .yui3-widget-bd ul,
.yui3-tooltip .yui3-widget-bd ol {
	margin: 10px 0;
	line-height: 1.25;
	font-size: 1.1em;
	list-style-position: inside;
}

.yui3-tooltip .yui3-widget-bd h1,
.yui3-tooltip .yui3-widget-bd h2,
.yui3-tooltip .yui3-widget-bd h3,
.yui3-tooltip .yui3-widget-bd h4,
.yui3-tooltip .yui3-widget-bd h5,
.yui3-tooltip .yui3-widget-bd h6 {
	font-weight: bold;
}

.yui3-tooltip .yui3-widget-bd h1 {
	font-size: 2em;
}

.yui3-tooltip .yui3-widget-bd h2 {
	font-size: 1.8em;
}

.yui3-tooltip .yui3-widget-bd h3 {
	font-size: 1.6em;
}

.yui3-tooltip .yui3-widget-bd h4 {
	font-size: 1.4em;
}

.yui3-tooltip .yui3-widget-bd h5 {
	font-size: 1.2em;
}

.yui3-tooltip .yui3-widget-bd * {
	max-width: 100%;
}

/* ! Widget Footer */

.yui3-tooltip .yui3-tooltip-align-top .yui3-widget-ft,
.yui3-tooltip .yui3-tooltip-align-top .yui3-widget-ft div {
	border-color: #996b3d transparent;
}

.yui3-tooltip .yui3-tooltip-align-top .yui3-widget-ft div {
	border-color: #ffff66 transparent;
}

.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft,
.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft div {
	border-color: #996b3d transparent;
}

.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft div {
	border-color: #ffffcc transparent;
}

.yui3-tooltip .yui3-tooltip-align-right .yui3-widget-ft,
.yui3-tooltip .yui3-tooltip-align-right .yui3-widget-ft div {
	border-color: transparent #996b3d;
}

.yui3-tooltip .yui3-tooltip-align-right .yui3-widget-ft div {
	border-color: transparent #ffffb2;
}

.yui3-tooltip .yui3-tooltip-align-left .yui3-widget-ft,
.yui3-tooltip .yui3-tooltip-align-left .yui3-widget-ft div {
	border-color: transparent #996b3d;
}

.yui3-tooltip .yui3-tooltip-align-left .yui3-widget-ft div {
	border-color: transparent #ffffb2;
}
