/**
 * Wrapping form
 */
.social-view {
	max-width: 70em!important;
}

/**
 * Image replacement util
 */
.social-ir {
	display: block;
	text-indent: -999em;
}

.social-view-header {
	margin: 10px;
}

.social-view-header h2 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.social-view-subtitle {
	color: #777;
	font-style: italic;
}

.social-mailchimp-link {
	background: url(mailchimp.png) no-repeat;
	display: inline-block;
	height: 27px;
	overflow: hidden;
	text-indent: -999em;
	*text-indent: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 4px;
	vertical-align: middle;
	width: 111px;
}

#social_proxy_keys {
	margin-top: 10px;
}

#social_error {
	background-color: #ffebe8;
	border: 1px solid #c00;
	margin: 5px 0 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;;
	padding: .6em;
	font-size: 12px;
	color: #333;
}

#social-broadcast-error h4 {
	margin-bottom: 0;
}

.social-accounts {
	margin: 20px 0 0;
	max-width: 60em;
}
.social-accounts:first-child {
	margin-top: 0;
}

.social-accounts .social-connect-button {
	margin-bottom: 5px;
}

.social-accounts ul {
	border-top: 1px solid #e5e5e5;
	margin-top: 0;
}

.social-accounts ul li {
	background: #fff;
	margin: 0;
	padding: 0;
}

.social-accounts ul ul li {
	background: url(child-account-bullet.gif) no-repeat;
	padding-left: 32px;
}

.social-accounts .social-accounts-item {
	border-bottom: 1px solid #e5e5e5;
	min-height: 32px;
	line-height: 32px;
	margin: 0;
	position: relative;
}
.social-accounts .social-accounts-item .social-accounts-item:last-child {
	border-bottom: 0;
}
.social-accounts .social-accounts-item img {
	position: absolute;
}
.social-accounts .social-accounts-item .name {
	padding-left: 38px;
}
.social-accounts .social-accounts-item label {
	display: block;
	height: 32px;
	line-height: 32px;
	position: absolute;
	top: 0;
}
.social-accounts .social-accounts-item label.default {
	right: 100px;
}
.social-accounts .social-accounts-item label.enabled {
	right: 8px;
}

.social-accounts .name a {
	font-weight: bold;
	text-decoration: none;
}

#social-broadcast-by-default-yes,
#social-broadcast-by-default-no {
	margin: 0 5px;
}

#social-broadcast-by-default-no {
	margin-left: 15px;
}

#social-default-accounts {
	margin-top: 0;
}

#social-default-accounts.profile-page {
	max-width: 60em;
}

.social-accounts ul h5,
.social-accounts ul h6,
#social-default-accounts li h5 {
	margin: 0;
}

.social-accounts ul ul a {
	position: relative;
	top: -2px;
}

.social-accounts-item .name span {
	position: relative;
	top: -1px;
	font-size: 11px;
}
.social-accounts-item.none {
	color: #999;
}

.social-accounts-item .name span a {
	font-weight: normal;
}

.social-accounts-item .social-facebook-pages {
	display: none;
}

.social-accounts-item .social-facebook-pages-spinner {
	display: none;
	position: relative;
	top: 3px;
}

.social-accounts .disconnect {
	display: block;
	height: 32px;
	line-height: 32px;
	position: absolute;
	right: 8px;
	top: 0;
}

.social-broadcast-options .social-accounts ul {
	padding: 0;
}

.social-broadcast-options .social-accounts li {
	list-style: none;
	padding: 0;
}

.social-broadcast-options .social-facebook-pages,
#social-default-accounts .social-facebook-pages {
	margin-left: 45px;
}

.social-broadcast-options .social-facebook-pages ul,
#social-default-accounts .social-facebook-pages ul {
	margin-bottom: 10px;
}

.social-broadcast-options .social-facebook-pages li,
#social-default-accounts .social-facebook-pages li {
	margin-bottom: 2px;
}

.social-facebook-pages img,
.social-accounts-item span {
	position: relative;
}

.social-facebook-pages img {
	top: 6px;
}

.social-facebook-pages span {
	top: -1px;
}

.social-accounts-item.error .social-broadcast-editable span {
	display: block;
	font-size: 11px;
	color: #f00;
}

#social-default-accounts .name span {
	top: 0;
}

#social-default-accounts .name a {
	text-decoration: none;
}

.social-login span {
	display: none;
}

.social-login {
	display: inline-block;
	width: 150px;
	height: 22px;
}

.social-disconnect {
	position: relative;
}

.social-collapsible {
	margin: 20px 0;
}

.social-collapsible > .social-title {
	background: url(e5e5e5.gif) repeat-x 0 center;
	font-size: 14px;
	margin: 0 10px 20px;
}

.social-collapsible > .social-title a {
	background: #fff url(toggle.gif) no-repeat 0 0;
	display: -moz-inline-box; /* FF2 */
	display: inline-block; /* Standard. IE8+, Saf, FF3+ */
	padding: 0 5px 0 15px;
	text-decoration: none;
}

.social-collapsible .social-content {
	display: none;
	overflow: hidden;
	zoom: 1;
}

.social-collapsible.social-open .social-title a {
	background-position: 0 -100px;
}

.social-collapsible.social-open .social-content {
	display: block;
}

/**
 * Twitter/Facebook Specific Styles
 */
#twitter_signin {
	background: url('social.png') 0 0;
}

#twitter_signin:hover {
	background-position: 0 -22px;
}

#twitter_signin:active {
	background-position: 0 -44px;
}

#facebook_signin {
	background: url('social.png') -150px 0;
}

#facebook_signin:hover {
	background-position: -150px -22px;
}

#facebook_signin:active {
	background-position: -150px -44px;
}

.social-connect-button {
	clear: both;
}

.social-connect-button input,
.social-connect-button label {
	float: left;
	margin: 6px 0 0 10px;
	line-height: 16px;
}

.social-connect-button label {
	margin: 4px 0 0 4px;
}

.social-connect-button a {
	float: left;
}

.social-settings-connect .social-twitter-icon,
.social-settings-connect .social-facebook-icon {
	display: block;
	height: 35px;
	margin-bottom: 10px;
}

.social-twitter-icon i,
.social-facebook-icon i {
	background: url('social.png') 0 -150px;
	display: block;
	float: left;
	margin-right: 5px;
	width: 16px;
	height: 16px;
	line-height: 16px;
}

.social-facebook-icon i {
	background-position: 0 -250px;
}

.social-twitter-icon.big,
.social-facebook-icon.big {
	line-height: 30px;
}

.social-twitter-icon.big i,
.social-facebook-icon.big i {
	background-position: 0 -82px;
	margin-right: 10px;
	width: 30px;
	height: 30px;
}

.social-facebook-icon.big i {
	background-position: -30px -82px;
}

.social-facebook-pages {
	clear: both;
}

#social_meta_aggregation_log .inside {
	margin: 0;
	padding: 0;
}

.social-meta-box-block {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dfdfdf;
	padding: 12px 12px 6px 12px;
}

.social-meta-box-block h4,
.social-meta-box h4 {
	margin: 8px 0;
}

.social-meta-box-block p,
.social-meta-box-block ul,
.social-meta-box p,
.social-meta-box ul {
	margin: 0 0 8px 0;
}

.social-meta-box-block h4 span {
	font-size: 11px;
	font-weight: normal;
}

#social-broadcast-meta-private p {
	margin: auto;
}

.mar-top-none {
	margin-top: 0 !important;
}

.social-kv {
	margin-bottom: 10px;
}

.social-kv dt {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.social-kv dd,
.social-kv code {
	font-size: 16px;
}

.social-callout,
.social-note {
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	border-radius: 5px; /* Standard. IE9 */
	/**
	 * @bugfix border-radius background bleed
	 * @see http://tumble.sneak.co.nz/post/928998513/fixing-the-background-bleed
	 */
	-webkit-background-clip: padding-box;
	margin: 10px 0;
	padding: 10px;
}

.social-callout {
	background: #f5f5f5;
	border: 1px solid #ddd;
}

.social-note {
	background: #fff;
	border: 1px solid #e5db6c;
}

.social-note .social-title,
.social-callout .social-title {
	font: normal normal 16px/1.2 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
}

#social-import-error {
	display: none;
	color: #f00;
}

#aggregation_log {
	margin-bottom: 10px;
}

#aggregation_log h5 {
	border-top: 1px solid #eee;
	font-size: 1em;
	font-weight: normal;
	line-height: 0.9em;
	padding: 8px 5px;
	margin: 0;
}

#aggregation_log h5:hover {
	background-color: #fff;
	cursor: pointer;
}

#aggregation_log ul {
	color: #666;
	font-size: 0.9em;
	list-style: disc inside;
	margin: 0px 15px 5px 15px;
}

#run_aggregation,
#import_from_url {
	color: #000;
}

.row-actions.social_run_aggregation {
	visibility: visible;
}

.social_run_aggregation_loader {
	display: none;
	vertical-align: middle;
}

.social-aggregation-results.social-comments-found {
	font-weight: bold;
}

.cf-clearfix {
	display: block;
	zoom: 1;
}

.cf-clearfix:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

/**
 * Meta Broadcast Box
 */
#social_meta_broadcast .service-label,
#social_proxy_keys label {
	float: left;
	width: 135px;
	padding-top: 2px;
}

#social_meta_broadcast .broadcast-label {
	float: left;
}

#social_proxy_keys label {
	padding-top: 6px;
}

#social_proxy_keys input {
	width: 350px;
}

#social_meta_broadcast .social-toggle-label {
	margin-right: 10px;
}

#social_meta_broadcast .social-broadcast-options {
	position: relative;
	top: 2px;
}

.social-meta-broadcast-button a {
	float: right;
	padding-top: 4px;
}

.social-meta-broadcast-button {
	padding-bottom: 0;
}

.social-meta-broadcast-button.broadcasted {
	margin-top: 0;
	padding: 0;
}

#social_meta_broadcast .inside {
	margin: 0;
	padding: 0;
}
#social_meta_broadcast .broadcast-button {
	border-bottom: 0;
	padding: 10px 10px 8px;
}
#social_meta_broadcast .broadcast-button p {
	margin: 0;
	padding: 0;
}

.social-broadcasted {
	margin-bottom: 4px !important;
	margin-left: 2px !important;
}

.social-broadcasted li {
	clear: both;
	height: 24px;
	margin-bottom: 2px;
}

.social-broadcasted li img {
	float: left;
}

.social-broadcasted li span {
	height: 24px;
	line-height: 24px;
	margin-left: 5px;
}

/* Errors */
.error ul.social-posting-errors {
	margin: 0 5px;
	padding: 0 10px;
}
.error ul.social-posting-errors li {
	list-style: disc;
}

/* Interstitial */
.social-broadcast-options section {
	margin-bottom: 30px;
}
.broadcast-interstitial {
}
.broadcast-interstitial ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.broadcast-interstitial li.account {
	border-bottom: 1px solid #ddd;
	margin: 0 0 18px;
	padding: 0 0 18px;
	position: relative;
}
.broadcast-interstitial li.account:last-child {
	border: 0;
}
.broadcast-interstitial li.account p.error {
	background: #f00;
	color: #fff;
	font-size: 12px;
	line-height: 120%;
	margin: 0 0 0 20px;
	padding: 5px 8px;
	position: relative;
}
.broadcast-interstitial li.account label {
	cursor: pointer;
	display: block;
	height: 32px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 200px;
}
.broadcast-interstitial li.account label img {
	position: absolute;
}
.broadcast-interstitial li.account label span {
	display: block;
	height: 32px;
	line-height: 32px;
	margin-left: 40px;
}
.broadcast-interstitial li.account .broadcast-content {
	margin-left: 200px;
	position: relative;
}
.broadcast-interstitial li.account .broadcast-content h3 {
	color: #666;
	font-size: 11px;
	font-weight: normal;
	margin: 0 0 0 27px;
}
.broadcast-interstitial ul.broadcasts {
	margin-left: 27px;
}
.broadcast-interstitial ul.broadcasts li,
.broadcast-interstitial ul.broadcasts li p {
	font-size: 12px;
}
.broadcast-interstitial li.account .broadcast-edit {
	padding-left: 20px;
	position: relative;
}
.broadcast-interstitial li.account .broadcast-edit input[type="checkbox"] {
	left: -5px;
	position: absolute;
	top: 7px;
}
.broadcast-interstitial li.account .broadcast-edit .readonly {
	font-size: 16px;
	line-height: 140%;
	margin: 0;
	opacity: .3;
	padding: 6px 7px;
	width: 90%;
}
.broadcast-interstitial li.account .broadcast-edit a.edit,
.broadcast-interstitial li.account .broadcast-edit a.tweet-reply-link {
	font-size: 12px;
	line-height: 100%;
	opacity: .3;
	padding-left: 7px;
}
.broadcast-interstitial li.account .broadcast-edit textarea {
	display: none;
	font-size: 16px;
	height: 70px;
	line-height: 140%;
	opacity: .3;
	padding: 5px;
	width: 90%;
}
.broadcast-interstitial li.account.twitter .broadcast-edit textarea {
	margin-bottom: 5px;
}
.broadcast-interstitial li.account.facebook .broadcast-edit textarea {
	height: 180px;
}
.broadcast-interstitial li.account .broadcast-edit .tweet-reply-fields {
	display: none;
	opacity: .3;
	padding: 5px 0 0 7px;
}
.broadcast-interstitial li.account .broadcast-edit .tweet-reply-fields label {
	color: #666;
	font-size: 11px;
	height: 15px;
	position: relative;
	top: 0;
}
.broadcast-interstitial li.account .broadcast-edit .tweet-reply-fields input {
	padding: 5px;
	width: 85%;
}
.broadcast-interstitial li.account .broadcast-edit .counter {
	color: #999;
	display: none;
	font-size: 11px;
	left: -35px;
	opacity: .3;
	position: absolute;
	text-align: right;
	top: 65px;
	width: 50px;
}
.broadcast-interstitial li.account.facebook .broadcast-edit .counter {
	top: 174px;
}
.broadcast-interstitial li.account .checked .readonly,
.broadcast-interstitial li.account .checked a.edit,
.broadcast-interstitial li.account .checked a.tweet-reply-link,
.broadcast-interstitial li.account .checked textarea,
.broadcast-interstitial li.account .checked .tweet-reply-fields,
.broadcast-interstitial li.account .checked .counter,
.broadcast-interstitial li.account .broadcast-edit:hover a.edit,
.broadcast-interstitial li.account .broadcast-edit:hover a.tweet-reply-link {
	opacity: 1;
}
.broadcast-interstitial li.account .broadcast-edit.edit .readonly,
.broadcast-interstitial li.account .broadcast-edit.edit a.edit {
	display: none;
}
.broadcast-interstitial li.account .broadcast-edit.edit textarea,
.broadcast-interstitial li.account .broadcast-edit.edit .counter {
	display: block;
}
.broadcast-interstitial p.step {
	padding: 20px;
	text-align: center;
}
.broadcast-interstitial p.step input {
	margin-right: 5px;
}

.broadcast-interstitial li.account .broadcast-edit.edit .maxlength-remaining-short {
	color: #900;
}
.broadcast-interstitial .facebook-link-preview {
	border-left: 2px solid #ccc;
	margin: 8px 0 0 27px;
	padding: 0 0 0 10px;
	position: relative;
	width: 380px;
}
.broadcast-interstitial .facebook-link-preview.has-img {
	border-left: 0;
	min-height: 90px;
	padding: 0;
}
.broadcast-interstitial .facebook-link-preview img {
	height: 90px;
	position: absolute;
	width: 90px;
}
.broadcast-interstitial .facebook-link-preview h4,
.broadcast-interstitial .facebook-link-preview h5,
.broadcast-interstitial .facebook-link-preview p {
	color: gray;
	font: normal 11px "lucida grande",tahoma,verdana,arial,sans-serif;
	line-height: 14px;
	margin: 0;
	padding: 0;
}
.broadcast-interstitial .facebook-link-preview.has-img h4,
.broadcast-interstitial .facebook-link-preview.has-img h5,
.broadcast-interstitial .facebook-link-preview.has-img p {
	padding: 0 0 0 100px;
}
.broadcast-interstitial .facebook-link-preview h4,
.broadcast-interstitial .facebook-link-preview h4 a,
.broadcast-interstitial .facebook-link-preview h4 a:visited {
	color: #3B5998;
	font-weight: bold;
}
.broadcast-interstitial .facebook-link-preview p {
	margin-top: 5px;
}
