.psh {
  background-color: #25292c;
  color: silver;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #737576;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #25292c;
  text-align: right;
  height: 18px;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  line-height: 18px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 11px;
  font-family: serif;
  font-family: initial;
  background-color: #3b3e41;
  color: #b1b2b3;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #3b3e41;
  font-weight: 700;
  font-size: 14px;
  color: #b1b2b3;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #3b3e41;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #b1b2b3;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #737576;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #4c4f51;
  font-size: 13px;
  color: #b1b2b3;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #3d4646;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #3a454a;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #40424b;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #454343;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #444144;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #444543;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #3d4646;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #444144;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #4c4f51;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #7592a3;
}

.psh .comment {
  color: #81868d;
}

.psh .punctuation.definition.comment {
  font-style: normal;
}

.psh .constant.numeric {
  color: #c7af3f;
}

.psh .constant.language {
  color: #c7af3f;
}

.psh .constant.numeric.line-number.find-in-files:not(.match) {
  color: rgba(143, 190, 0, .63);
}

.psh .constant.character, .psh .constant.other {
  color: #cc7832;
}

.psh .entity.name.class {
  text-decoration: underline;
  color: #c7af3f;
}

.psh .entity.other.inherited-class {
  text-decoration: underline;
  color: #c7af3f;
}

.psh .entity.name.function {
  color: #c7af3f;
}

.psh .entity.name.filename.find-in-files {
  color: #e6db74;
}

.psh .invalid {
  color: #f8f8f0;
  background-color: #00a8c6;
}

.psh .invalid.deprecated {
  color: #f8f8f0;
  background-color: #8fbe00;
}

.psh .keyword {
  color: #9fb3c2;
}

.psh .keyword.control, .psh .parameter {
  color: #a1617a;
}

.psh .keyword.operator {
  color: #e9967a;
}

.psh .keyword.other.important {
  color: #ae5555;
}

.psh .markup.deleted {
  color: #00a8c6;
}

.psh .markup.inserted {
  color: #a6e22e;
}

.psh .markup.changed {
  color: #e6db74;
}

.psh .constant.numeric.css, .psh .constant.numeric.scss, .psh .meta.embedded.line.php, .psh .meta.property-group .support.constant.property-value.css, .psh .meta.property-group .support.constant.property-value.scss, .psh .meta.property-list.css .meta.property-value.css, .psh .meta.property-value .support.constant.property-value.css, .psh .meta.property-value .support.constant.property-value.scss, .psh .parameter.less.data-uri .comment .markup.raw, .psh .source.less .meta.property-value.css, .psh .variable.parameter.misc.css {
  color: silver;
}

.psh .meta.constructor.argument.css, .psh .meta.constructor.argument.scss {
  color: #8f9d6a;
}

.psh .meta.function-call {
  color: #c5a6bf;
}

.psh .keyword.control.at-rule, .psh .meta.at-rule.import, .psh .meta.preprocessor.at-rule .keyword.control.at-rule {
  color: #8693a5;
}

.psh .meta.structure.dictionary.json .string.quoted.double.json {
  color: #cfcfc2;
}

.psh .meta.diff, .psh .meta.diff.header {
  color: #75715e;
}

.psh .punctuation.section.embedded.begin.php, .psh .punctuation.section.embedded.end.php {
  color: #cf6a4c;
}

.psh .punctuation.section.function, .psh .punctuation.separator.key-value, .psh .punctuation.terminator.expression.php, .psh .punctuation.terminator.rule, .psh .support.constant.mathematical-symbols.css, .psh .support.constant.mathematical-symbols.scss {
  color: #dedede;
}

.psh .source.asp.embedded.html {
  color: #cf6a4c;
}

.psh .source.scss .entity.other.attribute-name.placeholder.scss {
  color: #8f9d6a;
}

.psh .source.scss .meta.set.variable .variable, .psh .variable.scss {
  color: #c07a7a;
}

.psh .storage {
  color: #9fb3c2;
}

.psh .storage.type {
  color: #e1a170;
}

.psh .constant.character.escaped.css, .psh .punctuation.parameters, .psh .string {
  color: #7592a3;
}

.psh .constant.other.color.rgb-value, .psh .keyword.other.unit, .psh .meta.property-value .constant, .psh .support.constant.named-color {
  color: #a4b3ca;
}

.psh .meta.property-list.css .meta.property-name.css,
.psh .meta.property-list.scss .meta.property-name.scss,
.psh .support.type.property-name.css,
.psh .support.type.property-name.scss {
  color: #c3a276;
}

.psh .support.function {
  color: #c7af3f;
}

.psh .support.constant {
  color: #c7af3f;
}

.psh .support.class, .psh .support.type {
  color: #c7af3f;
}

.psh .variable, .psh .variable.scss {
  color: #b57b91;
}

.psh .variable.parameter {
  color: #c7af3f;
}

.psh .entity.name.tag, .psh .keyword.control.html.elements, .psh .punctuation.definition.tag {
  color: #c5b363;
}

.psh .entity.name.tag.css, .psh .entity.name.tag.less, .psh .entity.name.tag.scss, .psh .keyword.control.html.elements {
  color: #bdb76b;
}

.psh .entity.name.tag.custom.scss {
  color: #5f9ea0;
}

.psh .entity.name.type.instance {
  color: #c5a6bf;
}

.psh .entity.other.attribute-name {
  color: #9caf88;
}

.psh .entity.other.attribute-name.pseudo-class.css {
  color: #a1617a;
}

.psh .entity.other.attribute-name.id {
  color: #b3c770;
}

.psh .entity.other.attribute-name.attribute {
  color: #7497be;
}

.psh .entity.other.attribute-name.placeholder.scss {
  color: #5a647e;
}

.psh .meta.structure.dictionary.json .string.quoted.double.json {
  color: #e19951;
}

.psh .meta.structure.dictionary.value.json .string.quoted.double.json {
  color: #8f9d6a;
}
