.yui3-colorpicker {
	width: 315px;
}

.yui3-colorpicker-container {
	height: 192px;
	position: relative;
}

.yui3-colorpicker-canvas {
	background: #f00 url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-color-picker-base/assets/picker_bg.png);
	background-color: #f00;
	height: 184px;
	left: 5px;
	outline: 0 none;
	position: absolute;
	top: 5px;
	width: 184px;
}

.yui3-colorpicker-controls {
	height: 115px;
	left: 226px;
	position: absolute;
	top: 75px;
	width: 80px;
}

.yui3-colorpicker-controls .yui3-field-content .yui3-field-label {
	margin-top: 0;
	width: 20%;
}

.yui3-colorpicker-controls .yui3-field-content .yui3-field-input-text {
	width: 60%;
}

.yui3-colorpicker-controls .yui3-field-content {
	clear: both;
	padding: 3px 0;
}

.yui3-colorpicker-hue-thumb {
	cursor: default;
	height: 7px;
	position: absolute;
	width: 18px;
}

.yui3-colorpicker-hue-thumb-image {
	background: url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-color-picker-base/assets/color_indic.png) no-repeat 0 0;
	display: block;
	height: 7px;
	margin-left: -2px;
	margin-top: -2px;
	width: 18px;
}

.yui3-colorpicker-hue-canvas {
	background: url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-color-picker-base/assets/hue.png) no-repeat -2px -2px;
	height: 186px;
	left: 200px;
	outline: 0 none;
	position: absolute;
	top: 5px;
	width: 14px;
}

.yui3-colorpicker-mask {
	left: 0;
	position: absolute;
	top: 0;
}

.yui3-colorpicker-swatch {
	border: 2px solid #727C81;
	height: 60px;
	left: 226px;
	position: absolute;
	top: 5px;
	width: 60px;
}

.yui3-colorpicker-swatch-current,
.yui3-colorpicker-swatch-original {
	background: #fff;
	height: 30px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.yui3-colorpicker-swatch-original {
	top: auto;
	bottom: 0;
	cursor: pointer;
}

.yui3-colorpicker-thumb {
	cursor: default;
	position: absolute;
}

.yui3-colorpicker-thumb-image {
	background: url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-color-picker-base/assets/select.png) no-repeat 0 0;
	display: block;
	height: 11px;
	width: 11px;
}

.yui3-colorpicker-hue-slider-content {
	display: inline;
	position: static;
}