.psh {
  background-color: #f7f3ee;
  color: #605a52;
  margin: 1em 0;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #f7f3ee;
  color: #605a52;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #aca7a0;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #f7f3ee;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dedbd6;
  color: #595756;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #dedbd6;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #595756;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #dedbd6;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #595756;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #aca7a0;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #d1cdc7;
  font-size: 13px;
  word-break: break-all;
  color: #595756;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #eaf0e7;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #e5efed;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #efe9ef;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #f7ebe2;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #f6e7e4;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #f6eee2;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #eaf0e7;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #f6e7e4;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #d1cdc7;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #605a52;
}

.psh .keyword.control {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .constant.keyword, .psh .constant.symbol {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .constant.language, .psh .constant.numeric {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .string.quoted, .psh .string.regexp {
  color: #525643;
  background-color: rgba(132, 189, 0, .19);
}

.psh .string.quoted .constant.keyword, .psh .string.quoted .constant.language, .psh .string.quoted .constant.numeric, .psh .string.quoted .constant.symbol, .psh .string.quoted .entity.name.tag, .psh .string.quoted .keyword.control, .psh .string.quoted .meta.embedded, .psh .string.quoted .string.quoted, .psh .string.quoted .string.regexp, .psh .string.regexp .constant.keyword, .psh .string.regexp .constant.language, .psh .string.regexp .constant.numeric, .psh .string.regexp .constant.symbol, .psh .string.regexp .entity.name.tag, .psh .string.regexp .keyword.control, .psh .string.regexp .meta.embedded, .psh .string.regexp .string.quoted, .psh .string.regexp .string.regexp {
  color: inherit;
  background-color: transparent;
}

.psh .string.quoted .meta.embedded .punctuation.embedded,
.psh .string.regexp .meta.embedded .punctuation.embedded {
  color: inherit;
  background-color: transparent;
}

.psh .string.quoted .meta.embedded .string.quoted .punctuation.definition,
.psh .string.regexp .meta.embedded .string.quoted .punctuation.definition {
  color: inherit;
  background-color: transparent;
}

.psh .string.quoted .punctuation.definition, .psh .string.regexp .punctuation.definition {
  color: #81895d;
}

.psh .comment {
  color: #b9a992;
  font-style: italic;
}

.psh .meta.embedded:not(.php) .punctuation.embedded {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .bold {
  font-weight: 700;
}

.psh .italic {
  font-style: italic;
}

.psh .invalid.deprecated {
  color: #000 !important;
  background-color: #f2a60d !important;
}

.psh .invalid.illegal {
  color: #fff !important;
  background-color: #ff1414 !important;
}

.psh .source.c .storage.type {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.clojure .storage.control {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .ink.result.inline .ink.leaf .text {
  color: #b9a992;
  font-style: italic;
}

.psh .source.coffee .meta.inline.function, .psh .source.coffee .storage.type.class, .psh .source.coffee .storage.type.function {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.coffee .meta.inline.function .function,
.psh .source.coffee .storage.type.class .function,
.psh .source.coffee .storage.type.function .function {
  color: inherit;
  background-color: transparent;
}

.psh .source.coffee .support.class {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.coffee .comment .storage.type.class {
  color: inherit;
  background-color: transparent;
}

.psh .source.crystal .keyword.control.float,
.psh .source.crystal .keyword.control.signed-int,
.psh .source.crystal .keyword.control.unsigned-int,
.psh .source.crystal .support.class.struct {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.crystal .keyword.other.special-method,
.psh .source.crystal .support.function.kernel {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.css .entity.attribute-name, .psh .source.css .entity.tag {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.css .entity.attribute-name .entity.attribute-name,
.psh .source.css .entity.tag .entity.attribute-name {
  color: inherit;
  background-color: transparent;
}

.psh .source.css .entity.attribute-name .punctuation.definition,
.psh .source.css .entity.tag .punctuation.definition {
  color: #9c739c;
}

.psh .source.css .support.constant {
  color: #525643;
  background-color: rgba(132, 189, 0, .19);
}

.psh .source.css .constant.rgb-value {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .source.css .keyword.important {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.css .keyword.other.unit {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
  color: #5f8c7d;
}

.psh .source.css .punctuation.separator, .psh .source.css .punctuation.terminator {
  color: #93836c;
}

.psh .source.elixir .keyword.other.special-method {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.elixir .constant.language {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .source.elixir .constant.symbol .punctuation.definition {
  color: #7382a0;
}

.psh .source.elixir.embedded .constant.language,
.psh .source.elixir.embedded .keyword.other.special-method {
  color: inherit;
  background-color: transparent;
}

.psh .source.elm .meta.import .keyword.other {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.elm .storage.type, .psh .source.elm .support.type {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.elm .constant.other {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .source.elm .support.constant {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .source.gfm .markup.heading {
  display: inline-block;
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.gfm .markup.heading .heading {
  color: inherit;
  background-color: transparent;
}

.psh .source.gfm .markup.heading .marker {
  color: #9c739c;
}

.psh .source.gfm .markup.code, .psh .source.gfm .markup.raw {
  display: inline-block;
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.gfm .markup.code .constant.boolean,
.psh .source.gfm .markup.code .constant.keyword,
.psh .source.gfm .markup.code .constant.nil,
.psh .source.gfm .markup.code .constant.numeric,
.psh .source.gfm .markup.code .constant.symbol,
.psh .source.gfm .markup.code .keyword.control,
.psh .source.gfm .markup.code .keyword.new,
.psh .source.gfm .markup.code .keyword.special-method,
.psh .source.gfm .markup.code .storage.control,
.psh .source.gfm .markup.code .storage.var,
.psh .source.gfm .markup.code .string.quoted,
.psh .source.gfm .markup.code .support.function.actionpack,
.psh .source.gfm .markup.code .support.function.activerecord,
.psh .source.gfm .markup.code .support.function.activesupport,
.psh .source.gfm .markup.code .support.function.viewhelpers,
.psh .source.gfm .markup.code .variable.this,
.psh .source.gfm .markup.raw .constant.boolean,
.psh .source.gfm .markup.raw .constant.keyword,
.psh .source.gfm .markup.raw .constant.nil,
.psh .source.gfm .markup.raw .constant.numeric,
.psh .source.gfm .markup.raw .constant.symbol,
.psh .source.gfm .markup.raw .keyword.control,
.psh .source.gfm .markup.raw .keyword.new,
.psh .source.gfm .markup.raw .keyword.special-method,
.psh .source.gfm .markup.raw .storage.control,
.psh .source.gfm .markup.raw .storage.var,
.psh .source.gfm .markup.raw .string.quoted,
.psh .source.gfm .markup.raw .support.function.actionpack,
.psh .source.gfm .markup.raw .support.function.activerecord,
.psh .source.gfm .markup.raw .support.function.activesupport,
.psh .source.gfm .markup.raw .support.function.viewhelpers,
.psh .source.gfm .markup.raw .variable.this {
  color: inherit;
  background-color: transparent;
}

.psh .source.gfm .markup.italic {
  font-style: italic;
}

.psh .source.gfm .markup.bold {
  font-weight: 700;
}

.psh .source.gfm .markup.strike {
  text-decoration: line-through;
}

.psh .source.gfm .link {
  display: inline-block;
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .source.gfm .link .link {
  color: inherit;
  background-color: transparent;
}

.psh .source.gfm .link .punctuation.definition {
  color: #7382a0;
}

.psh .source.gfm .comment {
  display: inline-block;
  font-style: normal;
  color: #525643;
  background-color: rgba(132, 189, 0, .19);
}

.psh .source.gfm .comment .comment, .psh .source.gfm .comment .link {
  color: inherit;
  background-color: transparent;
}

.psh .source.gfm .comment .support.quote {
  color: #81895d;
}

.psh .source.go .keyword.function, .psh .source.go .keyword.import, .psh .source.go .keyword.package, .psh .source.go .keyword.type {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.go .storage.type {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.go .constant.language {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .gohtml .punctuation.embedded {
  color: #93836c;
}

.psh .source.haskell .keyword.other:not(.arrow):not(.double-colon) {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.haskell .entity.name.type {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.haskell .support.tag.prelude {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .html .meta.tag {
  color: #93836c;
}

.psh .html .meta.tag .entity.attribute-name {
  color: #93836c;
  font-style: italic;
}

.psh .html .meta.tag .entity.tag {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .html.htmlplus .meta.tag .entity.tag {
  color: inherit;
  background-color: transparent;
  color: #605a52;
}

.psh .html.htmlplus .string.content {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .mustache .meta.tag.template {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .mustache .meta.tag.template .constant.keyword,
.psh .mustache .meta.tag.template .constant.language,
.psh .mustache .meta.tag.template .constant.numeric,
.psh .mustache .meta.tag.template .constant.symbol,
.psh .mustache .meta.tag.template .entity.name.tag,
.psh .mustache .meta.tag.template .keyword.control,
.psh .mustache .meta.tag.template .meta.embedded,
.psh .mustache .meta.tag.template .string.quoted,
.psh .mustache .meta.tag.template .string.regexp {
  color: inherit;
  background-color: transparent;
}

.psh .mustache .meta.tag.template .meta.embedded .punctuation.embedded {
  color: inherit;
  background-color: transparent;
}

.psh .mustache .meta.tag.template .meta.embedded .string.quoted .punctuation.definition {
  color: inherit;
  background-color: transparent;
}

.psh .mustache .meta.tag.template .entity.name.tag {
  color: #957f5f;
}

.psh .mustache .meta.tag.template .entity.name.tag .entity.name.function {
  color: #5b5143;
}

.psh .htmlbars .meta.tag:not(.html) {
  color: #605a52;
}

.psh .htmlbars .meta.tag:not(.html) .punctuation.definition {
  color: #93836c;
}

.psh .htmlbars .meta.tag.inline .punctuation.definition {
  color: inherit;
  background-color: transparent;
}

.psh .htmlbars .meta.tag.inline .punctuation.definition.inline {
  color: #93836c;
}

.psh .htmlbars .support.function.builtin {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .htmlbars .string.quoted .function.inline {
  color: inherit;
  background-color: transparent;
}

.psh .htmlbars .string.quoted .punctuation.definition.tag {
  color: #81895d !important;
}

.psh .htmlbars .constant.symbol {
  color: inherit;
  background-color: transparent;
}

.psh .haml .meta.tag {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .haml .meta.tag .punctuation.definition {
  color: #9c739c;
}

.psh .haml .meta.section.attributes {
  color: #93836c;
}

.psh .haml .meta.section.attributes .constant.symbol {
  color: inherit;
  background-color: transparent;
  color: #93836c;
  font-style: italic;
}

.psh .haml .entity.tag.class {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .source.jade .entity.class, .psh .source.jade .entity.name.tag {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.jade .complete_tag {
  color: #93836c;
}

.psh .source.jade .complete_tag .entity.attribute-name.tag {
  color: #93836c;
  font-style: italic;
}

.psh .source.jade .complete_tag .text {
  color: #605a52;
}

.psh .source.java .meta.class .storage.modifier,
.psh .source.java .meta.method .storage.modifier {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.java .storage.type.annotation, .psh .source.java .storage.type.primitive {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.js .storage.type.function {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.js .storage.type.function .function {
  color: inherit;
  background-color: transparent;
}

.psh .source.js .constant.language {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .source.js .string.unquoted {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .source.js .comment .storage.type.class {
  color: inherit;
  background-color: transparent;
}

.psh .source.js .meta.tag.jsx .entity.tag {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.js .meta.tag.jsx .entity.other.attribute-name.jsx {
  color: #93836c;
  font-style: italic;
}

.psh .source.js .meta.tag.jsx .keyword.operator.assignment,
.psh .source.js .meta.tag.jsx .punctuation.definition.tag {
  color: #93836c;
}

.psh .source.json .meta.structure.dictionary .string.quoted {
  color: inherit;
  background-color: transparent;
}

.psh .source.json .meta.structure.dictionary .string.quoted .punctuation.definition {
  color: #93836c;
}

.psh .source.json .meta.structure.dictionary .array .string.quoted {
  color: #525643;
  background-color: rgba(132, 189, 0, .19);
}

.psh .source.json .meta.structure.dictionary .array .string.quoted .punctuation.definition {
  color: #81895d;
}

.psh .source.json .meta.structure.dictionary .punctuation.key-value {
  color: #93836c;
}

.psh .source.json .meta.structure.array > .value.json > .string.quoted.json,
.psh .source.json .meta.structure.dictionary > .value.json > .string.quoted.json {
  color: #525643;
  background-color: rgba(132, 189, 0, .19);
}

.psh .source.json .constant.language {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .latex .keyword.control, .psh .latex .support.function {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .latex .keyword.control .punctuation, .psh .latex .support.function .punctuation {
  color: #9c739c;
}

.psh .latex .meta.preamble .support.class {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .latex .variable.parameter {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .latex .constant.other {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .latex .punctuation.definition, .psh .latex .punctuation.section {
  color: #93836c;
}

.psh .latex .string.quoted {
  color: inherit;
  background-color: transparent;
}

.psh .latex .string.quoted .punctuation {
  color: inherit;
}

.psh .source.less .keyword.control.at-rule .punctuation.definition {
  color: #9c739c;
}

.psh .source.less .variable {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .source.less .variable.other.interpolation {
  color: inherit;
  background-color: transparent;
}

.psh .liquid .constant.language {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .liquid .entity.name.tag {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .liquid .punctuation.output.liquid .punctuation.embedded,
.psh .liquid .punctuation.tag.liquid .punctuation.embedded {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .php .storage.type.class, .psh .php .storage.type.function {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .php .constant.language {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .php .variable.global {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .php .variable.global .punctuation.definition {
  color: #7382a0;
}

.psh .php .variable .punctuation.definition {
  color: #93836c;
}

.psh .php .support.function.construct {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .php .punctuation.terminator {
  color: #93836c;
}

.psh .php .meta.embedded {
  color: inherit;
  background-color: transparent;
}

.psh .php .meta.embedded .punctuation.embedded {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.python .storage.type.class, .psh .source.python .storage.type.function {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.python .meta.structure.dictionary.key .numeric,
.psh .source.python .meta.structure.dictionary.key .string.quoted {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .source.python .meta.structure.dictionary.key .numeric .punctuation.definition,
.psh .source.python .meta.structure.dictionary.key .string.quoted .punctuation.definition {
  color: #7382a0;
}

.psh .source.python .constant.language {
  color: #465953;
  background-color: rgba(0, 189, 164, .15);
}

.psh .source.python .variable.self {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .ruby .constant.symbol .punctuation.definition {
  color: #7382a0;
}

.psh .ruby .keyword.special-method, .psh .ruby .support.function.actionpack, .psh .ruby .support.function.activerecord, .psh .ruby .support.function.activesupport, .psh .ruby .support.function.viewhelpers {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .ruby .meta.embedded .punctuation.embedded,
.psh .ruby .source.embedded .punctuation.embedded {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .ruby .meta.embedded .keyword.special-method,
.psh .ruby .meta.embedded .support.function.actionpack,
.psh .ruby .meta.embedded .support.function.activerecord,
.psh .ruby .meta.embedded .support.function.activesupport,
.psh .ruby .meta.embedded .support.function.viewhelpers,
.psh .ruby .source.embedded .keyword.special-method,
.psh .ruby .source.embedded .support.function.actionpack,
.psh .ruby .source.embedded .support.function.activerecord,
.psh .ruby .source.embedded .support.function.activesupport,
.psh .ruby .source.embedded .support.function.viewhelpers {
  color: inherit;
  background-color: transparent;
}

.psh .ruby .meta.embedded .string.quoted .punctuation.definition,
.psh .ruby .source.embedded .string.quoted .punctuation.definition {
  color: inherit;
  background-color: transparent;
}

.psh .source.rust .keyword.other {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.rust .storage.type {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.rust .comment .storage {
  color: inherit;
  background-color: transparent;
}

.psh .source.sass .meta.selector .class {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.sass .meta.selector .class .punctuation.definition {
  color: #9c739c;
}

.psh .source.sass .entity.tag {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .source.sass .meta .variable.other {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .source.sass .support.constant {
  color: #525643;
  background-color: rgba(132, 189, 0, .19);
}

.psh .source.scss .meta .variable {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .source.scss .punctuation.separator.key-value,
.psh .source.scss .punctuation.terminator {
  color: #93836c;
}

.psh .source.shell .support.function.builtin {
  color: #5b5143;
  background-color: rgba(240, 140, 0, .18);
}

.psh .source.shell .string.quoted .variable .punctuation {
  color: inherit;
  background-color: transparent;
}

.psh .slim .entity.name.tag, .psh .slim .punctuation.definition.tag {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .slim .entity.attribute-name {
  color: #4c5361;
  background-color: rgba(117, 163, 255, .2);
}

.psh .yaml .constant.numeric {
  color: inherit;
  background-color: transparent;
}

.psh .yaml .entity.tag {
  color: #614c61;
  background-color: rgba(206, 92, 255, .15);
}

.psh .yaml .entity.tag .punctuation {
  color: #9c739c;
}
