@charset "utf-8";

.TableDataReader{
	font-size: 9pt;
}
.TableDataReader table{
	width: 100%;
	margin: auto;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 9pt;
}
.TableDataReader .col-no{
	width: 15px;
	text-align: right;
	cursor: default;
}
.TableDataReader .TableTitle{
	background-color: #EFEFEF;
	font-weight: bold;
}
.TableDataReader .TableDataEntry{
	
}
.TableDataReader table, .TableDataReader table th, .TableDataReader table td{
	border: solid 1px gray;
	word-wrap: break-word;
}
.TableDataEditor{

}
.TableDataEditor table, .TableDataEditor tr, .TableDataEditor td, .TableDataEditor input, .TableDataEditor textarea{
	font-family: 宋体;
	font-size: 9pt;
}
.TableDataEditor table{
	width: 100%;
	margin: auto;
	font-size: 9pt;
	table-layout: fixed;
	border-collapse: collapse;
}
@media screen and (-webkit-min-device-pixel-ratio:0){ 
.TableDataEditor table{
	table-layout: auto;
}
}
.TableDataEditor table, 
.TableDataEditor table th, 
.TableDataEditor table td{
	border: solid 1px gray;
}
.TableDataEditor .TableDataCell table, 
.TableDataEditor .TableDataCell table th, 
.TableDataEditor .TableDataCell table td{
	border: solid 0px gray;
}
.TableDataEditor .col-select{
	width: 22px;
	text-align: center;
}
.TableDataEditor .col-no{
	width: 25px;
	text-align: right;
	cursor: default;
}
.TableDataEditor  .col-no .current-point{
	width: 11px;
	height: 11px;
	float: left;
	background: url(point.gif) no-repeat left;
}
.TableDataEditor .col-action{
	width: 32px;
	text-align: center;
}
.TableDataEditor .ActionBar{
	text-align: center;
}
.TableDataEditor .ActionButton{
	cursor: point;
}
.TableDataEditor .AwakeFlag{
	color: red;
	margin-left: 0.4em;
	font-family: arail;
	font-size: 9pt;
}
.TableDataEditor .DisplayField{
	width: 100%;
}
.TableDataEditor .ValueField{
	display: none;
}
.TableDataEditor .TableTitle{
	background-color: #EFEFEF;
	font-weight: bold;
}
.TableDataEditor .TableBody{

}
.TableDataEditor .TableDataEntry{

}
.TableDataEditor .TableDataEntry input{

}
.TableDataEditor .ActiveTableDataEntry{
	/*background-color: darkgray;*/
}
.TableDataEditor .TableDataCell{

}
.TableDataEditor .TableDataCell span{
	/*width: 100%;*/
	overflow:hidden;
}
.TableDataEditor .TableDataCell input{
	width: 100%;
	border-width: 0px;
	border-bottom: solid 1px darkgray;
	vertical-align: text-bottom;
	margin: 0px;
	overflow:hidden;
}
.TableDataEditor .TableDataCell  textarea{
	width: 100%;
	border-width: 0px;
	border-bottom: solid 1px darkgray;
	vertical-align: text-bottom;
	margin: 0px;
	resize: none;
	overflow: auto;
}
.TableDataEditor .TableDataCell .ReadField{
	color: #333333;
}
.TableDataEditor .TableDataCell .FieldSelectButtion{
	vertical-align: text-bottom;
}
.TableDataEditor .TableDataCell .FieldSelectButtion img{
	vertical-align: text-bottom;
}