/*! Yaku Han MP (Mincho - Small Amount) v2.0.0 SIL by Qrac / Based on Noto Serif CJK JP */
@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/YakuHanMPs/YakuHanMPs-ExtraLight.eot");
  src: url("../fonts/YakuHanMPs/YakuHanMPs-ExtraLight.woff2") format("woff2"), url("../fonts/YakuHanMPs/YakuHanMPs-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/YakuHanMPs/YakuHanMPs-Light.eot");
  src: url("../fonts/YakuHanMPs/YakuHanMPs-Light.woff2") format("woff2"), url("../fonts/YakuHanMPs/YakuHanMPs-Light.woff") format("woff");
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/YakuHanMPs/YakuHanMPs-Regular.eot");
  src: url("../fonts/YakuHanMPs/YakuHanMPs-Regular.woff2") format("woff2"), url("../fonts/YakuHanMPs/YakuHanMPs-Regular.woff") format("woff");
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/YakuHanMPs/YakuHanMPs-Medium.eot");
  src: url("../fonts/YakuHanMPs/YakuHanMPs-Medium.woff2") format("woff2"), url("../fonts/YakuHanMPs/YakuHanMPs-Medium.woff") format("woff");
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/YakuHanMPs/YakuHanMPs-SemiBold.eot");
  src: url("../fonts/YakuHanMPs/YakuHanMPs-SemiBold.woff2") format("woff2"), url("../fonts/YakuHanMPs/YakuHanMPs-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/YakuHanMPs/YakuHanMPs-Bold.eot");
  src: url("../fonts/YakuHanMPs/YakuHanMPs-Bold.woff2") format("woff2"), url("../fonts/YakuHanMPs/YakuHanMPs-Bold.woff") format("woff");
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/YakuHanMPs/YakuHanMPs-Black.eot");
  src: url("../fonts/YakuHanMPs/YakuHanMPs-Black.woff2") format("woff2"), url("../fonts/YakuHanMPs/YakuHanMPs-Black.woff") format("woff");
}
