.psh {
  background-color: #191b1f;
  color: #bfd7db;
  margin: 1em 0;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #191b1f;
  color: #bfd7db;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #6c797d;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #191b1f;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #303235;
  color: #acadae;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #303235;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #acadae;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #303235;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #acadae;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #6c797d;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #434a4e;
  font-size: 13px;
  word-break: break-all;
  color: #acadae;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #333a3b;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #30393f;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #363640;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #3b3838;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #3a3539;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #3a3938;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #333a3b;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #3a3539;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #434a4e;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #7fd6fa;
}

.psh .comment {
  color: #404449;
  font-style: italic;
}

.psh .support.function {
  color: #ffc620;
}

.psh .support.gfm {
  color: #3299cc;
}

.psh .entity.name.function {
  color: #ffc620;
}

.psh .entity.name.type {
  color: #f0c674;
  text-decoration: underline;
}

.psh .entity.other.attribute-name {
  color: #f25a55 !important;
}

.psh .keyword {
  color: #d3422e;
}

.psh .keyword.control {
  color: #f5bb12 !important;
}

.psh .keyword.control .definition {
  color: inherit;
}

.psh .keyword.operator {
  color: #f5bb12 !important;
}

.psh .keyword.other.unit {
  color: #f5bb12 !important;
  font-style: italic;
}

.psh .storage {
  color: #f25a55;
  font-style: italic;
}

.psh .storage.modifier {
  color: #d3422e;
  font-style: normal;
}

.psh .storage.import {
  color: #f5bb12 !important;
  font-style: italic;
}

.psh .constant {
  color: #277bd3;
}

.psh .constant.numeric {
  color: #f5bb12;
}

.psh .constant.language {
  color: #de347a;
}

.psh .variable {
  color: #3299cc;
}

.psh .variable.assignment {
  color: #f25a55;
}

.psh .invalid.illegal {
  background-color: #f25a55;
  color: #191b1f;
}

.psh .invalid.deprecated {
  background-color: #ffc620;
  color: #191b1f;
}

.psh .string {
  color: #7fd6fa;
}

.psh .string.regexp {
  color: #8abeb7;
}

.psh .string.regexp .source.ruby.embedded {
  color: #f5bb12;
}

.psh .string.other.link {
  color: #f25a55;
}

.psh .punctuation.definition.comment {
  color: #404449;
}

.psh .punctuation.definition.array, .psh .punctuation.definition.parameters {
  color: #bfd7db;
}

.psh .punctuation.definition.heading, .psh .punctuation.definition.identity {
  color: #277bd3;
}

.psh .punctuation.definition.bold {
  color: #f0c674;
  font-weight: 700;
}

.psh .punctuation.definition.italic {
  color: #3299cc;
  font-style: italic;
}

.psh .punctuation.section.embedded {
  color: #d3422e;
}

.psh .entity.name.class, .psh .entity.name.type.class {
  color: #4bae16;
}

.psh .entity.name.section {
  color: #277bd3;
}

.psh .entity.name.tag {
  color: #ffc620;
}

.psh .entity.other.attribute-name {
  color: #ffc620;
}

.psh .entity.other.attribute-name.id {
  color: #277bd3;
}

.psh .meta.link {
  color: #de935f;
}

.psh .meta.require {
  color: #277bd3;
}

.psh .meta.selector {
  color: #3299cc;
}

.psh .meta.separator {
  background-color: #373b41;
  color: #bfd7db;
}

.psh .meta.tag {
  color: #bfd7db;
}

.psh .none {
  color: #bfd7db;
}

.psh .markup.bold {
  color: #de935f;
  font-weight: 700;
}

.psh .markup.changed {
  color: #3299cc;
}

.psh .markup.deleted {
  color: #f25a55;
}

.psh .markup.italic {
  color: #3299cc;
  font-style: italic;
}

.psh .markup.heading .punctuation.definition.heading {
  color: #277bd3;
}

.psh .markup.inserted {
  color: #4bae16;
}

.psh .markup.list {
  color: #f25a55;
}

.psh .markup.quote {
  color: #de935f;
}

.psh .markup.raw.inline {
  color: #4bae16;
}

.psh .markup.raw.gfm.support.gfm {
  color: #3299cc;
}

.psh .markup.strike.gfm {
  color: #de347a;
}

.psh .source.gfm .markup {
  -webkit-font-smoothing: auto;
}

.psh .source.gfm .markup.heading {
  color: #f25a55;
}

.psh .source.gfm .markup.link {
  color: #277bd3;
}

.psh .source.gfm .link .entity {
  color: #8abeb7;
}
