.MiniSlide{
	width: 100%;
	height: 100%;
	text-align: center;
	display: inline-block;
	overflow: hidden;
}
.MiniSlide .box{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	border: solid 1px gray;
	overflow: hidden;
}
.MiniSlide .loading{
	background: url(images/loading_39.gif) center no-repeat;
}
.MiniSlideContent{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: white;
}
.MiniSlidePhoto{
	width: 100%;
	height: 100%;
	display: none;
	overflow: hidden;
}
.MiniSlidePhoto img{

}
.MiniSlideTabBar{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 16px;
	display: block;
	text-align: right;
	overflow: hidden;
	z-index: 1;
}
.MiniSlideTabBar img{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.MiniSlideTabBar a, .MiniSlideTabBar a:link{
	font-family: arial;
	font-size: 12px;
}
.MiniSlideTabBar a:hover{
	background-color: #E18355;
}
.MiniSlideTabItem{
	width: 14px;
	height: 14px;
	padding: 0px 1px 2px 1px;
	margin: 1px;
	color: white;
	background-color: #878787;
	text-align: center;
	vertical-align: text-top;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}
.ActiveMiniSlideTabItem{
	background-color: #E18355
}