@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?72446603");
  src: url("../fonts/fontello.eot?72446603#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?72446603") format("woff2"), url("../fonts/fontello.woff?72446603") format("woff"), url("../fonts/fontello.ttf?72446603") format("truetype"), url("../fonts/fontello.svg?72446603#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    components: url('../font/fontello.svg?72446603#fontello') format('svg');
  }
}
*/
[class^="rbi-"]:before,
[class*=" rbi-"]:before {
  font: normal normal normal 24px/1 "fontello";
  font-size: inherit;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-rendering: auto;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.rbi {
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */ }
.rbi-hielfreicher-commentar:before {
  content: '\e813'; }
.rbi-noch-nicht-geloste:before {
  content: '\e801'; }
.rbi-star-outline:before {
  content: '\e820'; }
.rbi-star:before {
  content: '\e821'; }
.rbi-box:before {
  content: '\e824'; }
.rbi-reclarank:before {
  content: '\e823'; }
.rbi-wifi:before {
  content: '\e825'; }
.rbi-money:before {
  content: '\e828'; }
.rbi-interview:before {
  content: '\e829'; }
.rbi-smartphone:before {
  content: '\e82a'; }
.rbi-house:before {
  content: '\e82c'; }
.rbi-beantwortete:before {
  content: '\e82d'; }
.rbi-beschwerde:before {
  content: '\e82e'; }
.rbi-bicycle:before {
  content: '\e82f'; }
.rbi-bookmark-remove:before {
  content: '\e830'; }
.rbi-car:before {
  content: '\e831'; }
.rbi-column:before {
  content: '\e832'; }
.rbi-compass:before {
  content: '\e833'; }
.rbi-courthouse:before {
  content: '\e834'; }
.rbi-deodorant:before {
  content: '\e835'; }
.rbi-driller:before {
  content: '\e836'; }
.rbi-endgiltig-nicht:before {
  content: '\e837'; }
.rbi-faucet:before {
  content: '\e838'; }
.rbi-first-aid-kit:before {
  content: '\e839'; }
.rbi-geloste:before {
  content: '\e83a'; }
.rbi-groceries:before {
  content: '\e83b'; }
.rbi-handshake:before {
  content: '\e83c'; }
.rbi-mortarboard:before {
  content: '\e83e'; }
.rbi-newspaper:before {
  content: '\e83f'; }
.rbi-office-worker:before {
  content: '\e840'; }
.rbi-presentation:before {
  content: '\e841'; }
.rbi-repair-tools:before {
  content: '\e842'; }
.rbi-shopping-cart:before {
  content: '\e843'; }
.rbi-shape:before {
  content: '\e845'; }
.rbi-image:before {
  content: '\e846'; }
.rbi-video:before {
  content: '\e847'; }
