/*! formstone v0.6.4 [carousel.css] 2015-06-08 | MIT License | formstone.it */

/**
	 * @class
	 * @name .fs-carousel-element
	 * @type element
	 * @description Target elmement
	 */
/**
	 * @class
	 * @name .fs-carousel
	 * @type element
	 * @description Base widget class
	 */
/**
	 * @class
	 * @name .fs-carousel.fs-enabled
	 * @type modifier
	 * @description Indicates enabled state
	 */
.fs-carousel {
  /**
		 * @class
		 * @name .fs-carousel-viewport
		 * @type element
		 * @description Carousel container
		 */
  /**
		 * @class
		 * @name .fs-carousel-wrapper
		 * @type element
		 * @description Carousel container
		 */
  /**
		 * @class
		 * @name .fs-carousel-container
		 * @type element
		 * @description Canister container
		 */
  /**
		 * @class
		 * @name .fs-carousel-canister
		 * @type element
		 * @description Item container
		 */
  /**
		 * @class
		 * @name .fs-carousel-item
		 * @type element
		 * @description Individual item
		 */
  /**
		 * @class
		 * @name .fs-carousel-controls
		 * @type element
		 * @description Controls container
		 */
  /**
		 * @class
		 * @name .fs-carousel-controls.fs-carousel-visible
		 * @type modifier
		 * @description Indicates visible state
		 */
  /**
		 * @class
		 * @name .fs-carousel-control
		 * @type element
		 * @description Control element
		 */
  /**
		 * @class
		 * @name .fs-carousel-control.fs-carousel-control_previous
		 * @type modifier
		 * @description Indicates previous control
		 */
  /**
		 * @class
		 * @name .fs-carousel-control.fs-carousel-control_next
		 * @type modifier
		 * @description Indicates next control
		 */
  /**
		 * @class
		 * @name .fs-carousel-control.fs-carousel-control_disabled
		 * @type modifier
		 * @description Indicates disbaled state
		 */
  /**
		 * @class
		 * @name .fs-carousel-pagination
		 * @type element
		 * @description Item element
		 */
  /**
		 * @class
		 * @name .fs-carousel-pagination.fs-carousel-visible
		 * @type modifier
		 * @description Indicates visible state
		 */
  /**
		 * @class
		 * @name .fs-carousel-page
		 * @type element
		 * @description Pagiantion item element
		 */
  /**
		 * @class
		 * @name .fs-carousel-page.fs-carousel-active
		 * @type modifier
		 * @description Indicates active state
		 */
}
.fs-carousel.fs-carousel-enabled {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.fs-carousel.fs-carousel-enabled:after {
  clear: both;
  content: '';
  display: table;
}
.fs-carousel,
.fs-carousel:after,
.fs-carousel:before,
.fs-carousel *,
.fs-carousel *:after,
.fs-carousel *:before {
  box-sizing: border-box;
  -webkit-transition: none;
          transition: none;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
.fs-carousel-enabled .fs-carousel-viewport {
  position: relative;
  overflow: hidden;
}
.fs-carousel-enabled .fs-carousel-viewport:after {
  clear: both;
  content: '';
  display: table;
}
.fs-carousel-enabled .fs-carousel-wrapper {
  position: relative;
  overflow: hidden;
}
.fs-carousel-enabled .fs-carousel-wrapper:after {
  clear: both;
  content: '';
  display: table;
}
.fs-carousel-enabled .fs-carousel-container {
  position: relative;
  overflow: hidden;
}
.fs-carousel-enabled .fs-carousel-container:after {
  clear: both;
  content: '';
  display: table;
}
.fs-carousel-enabled .fs-carousel-canister {
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin: 0;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.fs-carousel-enabled .fs-carousel-item {
  display: block;
  float: left;
}
.fs-carousel-enabled .fs-carousel-item img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.fs-carousel-controls {
  display: none;
}
.fs-carousel-enabled .fs-carousel-controls {
  width: 100%;
  margin: 0;
  padding: 0;
}
.fs-carousel-enabled .fs-carousel-controls.fs-carousel-visible {
  display: block;
}
.fs-carousel-enabled .fs-carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: block;
  visibility: hidden;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin: auto;
  opacity: 0;
  overflow: hidden;
  text-indent: 200%;
  -webkit-transition: opacity 0.15s ease, visibility 0.15s ease;
          transition: opacity 0.15s ease, visibility 0.15s ease;
  white-space: nowrap;
}
.fs-carousel-enabled .fs-carousel-control:before {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  margin: auto;
}
.no-opacity .fs-carousel-enabled .fs-carousel-control {
  text-indent: -999px;
}
.fs-carousel-enabled .fs-carousel-control.fs-carousel-visible {
  visibility: visible;
  opacity: 1;
}
.fs-carousel-enabled .fs-carousel-control_previous {
  left: 20px;
}
.fs-carousel-enabled .fs-carousel-control_previous:before {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 10.5px solid #333333;
  margin-left: 13.7px;
}
.fs-carousel-enabled .fs-carousel-control_next {
  right: 20px;
}
.fs-carousel-enabled .fs-carousel-control_next:before {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10.5px solid #333333;
  margin-right: 13.7px;
}
.fs-carousel-enabled .fs-carousel-control_disabled {
  opacity: 0;
}
.fs-carousel-pagination {
  display: none;
}
.fs-carousel-enabled .fs-carousel-pagination {
  width: 100%;
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}
.fs-carousel-enabled .fs-carousel-pagination.fs-carousel-visible {
  display: block;
}
.fs-carousel-enabled .fs-carousel-page {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #333333;
  border-radius: 100%;
  margin: 0 3px;
  opacity: 0.5;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}
.no-opacity .fs-carousel-enabled .fs-carousel-page {
  text-indent: -999px;
}
.fs-carousel-enabled .fs-carousel-page.fs-carousel-active {
  opacity: 1;
}
