/*! formstone v0.6.4 [grid.ie.css] 2015-06-08 | MIT License | formstone.it */

.fs_grid_row {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 500px) {
  .fs_grid_row {
    width: 480px;
  }
}
@media screen and (min-width: 740px) {
  .fs_grid_row {
    width: 720px;
  }
}
@media screen and (min-width: 980px) {
  .fs_grid_row {
    width: 960px;
  }
}
@media screen and (min-width: 1220px) {
  .fs_grid_row {
    width: 1200px;
  }
}
.fs_grid_row:after {
  height: 0;
  clear: both;
  content: ".";
  display: block;
  line-height: 0;
  visibility: hidden;
}
.fs_grid_row_fluid {
  width: 96%;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
}
@media screen and (max-width: 739px) {
  .fs_grid_row_fluid_sm {
    width: 96%;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
  }
}
.fs_grid_row_row {
  width: 102.08333333%;
  margin-left: -1.04166667%;
  margin-right: -1.04166667%;
}
.fs_grid_row_row_contained {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.fs_grid_cell {
  width: 97.91666667%;
  float: left;
  margin-left: 1.04166667%;
  margin-right: 1.04166667%;
}
.fs_grid_cell_centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.fs_grid_cell_padded {
  box-sizing: content-box;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.04166667%;
  padding-right: 1.04166667%;
}
.fs_grid_cell_contained {
  margin-left: 0;
  margin-right: 0;
}
.fs_grid_cell_right {
  float: right;
}
*,
*:before,
*:after {
  behavior: url(boxsizing.htc);
}
.fs-grid .fs-row {
  width: 960px;
}
.fs-grid .fs-row .fs-lg-1 {
  width: 6.25%;
}
.fs-grid .fs-row .fs-lg-2 {
  width: 14.58333333%;
}
.fs-grid .fs-row .fs-lg-3 {
  width: 22.91666667%;
}
.fs-grid .fs-row .fs-lg-4 {
  width: 31.25%;
}
.fs-grid .fs-row .fs-lg-5 {
  width: 39.58333333%;
}
.fs-grid .fs-row .fs-lg-6 {
  width: 47.91666667%;
}
.fs-grid .fs-row .fs-lg-7 {
  width: 56.25%;
}
.fs-grid .fs-row .fs-lg-8 {
  width: 64.58333333%;
}
.fs-grid .fs-row .fs-lg-9 {
  width: 72.91666667%;
}
.fs-grid .fs-row .fs-lg-10 {
  width: 81.25%;
}
.fs-grid .fs-row .fs-lg-11 {
  width: 89.58333333%;
}
.fs-grid .fs-row .fs-lg-12 {
  width: 97.91666667%;
}
.fs-grid .fs-row .fs-lg-push-1 {
  margin-left: 9.375%;
}
.fs-grid .fs-row .fs-lg-push-2 {
  margin-left: 17.70833333%;
}
.fs-grid .fs-row .fs-lg-push-3 {
  margin-left: 26.04166667%;
}
.fs-grid .fs-row .fs-lg-push-4 {
  margin-left: 34.375%;
}
.fs-grid .fs-row .fs-lg-push-5 {
  margin-left: 42.70833333%;
}
.fs-grid .fs-row .fs-lg-push-6 {
  margin-left: 51.04166667%;
}
.fs-grid .fs-row .fs-lg-push-7 {
  margin-left: 59.375%;
}
.fs-grid .fs-row .fs-lg-push-8 {
  margin-left: 67.70833333%;
}
.fs-grid .fs-row .fs-lg-push-9 {
  margin-left: 76.04166667%;
}
.fs-grid .fs-row .fs-lg-push-10 {
  margin-left: 84.375%;
}
.fs-grid .fs-row .fs-lg-push-11 {
  margin-left: 92.70833333%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-1 {
  width: 8.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-2 {
  width: 16.66666667%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-3 {
  width: 25%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-4 {
  width: 33.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-5 {
  width: 41.66666667%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-6 {
  width: 50%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-7 {
  width: 58.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-8 {
  width: 66.66666667%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-9 {
  width: 75%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-10 {
  width: 83.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-11 {
  width: 91.66666667%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-12 {
  width: 100%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-1 {
  margin-left: 8.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-2 {
  margin-left: 16.66666667%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-3 {
  margin-left: 25%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-4 {
  margin-left: 33.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-5 {
  margin-left: 41.66666667%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-6 {
  margin-left: 50%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-7 {
  margin-left: 58.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-8 {
  margin-left: 66.66666667%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-9 {
  margin-left: 75%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-10 {
  margin-left: 83.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-11 {
  margin-left: 91.66666667%;
}
.fs-grid .fs-row .fs-lg-fifth {
  width: 17.91666667%;
}
.fs-grid .fs-row .fs-lg-fourth {
  width: 22.91666667%;
}
.fs-grid .fs-row .fs-lg-third {
  width: 31.25%;
}
.fs-grid .fs-row .fs-lg-half {
  width: 47.91666667%;
}
.fs-grid .fs-row .fs-lg-full {
  width: 97.91666667%;
}
.fs-grid .fs-row .fs-lg-push-fifth {
  margin-left: 21.04166667%;
}
.fs-grid .fs-row .fs-lg-push-fourth {
  margin-left: 26.04166667%;
}
.fs-grid .fs-row .fs-lg-push-third {
  margin-left: 34.375%;
}
.fs-grid .fs-row .fs-lg-push-half {
  margin-left: 51.04166667%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-fifth {
  width: 20%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-fourth {
  width: 25%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-third {
  width: 33.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-half {
  width: 50%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-full {
  width: 100%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-fifth {
  margin-left: 20%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-fourth {
  margin-left: 25%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-third {
  margin-left: 33.33333333%;
}
.fs-grid .fs-row [class*="-contained"].fs-lg-push-half {
  margin-left: 50%;
}
.fs-grid .fs-row .fs-lg-hide {
  display: none;
}
.fs-grid .fs-row .fs-cell.-padded {
  behavior: none;
}
