/*! formstone v0.6.4 [range.css] 2015-06-08 | MIT License | formstone.it */

.fs-range {
  width: 100%;
}
.fs-range,
.fs-range:after,
.fs-range:before,
.fs-range *,
.fs-range *:after,
.fs-range *:before {
  box-sizing: border-box;
  -webkit-transition: none;
          transition: none;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
.fs-range-element {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.no-touch .fs-range-element {
  left: -9999px;
}
.fs-range-track {
  width: 100%;
  height: 8px;
  position: relative;
  background: #fbfbfb;
  border: 1px solid #ddd;
  border-radius: 4px;
  float: left;
  margin: 10px 0;
}
.fs-range-handle {
  width: 1px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  display: block;
  overflow: visible;
}
.fs-range-marker {
  width: 14px;
  height: 14px;
  background: #DCDCDC;
  border: 1px solid #AFAFAF;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  margin: -4px 0 0 -6px;
}
.no-touch .fs-range:hover .fs-range-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
}
.no-touch .fs-range:hover .fs-range-marker {
  background: #ccc;
  border-color: #999;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.fs-range-focus .fs-range-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
}
.fs-range-focus .fs-range-marker {
  background: #ccc;
  border-color: #999;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.fs-range-labels .fs-range-track {
  width: 80%;
}
.fs-range-label {
  width: 8%;
  display: block;
  font-size: 12px;
  line-height: 28px;
}
.fs-range-label_min {
  float: left;
  margin: 0 2% 0 0;
  text-align: right;
}
.fs-range-label_max {
  float: right;
  margin: 0 0 0 2%;
  text-align: left;
}
.fs-range-vertical {
  height: 300px;
  width: 30px;
}
.fs-range-vertical .fs-range-track {
  width: 8px;
  height: 75%;
  margin: 0 11px 0;
}
.fs-range-vertical .fs-range-handle {
  width: 100%;
  height: 1px;
  top: auto;
  bottom: 0;
  left: 0;
}
.fs-range-vertical .fs-range-marker {
  margin: -7px 0 0 -4px;
}
.fs-range-vertical .fs-range-label {
  clear: both;
  float: none;
  height: 10%;
  text-align: center;
  width: 100%;
}
.fs-range-vertical .fs-range-label_min {
  padding: 5px 0 0;
}
.fs-range-vertical .fs-range-label_max {
  padding: 0;
}
.fs-range-disabled {
  cursor: default;
  opacity: 0.5;
}
.fs-range-disabled .fs-range-disc {
  cursor: default;
}
