.psh {
  background-color: #2a2d37;
  color: #b9bed5;
  margin: 1em 0;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #2a2d37;
  color: #b9bed5;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #727686;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #2a2d37;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #3f424b;
  color: #b2b3b7;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #3f424b;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #b2b3b7;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #3f424b;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #b2b3b7;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #727686;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #4e515f;
  font-size: 13px;
  word-break: break-all;
  color: #b2b3b7;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #414a4f;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #3e4953;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #444554;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #49474c;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #49444e;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #48484d;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #414a4f;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #49444e;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #4e515f;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #9aefea;
}

.psh .comment {
  color: #5f6786;
  font-style: italic;
}

.psh .comment .markup.link {
  color: #5f6786;
}

.psh .entity.name.type {
  color: #a571f4;
}

.psh .entity.other.inherited-class {
  color: #9aefea;
}

.psh .keyword {
  color: #7e7edd;
}

.psh .keyword.control {
  color: #7e7edd;
}

.psh .keyword.operator {
  color: #b9bed5;
}

.psh .keyword.other.special-method {
  color: #f5faff;
}

.psh .keyword.other.unit {
  color: #dda2f6;
}

.psh .storage {
  color: #7e7edd;
}

.psh .storage.type.annotation, .psh .storage.type.primitive {
  color: #7e7edd;
}

.psh .storage.modifier.import, .psh .storage.modifier.package {
  color: #b9bed5;
}

.psh .constant {
  color: #dda2f6;
}

.psh .constant.variable {
  color: #dda2f6;
}

.psh .constant.character.escape {
  color: #93ddfb;
}

.psh .constant.numeric {
  color: #dda2f6;
}

.psh .constant.other.color {
  color: #93ddfb;
}

.psh .constant.other.symbol {
  color: #93ddfb;
}

.psh .variable {
  color: #85b1e0;
}

.psh .variable.interpolation {
  color: #4d8acb;
}

.psh .variable.parameter {
  color: #b9bed5;
}

.psh .string {
  color: #9aefea;
}

.psh .string.regexp {
  color: #93ddfb;
}

.psh .string.regexp .source.ruby.embedded {
  color: #a571f4;
}

.psh .string.other.link {
  color: #85b1e0;
}

.psh .punctuation.definition.comment {
  color: #5f6786;
}

.psh .punctuation.definition.array, .psh .punctuation.definition.function-parameters, .psh .punctuation.definition.method-parameters, .psh .punctuation.definition.parameters, .psh .punctuation.definition.separator, .psh .punctuation.definition.seperator {
  color: #b9bed5;
}

.psh .punctuation.definition.heading, .psh .punctuation.definition.identity {
  color: #f5faff;
}

.psh .punctuation.definition.bold {
  color: #a571f4;
  font-weight: 700;
}

.psh .punctuation.definition.italic {
  color: #7e7edd;
  font-style: italic;
}

.psh .punctuation.section.embedded {
  color: #4d8acb;
}

.psh .punctuation.section.class, .psh .punctuation.section.inner-class, .psh .punctuation.section.method {
  color: #b9bed5;
}

.psh .support.class {
  color: #a571f4;
}

.psh .support.type {
  color: #93ddfb;
}

.psh .support.function {
  color: #93ddfb;
}

.psh .support.function.any-method {
  color: #f5faff;
}

.psh .entity.name.function {
  color: #f5faff;
}

.psh .entity.name.class, .psh .entity.name.type.class {
  color: #a571f4;
}

.psh .entity.name.section {
  color: #f5faff;
}

.psh .entity.name.tag {
  color: #85b1e0;
}

.psh .entity.other.attribute-name {
  color: #dda2f6;
}

.psh .entity.other.attribute-name.id {
  color: #f5faff;
}

.psh .meta.class {
  color: #a571f4;
}

.psh .meta.class.body {
  color: #b9bed5;
}

.psh .meta.method, .psh .meta.method-call {
  color: #b9bed5;
}

.psh .meta.definition.variable {
  color: #85b1e0;
}

.psh .meta.link {
  color: #dda2f6;
}

.psh .meta.require {
  color: #f5faff;
}

.psh .meta.selector {
  color: #7e7edd;
}

.psh .meta.separator {
  background-color: #373b41;
  color: #b9bed5;
}

.psh .meta.tag {
  color: #b9bed5;
}

.psh .underline {
  text-decoration: underline;
}

.psh .none {
  color: #b9bed5;
}

.psh .invalid.deprecated {
  color: #523d14 !important;
  background-color: #e0c285 !important;
}

.psh .invalid.illegal {
  color: #fff !important;
  background-color: #e05252 !important;
}

.psh .markup.bold {
  color: #dda2f6;
  font-weight: 700;
}

.psh .markup.changed {
  color: #7e7edd;
}

.psh .markup.deleted {
  color: #85b1e0;
}

.psh .markup.italic {
  color: #7e7edd;
  font-style: italic;
}

.psh .markup.heading {
  color: #85b1e0;
}

.psh .markup.heading .punctuation.definition.heading {
  color: #f5faff;
}

.psh .markup.link {
  color: #7e7edd;
}

.psh .markup.inserted {
  color: #9aefea;
}

.psh .markup.quote {
  color: #dda2f6;
}

.psh .markup.raw {
  color: #9aefea;
}

.psh .source.cs .keyword.operator {
  color: #7e7edd;
}

.psh .source.css .property-name, .psh .source.css .property-value {
  color: #7b829d;
}

.psh .source.css .property-name.support, .psh .source.css .property-value.support {
  color: #b9bed5;
}

.psh .source.gfm .markup {
  -webkit-font-smoothing: auto;
}

.psh .source.gfm .link .entity {
  color: #f5faff;
}

.psh .source.go .storage.type.string {
  color: #7e7edd;
}

.psh .source.ini .keyword.other.definition.ini {
  color: #85b1e0;
}

.psh .source.java .storage.modifier.import {
  color: #a571f4;
}

.psh .source.java .storage.type {
  color: #a571f4;
}

.psh .source.java .keyword.operator.instanceof {
  color: #7e7edd;
}

.psh .source.java-properties .meta.key-pair {
  color: #85b1e0;
}

.psh .source.java-properties .meta.key-pair > .punctuation {
  color: #b9bed5;
}

.psh .source.js .keyword.operator {
  color: #93ddfb;
}

.psh .source.js .keyword.operator.delete, .psh .source.js .keyword.operator.in, .psh .source.js .keyword.operator.instanceof, .psh .source.js .keyword.operator.new, .psh .source.js .keyword.operator.of, .psh .source.js .keyword.operator.typeof, .psh .source.js .keyword.operator.void {
  color: #7e7edd;
}

.psh .source.json .meta.structure.dictionary.json > .string.quoted.json {
  color: #85b1e0;
}

.psh .source.json .meta.structure.dictionary.json > .string.quoted.json > .punctuation.string {
  color: #85b1e0;
}

.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json,
.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json > .punctuation,
.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json,
.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json > .punctuation {
  color: #9aefea;
}

.psh .source.json .meta.structure.array.json > .constant.language.json,
.psh .source.json .meta.structure.dictionary.json > .constant.language.json {
  color: #93ddfb;
}

.psh .source.ruby .constant.other.symbol > .punctuation {
  color: inherit;
}

.psh .source.python .keyword.operator {
  color: #93ddfb;
}

.psh .source.python .function.decorator.arguments {
  color: #93ddfb;
}

.psh .source.python .keyword.operator.logical.python {
  color: #7e7edd;
}

.psh .source.python .variable.parameter {
  color: #dda2f6;
}
