.none {
  display: none;
}
.util-border-radius-none {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.util-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.util-textHidden {
  text-indent: 99999px;
  overflow: hidden;
}
.AXSlideViewer {
  z-index: 6000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* 하위 브라우저를 위한 hack */
}
.AXSlideViewer .background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  /*.util-opacity(1000);*/
}
.AXSlideViewer .slideItem {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.AXSlideViewer .slideItem .img {
  position: absolute;
  display: none;
}
.AXSlideViewer .controller .hgroup {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 55px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.AXSlideViewer .controller .hgroup h1 {
  font-size: 17px;
  line-height: 17px;
  padding: 10px 10px 0px 10px;
  margin: 0px;
}
.AXSlideViewer .controller .hgroup span {
  font-size: 12px;
  padding: 0px 10px;
}
.AXSlideViewer .controller .navigation {
  position: absolute;
  left: 0px;
  top: 60px;
  width: 100%;
  height: 20px;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
.AXSlideViewer .controller .buttonGroup {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0px;
}
.AXSlideViewer .controller .buttonGroup .ToggleHandle {
  position: absolute;
  left: -25px;
  top: -70px;
  width: 50px;
  height: 50px;
  background: url(images/dx-axviewer-button-extends.png) no-repeat;
  border: 0px none;
  margin: 0px;
  padding: 0px;
  text-indent: 99999px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;
  z-index: 10;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.AXSlideViewer .controller .buttonGroup .Prev {
  position: absolute;
  left: -22px;
  top: -67px;
  width: 44px;
  height: 44px;
  background: url(images/dx-axviewer-button-prev.png) no-repeat;
  border: 0px none;
  margin: 0px;
  padding: 0px;
  text-indent: 99999px;
  overflow: hidden;
  cursor: pointer;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s 0.05s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s 0.05s;
}
.AXSlideViewer .controller .buttonGroup .Prev.disabled {
  /*background:url(images/dx-axviewer-button-prev-disabled.png) no-repeat;*/
}
.AXSlideViewer .controller .buttonGroup .Next {
  position: absolute;
  right: -22px;
  top: -67px;
  width: 44px;
  height: 44px;
  background: url(images/dx-axviewer-button-next.png) no-repeat;
  border: 0px none;
  margin: 0px;
  padding: 0px;
  text-indent: 99999px;
  overflow: hidden;
  cursor: pointer;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s 0.15s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s 0.15s;
}
.AXSlideViewer .controller .buttonGroup .Next.disabled {
  /*background:url(images/dx-axviewer-button-next-disabled.png) no-repeat;*/
}
.AXSlideViewer .controller .buttonGroup .ZoomIn {
  position: absolute;
  left: -22px;
  top: -67px;
  width: 44px;
  height: 44px;
  background: url(images/dx-axviewer-button-zoomin.png) no-repeat;
  border: 0px none;
  margin: 0px;
  padding: 0px;
  text-indent: 99999px;
  overflow: hidden;
  cursor: pointer;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s 0.1s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s 0.1s;
}
.AXSlideViewer .controller .buttonGroup .ZoomOut {
  position: absolute;
  left: -22px;
  top: -67px;
  width: 44px;
  height: 44px;
  background: url(images/dx-axviewer-button-zoomout.png) no-repeat;
  border: 0px none;
  margin: 0px;
  padding: 0px;
  text-indent: 99999px;
  overflow: hidden;
  cursor: pointer;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s 0.2s;
}
.AXSlideViewer .controller .buttonGroup.open .ToggleHandle {
  left: -25px;
  top: -110px;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.AXSlideViewer .controller .buttonGroup.open .Prev {
  left: -79px;
  top: -107px;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}
.AXSlideViewer .controller .buttonGroup.open .Prev.disabled {
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.AXSlideViewer .controller .buttonGroup.open .Next {
  right: -79px;
  top: -107px;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}
.AXSlideViewer .controller .buttonGroup.open .Next.disabled {
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.AXSlideViewer .controller .buttonGroup.open .ZoomIn {
  left: -22px;
  top: -164px;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}
.AXSlideViewer .controller .buttonGroup.open .ZoomIn.disabled {
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.AXSlideViewer .controller .buttonGroup.open .ZoomOut {
  left: -22px;
  top: -50px;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}
.AXSlideViewer .controller .buttonGroup.open .ZoomOut.disabled {
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.AXSlideViewer .controller .Close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 44px;
  height: 44px;
  background: url(images/dx-axviewer-button-close.png) no-repeat;
  border: 0px none;
  margin: 0px;
  padding: 0px;
  text-indent: 99999px;
  overflow: hidden;
  cursor: pointer;
}
@media all and (max-width: 1200px) {
  .AXSlideViewer .controller {
    /* mobile */
  }
  .AXSlideViewer .controller .buttonGroup {
    width: 0px;
  }
  .AXSlideViewer .controller .buttonGroup .ToggleHandle {
    background: url(images/mx-axviewer-button-extends.png) no-repeat;
    background-size: 50px auto;
  }
  .AXSlideViewer .controller .buttonGroup .Prev {
    background: url(images/mx-axviewer-button-prev.png) no-repeat;
    background-size: 44px auto;
  }
  .AXSlideViewer .controller .buttonGroup .Prev.disabled {
    /*background:url(images/mx-axviewer-button-prev-disabled.png) no-repeat;*/
  }
  .AXSlideViewer .controller .buttonGroup .Next {
    background: url(images/mx-axviewer-button-next.png) no-repeat;
    background-size: 44px auto;
  }
  .AXSlideViewer .controller .buttonGroup .Next.disabled {
    /*background:url(images/mx-axviewer-button-next-disabled.png) no-repeat;*/
  }
  .AXSlideViewer .controller .buttonGroup .ZoomIn {
    background: url(images/mx-axviewer-button-zoomin.png) no-repeat;
    background-size: 44px auto;
  }
  .AXSlideViewer .controller .buttonGroup .ZoomOut {
    background: url(images/mx-axviewer-button-zoomout.png) no-repeat;
    background-size: 44px auto;
  }
  .AXSlideViewer .controller .Close {
    background: url(images/mx-axviewer-button-close.png) no-repeat;
    background-size: 44px auto;
  }
}
