.none {
  display: none;
}
.util-border-radius-none {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.util-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.util-textHidden {
  text-indent: 99999px;
  overflow: hidden;
}
.axbutton-style-normal {
  background: #fff;
  color: #858585;
  text-align: center;
  border: none;
  padding: 0 8px;
  margin: 0;
  box-sizing: content-box;
  display: inline-block;
  border: 1px solid #858585;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-style-classic {
  color: #468cca;
  border: 1px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-style-blue {
  background: #72b5f9;
  color: #ffffff;
  border: 1px solid #2b88e5;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-style-green {
  background: #9ed07a;
  color: #ffffff;
  border: 1px solid #80c24d;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-style-red {
  background: #f97972;
  color: #ffffff;
  border: 1px solid #e5342b;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-style-disabled {
  background: #d7d7d7;
  color: #eaeaea;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-event-normal {
  background: #fff;
  color: #858585;
  text-align: center;
  border: none;
  padding: 0 8px;
  margin: 0;
  box-sizing: content-box;
  display: inline-block;
  border: 1px solid #858585;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-event-normal:hover,
.axbutton-event-normal:focus {
  background: #e8e8e8;
  text-decoration: none;
  color: #858585;
}
.axbutton-event-normal:active {
  box-shadow: none;
}
.axbutton-event-classic {
  color: #468cca;
  border: 1px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-event-classic:hover,
.axbutton-event-classic:focus {
  background: #e8e8e8;
  text-decoration: none;
  color: #468cca;
}
.axbutton-event-classic:active {
  box-shadow: none;
}
.axbutton-event-blue {
  background: #72b5f9;
  color: #ffffff;
  border: 1px solid #2b88e5;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-event-blue:hover,
.axbutton-event-blue:focus {
  background: #579fe8;
}
.axbutton-event-blue:active {
  box-shadow: none;
}
.axbutton-event-green {
  background: #9ed07a;
  color: #ffffff;
  border: 1px solid #80c24d;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-event-green:hover,
.axbutton-event-green:focus {
  background: #8dc168;
}
.axbutton-event-green:active {
  box-shadow: none;
}
.axbutton-event-red {
  background: #f97972;
  color: #ffffff;
  border: 1px solid #e5342b;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-event-red:hover,
.axbutton-event-red:focus {
  background: #f2665e;
}
.axbutton-event-red:active {
  box-shadow: none;
}
.axbutton-event-disabled {
  background: #d7d7d7;
  color: #eaeaea;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.axbutton-event-disabled:hover,
.axbutton-event-disabled:focus {
  background: #d7d7d7;
}
.axbutton-event-disabled:active {
  box-shadow: none;
}
.AXButton {
  position: relative;
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}
.AXButton {
  background: #fff;
  color: #858585;
  text-align: center;
  border: none;
  padding: 0 8px;
  margin: 0;
  box-sizing: content-box;
  display: inline-block;
  border: 1px solid #858585;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButton:hover,
.AXButton:focus {
  background: #e8e8e8;
  text-decoration: none;
  color: #858585;
}
.AXButton:active {
  box-shadow: none;
}
.AXButton.Classic {
  color: #468cca;
  border: 1px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButton.Classic:hover,
.AXButton.Classic:focus {
  background: #e8e8e8;
  text-decoration: none;
  color: #468cca;
}
.AXButton.Classic:active {
  box-shadow: none;
}
.AXButton.Blue {
  background: #72b5f9;
  color: #ffffff;
  border: 1px solid #2b88e5;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButton.Blue:hover,
.AXButton.Blue:focus {
  background: #579fe8;
}
.AXButton.Blue:active {
  box-shadow: none;
}
.AXButton.Green {
  background: #9ed07a;
  color: #ffffff;
  border: 1px solid #80c24d;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButton.Green:hover,
.AXButton.Green:focus {
  background: #8dc168;
}
.AXButton.Green:active {
  box-shadow: none;
}
.AXButton.Red {
  background: #f97972;
  color: #ffffff;
  border: 1px solid #e5342b;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButton.Red:hover,
.AXButton.Red:focus {
  background: #f2665e;
}
.AXButton.Red:active {
  box-shadow: none;
}
.AXButton[disabled] {
  background: #d7d7d7;
  color: #eaeaea;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButton[disabled]:hover,
.AXButton[disabled]:focus {
  background: #d7d7d7;
}
.AXButton[disabled]:active {
  box-shadow: none;
}
.AXButtonSmall {
  position: relative;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}
.AXButtonSmall {
  background: #fff;
  color: #858585;
  text-align: center;
  border: none;
  padding: 0 8px;
  margin: 0;
  box-sizing: content-box;
  display: inline-block;
  border: 1px solid #858585;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonSmall:hover,
.AXButtonSmall:focus {
  background: #e8e8e8;
  text-decoration: none;
  color: #858585;
}
.AXButtonSmall:active {
  box-shadow: none;
}
.AXButtonSmall.Classic {
  color: #468cca;
  border: 1px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonSmall.Classic:hover,
.AXButtonSmall.Classic:focus {
  background: #e8e8e8;
  text-decoration: none;
  color: #468cca;
}
.AXButtonSmall.Classic:active {
  box-shadow: none;
}
.AXButtonSmall.Blue {
  background: #72b5f9;
  color: #ffffff;
  border: 1px solid #2b88e5;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonSmall.Blue:hover,
.AXButtonSmall.Blue:focus {
  background: #579fe8;
}
.AXButtonSmall.Blue:active {
  box-shadow: none;
}
.AXButtonSmall.Green {
  background: #9ed07a;
  color: #ffffff;
  border: 1px solid #80c24d;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonSmall.Green:hover,
.AXButtonSmall.Green:focus {
  background: #8dc168;
}
.AXButtonSmall.Green:active {
  box-shadow: none;
}
.AXButtonSmall.Red {
  background: #f97972;
  color: #ffffff;
  border: 1px solid #e5342b;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonSmall.Red:hover,
.AXButtonSmall.Red:focus {
  background: #f2665e;
}
.AXButtonSmall.Red:active {
  box-shadow: none;
}
.AXButtonSmall[disabled] {
  background: #d7d7d7;
  color: #eaeaea;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonSmall[disabled]:hover,
.AXButtonSmall[disabled]:focus {
  background: #d7d7d7;
}
.AXButtonSmall[disabled]:active {
  box-shadow: none;
}
.AXButtonLarge {
  position: relative;
  font-size: 12px;
  height: 46px;
  line-height: 46px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}
.AXButtonLarge {
  background: #fff;
  color: #858585;
  text-align: center;
  border: none;
  padding: 0 8px;
  margin: 0;
  box-sizing: content-box;
  display: inline-block;
  border: 1px solid #858585;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonLarge:hover,
.AXButtonLarge:focus {
  background: #e8e8e8;
  text-decoration: none;
  color: #858585;
}
.AXButtonLarge:active {
  box-shadow: none;
}
.AXButtonLarge.Classic {
  color: #468cca;
  border: 1px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonLarge.Classic:hover,
.AXButtonLarge.Classic:focus {
  background: #e8e8e8;
  text-decoration: none;
  color: #468cca;
}
.AXButtonLarge.Classic:active {
  box-shadow: none;
}
.AXButtonLarge.Blue {
  background: #72b5f9;
  color: #ffffff;
  border: 1px solid #2b88e5;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonLarge.Blue:hover,
.AXButtonLarge.Blue:focus {
  background: #579fe8;
}
.AXButtonLarge.Blue:active {
  box-shadow: none;
}
.AXButtonLarge.Green {
  background: #9ed07a;
  color: #ffffff;
  border: 1px solid #80c24d;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonLarge.Green:hover,
.AXButtonLarge.Green:focus {
  background: #8dc168;
}
.AXButtonLarge.Green:active {
  box-shadow: none;
}
.AXButtonLarge.Red {
  background: #f97972;
  color: #ffffff;
  border: 1px solid #e5342b;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonLarge.Red:hover,
.AXButtonLarge.Red:focus {
  background: #f2665e;
}
.AXButtonLarge.Red:active {
  box-shadow: none;
}
.AXButtonLarge[disabled] {
  background: #d7d7d7;
  color: #eaeaea;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.AXButtonLarge[disabled]:hover,
.AXButtonLarge[disabled]:focus {
  background: #d7d7d7;
}
.AXButtonLarge[disabled]:active {
  box-shadow: none;
}
