.psh {
  background-color: #fff;
  color: #1d1f21;
  margin: 1em 0;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #fff;
  color: #1d1f21;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #8e8f90;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #fff;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e6e6e6;
  color: #5c5c5c;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #e6e6e6;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #5c5c5c;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #e6e6e6;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #5c5c5c;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #8e8f90;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #c7c7c8;
  font-size: 13px;
  word-break: break-all;
  color: #5c5c5c;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #f1faf5;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #ecf9fc;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #f6f3fe;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #fef6f0;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #fdf1f3;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #fcf8f1;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #f1faf5;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #fdf1f3;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #c7c7c8;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #b5bd68;
}

.psh .comment {
  color: #969896;
}

.psh .comment .markup.link {
  color: #969896;
}

.psh .entity.name.type {
  color: #f0c674;
}

.psh .entity.other.inherited-class {
  color: #b5bd68;
}

.psh .keyword {
  color: #b294bb;
}

.psh .keyword.control {
  color: #b294bb;
}

.psh .keyword.operator {
  color: #1d1f21;
}

.psh .keyword.other.special-method {
  color: #81a2be;
}

.psh .keyword.other.unit {
  color: #de935f;
}

.psh .storage {
  color: #b294bb;
}

.psh .constant {
  color: #de935f;
}

.psh .constant.character.escape {
  color: #8abeb7;
}

.psh .constant.numeric {
  color: #de935f;
}

.psh .constant.other.color {
  color: #8abeb7;
}

.psh .constant.other.symbol {
  color: #b5bd68;
}

.psh .variable {
  color: #c66;
}

.psh .variable.interpolation {
  color: #a3685a;
}

.psh .variable.parameter.function {
  color: #1d1f21;
}

.psh .invalid.illegal {
  background-color: #c66;
  color: #fff;
}

.psh .string {
  color: #b5bd68;
}

.psh .string.regexp {
  color: #8abeb7;
}

.psh .string.regexp .source.ruby.embedded {
  color: #f0c674;
}

.psh .string.other.link {
  color: #c66;
}

.psh .punctuation.definition.array, .psh .punctuation.definition.parameters {
  color: #1d1f21;
}

.psh .punctuation.definition.heading, .psh .punctuation.definition.identity {
  color: #81a2be;
}

.psh .punctuation.definition.bold {
  color: #f0c674;
  font-weight: 700;
}

.psh .punctuation.definition.italic {
  color: #b294bb;
  font-style: italic;
}

.psh .punctuation.section.embedded {
  color: #a3685a;
}

.psh .punctuation.section.class, .psh .punctuation.section.inner-class, .psh .punctuation.section.method {
  color: #1d1f21;
}

.psh .support.class {
  color: #f0c674;
}

.psh .support.function {
  color: #8abeb7;
}

.psh .support.function.any-method {
  color: #81a2be;
}

.psh .entity.name.function {
  color: #81a2be;
}

.psh .entity.name.class, .psh .entity.name.type.class {
  color: #f0c674;
}

.psh .entity.name.section {
  color: #81a2be;
}

.psh .entity.name.tag {
  color: #c66;
}

.psh .entity.other.attribute-name {
  color: #de935f;
}

.psh .entity.other.attribute-name.id {
  color: #81a2be;
}

.psh .meta.class {
  color: #f0c674;
}

.psh .meta.class.body {
  color: #1d1f21;
}

.psh .meta.link {
  color: #de935f;
}

.psh .meta.method, .psh .meta.method-call {
  color: #1d1f21;
}

.psh .meta.require {
  color: #81a2be;
}

.psh .meta.selector {
  color: #b294bb;
}

.psh .meta.separator {
  background-color: #373b41;
  color: #1d1f21;
}

.psh .meta.tag {
  color: #1d1f21;
}

.psh .none {
  color: #1d1f21;
}

.psh .markup.bold {
  color: #de935f;
  font-weight: 700;
}

.psh .markup.changed {
  color: #b294bb;
}

.psh .markup.deleted {
  color: #c66;
}

.psh .markup.italic {
  color: #b294bb;
  font-style: italic;
}

.psh .markup.heading {
  color: #c66;
}

.psh .markup.heading .punctuation.definition.heading {
  color: #81a2be;
}

.psh .markup.link {
  color: #81a2be;
}

.psh .markup.inserted {
  color: #b5bd68;
}

.psh .markup.quote {
  color: #de935f;
}

.psh .markup.raw {
  color: #b5bd68;
}

.psh .source.gfm .markup {
  -webkit-font-smoothing: auto;
}

.psh .source.gfm .link .entity {
  color: #8abeb7;
}

.psh .source.cs .keyword.operator {
  color: #b294bb;
}

.psh .source.json .meta.structure.dictionary.json > .string.quoted.json {
  color: #c66;
}

.psh .source.json .meta.structure.dictionary.json > .string.quoted.json > .punctuation.string {
  color: #c66;
}

.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json,
.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json > .punctuation,
.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json,
.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json > .punctuation {
  color: #b5bd68;
}

.psh .source.json .meta.structure.array.json > .constant.language.json,
.psh .source.json .meta.structure.dictionary.json > .constant.language.json {
  color: #8abeb7;
}
