@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-contract:before, .icon-expand:before, .icon-link:before, .icon-twitter:before, .icon-contrast:before, .icon-target:before, .icon-pencil:before, .icon-wrench:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
}
.icon-contract:before {
	content: "\e005";
}
.icon-expand:before {
	content: "\e006";
}
.icon-link:before {
	content: "\e001";
}
.icon-twitter:before {
	content: "\e008";
}
.icon-contrast:before {
	content: "\e000";
}
.icon-target:before {
	content: "\e002";
}
.icon-pencil:before {
	content: "\e007";
}
.icon-wrench:before {
	content: "\f0ad";
}
