:global(.psh) {
  background-color: #fafafa;
  color: #383a42;
}

:global(.psh figure) {
  margin: 0;
}

:global(.psh pre) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:global(.psh code), :global(.psh samp) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
}

:global(.psh code::-moz-selection), :global(.psh samp::-moz-selection) {
  background-color: #e5e5e6;
}

:global(.psh code::selection), :global(.psh samp::selection) {
  background-color: #e5e5e6;
}

:global(.psh .psh-line-numbers) {
  counter-reset: line;
}

:global(.psh .psh-line-numbers .psh-line) {
  counter-increment: line;
}

:global(.psh .psh-line-numbers .psh-line::before) {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #999a9e;
}

:global(.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before) {
  width: 2em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before) {
  width: 2.6em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before) {
  width: 3.2em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before) {
  width: 3.8em;
}

:global(.psh .psh-label) {
  background-color: #fafafa;
  text-align: right;
  height: 18px;
}

:global(.psh .psh-label-value) {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  line-height: 18px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 11px;
  font-family: serif;
  font-family: initial;
  background-color: #e1e1e1;
  color: #5a5a5a;
}

:global(.psh .psh-caption) {
  padding: 12px;
  background-color: #e1e1e1;
  font-weight: 700;
  font-size: 14px;
  color: #5a5a5a;
}

:global(.psh .psh-filename) {
  padding: 3px 12px;
  background-color: #e1e1e1;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #5a5a5a;
}

:global(.psh .psh-request) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

:global(.psh .psh-request .psh-request-method) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #999a9e;
  font-size: 15px;
  color: #fff;
}

:global(.psh .psh-request .psh-request-method-get) {
  background-color: #42bd79;
}

:global(.psh .psh-request .psh-request-method-post) {
  background-color: #00abd6;
}

:global(.psh .psh-request .psh-request-method-put) {
  background-color: #845eed;
}

:global(.psh .psh-request .psh-request-method-patch) {
  background-color: #f0813d;
}

:global(.psh .psh-request .psh-request-method-delete) {
  background-color: #df435d;
}

:global(.psh .psh-request .psh-request-resource) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #cacacc;
  font-size: 13px;
  color: #5a5a5a;
}

:global(.psh .psh-request .psh-request-method-get + .psh-request-resource) {
  background-color: #edf6f1;
}

:global(.psh .psh-request .psh-request-method-post + .psh-request-resource) {
  background-color: #e8f4f8;
}

:global(.psh .psh-request .psh-request-method-put + .psh-request-resource) {
  background-color: #f2eff9;
}

:global(.psh .psh-request .psh-request-method-patch + .psh-request-resource) {
  background-color: #faf1ec;
}

:global(.psh .psh-request .psh-request-method-delete + .psh-request-resource) {
  background-color: #f8edef;
}

:global(.psh .psh-add), :global(.psh .psh-highlight), :global(.psh .psh-remove) {
  margin: 0 -18px;
  padding-left: 15px;
}

:global(.psh .psh-highlight) {
  border-left: 3px solid #dba643;
  background-color: #f8f4ed;
}

:global(.psh .psh-add) {
  border-left: 3px solid #42bd79;
  background-color: #edf6f1;
}

:global(.psh .psh-remove) {
  border-left: 3px solid #df435d;
  background-color: #f8edef;
}

:global(.psh .psh-invisibles-lf), :global(.psh .psh-invisibles-space), :global(.psh .psh-invisibles-tab) {
  position: relative;
}

:global(.psh .psh-invisibles-lf::before), :global(.psh .psh-invisibles-space::before), :global(.psh .psh-invisibles-tab::before) {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #cacacc;
}

:global(.psh .psh-invisibles-tab::before) {
  content: "⇥";
}

:global(.psh .psh-invisibles-space::before) {
  content: "·";
}

:global(.psh .psh-invisibles-lf::before) {
  content: "↩";
}

:global(.psh .psh-commands::before) {
  content: ">";
  padding-right: .8em;
  color: #50a14f;
}

:global(.psh .comment) {
  color: #a0a1a7;
  font-style: italic;
}

:global(.psh .comment .markup.link) {
  color: #a0a1a7;
}

:global(.psh .entity.name.type) {
  color: #c18401;
}

:global(.psh .entity.other.inherited-class) {
  color: #50a14f;
}

:global(.psh .keyword) {
  color: #a626a4;
}

:global(.psh .keyword.control) {
  color: #a626a4;
}

:global(.psh .keyword.operator) {
  color: #383a42;
}

:global(.psh .keyword.other.special-method) {
  color: #4078f2;
}

:global(.psh .keyword.other.unit) {
  color: #986801;
}

:global(.psh .storage) {
  color: #a626a4;
}

:global(.psh .storage.type.annotation), :global(.psh .storage.type.primitive) {
  color: #a626a4;
}

:global(.psh .storage.modifier.import), :global(.psh .storage.modifier.package) {
  color: #383a42;
}

:global(.psh .constant) {
  color: #986801;
}

:global(.psh .constant.variable) {
  color: #986801;
}

:global(.psh .constant.character.escape) {
  color: #0184bc;
}

:global(.psh .constant.numeric) {
  color: #986801;
}

:global(.psh .constant.other.color) {
  color: #0184bc;
}

:global(.psh .constant.other.symbol) {
  color: #0184bc;
}

:global(.psh .variable) {
  color: #e45649;
}

:global(.psh .variable.interpolation) {
  color: #ca1243;
}

:global(.psh .variable.parameter) {
  color: #383a42;
}

:global(.psh .string) {
  color: #50a14f;
}

:global(.psh .string.regexp) {
  color: #0184bc;
}

:global(.psh .string.regexp .source.ruby.embedded) {
  color: #c18401;
}

:global(.psh .string.other.link) {
  color: #e45649;
}

:global(.psh .punctuation.definition.comment) {
  color: #a0a1a7;
}

:global(.psh .punctuation.definition.array), :global(.psh .punctuation.definition.function-parameters), :global(.psh .punctuation.definition.method-parameters), :global(.psh .punctuation.definition.parameters), :global(.psh .punctuation.definition.separator), :global(.psh .punctuation.definition.seperator) {
  color: #383a42;
}

:global(.psh .punctuation.definition.heading), :global(.psh .punctuation.definition.identity) {
  color: #4078f2;
}

:global(.psh .punctuation.definition.bold) {
  color: #c18401;
  font-weight: 700;
}

:global(.psh .punctuation.definition.italic) {
  color: #a626a4;
  font-style: italic;
}

:global(.psh .punctuation.section.embedded) {
  color: #ca1243;
}

:global(.psh .punctuation.section.class), :global(.psh .punctuation.section.inner-class), :global(.psh .punctuation.section.method) {
  color: #383a42;
}

:global(.psh .support.class) {
  color: #c18401;
}

:global(.psh .support.type) {
  color: #0184bc;
}

:global(.psh .support.function) {
  color: #0184bc;
}

:global(.psh .support.function.any-method) {
  color: #4078f2;
}

:global(.psh .entity.name.function) {
  color: #4078f2;
}

:global(.psh .entity.name.class), :global(.psh .entity.name.type.class) {
  color: #c18401;
}

:global(.psh .entity.name.section) {
  color: #4078f2;
}

:global(.psh .entity.name.tag) {
  color: #e45649;
}

:global(.psh .entity.other.attribute-name) {
  color: #986801;
}

:global(.psh .entity.other.attribute-name.id) {
  color: #4078f2;
}

:global(.psh .meta.class) {
  color: #c18401;
}

:global(.psh .meta.class.body) {
  color: #383a42;
}

:global(.psh .meta.method), :global(.psh .meta.method-call) {
  color: #383a42;
}

:global(.psh .meta.definition.variable) {
  color: #e45649;
}

:global(.psh .meta.link) {
  color: #986801;
}

:global(.psh .meta.require) {
  color: #4078f2;
}

:global(.psh .meta.selector) {
  color: #a626a4;
}

:global(.psh .meta.separator) {
  background-color: #373b41;
  color: #383a42;
}

:global(.psh .meta.tag) {
  color: #383a42;
}

:global(.psh .underline) {
  text-decoration: underline;
}

:global(.psh .none) {
  color: #383a42;
}

:global(.psh .invalid.deprecated) {
  color: #000 !important;
  background-color: #f2a60d !important;
}

:global(.psh .invalid.illegal) {
  color: #fff !important;
  background-color: #ff1414 !important;
}

:global(.psh .markup.bold) {
  color: #986801;
  font-weight: 700;
}

:global(.psh .markup.changed) {
  color: #a626a4;
}

:global(.psh .markup.deleted) {
  color: #e45649;
}

:global(.psh .markup.italic) {
  color: #a626a4;
  font-style: italic;
}

:global(.psh .markup.heading) {
  color: #e45649;
}

:global(.psh .markup.heading .punctuation.definition.heading) {
  color: #4078f2;
}

:global(.psh .markup.link) {
  color: #0184bc;
}

:global(.psh .markup.inserted) {
  color: #50a14f;
}

:global(.psh .markup.quote) {
  color: #986801;
}

:global(.psh .markup.raw) {
  color: #50a14f;
}

:global(.psh .source.c .keyword.operator) {
  color: #a626a4;
}

:global(.psh .source.cpp .keyword.operator) {
  color: #a626a4;
}

:global(.psh .source.cs .keyword.operator) {
  color: #a626a4;
}

:global(.psh .source.css .property-name), :global(.psh .source.css .property-value) {
  color: #696c77;
}

:global(.psh .source.css .property-name.support), :global(.psh .source.css .property-value.support) {
  color: #383a42;
}

:global(.psh .source.gfm .markup) {
  -webkit-font-smoothing: auto;
}

:global(.psh .source.gfm .link .entity) {
  color: #4078f2;
}

:global(.psh .source.go .storage.type.string) {
  color: #a626a4;
}

:global(.psh .source.ini .keyword.other.definition.ini) {
  color: #e45649;
}

:global(.psh .source.java .storage.modifier.import) {
  color: #c18401;
}

:global(.psh .source.java .storage.type) {
  color: #c18401;
}

:global(.psh .source.java .keyword.operator.instanceof) {
  color: #a626a4;
}

:global(.psh .source.java-properties .meta.key-pair) {
  color: #e45649;
}

:global(.psh .source.java-properties .meta.key-pair > .punctuation) {
  color: #383a42;
}

:global(.psh .source.js .keyword.operator) {
  color: #0184bc;
}

:global(.psh .source.js .keyword.operator.delete), :global(.psh .source.js .keyword.operator.in), :global(.psh .source.js .keyword.operator.instanceof), :global(.psh .source.js .keyword.operator.new), :global(.psh .source.js .keyword.operator.of), :global(.psh .source.js .keyword.operator.typeof), :global(.psh .source.js .keyword.operator.void) {
  color: #a626a4;
}

:global(.psh .source.json .meta.structure.dictionary.json > .string.quoted.json) {
  color: #e45649;
}

:global(.psh .source.json .meta.structure.dictionary.json > .string.quoted.json > .punctuation.string) {
  color: #e45649;
}

:global(.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json),
:global(.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json > .punctuation),
:global(.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json),
:global(.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json > .punctuation) {
  color: #50a14f;
}

:global(.psh .source.json .meta.structure.array.json > .constant.language.json),
:global(.psh .source.json .meta.structure.dictionary.json > .constant.language.json) {
  color: #0184bc;
}

:global(.psh .source.ruby .constant.other.symbol > .punctuation) {
  color: inherit;
}

:global(.psh .source.python .keyword.operator.logical.python) {
  color: #a626a4;
}

:global(.psh .source.python .variable.parameter) {
  color: #986801;
}
