.yui3-textarea-height-monitor {
	line-height: normal;
	left: 0;
	padding: 0;
	position: absolute;
	top: 0;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.ie .yui3-textarea-height-monitor {
	border: 1px solid #000;
	zoom: 1;
}