
.yui3-skin-sam .yui3-treeview li {
	margin: 0;
}
.yui3-skin-sam .yui3-treeview {
	font-size: 13px;
	font-family: arial;
}

.yui3-skin-sam .yui3-treenode {
	background: url("http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-yui3treeview-ng/assets/skins/sam/treeview-sprite-filler.gif") repeat-y scroll transparent;
}

.yui3-skin-sam .yui3-treenode.yui3-treenode-last {
	background: none;
}

.yui3-skin-sam .yui3-treenode .yui3-treenode-label {
	display: block;
    padding-top: 5px;
	background: url("http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-yui3treeview-ng/assets/skins/sam/treeview-sprite-ruler.gif") no-repeat scroll 0 -55px transparent;
}

.yui3-skin-sam .yui3-treenode.yui3-treenode-last > .yui3-treenode-label {
	background: url("http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-yui3treeview-ng/assets/skins/sam/treeview-sprite-ruler.gif") no-repeat scroll 0 -125px transparent;
}

.yui3-skin-sam .yui3-treeview a {
	color: #000000;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode-content {
    padding-left: 22px;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode .yui3-treenode-label-content {
	font-weight: bold;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode.yui3-treenode-leaf .yui3-treenode-label-content {
	font-weight: normal;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode .yui3-treenode-toggle-control {
	background: url("http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-yui3treeview-ng/assets/skins/sam/treeview-sprite-control.gif") no-repeat scroll 0 -149px transparent;
	padding-left: 22px;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode .yui3-treenode-toggle-control:hover {
	background-position: 0 -313px;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode.yui3-treenode-collapsed .yui3-treenode-toggle-control {
	background: url("http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-yui3treeview-ng/assets/skins/sam/treeview-sprite-control.gif") no-repeat scroll 0 -67px transparent;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode.yui3-treenode-collapsed .yui3-treenode-toggle-control:hover {
	background-position: 0 -231px;
}

.yui3-skin-sam .yui3-treeview .yui3-treenode.yui3-treenode-leaf .yui3-treenode-label {
	padding-left: 22px;
}


.yui3-skin-sam .yui3-treenode .yui3-treenode-label .yui3-checkboxtreenode-checkbox {
	padding-left: 20px;
}

.yui3-skin-sam .yui3-treenode .yui3-treenode-label .yui3-checkboxtreenode-checkbox.yui3-checkboxtreenode-checkbox-unchecked {
	background: url("http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-yui3treeview-ng/assets/skins/sam/treeview-checkboxes.gif") no-repeat scroll 0 -3px transparent;
}

.yui3-skin-sam .yui3-treenode .yui3-treenode-label .yui3-checkboxtreenode-checkbox.yui3-checkboxtreenode-checkbox-halfchecked {
	background: url("http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-yui3treeview-ng/assets/skins/sam/treeview-checkboxes.gif") no-repeat scroll 0 -66px transparent;
}

.yui3-skin-sam .yui3-treenode .yui3-treenode-label .yui3-checkboxtreenode-checkbox.yui3-checkboxtreenode-checkbox-checked {
	background: url("http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-yui3treeview-ng/assets/skins/sam/treeview-checkboxes.gif") no-repeat scroll 0 -131px transparent;
}

