.yui3-skin-growl .yui3-notify {
	position:absolute;
	right: 20px;
	top: 20px;
	z-index: 10000;
}

.yui3-skin-growl .yui3-notify-hidden {
	display: none;
}

.yui3-skin-growl .yui3-notify-content {
	margin: 0;
	padding: 0;
}

.yui3-skin-growl .yui3-notify-message {
	list-style: none;
	background-color: #141414;
	background-color: rgba(20, 20, 20, 0.8);
	color: #efefef;
	margin-bottom:20px;
	padding: 15px;
	position:relative;
	border: 2px solid #efefef;
	border: 2px solid rgba(255, 255, 255, 0.8);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 5px 5px 10px #888;
	-webkit-box-shadow: 5px 5px 10px #888;
	box-shadow: 5px 5px 10px #888;
}

.yui3-skin-growl .yui3-notify-message-closable {
	padding-right: 28px;
}

.yui3-skin-growl .yui3-notify-message-close {
	position:absolute;
	top: 4px;
	right: 3px;
	font-family: Arial, Helvetica;
	font-size: 9px;
	font-weight: bold;
	padding: 3px;
	border: 2px solid #efefef;
	border: 2px solid rgba(255, 255, 255, .8);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor:pointer;
	width:10px;
	height:10px;
	line-height:10px;
	text-align:center;
	overflow: hidden;
}

.yui3-skin-growl .yui3-notify-message-close:hover {
	background-color: #efefef;
	color: #141414;
}

.yui3-skin-growl .yui3-notify .yui3-notify-message-flag-error {
    border-color: rgb(230, 20, 20);
    border-color: rgba(230, 20, 20, .8);
}
.yui3-skin-growl .yui3-notify .yui3-notify-message-flag-alert {
    border-color: rgb(230, 180, 20);
    border-color: rgba(230, 180, 20, .8);
}

