.keyboard {position:fixed;width:98%;max-width:400px;bottom:0;text-align:center;background-color:#666;border-top-left-radius:5px;border-top-right-radius:5px;padding:2px;}
.keyboard p.last {margin-bottom:0;}
.keyboard button {height:30px;border-radius:5px;border:1px solid #444;min-width:28px;width:10%;background-color:#EEE;box-shadow:2px 2px #222;}
.keyboard-hide {float:left;}
.keyboard-eval {float:left;margin-left:10px;}
.keyboard-expand {float:right;}
.keyboard-delete {float:right;margin-left:15px;}
.keyboard-func,
.keyboard-const {width:100px;}
.keyboard-const {margin-top:5px;}
