.yui3-toolbar {
	white-space: nowrap;
}

.yui3-toolbar-content {
	float: none;
	display: inline-block;
	vertical-align: top;
}

.yui3-toolbar-item {
	margin: 0;
	display: inline-block;
	vertical-align: top;
}

.yui3-toolbar-vertical .yui3-toolbar-item {
	display: block;
	width: 100%;
}

.yui3-toolbar-vertical .yui3-buttonitem-icon-only {
	text-align: center;
	width: auto;
}

.yui3-toolbar-vertical .yui3-buttonitem-icon-label {
	text-align: left;
}

.yui3-toolbar-vertical .yui3-buttonitem-icon-only .yui3-buttonitem-icon {
	float: none;
}

.yui3-toolbar-horizontal .yui3-toolbarspacer {
	width: 4px;
	display: inline-block;
}

.yui3-toolbar-vertical .yui3-toolbarspacer {
	height: 4px;
	display: block;
}