.aloha-floatingmenu {
	position: absolute;
}
.aloha-floatingmenu.fixed {
	position: fixed !important;
}
.aloha-floatingmenu .x-tab-panel-header {
	border-width: 0px 0px 1px 0px !important;
	background: none !important;
}
.aloha-floatingmenu .x-tab-panel-header .x-tab-strip-wrap, .aloha-floatingmenu ul.x-tab-strip-top {
	background: none !important;
}
.x-tab-strip-wrap ul li a:hover {
	border: none;
	text-decoration:none;
}
.aloha-floatingmenu .x-tab-panel-header {
	padding-bottom: 0px !important;
}
.aloha-floatingmenu:hover {
	background-color: #E0E0E0;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: url(../img/grabhandle.png) no-repeat scroll center 5px rgba(0, 0, 0, 0.4);
}
.aloha-floatingmenu:hover .aloha-floatingmenu-pin {
	display: block;
}
.aloha-floatingmenu-pin {
	background: url("../img/pin.png") no-repeat scroll 0 6px transparent;
	cursor: pointer;
	margin-left: 5px !important;
	width: 16px;
	position: absolute !important;
	right: 10px;
	display: none;
}
.aloha-floatingmenu-pinned {
	background-position: -16px 6px;
}
#aloha-floatingmenu-shadow {
	position: absolute;
	top: -1000;
	left: -1000;
	display: none;
	z-index: 8800;
}
#aloha-floatingmenu-shadow.fixed {
	position: fixed !important;
}

.x-tree-root-ct {
	padding: 0px;
}
.x-tree-node {
	list-style: none;
}
.x-tree-node-ct {
	padding: 0px;
}
.aloha-button a:focus {
	outline: none;
}
button.aloha-button {
	background: url('../img/base.png') no-repeat !important;
}
button.aloha-button-big {
	background: url('../img/base-big.png') no-repeat !important;
}
button.aloha-button-b {
	background-position: 0px 0px;
}
button.aloha-button-i {
	background-position: -16px 0px !important;
}
button.aloha-button-u {
	background-position: -32px 0px !important;
}
button.aloha-button-del {
	background-position: -48px 0px !important;
}
button.aloha-button-s {
	background-position: -48px 0px !important;
}
button.aloha-button-sub {
	background-position: -64px 0px !important;
}
button.aloha-button-sup {
	background-position: -80px 0px !important;
}
button.aloha-button-ul {
	background-position: -256px 0px !important;
}
button.aloha-button-ol {
	background-position: -272px 0px !important;
}
button.aloha-button-indent-list {
	background-image: url(../img/text_indent.png) !important;
}
button.aloha-button-outdent-list {
	background-image: url(../img/text_indent_remove.png) !important;
}
button.aloha-button-a {
	background-position: -288px 0px !important;
}
button.aloha-button-a-remove {
	background-position: -304px 0px !important;
}
button.aloha-button-p {
	background-position: 0px 0 !important;
}
button.aloha-button-p-de {
	background-position: 0px -42px !important;
}
button.aloha-button-h1 {
	background-position: -52px 0 !important;
}
button.aloha-button-h1-de {
	background-position: -52px -42px !important;
}
button.aloha-button-h2 {
	background-position: -104px 0 !important;
}
button.aloha-button-h2-de {
	background-position: -104px -42px !important;
}
button.aloha-button-h3 {
	background-position: -156px 0 !important;
}
button.aloha-button-h3-de {
	background-position: -156px -42px !important;
}
button.aloha-button-h4 {
	background-position: -208px 0 !important;
}
button.aloha-button-h4-de {
	background-position: -208px -42px !important;
}
button.aloha-button-h5 {
	background-position: -260px 0 !important;
}
button.aloha-button-h5-de {
	background-position: -260px -42px !important;
}
button.aloha-button-h6 {
	background-position: -312px 0 !important;
}
button.aloha-button-h6-de {
	background-position: -312px -42px !important;
}
button.aloha-button-pre {
	background-position: -364px 0 !important;
}
button.aloha-button-pre-de {
	background-position: -364px -42px !important;
}
button.aloha-button-title {
	background-position: -416px 0 !important;
}
button.aloha-button-title-de {
	background-position: -416px -42px !important;
}
button.aloha-button-table {
	background-position: -96px 0 !important;
}
button.aloha-button-addColumnLeft {
	background-position: -112px 0 !important;
}
button.aloha-button-addColumnRight {
	background-position: -128px 0 !important;
}
button.aloha-button-addRowBefore {
	background-position: -144px 0 !important;
}
button.aloha-button-addRowAfter {
	background-position: -160px 0 !important;
}
button.aloha-button-deleteRows {
	background-position: -176px 0 !important;
}
button.aloha-button-deleteColumns {
	background-position: -192px 0 !important;
}
button.aloha-button-addPerson {
	background-position: -224px 0 !important;
}
button.aloha-button-addEvent {
	background-position: -208px 0 !important;
}
button.aloha-button-abbr {
	background-position: -336px 0px !important;
}
button.aloha-button-row-header {
	background-position: -352px 0px !important;
}
button.aloha-button-col-header {
	background-position: -368px 0px !important;
}
button.aloha-button-tree {
	background-position: -0 0 !important;
}
div.aloha-button a:hover {
	border: 1px solid #b2cbff;
}
.aloha-floatingmenu {
	display: none;
}
.aloha-floatingmenu .pressed a {
	border:1px solid #ccc;
}

html body #aloha-ribbon {
	z-index:90000;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding-left:0;
	padding-right:0;
	display: none;
}
.x-menu-list-item {
	text-align:left;
}
.aloha-shadow {
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
ul.aloha-multisplit button.aloha-button {
	background-image: url(../img/base-multi.png) !important;
	background-repeat: no-repeat;
	background-position: 0 0;
	
	width: 54px !important;
	height: 44px !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.aloha-multisplit {
	float: left;
	list-style: none;
}
ul.aloha-multisplit, div.aloha-multisplit-wrapper {
	width: 232px;
	height: 46px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
div.aloha-multisplit-wrapper {
	width: 248px;
}
ul.aloha-multisplit li {
	float: left;
	padding: 0px 1px;
	margin: 0px;
}
ul.aloha-multisplit button.aloha-multisplit-wide {
	font: 11px tahoma,arial,helvetica;
	height: 18px !important;
	width: 234px !important;
	border: 0;
	border-top: 1px solid #cccccc;
	cursor: pointer;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 6px 1px !important;
	text-align: left;
	margin-left: -2px;
	padding-left: 26px;
}
button.aloha-multisplit-toggle {
	float: right;
	margin: 0;
	padding: 0;
	width: 15px;
	height: 12px;
	margin-top: 32px;
	cursor: pointer;
	border: 0;
}
button.aloha-multisplit-toggle-open {
	background-image: url(../img/multisplit-open.gif);
}
button.aloha-multisplit-toggle-close {
	background-image: url(../img/multisplit-close.gif);
}
ul.aloha-multisplit button {
	border: 1px solid #cccccc;
	margin: 1px;
	cursor: pointer;
}
ul.aloha-multisplit button:hover {
	border: 1px solid #666666;
}
ul.aloha-multisplit button.aloha-multisplit-wide:hover {
	border: 0;
	border-top: 1px solid #cccccc;
}
ul.aloha-multisplit .aloha-multisplit-activeitem button {
	border: 2px solid #3B73D7;
}
ul.aloha-multisplit-expanded {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20000;
	background-color: white;
	border: 1px solid #afafaf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
ul.aloha-multisplit button.aloha-button-removeFormat {
	background-image: url(../img/removeformat.png) !important;
}

/**
 * combo-list box
 */
.x-combo-list {
	text-align: left;
}
.x-combo-list-inner {
	padding: 3px;
}
.x-combo-list-inner .loading-indicator {
	margin: 0;
}
.x-combo-selected {
	color: #fff !important;
	background-color: #3B73D7 !important;
}

/**
 * ui-attribute field
 */
.x-form-field.x-form-text {
	color: #333 !important;
	padding: 3px;
}
.x-form-field.x-form-text::selection {
	color: #fff;
	background: #3B73D7;
}
.x-form-field.x-form-text::-moz-selection {
	color: #fff;
	background: #3B73D7;
}
.x-form-field.x-form-text::-webkit-selection {
	color: #fff;
	background: #3B73D7;
}