.yui3-skin-sam .yui3-exprbuilder .yui3-exprbuilder-clear
{
	margin-left: 10px;
}

.yui3-skin-sam .yui3-exprbuilder .yui3-exprbuilder-querybuilder
{
	margin-top: 10px;
}

.yui3-skin-sam .yui3-exprbuilder .yui3-exprbuilder-reset
{
	margin-left: 10px;
}
