.yui3-dialog {
	position: absolute;
}

.yui3-dialog .yui3-icon-loading {
	margin: 0 auto;
}

.yui3-dd-draggable .yui3-dialog-hd {
	cursor: move;
}

.yui3-dialog-bd {
	overflow-y: auto;
}

.yui3-dialog-button {
	margin-right: 2px;
}