@charset "UTF-8";
/*
+---------------------------------------------------------------------+
|        _                               _         _                  |
|       | |_  _   _  _ __    ___  _ __  | |  __ _ | |_  ___           |
|       | __|| | | || '_ \  / _ \| '_ \ | | / _ || __|/ _ \           |
|       | |_ | |_| || |_) ||  __/| |_) || || (_| || |_|  __/          |
|        \__| \__, || .__/  \___|| .__/ |_| \__,_| \__|\___|          |
|             |___/ |_|          |_|                                  |
|                                                                     |
|                                                                     |
| URL: http://typeplate.com                                           |
| VERSION: 1.0.1                                                      |
| Github: https://github.com/typePlate/typeplate.github.com           |
| AUTHORS: Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals) |
| LICENSE: Creative Commmons                                          |
| http://creativecommons.org/licenses/by/3.0                          |
|                                                                     |
+---------------------------------------------------------------------+
*/

/**
 *
 *
	Unicode Ampersand
 *
 */

@font-face {
	font-family: "Ampersand";
	src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
	unicode-range: U+0026;
}

@font-face {
	font-family: "Ampersand";
	src: local("Georgia");
	unicode-range: U+270C;
}

.amp {
	font-family: Ampersand, Georgia, serif;
}

/**
 *
 *
	Base Type
 *
 */
html {
	font: normal 112.5%/1.65 serif;
}

body {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-rendering: optimizeLegibility;
	line-height: 1;
	margin-top: 0;
}

.tera {
	font-size: 117px;
	font-size: 6.5rem;
	margin-bottom: 0.25385rem;
}

.giga {
	font-size: 90px;
	font-size: 5rem;
	margin-bottom: 0.33rem;
}

.mega {
	font-size: 72px;
	font-size: 4rem;
	margin-bottom: 0.4125rem;
}

h1,
.alpha {
	font-size: 60px;
	font-size: 3.33333rem;
	margin-bottom: 0.495rem;
}

h2,
.beta {
	font-size: 48px;
	font-size: 2.66667rem;
	margin-bottom: 0.61875rem;
}

h3,
.gamma {
	font-size: 36px;
	font-size: 2rem;
	margin-bottom: 0.825rem;
}

h4,
.delta {
	font-size: 24px;
	font-size: 1.33333rem;
	margin-bottom: 1.2375rem;
}

h5,
.epsilon {
	font-size: 21px;
	font-size: 1.16667rem;
	margin-bottom: 1.41429rem;
}

h6,
.zeta {
	font-size: 18px;
	font-size: 1rem;
	margin-bottom: 1.65rem;
}

/**
 *
	Hyphens
 *
 */
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
	/* Accepted values: [ none | manual | auto ] */
	-webkit-hyphens: none;	/* Safari 5.1 thru 6, iOS 4.2 thru 6 */
	-moz-hyphens: none;		/* Firefox 16 thru 20 */
	-ms-hyphens: none;		/* IE10 */
	-o-hyphens: none;		/* PRESTO...haha LOL */
	hyphens: none;			/* W3C standard */
}

/**
 *
	Paragraphs
 *
 */

p {
	margin: 0 0 1.5em;
}

p + p {
	text-indent: 1.5em;
	margin-top: -1.5em;
}

/**
 *
	Code Blocks
 *
 */

pre code {
	word-wrap: normal;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
}

pre {
	white-space: pre;
}

code {
	white-space: pre;
	font-family: monospace;
}

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
	font-variant: small-caps;
	font-weight: 600;
	text-transform: lowercase;
	color: gray;
}
abbr:hover {
	cursor: help;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222222;
}

.drop-cap:first-letter {
	float: left;
	margin: 0;
	padding: 0.125em 0.125em 0 0;
	font-size: 6em;
	font-family: Copperplate;
	line-height: 0.5;
	text-indent: 0;
	background: transparent;
	color: inherit;
}

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
	display: inline;
	margin: 0;
}
.lining dt + dt:before,
.lining dd + dt:before {
	content: "\A";
	white-space: pre;
}
.lining dd + dd:before {
	content: ", ";
}
.lining dd:before {
	content: ": ";
	margin-left: -0.2rem;
}

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
	display: inline;
	counter-reset: definitions;
}
.dictionary-style dt + dt:before {
	content: ", ";
	margin-left: -0.2rem;
}
.dictionary-style dd {
	display: block;
	counter-increment: definitions;
}
.dictionary-style dd:before {
	content: counter(definitions, decimal) ". ";
}

/**
 * Stats Tab Markup
 *
	<ul class="stats-tabs">
		<li><a href="#">[value]<b>[name]</b></a></li>
	</ul>
 *
 * Extend this object into your markup.
 *
 */
.stats-tabs {
	padding: 0;
}
.stats-tabs li {
	display: inline-block;
	margin: 0 0.625rem 0 0;
	padding: 0 0.625rem 0 0;
	border-right: 0.125rem solid #cccccc;
}
.stats-tabs li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}
.stats-tabs li a {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: bold;
}
.stats-tabs li a b {
	display: block;
	margin: 0.125rem 0 0 0;
	font-size: 0.875rem;
	font-weight: normal;
}

/**
 * Blockquote Markup
 *
	<blockquote cite="">
		<p>&Prime;&Prime;</p>
		<cite>
			<small><a href=""></a></small>
		</cite>
	</blockquote>
 *
 * Extend this object into your markup.
 *
 */


/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
	position: relative;
	padding: 1em;
}
.pull-quote:before,
.pull-quote:after {
	height: 1em;
	opacity: 0.25;
	position: absolute;
	font-size: 72px;
	font-size: 4rem;
}
.pull-quote:before {
	content: '“';
	top:  0em;
	left: 0em;
}
.pull-quote:after {
	content: '”';
	bottom: 0em;
	right: 0em;
}


/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
