.psh {
  background-color: #1c1d21;
  color: #cbcdd2;
  margin: 1em 0;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #1c1d21;
  color: #cbcdd2;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #74757a;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #1c1d21;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #333437;
  color: #adaeaf;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #333437;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #adaeaf;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #333437;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #adaeaf;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #74757a;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #48494d;
  font-size: 13px;
  word-break: break-all;
  color: #adaeaf;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #363c3c;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #333b40;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #393841;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #3d393a;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #3d363b;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #3c3b3a;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #363c3c;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #3d363b;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #48494d;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #4fb4d8;
}

.psh .comment {
  color: #686b78;
}

.psh .entity.name.type {
  color: #cbcdd2;
}

.psh .entity.other.inherited-class {
  color: #cbcdd2;
}

.psh .keyword {
  color: #78bd65;
}

.psh .keyword.control {
  color: #78bd65;
}

.psh .keyword.operator {
  color: #eb3d54;
}

.psh .keyword.other.special-method {
  color: #ef7c2a;
}

.psh .keyword.other.unit {
  color: #ef7c2a;
}

.psh .keyword.other.use {
  color: #eb3d54;
}

.psh .keyword.other.namespace {
  color: #eb3d54;
}

.psh .storage {
  color: #78bd65;
}

.psh .storage.type {
  color: #cbcdd2;
}

.psh .storage.type.class {
  color: #78bd65;
}

.psh .storage.type.function {
  color: #78bd65;
}

.psh .storage.type.var {
  color: #eb3d54;
}

.psh .storage.type.const {
  color: #eb3d54;
}

.psh .storage.modifier {
  color: #eb3d54;
}

.psh .constant {
  color: #ef7c2a;
}

.psh .constant.character.escape {
  color: #ef7c2a;
}

.psh .constant.numeric {
  color: #ef7c2a;
}

.psh .constant.other.color {
  color: #ef7c2a;
}

.psh .constant.other.symbol {
  color: #78bd65;
}

.psh .variable {
  color: #cbcdd2;
}

.psh .variable.interpolation {
  color: #eb3d54;
}

.psh .variable.parameter.function {
  color: #cbcdd2;
}

.psh .invalid.illegal {
  background-color: #eb3d54;
  color: #1c1d21;
}

.psh .string {
  color: #4fb4d8;
}

.psh .string.regexp {
  color: #ef7c2a;
}

.psh .string.regexp .source.ruby.embedded {
  color: #eb3d54;
}

.psh .string.other.link {
  color: #eb3d54;
}

.psh .punctuation.definition.comment {
  color: .comment;
}

.psh .punctuation.definition.string {
  color: .string;
}

.psh .punctuation.definition.array, .psh .punctuation.definition.parameters, .psh .punctuation.definition.variable {
  color: #cbcdd2;
}

.psh .punctuation.definition.heading, .psh .punctuation.definition.identity {
  color: #ef7c2a;
}

.psh .punctuation.definition.bold {
  color: #eb3d54;
  font-weight: 700;
}

.psh .punctuation.definition.italic {
  color: #eb3d54;
  font-style: italic;
}

.psh .punctuation.section.embedded {
  color: #cbcdd2;
}

.psh .support.class {
  color: #cbcdd2;
}

.psh .support.function {
  color: #eb3d54;
}

.psh .support.function.any-method {
  color: #e5cd52;
}

.psh .entity.name.function {
  color: #e5cd52;
}

.psh .entity.name.class, .psh .entity.name.type.class {
  color: #cbcdd2;
}

.psh .entity.name.section {
  color: #ef7c2a;
}

.psh .entity.name.tag {
  color: #eb3d54;
}

.psh .entity.other.attribute-name {
  color: #e5cd52;
}

.psh .entity.other.attribute-name.id {
  color: #78bd65;
}

.psh .meta.class {
  color: #eb3d54;
}

.psh .meta.link {
  color: #eb3d54;
}

.psh .meta.require {
  color: #ef7c2a;
}

.psh .meta.selector {
  color: #eb3d54;
}

.psh .meta.separator {
  background-color: #686b78;
  color: #cbcdd2;
}

.psh .none {
  color: #cbcdd2;
}

.psh .markup.bold {
  color: #eb3d54;
  font-weight: 700;
}

.psh .markup.changed {
  color: #eb3d54;
}

.psh .markup.deleted {
  color: #eb3d54;
}

.psh .markup.italic {
  color: #eb3d54;
  font-style: italic;
}

.psh .markup.heading .punctuation.definition.heading {
  color: #ef7c2a;
}

.psh .markup.inserted {
  color: #78bd65;
}

.psh .markup.list {
  color: #eb3d54;
}

.psh .markup.quote {
  color: #eb3d54;
}

.psh .markup.raw.inline {
  color: #78bd65;
}

.psh .source.gfm .markup {
  -webkit-font-smoothing: auto;
}

.psh .source.gfm .markup.heading {
  color: #78bd65;
}

.psh .source.php .other.phpdoc {
  color: #848794;
}

.psh .blade.entity, .psh .blade.keyword, .psh .blade.punctuation {
  color: #78bd65;
}
