/* Webfont: Lato-LightItalic */@font-face {
    font-family: 'LatoLight';
    src: url('Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('Lato-LightItalic.ttf') format('truetype'); 
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

