/*! Vertical rhythm - BULLFRAME.CSS v1.6.3 add-on 
 * 
 * Follow baseline number '1.5' and compose to a vertical rhythm
 * ..or use the number you want.
 *
 * https://github.com/marco135/bullframe.css/tree/master/add-ons
 * MIT License
 */
 

html,
dt,
dd,
address,
pre {
  line-height: 1.5;
}

.bf-container {
  padding-top: 1.5em;
}

.tera,
.giga,
.gamma,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
pre,
menu,
ol,
ul,
dl,
blockquote {
  margin-top: 0;
}

hr {
  margin-top: 1.5em;
}

figure img + figcaption {
  margin-top: -1.5em;
}

p,
pre,
menu,
ol,
ul,
dl,
blockquote,
hr,
figure img,
figcaption,
address,
audio,
video,
.responsive-video-container,
iframe[src*="//www.youtube.com"],
iframe[src*="//vimeo.com"],
embed[src*="//www.youtube.com"],
table,
.responsive-table-container,
button,
.btn,
html input,
select,
textarea,
.img-left,
.img-right,
.alignnone,
.alignright,
.alignleft {
  margin-bottom: 1.5em;
}

@media screen and (max-width: 640px) { 

  .responsive-grid [class*="bf-col-"] {
    margin-bottom: 1.5em;
  }

}

legend {
  padding-bottom: 1.5em;
}

ol ul,
ul ul,
ol ol,
ul ol,
.responsive-video-container iframe[src*="//www.youtube.com"],
.responsive-video-container iframe[src*="//vimeo.com"],
.responsive-video-container embed[src*="//www.youtube.com"] {
  margin-bottom: 0;
}

ul,
ol,
.img-right,
.alignright {
	margin-left: 1.5em;
}

.img-left,
.alignleft {
	margin-right: 1.5em;
}

blockquote {
  padding-left: 1.5em;
}