/*
 Skin derived from Anthony Pipkin's gallery-button component
*/
.yui3-button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.yui3-button .yui3-button-icon  {
    cursor: pointer;
    display: block;
}
.yui3-button-icon-none .yui3-button-icon,
.yui3-button-icon-none  .yui3-button-icon  {
    display: none;
}
.yui3-button-iconright  .yui3-button-icon{
    float: right;
}
.yui3-button-iconleft  .yui3-button-icon {
    float: left;
}
.yui3-button-disabled:hover,
.yui3-button-disabled{
    cursor: default;
}
.yui3-button-disabled{
    cursor: default;
}