.luxbar-default {
  width: 100%;
  position: relative; }

.luxbar-static {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .luxbar-static .luxbar-checkbox:checked ~ .luxbar-menu {
    position: absolute; }

.luxbar-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }

.luxbar-hamburger span, .luxbar-hamburger span::before, .luxbar-hamburger span::after {
  display: block;
  height: 2px;
  width: 26px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease; }

.luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span {
  background-color: transparent; }
  .luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::before, .luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::after {
    margin-top: 0; }

.luxbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px; }

.luxbar-brand {
  height: 40px;
  padding: 13px; }

.luxbar-menu {
  min-height: 72px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  width: 100%; }

.luxbar-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0; }

.luxbar-menu a,
.luxbar-item a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

.luxbar-item {
  height: 72px; }
  .luxbar-item a {
    padding: 24px;
    display: block; }

.luxbar-hamburger {
  padding: 24px;
  position: relative;
  cursor: pointer; }
  .luxbar-hamburger span::before, .luxbar-hamburger span::after {
    content: '';
    position: absolute; }
  .luxbar-hamburger span::before {
    margin-top: -8px; }
  .luxbar-hamburger span::after {
    margin-top: 8px; }

.luxbar-checkbox {
  display: none; }
  .luxbar-checkbox:not(:checked) ~ .luxbar-menu {
    overflow: hidden;
    height: 72px;
    max-height: 72px; }
  .luxbar-checkbox:checked ~ .luxbar-menu {
    -webkit-transition: max-height 0.6s ease;
    transition: max-height 0.6s ease;
    max-height: calc(100vh - 72px);
    height: auto;
    overflow: auto; }

.dropdown {
  position: relative;
  height: auto;
  min-height: 72px; }
  .dropdown:hover > ul {
    position: relative;
    display: block;
    min-width: 100%; }
  .dropdown > a::after {
    position: absolute;
    content: '';
    right: 10px;
    top: 32px;
    border-width: 5px 5px 0;
    border-color: transparent;
    border-style: solid; }
  .dropdown > ul {
    display: block;
    overflow-x: hidden;
    list-style: none;
    padding: 0; }
    .dropdown > ul .luxbar-item {
      min-width: 100%;
      height: 36px;
      padding: 5px 10px 5px 40px; }
      .dropdown > ul .luxbar-item a {
        min-height: 36px;
        line-height: 36px;
        padding: 0; }

@media screen and (min-width: 768px) {
  .luxbar-navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .luxbar-header {
    margin-right: auto; }
  .luxbar-hamburger {
    display: none; }
  .luxbar-checkbox:not(:checked) ~ .luxbar-menu {
    overflow: visible; }
  .luxbar-menu .luxbar-item {
    border-top: 0; }
  .dropdown {
    height: 72px; }
    .dropdown:hover > ul {
      position: absolute;
      left: 0;
      top: 72px;
      padding: 0; }
    .dropdown > ul {
      display: none; }
      .dropdown > ul .luxbar-item {
        padding: 5px 10px; }
        .dropdown > ul .luxbar-item a {
          white-space: nowrap; } }

.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-doublespin span::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg); }

.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-doublespin span::after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg); }

.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-spin span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-spin span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.luxbar-menu-light, .luxbar-menu-light .dropdown ul {
  background-color: #e0e0e0;
  color: #212121; }

.luxbar-menu-light .active {
  background-color: #bdbdbd; }

.luxbar-menu-light .luxbar-item:hover {
  background-color: #bdbdbd; }

.luxbar-menu-light .luxbar-hamburger span {
  background-color: #212121; }
  .luxbar-menu-light .luxbar-hamburger span::before, .luxbar-menu-light .luxbar-hamburger span::after {
    background-color: #212121; }

.luxbar-menu-bs-inverse, .luxbar-menu-bs-inverse .dropdown ul {
  background-color: #222;
  color: #9d9d9d;
  font-size: 14px; }

.luxbar-menu-bs-inverse .dropdown > a::after {
  border-bottom-color: #9d9d9d; }

.luxbar-menu-bs-inverse .active {
  color: #fff; }

.luxbar-menu-bs-inverse .luxbar-item:hover {
  color: #fff; }

.luxbar-menu-bs-inverse .luxbar-hamburger {
  border: 1px solid #2f2f2f;
  border-radius: 5px; }
  .luxbar-menu-bs-inverse .luxbar-hamburger span {
    background-color: #9d9d9d; }
    .luxbar-menu-bs-inverse .luxbar-hamburger span::before, .luxbar-menu-bs-inverse .luxbar-hamburger span::after {
      background-color: #9d9d9d; }

.luxbar-menu-dark, .luxbar-menu-dark .dropdown ul {
  background-color: #212121;
  color: #fff; }

.luxbar-menu-dark .active {
  background-color: #424242; }

.luxbar-menu-dark .luxbar-item:hover {
  background-color: #424242; }

.luxbar-menu-dark .luxbar-hamburger span {
  background-color: #fff; }
  .luxbar-menu-dark .luxbar-hamburger span::before, .luxbar-menu-dark .luxbar-hamburger span::after {
    background-color: #fff; }

.luxbar-menu-transparent, .luxbar-menu-transparent .dropdown ul {
  background-color: inherit;
  color: #212121; }

.luxbar-menu-transparent .active {
  text-decoration: underline; }

.luxbar-menu-transparent .luxbar-item:hover {
  text-decoration: underline; }

.luxbar-menu-transparent .luxbar-hamburger span {
  background-color: #212121; }
  .luxbar-menu-transparent .luxbar-hamburger span::before, .luxbar-menu-transparent .luxbar-hamburger span::after {
    background-color: #212121; }

.luxbar-menu-material-red, .luxbar-menu-material-red .dropdown ul {
  background-color: #b71c1c;
  color: #fff; }

.luxbar-menu-material-red .active {
  background-color: #c62828; }

.luxbar-menu-material-red .luxbar-item:hover {
  background-color: #c62828; }

.luxbar-menu-material-red .luxbar-hamburger span {
  background-color: #fff; }
  .luxbar-menu-material-red .luxbar-hamburger span::before, .luxbar-menu-material-red .luxbar-hamburger span::after {
    background-color: #fff; }

.luxbar-menu-material-indigo, .luxbar-menu-material-indigo .dropdown ul {
  background-color: #1a237e;
  color: #fff; }

.luxbar-menu-material-indigo .active {
  background-color: #283593; }

.luxbar-menu-material-indigo .luxbar-item:hover {
  background-color: #283593; }

.luxbar-menu-material-indigo .luxbar-hamburger span {
  background-color: #fff; }
  .luxbar-menu-material-indigo .luxbar-hamburger span::before, .luxbar-menu-material-indigo .luxbar-hamburger span::after {
    background-color: #fff; }

.luxbar-menu-material-cyan, .luxbar-menu-material-cyan .dropdown ul {
  background-color: #006064;
  color: #fff; }

.luxbar-menu-material-cyan .active {
  background-color: #00838f; }

.luxbar-menu-material-cyan .luxbar-item:hover {
  background-color: #00838f; }

.luxbar-menu-material-cyan .luxbar-hamburger span {
  background-color: #fff; }
  .luxbar-menu-material-cyan .luxbar-hamburger span::before, .luxbar-menu-material-cyan .luxbar-hamburger span::after {
    background-color: #fff; }

.luxbar-menu-material-green, .luxbar-menu-material-green .dropdown ul {
  background-color: #1b5e20;
  color: #fff; }

.luxbar-menu-material-green .active {
  background-color: #2e7d32; }

.luxbar-menu-material-green .luxbar-item:hover {
  background-color: #2e7d32; }

.luxbar-menu-material-green .luxbar-hamburger span {
  background-color: #fff; }
  .luxbar-menu-material-green .luxbar-hamburger span::before, .luxbar-menu-material-green .luxbar-hamburger span::after {
    background-color: #fff; }

.luxbar-menu-material-amber, .luxbar-menu-material-amber .dropdown ul {
  background-color: #ff6f00;
  color: #fff; }

.luxbar-menu-material-amber .active {
  background-color: #ff8f00; }

.luxbar-menu-material-amber .luxbar-item:hover {
  background-color: #ff8f00; }

.luxbar-menu-material-amber .luxbar-hamburger span {
  background-color: #fff; }
  .luxbar-menu-material-amber .luxbar-hamburger span::before, .luxbar-menu-material-amber .luxbar-hamburger span::after {
    background-color: #fff; }

.luxbar-menu-material-brown, .luxbar-menu-material-brown .dropdown ul {
  background-color: #3e2723;
  color: #fff; }

.luxbar-menu-material-brown .active {
  background-color: #4e342e; }

.luxbar-menu-material-brown .luxbar-item:hover {
  background-color: #4e342e; }

.luxbar-menu-material-brown .luxbar-hamburger span {
  background-color: #fff; }
  .luxbar-menu-material-brown .luxbar-hamburger span::before, .luxbar-menu-material-brown .luxbar-hamburger span::after {
    background-color: #fff; }

.luxbar-menu-material-bluegrey, .luxbar-menu-material-bluegrey .dropdown ul {
  background-color: #263238;
  color: #fff; }

.luxbar-menu-material-bluegrey .active {
  background-color: #37474f; }

.luxbar-menu-material-bluegrey .luxbar-item:hover {
  background-color: #37474f; }

.luxbar-menu-material-bluegrey .luxbar-hamburger span {
  background-color: #fff; }
  .luxbar-menu-material-bluegrey .luxbar-hamburger span::before, .luxbar-menu-material-bluegrey .luxbar-hamburger span::after {
    background-color: #fff; }
