.aloha-editable {
	min-height: 1.2em;
	outline: none;
}
.aloha-editable ::selection,
.aloha-editable ::-moz-selection {
	background: #80B5F2;
	color: white;
}
.aloha-editable-zerowidthfix {
	padding: 0px 5px 0px 5px !important;
}



.aloha-logo {
	width:37px !important;
	height:25px !important;
	background-image: url('../img/gentics-logo.png') !important;
}
.aloha-maximize {
	background-image: url('../img/gentics-logo.png') !important;
}
.aloha-fade-out {
	background-image: url('../img/fade-out.png') !important;
	width:20px !important;
	height:20px !important;
}
.aloha-fade-in {
	background-image: url('../img/fade-in.png') !important;
	width:20px !important;
	height:20px !important;
}
.aloha-maximize {
	width:20px !important;
	height:20px !important;
	background-image: url('../img/maximize.png') !important;
}
.aloha-textarea {
	overflow: hidden;
	border:1px solid #ccc;
	padding:6px;
	overflow:auto;
}
