/* Standard Styles */
a {
	color:#787878;
}
a:visited {
	color: #787878;
}

a.dbx-toggle, a.dbx-toggle:visited {
	background-image:url(../../images/exp-coll-gray.png);
	background-repeat:no-repeat;
}

#ie6 a.dbx-toggle,
#ie6 a.dbx-toggle:visited {
	background-image:url(../../images/exp-coll-gray.gif);
	background-repeat:no-repeat;
}

.scheme a.dbx-toggle, .scheme a.dbx-toggle:visited {
	background-image:url(../../images/exp-coll-eee.png);
	background-repeat:no-repeat;
}

#ie6 .scheme a.dbx-toggle,
#ie6 .scheme a.dbx-toggle:visited {
	background-image:url(../../images/exp-coll-eee.gif);
	background-repeat:no-repeat;
}

.suf-widget h3.scheme {
	background: #636466 url(../../images/bg-gray-2.png) repeat-x top left;
}

#wrapper {
	border: 1px solid #c0c0c0;
	background-color: #f0f0f0;
}

/* Blog title */
.blogtitle a:hover {
	color: #787878;
}

/* search form */
input[type="submit"].searchsubmit {
	background: url(../../images/search-button-gray-2.png) no-repeat 0 0;
}

#ie6 #right-header-widgets .searchsubmit, #ie6 #left-header-widgets .searchsubmit, #ie6 #top-bar-right-widgets .searchsubmit, #ie6 #top-bar-left-widgets .searchsubmit,
#ie6 #sidebar .searchsubmit, #ie6 #sidebar-2 .searchsubmit, #ie6 #sidebar-b .searchsubmit, #ie6 #sidebar-2-b .searchsubmit, #ie6 #horizontal-outer-widgets-1 .searchsubmit, #ie6 #horizontal-outer-widgets-2 .searchsubmit {
	bac\kground: url(../../images/search-button-gray-2.gif) no-repeat 0 0;
}

/* main menu */
#nav {
	border-bottom: 1px solid #c0c0c0;
}

#nav ul li, #nav.continuous ul ul li, #nav-top.continuous ul ul li{
	border: 1px solid #c0c0c0;
}

#nav-top ul li a, #nav ul li a {
	color: #444;
	background-color: #f8f8ff;
}

#nav-top a.current, #nav-top a.current:visited, #nav-top a.current:hover, #nav-top a.current:active, #nav-top li a:hover,
#nav a.current, #nav a.current:visited, #nav a.current:hover, #nav a.current:active, #nav li a:hover {
	color: #eee;
	background: #636466 url(../../images/bg-gray-2.png) repeat-x top left;
}

#nav ul ul li {
	border: 1px solid #c0c0c0;
}

#nav.continuous, #nav-top.continuous {
	border-bottom: 1px solid #636466;
}
#nav-top.continuous a.current, #nav-top.continuous a.current:visited, #nav-top.continuous a.current:hover, #nav-top.continuous a.current:active,
#nav-top.continuous li a:hover, #nav-top.continuous li li a, #nav-top.continuous li li a:visited,
#nav.continuous a.current, #nav.continuous a.current:visited, #nav.continuous a.current:hover, #nav.continuous a.current:active,
#nav.continuous li a:hover, #nav.continuous li li a, #nav.continuous li li a:visited {
	color: #444;
	background: #f0f0f0;
}
#nav-top.continuous, #nav-top.continuous ul li,
#nav-top.continuous a, #nav-top.continuous a:visited, #nav-top.continuous li li a:hover,
#nav-top.continuous li li a.current, #nav-top.continuous li li a.current:visited, #nav-top.continuous li li a.current:hover, #nav-top.continuous li li a.current:active,
#nav.continuous, #nav.continuous ul li,
#nav.continuous a, #nav.continuous a:visited, #nav.continuous li li a:hover,
#nav.continuous li li a.current, #nav.continuous li li a.current:visited, #nav.continuous li li a.current:hover, #nav.continuous li li a.current:active {
	color: #eee;
	background: #636466 url(../../images/bg-gray-2.png) repeat-x top left;
}

#nav-top {
	background-color: #f0f0f0;
	border: 1px solid #c0c0c0;
	border-top: none;
}

#nav-top ul li{
	border: 1px solid #c0c0c0;
}

#nav-top ul ul li {
	border: 1px solid #c0c0c0;
}

/* sub menu */
#subnav {
	background: #fff;
	margin-top: 15px;
	border: 1px solid #c0c0c0;
}
#subnav ul {
	margin: 0px;
	padding: 0px 0px 0px 5px;
	list-style: none;
}
#subnav .current_page_item a,
#subnav .current_page_item a:visited,
#subnav .current_page_parent a,
#subnav .current_page_parent a:visited {
	color: #787878;
}
#subnav li a:hover {
	color: #787878;
}

/* Level 3 */
.hier-nav {
	background: #f0f0f0;
}

.hier-nav .current_page_item a, .hier-nav .current_page_item a:visited, .hier-nav .current_page_parent a, .hier-nav .current_page_parent a:visited {
	color: #787878;
}

.hier-nav li a:hover {
	color: #787878;
}

#top-bar-right-spanel-tab .toggle {
	border: 1px solid #c0c0c0;
}

#top-bar-right-spanel-tab .toggle a {
	background: #636466 url(../../images/bg-gray-2.png) repeat-x top left;
	color: #eee;
}

/* content */
.post .date {
	background: url(../../images/calgray-2.png) no-repeat;
	color: #eee;
}

.post .date span.day, .post .date span.month {
	color: #eee;
}
.post .date span.year {
	color: #eee;
}

.bookdata a:hover,
.postdata a:hover {
	color: #787878;
}

/* post title */
h1.posttitle a:hover,
h2.posttitle a:hover {
	color: #787878;
}
.tags a:hover {
	color: #787878;
}

.page-links span {
	border-color: #787878;
}

.page-links > span {
	background-color: #787878;
	color: #fff;
}

.page-links a:hover {
	background-color: #787878;
	color: #fff;
}

/* next & previous page navigation */
.page-nav a:hover {
	color: #787878;
}

.suf-page-nav a,
.suf-page-nav a:visited,
.suf-page-nav span {
	border-color: #787878;
	color: #787878;
}

.suf-page-nav a:hover {
	background-color: #787878;
}

.suf-page-nav span.current {
	background-color: #787878;
	color: #ffffff;
}

/* next & previous post navigation */
.post-nav a:hover {
	color: #787878;
}

/* Comments  */
h3#comments,
h3.comments {
	background-color: #f0f0f0;
}

h3#respond, h3.respond, #reply-title {
	background-color: #f0f0f0;
}

/* comment list */
.commentlist cite { color: #787878; }
.commentlist cite a, .commentlist cite a:visited { color: #787878; }
.commentlist li.alt { background-color: #f0f0f0; }

.comment-response-types span {
	border-color: #787878;
}

.comment-response-types > span {
	background-color: #787878;
	color: #fff;
}

.comment-response-types a:hover {
	background-color: #787878;
	color: #fff;
}

/* Credits  */
#page-footer, #cred {
	border-top: 1px solid #c0c0c0;
}

#cred a:hover {
	color: #787878;
}

.button, .button:visited, input[type="submit"], input[type="button"] {
	background: #636466 url(../../images/bg-gray-2.png) repeat-x top left;
	color: #eee;
}

/* sidebar */
.suf-widget h3,
.suf-widget h3 a,
.suf-widget h3 a:visited {
	color: #444;
}

.suf-widget h3.scheme,
.suf-widget h3.scheme a,
.suf-widget h3.scheme a:visited {
	color: #eee;
}

div.sidebar-tab-content a:hover,
div.sidebar-tab-content a:focus,
div.sidebar-tab-content a:active,
.suf-widget a:hover,
.suf-widget a:focus,
.suf-widget a:active,
.warea a:hover,
.warea a:focus,
.warea a:active {
	color: #787878;
}

.suf-mag-category li,
.sidebar-tab-content ul li,
.suf-widget li,
.suf-flat-widget li,
.suf-panel-widget li {
	background-image: url(../../images/icons/bulletgray.png);
}

.tab-box div.sbtab-content-categories ul li,
.widget_categories ul li {
	background-image: url(../../images/icons/folder-gray16.png);
}

/* meta */
div.sbtab-content-meta .rss,
.suf-widget .rss,
.suf-flat-widget .rss,
.suf-panel-widget .rss,
.widget_meta .rss {
	background-image: url(../../images/icons/008.png);
}

.widget_calendar td.with-posts { background: #636466; }
.widget_calendar td.with-posts a { color: #eee; }

#commentform label.fancy {
	background: #636466 url(../../images/bg-gray-2.png) repeat-x top left;
	color: #eee;
}

/* These settings are required for Featured Posts */
.sliderIndex a, .sliderIndex a:visited,
#sliderIndex a,
#sliderIndex a:visited {
	border-color: #787878;
	color: #787878;
}

.sliderIndex a:hover, .sliderIndex a.activeSlide,
#sliderIndex a:hover, #sliderIndex a.activeSlide,
.index-overlaid .sliderIndex a:hover, .index-overlaid .sliderIndex a.activeSlide,
.index-overlaid #sliderIndex a:hover, .index-overlaid #sliderIndex a.activeSlide {
	background-color: #787878;
	color: #fff;
}

.pager-bullets #sliderPager a, .pager-bullets .sliderPager a { background: url(../../images/slider-gray.png) transparent no-repeat center center; }
.pager-bullets #sliderPager a.activeSlide, .pager-bullets .sliderPager a.activeSlide, .pager-bullets #sliderPager a:hover, .pager-bullets .sliderPager a:hover { background: url(../../images/slider-black.png) transparent no-repeat center center; }

/* These settings are for common plugins */
.wp-pagenavi a,
.wp-pagenavi a:visited,
.wp-pagenavi span {
	border-color: #787878;
	color: #787878;
}

.wp-pagenavi span.current {
	background-color: #787878;
	color: #fff;
}

.wp-pagenavi a:hover {
	background-color: #787878;
	color: #fff;
}

.warea ul.sidebar-tabs li a.tab-current,
ul.sidebar-tabs li a.tab-current {
	background: #636466 url(../../images/bg-gray-2.png) repeat-x top left;
	color: #eee;
}

/* Magazine */
.suf-mag-headline-block li.suf-mag-headline a.tab-current,
h2.suf-mag-category-title,
a.excerpt-more-append,
a.excerpt-more-append:visited,
a.suf-mag-excerpt-full-story,
a.suf-mag-excerpt-full-story:visited,
.warea a.suf-mag-category-all-posts,
.warea a.suf-mag-category-all-posts:visited,
a.suf-mag-category-all-posts,
a.suf-mag-category-all-posts:visited {
	background: #636466 url(../../images/bg-gray-2.png) repeat-x top left;
	color: #eee;
}

.exif-button { background: #636466 url(../../images/bg-gray-2.png) repeat-x top left; border-color: #c0c0c0; }
.exif-button a { color: #eee; }
.exif-button .open .icon { background-position: -48px -96px; }
.exif-button .close .icon { background-position: -64px -96px; }

.mm-warea { background: #fff; border: 1px solid #c0c0c0; border-top: none; color: #444; }
#nav .mm-warea .mm-widget ul li, #nav-top .mm-warea .mm-widget ul li { background: url(../../images/icons/bulletgray.png) transparent no-repeat; color: #444; }
#nav .mm-warea .mm-widget a, #nav-top .mm-warea .mm-widget a,
#nav .mm-warea .mm-widget a:visited, #nav-top .mm-warea .mm-widget a:visited,
#nav .mm-warea .mm-widget a:hover, #nav-top .mm-warea .mm-widget a:hover {
	background: none;
	color: #787878;
}
