.jk-outline{
	width: 100%;
}
.jk-outlineitem-outer{

}
.jk-outlineitem{
	height:16px;
	font-size:0;
	white-space: nowrap;
	overflow:hidden;
}
.jk-outlineitem a,
.jk-outlineitem a:link,
.jk-outlineitem a:visited{
	color: black;
	font-size: 12px;
	text-decoration: none;
}
.jk-outlineitem img{
	border-width:0;
}
.jk-outlineitem #button{
	height: 16px;
	vertical-align:top;
	display:inline-block;
	overflow:hidden;
}
.jk-outlineitem #checkbox{
	height: 16px;
	vertical-align:top;
	display:inline-block;
	overflow:hidden;
}
.jk-outlineitem #icon{
	height: 16px;
	vertical-align:top;
	display:inline-block;
	overflow:hidden;
}
.jk-outlineitem #icon img{
	width: 16px;
	height: 16px;
}
.jk-outlineitem #link{
	margin-left: 1px;
	border: dotted 1px transparent;
	padding: 0 2;
	line-height: 14px;
	vertical-align:top;
	display:inline-block;
	overflow:hidden;
}
.jk-outlineitem #link,
.jk-outlineitem #link a,
.jk-outlineitem #link a:link,
.jk-outlineitem #link a:visited{
	text-decoration: none;
}
.jk-outlineitem.jk--hover{

}
.jk-outlineitem.jk--hover #link,
.jk-outlineitem.jk--hover #link a,
.jk-outlineitem.jk--hover #link a:link,
.jk-outlineitem.jk--hover #link a:visited{
	color: darkblue;
	text-decoration: underline;
}
.jk-outlineitem.jk--active{
	
}
.jk-outlineitem.jk--active #link,
.jk-outlineitem.jk--active #link a,
.jk-outlineitem.jk--active #link a:link,
.jk-outlineitem.jk--active #link a:visited{
	color: white;
	border-color: #FFAB1C;
	background-color: activecaption;
}
