/*! Version: 0.46.0
Date: 2016-01-12 */

/* Compatible with Leaflet 0.7 */
.leaflet-control-locate a {
  font-size: 1.4em;
  color: #444;
}
.leaflet-control-locate.active a {
  color: #2074B6;
}
.leaflet-control-locate.active.following a {
  color: #FC8428;
}

/* Mapbox specific adjustments */
.leaflet-control-locate a {
  padding: 3px 0 0 8px;
}
.leaflet-control-locate.requesting a {
  padding: 3px 0 0 4px;
}
