/* Compatible with Leaflet 0.5.1 */

.leaflet-bar-part-single {
	-webkit-border-radius: 4px 4px 4px 4px;
	        border-radius: 4px 4px 4px 4px;
	border-bottom: none;
}

.leaflet-touch .leaflet-bar-part-single {
	-webkit-border-radius: 7px 7px 7px 7px;
	        border-radius: 7px 7px 7px 7px;
	border-bottom: none;
}

.leaflet-control-locate a {
	background-image: url(images/locate.png);
	background-position: -4px -4px;
}

.leaflet-touch .leaflet-control-locate a {
	background-image: url(images/locate_touch.png);
	background-position: -2px -2px;
}

.leaflet-control-locate.requesting a {
    background-image: url(images/spinner.gif);
    background-position: 50% 50%;
}

.leaflet-control-locate.active a {
    background-position: -34px -4px;
}

.leaflet-touch .leaflet-control-locate.active a {
    background-position: -32px -2px;
}

.leaflet-control-locate.active.following a {
	background-position: -64px -4px;
}

.leaflet-touch .leaflet-control-locate.active.following a {
	background-position: -62px -2px;
}
