/*
* Wing 0.1.9
* Copyright 2016, Kabir Shah
* http://usewing.ml/
* Free to use under the MIT license.
* https://kingpixil.github.io/license
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base
- Typography
- Grid
- Links
- Buttons
- Forms
- Lists
- Animations
- Utilities
- Misc
- Clear
*/
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*------------------------------------------------------------
  Base Style
------------------------------------------------------------*/

/*making font-sizes base 10*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

/*setting up font sizes and base font family*/
body {
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*------------------------------------------------------------
  Typography
------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: "Quicksand";
}

h1, h2, h3 {
  letter-spacing: -.1rem;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}


/* Larger than phablet */

@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3.0rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto 1.5em;
  width: 80%;
}

/* .row */
.row {
  margin-top: 2.0833%;
  padding: 0 1.04165%;
}

.row:after {
  display: table;
  clear: both;
  content: '';
}

/* col */
.row [class^='col-'], .row [class*=" col-"] {
  float: left;
  min-height: 50px;
  margin-left: 2.083333%;
}

.row [class^='col-']:first-child, .row [class*=" col-"]:first-child{
  margin-left: 0;
}

/* .col-1 */
.row .col-1 {
  width: 6.42291%;
}

/* .col-2 */
.row .col-2 {
  width: 14.930208%;
}

/* .col-3 */
.row .col-3 {
  width: 23.4375%;
}

/* .col-4 */
.row .col-4 {
  width: 31.94375%;
}

/* .col-5 */
.row .col-5 {
  width: 40.25%;
}

/* .col-6 */
.row .col-6 {
  width: 48.958333%;
}

/* .col-7 */
.row .col-7 {
  width: 57.464583%;
}

/* .col-8 */
.row .col-8 {
  width: 65.970833%;
}

/* .col-9 */
.row .col-9 {
  width: 74.404166%;
}

/* .col-10 */
.row .col-10 {
  width: 82.9833%;
}

/* .col-11 */
.row .col-11 {
  width: 91.489583%;
}

/* .col-12 */
.row .col-12 {
  width: 100%;
}

/*

    Mediaqueries

*/
@media screen and (max-width: 768px) {
  .row {
    margin-top: 0;
  }

  .row [class^='col-'], .row [class*=" col-"] {
    width: 100%;
    margin-top: 2.0833%;
    margin-left: 0;
  }
}

/*------------------------------------------------------------
  Buttons/Components
------------------------------------------------------------*/

.btn, button, [type=submit] {
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  -webkit-transition: all 60ms ease-in-out;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: uppercase;
  border: 0 none;
  border-radius: 4px;
  color: #FFFFFF;
  background: #333030;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn:hover, button:hover, [type=submit]:hover {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  opacity: .85;
}
.btn:active, button:active, [type=submit]:active {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  opacity: .75;
}
.btn:focus, button:focus, [type=submit]:focus {
  outline: none;
}

.btn:disabled, button:disabled, [type=submit]:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}


/* Button Outline */

.btn-outline {
  border: 3px solid #fff;
  color: #fff;
  background: transparent;
  transition: all 0.5s ease;
}

.btn-outline:hover,
.btn-outline:active {
  color: #000;
  background: #fff;
}

.btn-outline-inverted {
  border: 3px solid #000;
  color: #000;
  background: transparent;
  transition: all 0.5s ease;
}

.btn-outline-inverted:hover,
.btn-outline-inverted:active {
  color: #fff;
  background: #000;
}


/* Button Clear */

.btn-clear {
    background: transparent;
    color: gray;
}

/*------------------------------------------------------------
  Forms
------------------------------------------------------------*/

/*base form styles*/
input[type=text], input[type=password], input[type=email], input[type=search], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: 'Open Sans';
}

/*styling textarea*/
textarea, textarea[type=text] {
    font-family: 'Open Sans';
    width: 100%;
    height: 100px;
    margin: 8px 0;
    padding: 14px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*set border on focus*/
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, textarea:focus, textarea[type=text]:focus {
    border: 1px solid #99b3ff;
    border-radius: 4px;
}

/*------------------------------------------------------------
  Links
------------------------------------------------------------*/
a {
    color: #2a92ea;
}
/*------------------------------------------------------------
  Lists
------------------------------------------------------------*/

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

/*------------------------------------------------------------
  Utilities
------------------------------------------------------------*/

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.horizontal-align {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------------------------------------------------------
  Misc
------------------------------------------------------------*/


code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; 
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}