/* kicstart 0.1.x (nightly) (c) http://w2ui.com/kickstart, vitmalina@gmail.com */
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background-color: #F6F6F6;
}
a {
  color: #3379B8 !important;
  text-decoration: none;
}
a :hover {
  text-decoration: underline;
}
input[type=text][disabled],
input[type=password][disabled],
textarea[disabled] {
  background-color: #eee;
}
#app-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAYAAABmWJ3mAAAASElEQVQIW2MsKq3+z8bGzvDr108GEPjy6QODkIg4A2NFddN/mCBIAqTo3ZuXDIxp6dn/efgEwKqRdTKCjIJpR9YJloBpR9YJALzhI+c9hccRAAAAAElFTkSuQmCC);
}
#app-top {
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  display: none;
  padding: 0px;
  margin: 0px;
}
#app-top #app-toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 100%;
  display: none;
  box-shadow: inset 0px 0px 55px rgba(10, 20, 30, 0.8);
}
#app-top #app-tabs {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 100%;
  display: none;
  border-top: 1px solid rgba(5, 5, 5, 0.01);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0px 55px rgba(10, 20, 30, 0.7);
  margin: 0px;
  padding: 4px 0px 0px 0px;
}
#app-header {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  width: 100%;
  display: none;
  padding: 17px 15px 0px 15px;
  font-size: 20px;
  color: #606060;
  text-shadow: 0px 1px 2px #fff;
  background-image: -webkit-linear-gradient(#ebebeb, #d2d4d4);
  background-image: -moz-linear-gradient(#ebebeb, #d2d4d4);
  background-image: -ms-linear-gradient(#ebebeb, #d2d4d4);
  background-image: -o-linear-gradient(#ebebeb, #d2d4d4);
  background-image: linear-gradient(#ebebeb, #d2d4d4);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#ffd2d4d4', GradientType=0);
  border-bottom: 1px solid #a1a1a1;
  box-shadow: 0px 2px 4px #bbb;
}
#app-main {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 11px;
  background-color: #EDF1F6 !important;
}
.w2ui-layout > div .w2ui-resizer {
  background-color: transparent;
}
.w2ui-layout > div .w2ui-resizer:hover,
.w2ui-layout > div .w2ui-resizer.active {
  background-color: #C8CAD1;
}
.w2ui-grid .w2ui-grid-toolbar {
  padding-left: 6px;
  padding-top: 9px;
  height: 40px;
}
.w2ui-sidebar .w2ui-sidebar-div td.w2ui-node-data .w2ui-node-image.w2ui-icon {
  margin-top: 0px;
}
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node-image {
  width: 22px;
  text-align: center;
}
.w2ui-overlay table.w2ui-drop-menu .w2ui-icon {
  padding-top: 1px;
}
.w2ui-icon.icon-reload,
.w2ui-icon.icon-columns,
.w2ui-icon.icon-add,
.w2ui-icon.icon-delete,
.w2ui-icon.icon-save,
.w2ui-icon.icon-edit,
.w2ui-icon.icon-edit,
.w2ui-icon.icon-bullet-black,
.w2ui-icon.icon-page,
.w2ui-icon.icon-search,
.w2ui-icon.icon-search-down {
  mask: none;
  -webkit-mask: none;
  -moz-mask: none;
  -ms-mask: none;
}
/*************************************************
* ---- Top Toolbar ----
*/
#app-toolbar {
  background-color: transparent;
  padding: 0px 10px;
}
#app-toolbar table {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}
#app-toolbar table.w2ui-button {
  height: 28px;
  padding: 3px 5px 4px 5px;
  border-radius: 0px;
  margin: -1px 0px 0px 0px;
}
#app-toolbar table.w2ui-button .w2ui-tb-caption {
  color: #bbb;
  text-shadow: 1px 1px 1px #333;
  padding-top: 2px;
}
#app-toolbar table.w2ui-button .w2ui-tb-image > span {
  color: #ddd;
  text-shadow: 1px 1px 1px #333;
}
#app-toolbar table.w2ui-button.over {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.1);
}
#app-toolbar table.w2ui-button.over .w2ui-tb-caption,
#app-toolbar table.w2ui-button.over .w2ui-tb-image > span {
  color: #fff;
}
#app-toolbar table.w2ui-button.down {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.5);
}
#app-toolbar table.w2ui-button.checked {
  border: 1px solid #000000;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.3);
}
#app-toolbar table.w2ui-button.checked .w2ui-tb-caption {
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}
#app-toolbar table.w2ui-button.checked .w2ui-tb-image > span {
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}
/*************************************************
* ---- Tabs ----
*/
#app-tabs.w2ui-tabs table {
  border-bottom: 0px solid #000;
}
#app-tabs.w2ui-tabs .w2ui-tab {
  color: #dcdcdc;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 3px;
  text-shadow: 0px 0px 1px #000;
}
#app-tabs.w2ui-tabs .w2ui-tab.active {
  background-color: #EAEAEA;
  border: 1px solid #444;
  border-bottom: 1px solid #EAEAEA;
  text-shadow: none;
  color: black;
}
#app-tabs.w2ui-tabs .w2ui-tab-close {
  margin-right: 8px;
  opacity: 1;
}
.w2ui-tabs[name=table_tabs] {
  background-color: #f2f2f2;
}
.w2ui-tabs[name=table_tabs] .w2ui-tab {
  margin-right: 3px;
}
.w2ui-tabs[name=table_tabs] .w2ui-tab.active {
  background-color: #DCE0E6;
  text-shadow: 1px 1px 1px white;
}
.login-box {
  font-family: verdana;
  font-size: 11px;
  margin-top: 70px;
  text-align: center;
}
.login-box a {
  color: #497B90;
  text-decoration: none;
}
.login-box a:hover {
  text-decoration: underline;
}
.login-box input[type=text],
.login-box input[type=password] {
  border-radius: 4px;
  padding: 4px;
  border: 1px solid silver;
  font-size: 18px;
  width: 220px;
}
.login-box .login-msg {
  color: red;
  font-size: 12px;
}
.login-box .login-center {
  width: 500px;
  margin: 10px auto;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  padding: 20px;
}
.login-box .login-center .login-img {
  height: 200px;
  width: 200px;
  float: left;
  border-right: 1px solid #dfdfdf;
}
.login-box .login-center .login-img div {
  margin-top: 40%;
  font-weight: bold;
  color: #777;
  font-size: 14px;
}
.login-box .login-center .login-input {
  margin-left: 230px;
  text-align: left;
}
.login-box .login-center .login-input span {
  margin: 20px 0px 3px 0px;
  color: #999;
  font-weight: bold;
  display: block;
}
.login-box .login-footer {
  margin-top: 25px;
  color: #777;
}
