* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
}
.progress {
    background-color: #000;
    height: 2px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    -webkit-transition: width 0.2s, opacity 0.4s;
    transition: width 0.2s, opacity 0.4s;
    width: 0%;
    z-index: 999999;
}
html, body {
    height: 100%;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
    color: #000;
}
img {
    max-width: 100%;
}
kbd {
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 3px;
    font-size: 12px !important;
    line-height: 12px;
    vertical-align: middle;
    border: solid 1px #ccc;
    border-radius: 3px;
}
/* navbar */
nav {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    margin: 25px 60px 0 0;
    text-align: right;
}
nav p {
    margin: 0;
}
nav ul, nav li {
    list-style: none;
    display: inline-block;
    margin: 0;
}
nav a {
    margin: 0 1em;
    padding: 5px 0;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    -webkit-transition: color .3s;
    transition: color .3s;
}
nav a:hover {
    color: #000;
}
nav a.active {
    color: #000;
    border-bottom: 2px solid #000;
}
/* navbar dropdown */
nav li {
    position: relative;
    display: inline-block;
}
nav li ul {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #000;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 1em;
    top: 26px;
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transition: opacity .4s ease-out, -webkit-transform .2s ease;
    transition: opacity .4s ease-out, -webkit-transform .2s ease;
    transition: opacity .4s ease-out, transform .2s ease;
    transition: opacity .4s ease-out, transform .2s ease, -webkit-transform .2s ease;
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
}
nav li ul li {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 4px 10px;
    white-space: nowrap;
}
nav li ul a {
    display: block;
    margin: 0;
    padding: 0;
}
nav li ul a.active {
    border-bottom: 0;
}
nav li:hover ul {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transition: opacity .4s ease, -webkit-transform .2s ease-out;
    transition: opacity .4s ease, -webkit-transform .2s ease-out;
    transition: opacity .4s ease, transform .2s ease-out;
    transition: opacity .4s ease, transform .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transition-delay: 0;
            transition-delay: 0;
}
nav.no-badge {
    margin-right: 25px;
}
/* github corner */
.github-corner {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    text-decoration: none;
    border-bottom: 0;
}
.github-corner svg {
    color: #fff;
    height: 80px;
    width: 80px;
    fill: #000;
}
.github-corner:hover .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
            animation: octocat-wave 560ms ease-in-out;
}
/* main */
main {
    width: 100vw;
    height: 100%;
    position: relative;
}
.anchor {
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: inline-block;
}
.anchor span {
    color: #000;
}
.anchor:hover {
    text-decoration: underline;
}
/* sidebar */
.sidebar {
    border-right: 1px solid rgba(0, 0, 0, .07);
    overflow-y: auto;
    padding: 40px 0;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-transition: -webkit-transform 250ms ease-out;
    transition: -webkit-transform 250ms ease-out;
    transition: transform 250ms ease-out;
    transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
    width: 300px;
    z-index: 20;
}
.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar ul, .sidebar ul li {
    list-style: none;
}
.sidebar ul li a {
    display: block;
    border-bottom: none;
}
.sidebar ul li ul {
    padding-left: 20px;
}
/* sidebar toggle */
.sidebar-toggle {
    background-color: transparent;
    border: 0;
    outline: none;
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    width: 30px;
    z-index: 30;
    outline: none;
    width: 284px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
.sidebar-toggle .sidebar-toggle-button:hover {
    opacity: .4;
}
.sidebar-toggle span {
    background-color: #000;
    display: block;
    width: 16px;
    height: 2px;
    margin-bottom: 4px;
}
body.sticky .sidebar, body.sticky .sidebar-toggle {
    position: fixed;
}
/* main content */
.content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
    position: absolute;
    padding-top: 20px;
    -webkit-transition: left 250ms ease;
    transition: left 250ms ease;
}
/* markdown content found on pages */
.markdown-section {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px 15px 40px 15px;
}
.markdown-section > * {
    box-sizing: border-box;
    font-size: inherit;
}
.markdown-section >:first-child {
    margin-top: 0!important;
}
.markdown-section table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 1em;
}
.markdown-section th {
    font-weight: 700;
    padding: 6px 13px;
    border: 1px solid #ddd;
}
.markdown-section td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
.markdown-section tr {
    border-top: 1px solid #ccc;
}
.markdown-section tr:nth-child(2n) {
    background-color: #f8f8f8;
}
body.close .sidebar {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
}
body.close .sidebar-toggle {
    width: auto;
}
body.close .content {
    left: 0;
}
@media (max-width: 600px) {
    .github-corner, .sidebar-toggle, .sidebar {
        position: fixed;
    }
    nav {
        margin-top: 16px;
    }
    nav li ul {
        top: 30px;
    }
    main {
        height: auto;
        overflow-x: hidden;
    }
    .sidebar {
        left: -300px;
        -webkit-transition: -webkit-transform 250ms ease-out;
        transition: -webkit-transform 250ms ease-out;
        transition: transform 250ms ease-out;
        transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
    }
    .content {
        left: 0;
        max-width: 100vw;
        position: static;
        -webkit-transition: -webkit-transform 250ms ease;
        transition: -webkit-transform 250ms ease;
        transition: transform 250ms ease;
        transition: transform 250ms ease, -webkit-transform 250ms ease;
    }
    nav, .github-corner {
        -webkit-transition: -webkit-transform 250ms ease-out;
        transition: -webkit-transform 250ms ease-out;
        transition: transform 250ms ease-out;
        transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
    }
    .sidebar-toggle {
        width: auto;
        background-color: transparent;
    }
    body.close .sidebar {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
    }
    body.close .sidebar-toggle {
        width: 284px;
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-transition: 1s background-color;
        transition: 1s background-color;
    }
    body.close .content {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
    }
    body.close nav, body.close .github-corner {
        display: none;
    }
    .github-corner .octo-arm {
        -webkit-animation: octocat-wave 560ms ease-in-out;
                animation: octocat-wave 560ms ease-in-out;
    }
    .github-corner:hover .octo-arm {
        -webkit-animation: none;
                animation: none;
    }
}
@-webkit-keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg);
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
    }
}
@keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg);
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
    }
}
