@charset "UTF-8";
@font-face {
  font-family: 'OpenWeb Icons';
  src: url("../font/openwebicons.eot");
  src: url("../font/openwebicons.eot?#iefix") format("embedded-opentype"), url("../font/openwebicons.woff2") format("woff2"), url("../font/openwebicons.woff") format("woff"), url("../font/openwebicons.ttf") format("truetype"), url("../font/openwebicons.svg#openweb_iconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'OpenWeb Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: center;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

li[class^="icon-"], li[class*=" icon-"] {
  display: block;
}

.icon-apml:before {
  content: "";
}

.icon-open-share:before {
  content: "";
}

.icon-open-share-simple:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-share-simple:before {
  content: "";
}

.icon-feed:before {
  content: "";
}

.icon-feed-simple:before {
  content: "";
}

.icon-ostatus:before {
  content: "";
}

.icon-ostatus-simple:before {
  content: "";
}

.icon-opml:before {
  content: "";
}

.icon-activity:before {
  content: "";
}

.icon-activity-simple:before {
  content: "";
}

.icon-microformats:before {
  content: "";
}

.icon-geo:before {
  content: "";
}

.icon-opensearch:before {
  content: "";
}

.icon-oauth:before {
  content: "";
}

.icon-openid:before {
  content: "";
}

.icon-semantic-web:before {
  content: "";
}

.icon-rdf:before {
  content: "";
}

.icon-rdfa:before {
  content: "";
}

.icon-owl:before {
  content: "";
}

.icon-dataportability:before {
  content: "";
}

.icon-federated:before {
  content: "";
}

.icon-web-intents:before {
  content: "";
}

.icon-open-web:before {
  content: "";
}

.icon-xmpp:before {
  content: "";
}

.icon-html5:before {
  content: "";
}

.icon-css3:before {
  content: "";
}

.icon-connectivity:before {
  content: "";
}

.icon-semantics:before {
  content: "";
}

.icon-3deffects:before {
  content: "";
}

.icon-device-access:before {
  content: "";
}

.icon-multimedia:before {
  content: "";
}

.icon-offline-storage:before {
  content: "";
}

.icon-perfintegration:before {
  content: "";
}

.icon-git:before {
  content: "";
}

.icon-webhooks:before {
  content: "";
}

.icon-osi:before {
  content: "";
}

.icon-opensource:before {
  content: "";
}

.icon-opengraph:before {
  content: "";
}

.icon-epub:before {
  content: "";
}

.icon-qr:before {
  content: "";
}

.icon-foaf:before {
  content: "";
}

.icon-info-card:before {
  content: "";
}

.icon-browserid:before {
  content: "";
}

.icon-remote-storage:before {
  content: "";
}

.icon-persona:before {
  content: "";
}

.icon-odata:before {
  content: "";
}

.icon-markdown:before {
  content: "";
}

.icon-tosdr:before {
  content: "";
}

.icon-pub:before {
  content: "";
}

.icon-sub:before {
  content: "";
}

.icon-hubbub:before {
  content: "";
}

.icon-pubsubhubbub:before {
  content: "";
}

.icon-cc:before {
  content: "";
}

.icon-cc-by:before {
  content: "";
}

.icon-cc-nc:before {
  content: "";
}

.icon-cc-nc-eu:before {
  content: "";
}

.icon-cc-nc-jp:before {
  content: "";
}

.icon-cc-sa:before {
  content: "";
}

.icon-cc-nd:before {
  content: "";
}

.icon-cc-public:before {
  content: "";
}

.icon-cc-zero:before {
  content: "";
}

.icon-cc-share:before {
  content: "";
}

.icon-cc-remix:before {
  content: "";
}

.icon-hatom:before {
  content: "";
}

.icon-hresume:before {
  content: "";
}

.icon-hcard-add:before {
  content: "";
}

.icon-hcard-download:before {
  content: "";
}

.icon-indieweb:before {
  content: "";
}

.icon-indiewebcamp:before {
  content: "";
}

.icon-webfinger:before {
  content: "";
}

.icon-bitcoin:before {
  content: "";
}

.icon-bitcoin-simple:before {
  content: "";
}

.icon-svg:before {
  content: "";
}

.icon-json-ld:before {
  content: "";
}

.icon-tent:before {
  content: "";
}

.icon-copyleft:before {
  content: "";
}

.icon-gnu:before {
  content: "";
}

.icon-ofl-attribution:before {
  content: "";
}

.icon-ofl-share:before {
  content: "";
}

.icon-ofl-renaming:before {
  content: "";
}

.icon-ofl-selling:before {
  content: "";
}

.icon-ofl-embedding:before {
  content: "";
}

.icon-webmention:before {
  content: "";
}

.icon-javascript:before {
  content: "";
}

.icon-wtfpl:before {
  content: "";
}

.icon-ofl:before {
  content: "";
}

.icon-wordpress:before {
  content: "";
}

.icon-owncloud:before {
  content: "";
}

.icon-cccs:before {
  content: "";
}

.icon-barcamp:before {
  content: "";
}

.icon-indiehosters:before {
  content: "";
}

.icon-known:before {
  content: "";
}

.icon-mozilla:before {
  content: "";
}

.icon-unhosted:before {
  content: "";
}

.icon-diaspora:before {
  content: "";
}

.icon-indie:before {
  content: "";
}

.icon-ghost:before {
  content: "";
}

.icon-webplattform:before {
  content: "";
}

.icon-opensourcedesign:before {
  content: "";
}

.icon-opendesign:before {
  content: "";
}

.icon-gnusocial:before {
  content: "";
}

.icon-gnusocial-simple:before {
  content: "";
}

.icon-apml-colored:before {
  content: "";
  color: #AFDD63;
}

.icon-open-share-colored:before {
  content: "";
  color: #538439;
}

.icon-share-colored:before {
  content: "";
  color: #538439;
}

.icon-feed-colored:before {
  content: "";
  color: #EA680B;
}

.icon-ostatus-colored:before {
  content: "";
  color: #FF6600;
}

.icon-opml-colored:before {
  content: "";
  color: #2490A1;
}

.icon-activity-colored:before {
  content: "";
  color: #4FB2D9;
}

.icon-microformats-colored:before {
  content: "";
  color: #85BC07;
}

.icon-geo-colored:before {
  content: "";
  color: #990000;
}

.icon-opensearch-colored:before {
  content: "";
  color: #5050f3;
}

.icon-html5-colored:before {
  content: "";
  color: #E34C26;
}

.icon-git-colored:before {
  content: "";
  color: #F05133;
}

.icon-osi-colored:before {
  content: "";
  color: #3DA639;
}

.icon-opensource-colored:before {
  content: "";
  color: #3DA639;
}

.icon-epub-colored:before {
  content: "";
  color: #85b916;
}

.icon-info-card-colored:before {
  content: "";
  color: #BF84E5;
}

.icon-remote-storage-colored:before {
  content: "";
  color: #ff4e09;
}

.icon-odata-colored:before {
  content: "";
  color: #EA680B;
}

.icon-pub-colored:before {
  content: "";
  color: #99cc00;
}

.icon-sub-colored:before {
  content: "";
  color: #ffff00;
}

.icon-hubbub-colored:before {
  content: "";
  color: #ff6fcf;
}

.icon-javascript-colored:before {
  content: "";
  color: #f0db4f;
}

.icon-gnusocial-colored:before {
  content: "";
  color: #a22430;
}
