/**
 * VideoPress admin media styles
 */
.videopress-modal-backdrop {
	background: #000;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
}

.videopress-modal {
	padding: 10px 20px;
	background: white;
	position: absolute;
	top: 0;
	width: 440px;
	overflow: hidden;
	left: 50%;
	margin-left: -220px;
	z-index: 101;
	box-shadow: 2px 2px 5px 2px rgba( 0, 0, 0, 0.5 );
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.videopress-modal .submit {
	text-align: right;
	padding: 10px 0 5px;
}

.videopress-preview {
	display: block;
	float: right;
	width: 65%;
	margin-top: 18px;
	background: black;
	min-height: 97px;
	text-decoration: none;
}

.vp-preview span.videopress-preview-unavailable {
	width: 65%;
	float: right;
	text-align: left;
	margin-right: 0;
}

.videopress-preview img {
	float: left;
	width: 100%;
}

.videopress-preview span {
	display: block;
	padding-top: 40px;
	color: white !important;
	text-align: center;
}

.vp-setting .help {
	margin: 0 0 4px 35%;
}

.media-sidebar .vp-setting input[type="checkbox"] {
	float: left;
	margin-top: 10px;
}

.vp-setting label {
	float: left;
	margin: 8px 8px 0 5px;
	max-width: 135px;
}

.vp-setting input[type='radio'] {
	float: left;
	margin-top: 9px;
	width: auto;
}

.vp-preview span {
	margin-top: 18px;
}

.uploader-videopress {
	margin: 16px;
}

.uploader-videopress .videopress-errors div {
	margin: 16px 0;
}