:global(.psh) {
  background-color: #000;
  color: #d3d3d3;
}

:global(.psh figure) {
  margin: 0;
}

:global(.psh pre) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:global(.psh code), :global(.psh samp) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
}

:global(.psh code::-moz-selection), :global(.psh samp::-moz-selection) {
  background-color: #4d5660;
}

:global(.psh code::selection), :global(.psh samp::selection) {
  background-color: #4d5660;
}

:global(.psh .psh-line-numbers) {
  counter-reset: line;
}

:global(.psh .psh-line-numbers .psh-line) {
  counter-increment: line;
}

:global(.psh .psh-line-numbers .psh-line::before) {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #6a6a6a;
}

:global(.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before) {
  width: 2em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before) {
  width: 2.6em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before) {
  width: 3.2em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before) {
  width: 3.8em;
}

:global(.psh .psh-label) {
  background-color: #000;
  text-align: right;
  height: 18px;
}

:global(.psh .psh-label-value) {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  line-height: 18px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 11px;
  font-family: serif;
  font-family: initial;
  background-color: #191919;
  color: #a3a3a3;
}

:global(.psh .psh-caption) {
  padding: 12px;
  background-color: #191919;
  font-weight: 700;
  font-size: 14px;
  color: #a3a3a3;
}

:global(.psh .psh-filename) {
  padding: 3px 12px;
  background-color: #191919;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #a3a3a3;
}

:global(.psh .psh-request) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

:global(.psh .psh-request .psh-request-method) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #6a6a6a;
  font-size: 15px;
  color: #fff;
}

:global(.psh .psh-request .psh-request-method-get) {
  background-color: #42bd79;
}

:global(.psh .psh-request .psh-request-method-post) {
  background-color: #00abd6;
}

:global(.psh .psh-request .psh-request-method-put) {
  background-color: #845eed;
}

:global(.psh .psh-request .psh-request-method-patch) {
  background-color: #f0813d;
}

:global(.psh .psh-request .psh-request-method-delete) {
  background-color: #df435d;
}

:global(.psh .psh-request .psh-request-resource) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #353535;
  font-size: 13px;
  color: #a3a3a3;
}

:global(.psh .psh-request .psh-request-method-get + .psh-request-resource) {
  background-color: #1e2320;
}

:global(.psh .psh-request .psh-request-method-post + .psh-request-resource) {
  background-color: #1b2224;
}

:global(.psh .psh-request .psh-request-method-put + .psh-request-resource) {
  background-color: #211f25;
}

:global(.psh .psh-request .psh-request-method-patch + .psh-request-resource) {
  background-color: #26211e;
}

:global(.psh .psh-request .psh-request-method-delete + .psh-request-resource) {
  background-color: #251e1f;
}

:global(.psh .psh-add), :global(.psh .psh-highlight), :global(.psh .psh-remove) {
  margin: 0 -18px;
  padding-left: 15px;
}

:global(.psh .psh-highlight) {
  border-left: 3px solid #dba643;
  background-color: #25221e;
}

:global(.psh .psh-add) {
  border-left: 3px solid #42bd79;
  background-color: #1e2320;
}

:global(.psh .psh-remove) {
  border-left: 3px solid #df435d;
  background-color: #251e1f;
}

:global(.psh .psh-invisibles-lf), :global(.psh .psh-invisibles-space), :global(.psh .psh-invisibles-tab) {
  position: relative;
}

:global(.psh .psh-invisibles-lf::before), :global(.psh .psh-invisibles-space::before), :global(.psh .psh-invisibles-tab::before) {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #353535;
}

:global(.psh .psh-invisibles-tab::before) {
  content: "⇥";
}

:global(.psh .psh-invisibles-space::before) {
  content: "·";
}

:global(.psh .psh-invisibles-lf::before) {
  content: "↩";
}

:global(.psh .psh-commands::before) {
  content: ">";
  padding-right: .8em;
  color: #009e73;
}

:global(.psh .comment) {
  color: #a300a3;
}

:global(.psh .keyword) {
  color: #d33682;
}

:global(.psh .keyword.control) {
  color: #d33682;
}

:global(.psh .keyword.operator) {
  color: #d3d3d3;
}

:global(.psh .keyword.other.special-method) {
  color: #00904e;
}

:global(.psh .keyword.other.unit) {
  color: #e69f00;
}

:global(.psh .storage) {
  color: #d33682;
}

:global(.psh .constant) {
  color: #e69f00;
}

:global(.psh .constant.character.escape) {
  color: #8abeb7;
}

:global(.psh .constant.numeric) {
  color: #e69f00;
}

:global(.psh .constant.other.color) {
  color: #8abeb7;
}

:global(.psh .constant.other.symbol) {
  color: #009e73;
}

:global(.psh .variable) {
  color: #d55e00;
}

:global(.psh .variable.interpolation) {
  color: #a24700;
}

:global(.psh .variable.parameter.function) {
  color: #d3d3d3;
}

:global(.psh .invalid.illegal) {
  background-color: #d55e00;
  color: #000;
}

:global(.psh .string) {
  color: #009e73;
}

:global(.psh .string.regexp) {
  color: #8abeb7;
}

:global(.psh .string.regexp .source.ruby.embedded) {
  color: #e69f00;
}

:global(.psh .string.other.link) {
  color: #d55e00;
}

:global(.psh .punctuation.definition.comment) {
  color: #969896;
}

:global(.psh .punctuation.definition.array), :global(.psh .punctuation.definition.parameters), :global(.psh .punctuation.definition.string), :global(.psh .punctuation.definition.variable) {
  color: #d3d3d3;
}

:global(.psh .punctuation.definition.heading), :global(.psh .punctuation.definition.identity) {
  color: #00904e;
}

:global(.psh .punctuation.definition.bold) {
  color: #e69f00;
  font-weight: 700;
}

:global(.psh .punctuation.definition.italic) {
  color: #d33682;
  font-style: italic;
}

:global(.psh .punctuation.section.embedded) {
  color: #a24700;
}

:global(.psh .support.class) {
  color: #e69f00;
}

:global(.psh .support.function) {
  color: #8abeb7;
}

:global(.psh .support.function.any-method) {
  color: #00904e;
}

:global(.psh .entity.name.function) {
  color: #00904e;
}

:global(.psh .entity.name.type) {
  color: #e69f00;
  text-decoration: underline;
}

:global(.psh .entity.other.inherited-class) {
  color: #009e73;
}

:global(.psh .entity.name.class), :global(.psh .entity.name.type.class) {
  color: #e69f00;
}

:global(.psh .entity.name.section) {
  color: #00904e;
}

:global(.psh .entity.name.tag) {
  color: #d55e00;
  text-decoration: underline;
}

:global(.psh .entity.other.attribute-name) {
  color: #e69f00;
}

:global(.psh .entity.other.attribute-name.id) {
  color: #00904e;
}

:global(.psh .meta.class) {
  color: #e69f00;
}

:global(.psh .meta.link) {
  color: #e69f00;
}

:global(.psh .meta.require) {
  color: #00904e;
}

:global(.psh .meta.selector) {
  color: #d33682;
}

:global(.psh .meta.separator) {
  background-color: #a8a8a8;
  color: #d3d3d3;
}

:global(.psh .none) {
  color: #d3d3d3;
}

:global(.psh .markup.bold) {
  color: #e69f00;
  font-weight: 700;
}

:global(.psh .markup.changed) {
  color: #d33682;
}

:global(.psh .markup.deleted) {
  color: #d55e00;
}

:global(.psh .markup.italic) {
  color: #d33682;
  font-style: italic;
}

:global(.psh .markup.heading .punctuation.definition.heading) {
  color: #00904e;
}

:global(.psh .markup.inserted) {
  color: #009e73;
}

:global(.psh .markup.list) {
  color: #d55e00;
}

:global(.psh .markup.quote) {
  color: #e69f00;
}

:global(.psh .markup.raw.inline) {
  color: #009e73;
}

:global(.psh .source.gfm .markup) {
  -webkit-font-smoothing: auto;
}

:global(.psh .source.gfm .markup.heading) {
  color: #e69f00;
}

:global(.psh .source.css .entity.other.attribute-name) {
  color: #00904e;
}

:global(.psh .source.css .entity.other.inherited-class) {
  color: #009e73;
}

:global(.psh .source.css .support.function) {
  color: #e69f00;
}

:global(.psh .source.css .support.function.builtin) {
  color: #f0e442;
}

:global(.psh .source.css .support.type) {
  color: #f0e442;
}

:global(.psh .source.css .support.constant) {
  color: #009e73;
}

:global(.psh .source.css .support.class), :global(.psh .source.css .support.other.module), :global(.psh .source.css .support.variable) {
  color: #e69f00;
}

:global(.psh .source.css .variable.other), :global(.psh .source.css .variable.parameter) {
  color: #d55e00;
}

:global(.psh .source.css .constant.character), :global(.psh .source.css .constant.language), :global(.psh .source.css .constant.numeric), :global(.psh .source.css .constant.other) {
  color: #e69f00;
}

:global(.psh .source.js .constant.character), :global(.psh .source.js .constant.language), :global(.psh .source.js .constant.numeric), :global(.psh .source.js .constant.other) {
  color: #e69f00;
}

:global(.psh .source.js .support.function) {
  color: #f0e442;
}

:global(.psh .source.js .support.function.builtin) {
  color: #f0e442;
}

:global(.psh .source.js .support.type) {
  color: #009e73;
}

:global(.psh .source.js .support.type.exception.python) {
  color: #f0e442;
}

:global(.psh .source.js .support.type.python) {
  color: #f0e442;
}

:global(.psh .source.js .support.constant) {
  color: #d55e00;
}

:global(.psh .source.js .support.class), :global(.psh .source.js .support.other.module), :global(.psh .source.js .support.variable) {
  color: #f0e442;
}

:global(.psh .source.js .entity.name) {
  color: #d3d3d3;
}

:global(.psh .source.js .entity.name.type) {
  color: #f0e442;
}

:global(.psh .source.js .entity.other.attribute-name) {
  color: #009e73;
}

:global(.psh .source.js .entity.other.inherited-class) {
  color: #d55e00;
}

:global(.psh .source.js .keyword) {
  color: #00904e;
}

:global(.psh .source.js .keyword.control) {
  color: #009e73;
}

:global(.psh .source.js .keyword.control.regexp) {
  color: #d55e00;
}

:global(.psh .source.js .keyword.operator.new) {
  color: #009e73;
}

:global(.psh .source.js .variable.other), :global(.psh .source.js .variable.parameter) {
  color: #d55e00;
}

:global(.psh .source.js .comma) {
  color: #d3d3d3;
}

:global(.psh .source.js .regexp) {
  color: #d55e00;
}

:global(.psh .source.js .punctuation.terminator.statement) {
  color: #d3d3d3;
}

:global(.psh .source.js .meta.brace) {
  color: #d3d3d3;
}

:global(.psh .source.js .meta.brace.square) {
  color: #00904e;
}

:global(.psh .source.js .meta.brace.curly) {
  color: #00904e;
}

:global(.psh .source.js .meta.delimiter.method.period) {
  color: #d3d3d3;
}

:global(.psh .source.json .meta.structure.dictionary.json > .string.quoted.json) {
  color: #d55e00;
}

:global(.psh .source.json .meta.structure.dictionary.json > .string.quoted.json > .punctuation.string) {
  color: #d55e00;
}

:global(.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json),
:global(.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json > .punctuation),
:global(.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json),
:global(.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json > .punctuation) {
  color: #009e73;
}

:global(.psh .source.json .meta.structure.array.json > .constant.language.json),
:global(.psh .source.json .meta.structure.dictionary.json > .constant.language.json) {
  color: #00904e;
}

:global(.psh .gfm .markup.italic) {
  color: #f0e442;
  font-style: italic;
}

:global(.psh .gfm .markup.bold) {
  color: #d55e00;
  font-weight: 700;
}

:global(.psh .gfm .markup.strike) {
  text-decoration: line-through;
  color: #a300a3;
}

:global(.psh .gfm .markup.bold.italic) {
  color: #00904e;
  font-weight: 700;
  font-style: italic;
}

:global(.psh .gfm .markup.heading.heading-1) {
  color: #e69f00;
  font-weight: 700;
  text-decoration: underline;
}

:global(.psh .gfm .markup.heading.heading-2) {
  color: #e69f00;
  font-weight: 700;
  text-decoration: underline;
}

:global(.psh .gfm .markup.heading.heading-3) {
  color: #e69f00;
  font-weight: 700;
  text-decoration: underline;
}

:global(.psh .gfm .markup.heading.heading-4) {
  color: #e69f00;
  font-weight: 700;
  text-decoration: underline;
}

:global(.psh .gfm .markup.heading.heading-5) {
  color: #e69f00;
  font-weight: 700;
  text-decoration: underline;
}

:global(.psh .gfm .markup.heading.heading-6) {
  color: #e69f00;
  font-weight: 700;
  text-decoration: underline;
}

:global(.psh .gfm .markup.heading.marker) {
  color: #d3d3d3;
}

:global(.psh .gfm .link) {
  color: #00904e;
}

:global(.psh .gfm .link .entity) {
  color: #cc79a7;
}

:global(.psh .gfm .raw) {
  color: #8996a8;
}

:global(.psh .gfm .comment) {
  color: #a300a3;
  font-style: italic;
}

:global(.psh .source.php .entity.other.attribute-name) {
  color: #009e73;
}

:global(.psh .source.php .entity.other.inherited-class) {
  color: #d55e00;
}

:global(.psh .source.php .support.function) {
  color: #f0e442;
}

:global(.psh .source.php .support.function.builtin) {
  color: #f0e442;
}

:global(.psh .source.php .support.type) {
  color: #009e73;
}

:global(.psh .source.php .support.constant) {
  color: #d55e00;
}

:global(.psh .source.php .support.class), :global(.psh .source.php .support.other.module), :global(.psh .source.php .support.variable) {
  color: #f0e442;
}

:global(.psh .source.php .variable) {
  color: #d3d3d3;
}

:global(.psh .source.php .constant.character), :global(.psh .source.php .constant.language), :global(.psh .source.php .constant.numeric), :global(.psh .source.php .constant.other) {
  color: #e69f00;
}

:global(.psh .source.python .keyword.operator.logical.python) {
  color: #00904e;
}

:global(.psh .source.python .entity.other.attribute-name) {
  color: #009e73;
}

:global(.psh .source.python .entity.other.inherited-class) {
  color: #d55e00;
}

:global(.psh .source.python .support.function) {
  color: #f0e442;
}

:global(.psh .source.python .support.function.builtin) {
  color: #f0e442;
}

:global(.psh .source.python .support.type) {
  color: #009e73;
}

:global(.psh .source.python .support.type.exception.python) {
  color: #f0e442;
}

:global(.psh .source.python .support.type.python) {
  color: #f0e442;
}

:global(.psh .source.python .support.constant) {
  color: #d55e00;
}

:global(.psh .source.python .support.class), :global(.psh .source.python .support.other.module), :global(.psh .source.python .support.variable) {
  color: #f0e442;
}

:global(.psh .source.python .variable.other), :global(.psh .source.python .variable.parameter) {
  color: #d55e00;
}

:global(.psh .source.python .constant.character), :global(.psh .source.python .constant.language), :global(.psh .source.python .constant.numeric), :global(.psh .source.python .constant.other) {
  color: #e69f00;
}
