.yui3-twitter{background-color:#4099FF;-moz-border-radius: 4px;border-radius: 4px;}
.yui3-twitter li{background-color:white;}
.yui3-twitter a{color:#0084B4;}
.yui3-twitter .writer a{color:black;}
.yui3-twitter .twitter-timestamp{color:grey;}
.yui3-twitter-ftr{height:22px;}
.yui3-twitter-ftr .img{width:80px;height:16px;background:url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-twitter-widget/assets/skins/sam/widget-logo.png) no-repeat;margin:2px 4px;float:right;}
.yui3-twitter-hdr,.yui3-twitter-hdr a{color:white;}
.yui3-twitter .twitter-title{font-size:11pt;}
