@charset "utf-8";
/* Horizontal Align */
.xm .pull-right{float:right}
.xm .pull-left{float:left}
/* DL Horizontal */
.xm .dl-horizontal{*zoom:1}
.xm .dl-horizontal:before,
.xm .dl-horizontal:after{display:table;line-height:0;content:""}
.xm .dl-horizontal:after{clear:both}
.xm .dl-horizontal dt{float:left;width:160px;overflow:hidden;clear:left;text-align:right;text-overflow:ellipsis;white-space:nowrap}
.xm .dl-horizontal dd{margin-left:180px}
/* Form Control Reset */
.xm form{margin:0 0 20px}
.xm fieldset{padding:0;margin:0;border:0}
.xm label,
.xm input,
.xm button,
.xm select,
.xm textarea{font-weight:normal;line-height:20px}
.xm label{display:block;margin-bottom:5px}
.xm select,
.xm textarea,
.xm input[type="text"],
.xm input[type="password"],
.xm input[type="datetime"],
.xm input[type="datetime-local"],
.xm input[type="date"],
.xm input[type="month"],
.xm input[type="time"],
.xm input[type="week"],
.xm input[type="number"],
.xm input[type="email"],
.xm input[type="url"],
.xm input[type="search"],
.xm input[type="tel"],
.xm input[type="color"]{display:inline-block;height:20px;padding:4px 6px;margin-bottom:10px;line-height:20px;color:#555555;vertical-align:middle;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.xm input,
.xm textarea{width:206px}
.xm textarea{height:auto}
.xm textarea,
.xm input[type="text"],
.xm input[type="password"],
.xm input[type="datetime"],
.xm input[type="datetime-local"],
.xm input[type="date"],
.xm input[type="month"],
.xm input[type="time"],
.xm input[type="week"],
.xm input[type="number"],
.xm input[type="email"],
.xm input[type="url"],
.xm input[type="search"],
.xm input[type="tel"],
.xm input[type="color"]{background-color:#ffffff;border:1px solid #cccccc;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s}
.xm textarea:focus,
.xm input[type="text"]:focus,
.xm input[type="password"]:focus,
.xm input[type="datetime"]:focus,
.xm input[type="datetime-local"]:focus,
.xm input[type="date"]:focus,
.xm input[type="month"]:focus,
.xm input[type="time"]:focus,
.xm input[type="week"]:focus,
.xm input[type="number"]:focus,
.xm input[type="email"]:focus,
.xm input[type="url"]:focus,
.xm input[type="search"]:focus,
.xm input[type="tel"]:focus,
.xm input[type="color"]:focus{border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)}
.xm input[type="radio"],
.xm input[type="checkbox"]{margin:0;line-height:normal}
.xm input[type="file"],
.xm input[type="image"],
.xm input[type="submit"],
.xm input[type="reset"],
.xm input[type="button"],
.xm input[type="radio"],
.xm input[type="checkbox"]{width:auto}
.xm select,
.xm input[type="file"]{height:30px;*margin-top:4px;line-height:30px}
.xm select{background-color:#ffffff;border:1px solid #cccccc}
.xm select[multiple],
.xm select[size]{height:auto}
.xm select:focus,
.xm input[type="file"]:focus,
.xm input[type="radio"]:focus,
.xm input[type="checkbox"]:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.xm input:-moz-placeholder, 
.xm textarea:-moz-placeholder {color:#999999}
.xm input:-ms-input-placeholder, 
.xm textarea:-ms-input-placeholder {color:#999999}
.xm input::-webkit-input-placeholder, 
.xm textarea::-webkit-input-placeholder {color:#999999}
.xm input,
.xm textarea{margin-left:0}
.xm input[disabled],
.xm select[disabled],
.xm textarea[disabled],
.xm input[readonly],
.xm select[readonly],
.xm textarea[readonly]{cursor:not-allowed;background-color:#eeeeee}
.xm input[type="radio"][disabled],
.xm input[type="checkbox"][disabled],
.xm input[type="radio"][readonly],
.xm input[type="checkbox"][readonly]{background-color:transparent}
.xm input:focus:invalid, 
.xm textarea:focus:invalid, 
.xm select:focus:invalid {color:#b94a48;border-color:#ee5f5b}
.xm input:focus:invalid:focus, 
.xm textarea:focus:invalid:focus, 
.xm select:focus:invalid:focus {border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}
/* Forms */
.xm .form-horizontal .control-group{margin-bottom:20px;*zoom:1}
.xm .form-horizontal .control-group:before,
.xm .form-horizontal .control-group:after{display:table;line-height:0;content:""}
.xm .form-horizontal .control-group:after{clear:both}
.xm .form-horizontal .control-label{float:left;width:160px;padding-top:5px;text-align:right}
.xm .form-horizontal .controls{*display:inline-block;*padding-left:20px;margin-left:180px;*margin-left:0}
.xm .form-horizontal .controls:first-child{*padding-left:180px}
.xm .form-horizontal .help-block{margin-bottom:0}
.xm .form-horizontal input+.help-block,
.xm .form-horizontal select+.help-block,
.xm .form-horizontal textarea+.help-block,
.xm .form-horizontal .input-prepend+.help-block,
.xm .form-horizontal .input-append+.help-block{margin-top:10px}
.xm .help-block,
.xm .help-inline{color:#595959}
.xm .help-block{display:block;margin-bottom:10px}
.xm .help-inline{margin:0;display:inline-block;*display:inline;padding-left:5px;vertical-align:middle;*zoom:1}
.xm .input-append,
.xm .input-prepend{display:inline-block;margin-bottom:10px;font-size:0;white-space:nowrap;vertical-align:middle}
.xm .input-append input,
.xm .input-prepend input,
.xm .input-append select,
.xm .input-prepend select{position:relative;margin-bottom:0;*margin-left:0;vertical-align:top;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.xm .input-append input:focus,
.xm .input-prepend input:focus,
.xm .input-append select:focus,
.xm .input-prepend select:focus{z-index:2}
.xm .input-append .add-on,
.xm .input-prepend .add-on{display:inline-block;width:auto;height:20px;min-width:16px;padding:4px 5px;font-weight:normal;line-height:20px;text-align:center;text-shadow:0 1px 0 #ffffff;background-color:#eeeeee;border:1px solid #ccc}
.xm .input-append .add-on,
.xm .input-prepend .add-on,
.xm .input-append .btn,
.xm .input-prepend .btn{vertical-align:top;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.xm .input-append .active,
.xm .input-prepend .active{background-color:#a9dba9;border-color:#46a546}
.xm .input-prepend .add-on,
.xm .input-prepend .btn{margin-right:-1px}
.xm .input-prepend .add-on:first-child,
.xm .input-prepend .btn:first-child{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.xm .input-append input,
.xm .input-append select{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.xm .input-append input+.btn-group .btn:last-child,
.xm .input-append select+.btn-group .btn:last-child{-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.xm .input-append .add-on,
.xm .input-append .btn,
.xm .input-append .btn-group{margin-left:-1px}
.xm .input-append .add-on:last-child,
.xm .input-append .btn:last-child,
.xm .input-append .btn-group:last-child>.dropdown-toggle{-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.xm .input-prepend.input-append input,
.xm .input-prepend.input-append select{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.xm .input-prepend.input-append input+.btn-group .btn,
.xm .input-prepend.input-append select+.btn-group .btn{-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.xm .input-prepend.input-append .add-on:first-child,
.xm .input-prepend.input-append .btn:first-child{margin-right:-1px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.xm .input-prepend.input-append .add-on:last-child,
.xm .input-prepend.input-append .btn:last-child{margin-left:-1px;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.xm .input-prepend.input-append .btn-group:first-child{margin-left:0}
.xm .form-horizontal input,
.xm .form-horizontal textarea,
.xm .form-horizontal select,
.xm .form-horizontal .help-inline,
.xm .form-horizontal .input-prepend,
.xm .form-horizontal .input-append{display:inline-block;*display:inline;margin-bottom:0;vertical-align:middle;*zoom:1}
.xm .form-horizontal .hide{display:none}
.xm .control-group{margin-bottom:10px}
/* Tabs */
.xm .nav{margin:0 0 20px 0;padding:0;list-style:none}
.xm .nav>li>a{display:block}
.xm .nav>li>a:hover,
.xm .nav>li>a:focus{text-decoration:none;background-color:#eeeeee}
.xm .nav-tabs{*zoom:1}
.xm .nav-tabs:before,
.xm .nav-tabs:after{display:table;line-height:0;content:""}
.xm .nav-tabs:after{clear:both}
.xm .nav-tabs>li{float:left}
.xm .nav-tabs>li>a{padding-right:12px;padding-left:12px;margin-right:2px;line-height:14px}
.xm .nav-tabs{border-bottom:1px solid #ddd}
.xm .nav-tabs>li{margin-bottom:-1px}
.xm .nav-tabs>li>a{padding-top:8px;padding-bottom:8px;line-height:20px;border:1px solid transparent;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.xm .nav-tabs>li>a:hover,
.xm .nav-tabs>li>a:focus{border-color:#eeeeee #eeeeee #dddddd}
.xm .nav-tabs>.active>a,
.xm .nav-tabs>.active>a:hover,
.xm .nav-tabs>.active>a:focus{color:#555555;cursor:default;background-color:#ffffff;border:1px solid #ddd;border-bottom-color:transparent}
/* Table */
.xm .table{max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0;width:100%;margin-bottom:20px}
.xm .table th,
.xm .table td{padding:8px;line-height:20px;text-align:left;vertical-align:top;border-top:1px solid #dddddd}
.xm .table th{font-weight:bold}
.xm .table thead th{vertical-align:bottom}
.xm .table caption+thead tr:first-child th,
.xm .table caption+thead tr:first-child td,
.xm .table colgroup+thead tr:first-child th,
.xm .table colgroup+thead tr:first-child td,
.xm .table thead:first-child tr:first-child th,
.xm .table thead:first-child tr:first-child td{border-top:0}
.xm .table tbody+tbody{border-top:2px solid #dddddd}
.xm .table-striped tbody>tr:nth-child(odd)>td,
.xm .table-striped tbody>tr:nth-child(odd)>th{background-color:#f9f9f9}
.xm .table-hover tbody tr:hover>td,
.xm .table-hover tbody tr:hover>th{background-color:#f5f5f5}
/* Pangination */
.xm .pagination{margin:20px 0}
.xm .pagination ul{display:inline-block;*display:inline;margin-bottom:0;margin-left:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*zoom:1;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05)}
.xm .pagination ul>li{display:inline}
.xm .pagination ul>li>a,
.xm .pagination ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0}
.xm .pagination ul>li>a:hover,
.xm .pagination ul>li>a:focus,
.xm .pagination ul>.active>a,
.xm .pagination ul>.active>span{background-color:#f5f5f5}
.xm .pagination ul>.active>a,
.xm .pagination ul>.active>span{color:#999999;cursor:default}
.xm .pagination ul>.disabled>span,
.xm .pagination ul>.disabled>a,
.xm .pagination ul>.disabled>a:hover,
.xm .pagination ul>.disabled>a:focus{color:#999999;cursor:default;background-color:transparent}
.xm .pagination ul>li:first-child>a,
.xm .pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-bottomleft:4px;-moz-border-radius-topleft:4px}
.xm .pagination ul>li:last-child>a,
.xm .pagination ul>li:last-child>span{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-topright:4px;-moz-border-radius-bottomright:4px}
.xm .pagination-centered{text-align:center}
/* Button */
.xm .btn{font-size:12px;font-family:inherit;display:inline-block;*display:inline;padding:4px 12px;margin-bottom:0;*margin-left:.3em;line-height:20px;height:auto;color:#333333;text-align:center;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;*background-color:#e6e6e6;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;border:1px solid #cccccc;*border:0;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);*zom:1;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)}
.xm .btn:hover,
.xm .btn:focus,
.xm .btn:active,
.xm .btn.active,
.xm .btn.disabled,
.xm .btn[disabled]{color:#333333;background-color:#e6e6e6;*background-color:#d9d9d9}
.xm .btn:active,
.xm .btn.active{background-color:#cccccc \9}
.xm .btn:first-child{*margin-left:0}
.xm .btn:hover,
.xm .btn:focus{color:#333333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear}
.xm .btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.xm .btn.active,
.xm .btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)}
.xm .btn.disabled,
.xm .btn[disabled]{cursor:default;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.xm .btn-inverse.active{color:rgba(255, 255, 255, 0.75)}
.xm .btn-inverse{color:#ffffff!important;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#363636;*background-color:#222222;background-image:-moz-linear-gradient(top, #444444, #222222);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));background-image:-webkit-linear-gradient(top, #444444, #222222);background-image:-o-linear-gradient(top, #444444, #222222);background-image:linear-gradient(to bottom, #444444, #222222);background-repeat:repeat-x;border-color:#222222 #222222 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.xm .btn-inverse:hover,
.xm .btn-inverse:focus,
.xm .btn-inverse:active,
.xm .btn-inverse.active,
.xm .btn-inverse.disabled,
.xm .btn-inverse[disabled]{color:#ffffff;background-color:#222222;*background-color:#151515}
.xm .btn-inverse:active,
.xm .btn-inverse.active{background-color:#080808 \9}
.xm button.btn,
.xm input[type="submit"].btn{*padding-top:3px;*padding-bottom:3px}
.xm button.btn::-moz-focus-inner,
.xm input[type="submit"].btn::-moz-focus-inner{padding:0;border:0}
.xm .btn-group{position:relative;display:inline-block;*display:inline;*margin-left:.3em;font-size:0;white-space:nowrap;vertical-align:middle;*zoom:1}
.xm .btn-group:first-child{*margin-left:0}
.xm .btn-group+.btn-group{margin-left:5px}
.xm .btn-group>.btn{position:relative;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.xm .btn-group>.btn+.btn{margin-left:-1px}
.xm .btn-group>.btn:first-child{margin-left:0;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-bottomleft:4px;-moz-border-radius-topleft:4px}
.xm .btn-group>.btn:last-child{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-topright:4px;-moz-border-radius-bottomright:4px}
.xm .btn-group>.btn:hover,
.xm .btn-group>.btn:focus,
.xm .btn-group>.btn:active,
.xm .btn-group>.btn.active{z-index:2}
/* Member module customize */
.xm,
.xm input,
.xm textarea,
.xm select,
.xm button,
.xm table{font-size:13px}
.xm em{font-style:normal;color:#f00}
.xm h1{font-size:22px}
.xm .nav a,
.xm .btn{text-decoration:none}
.xm .dl-horizontal>dd{margin-bottom:10px}
.xm .table{border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.xm .table>caption{text-align:left;font-weight:bold}
.xm .table>caption>.pull-right{position:relative;top:-8px}
.xm .signin{width:400px;margin:30px auto;background-color:#ffffff;border:1px solid #999;border-radius:6px;box-shadow:0 3px 7px #ccc;box-sizing:border-box}
.xm .signin>.login-header{padding:9px 15px;border-bottom:1px solid #eee}
.xm .signin>.login-header>h1{margin:0;font-size:16px;line-height:1.4;font-weight:600;color:#666}
.xm .signin>.login-header>h1>i{opacity:.5;filter:alpha(opacity=50);margin:2px 0 0 0}
.xm .signin>.login-body{max-height:400px;padding:15px}
.xm .signin>.login-body>*:first-child{margin-top:0}
.xm .signin>.login-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;*zoom:1;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;color:#ccc}
.xm .signin>.login-footer:before,
.xm .signin>.login-footer:after{display:table;line-height:0;content:"";clear:both}
.xm .signin>.login-footer>a{text-decoration:none}
.xm .signin>.login-footer>a:hover,
.xm .signin>.login-footer>a:active,
.xm .signin>.login-footer>a:focus{text-decoration:underline}
.xm .signin .control-group{position:relative;padding:0 14px 0 0;margin:0;clear:both}
.xm .signin .control-group:before{content:"";display:block;clear:both}
.xm .signin form{margin:0}
.xm .signin fieldset{margin:0}
.xm .signin label{cursor:pointer;display:inline-block}
.xm .signin input[type="text"],
.xm .signin input[type="email"],
.xm .signin input[type="password"]{width:100%}
.xm .signin input[type="checkbox"]{margin:0}
.xm .signin .btn{border-radius:2px;overflow:visible;font-size:14px;line-height:18px;padding:3px 9px}
.xm .signin .submit{position:absolute;top:0;right:0}
.xm .signin #warning{margin-right:-14px}
.xm .signin #warning>p{margin:10px 0}
.xm .agreement{border:1px solid #ddd;padding:15px 15px 10px 15px;border-radius:5px;background:#f8f8f8;margin-bottom:15px}
.xm .agreement>.text{max-height:200px;overflow:auto}
.xm .agreement>.confirm{padding:10px 0 0 0;margin:10px 0 0 0;border-top:1px dotted #ccc}
@media all and (max-width:480px){.xm .signin{margin:0;width:100%}}
@media all and (min-width:768px){.xm .dl-horizontal>dt{margin-bottom:10px}}
