/*
CSS Name: Hovereffect Styles
Description: Hover Stylesheet based on the idea of Hoverbox from http://host.sonspring.com/hoverbox/
Author: Alex Rabe - Orginal by Nathan Smith
Version: 1.60

This is a template stylesheet which doesn't support description below the thumbnails. It's a experimental version.

*/

/* ----------- Album Styles Extend -------------*/

.ngg-albumoverview {
	margin-top: 10px;
	width: 100%;
	clear:both; 
	display:block !important;
}

.ngg-album {
	overflow: hidden;
	padding: 5px;
	margin-bottom: 5px;
}

.ngg-albumtitle {
	border-bottom:1px dashed #AAAAAA;
	text-align: left;
 	font-weight: bold;
	margin:0px;
	padding-bottom: 3px;
	font-size: 1.4em;
	margin-bottom: 10px;
}

.ngg-thumbnail {
	float: left;
	margin-right: 12px;
	background:#EEEEEE none repeat scroll 0% 50%;
	border-color:#DDDDDD rgb(187, 187, 187) rgb(170, 170, 170) rgb(204, 204, 204);
	border-style:solid;
	border-width:1px;
	color:inherit;
	margin-right: 5px;
	padding:5px;
}

.ngg-thumbnail img {
	filter: alpha(opacity=100);
	-moz-opacity: .99;
	opacity: .99;
	background:#FFFFFF none repeat scroll 0%;
	border-color:#AAAAAA rgb(204, 204, 204) rgb(221, 221, 221) rgb(187, 187, 187);
	border-style:solid;
	border-width:1px;
	color:inherit;
	padding:2px;
	vertical-align:top;
}

.ngg-thumbnail img:hover {
	filter: alpha(opacity=90);
	-moz-opacity: .9;
    opacity: .9;
	border-color:#000000;
}

.ngg-description {
	text-align: left;
}

/* ----------- Album Styles Compact -------------*/

.ngg-album-compact {
	float:left;
	height:180px;
	padding-right:6px !important;
	margin:0px !important; 
	text-align:left;
	width:120px;	
}

.ngg-album-compactbox {
	background:transparent url(albumset.gif) no-repeat scroll 0%;
	height:86px;
	margin:0pt 0pt 6px !important;
	padding:12px 0pt 0pt 7px !important;
	width:120px;
}


.ngg-album-compactbox .Thumb {
	border:1px solid #000000;
	margin:0px !important;
	padding:0px !important;
	width:91px; 
	height:68px;
}

.ngg-album-compact h4 {
	font-size:15px;
	font-weight:bold;
	margin-bottom:0px;
	margin-top:0px;
	width:110px;
}

.ngg-album-compact p {
	font-size:11px;
	margin-top:2px;
}

/* ----------- Gallery style -------------*/

.ngg-galleryoverview {
	overflow: hidden;
	margin-top: 10px;
	width: 100%;
	clear:both; 
	display:block !important;
}

.ngg-gallery-thumbnail-box {
	float: left;
	background:#EEEEEE none repeat scroll 0% 50%;
	border-color:#DDDDDD rgb(187, 187, 187) rgb(170, 170, 170) rgb(204, 204, 204);
	border-style:solid;
	border-width:1px;
	color:inherit;
	display:inline;
	margin:3px;
	padding:5px;
	position:relative;
}

.ngg-gallery-thumbnail {
	float: left;
}

.ngg-gallery-thumbnail img {
	filter: alpha(opacity=100);
	-moz-opacity: .99;
	opacity: .99;
	background:#FFFFFF none repeat scroll 0%;
	border-color:#AAAAAA rgb(204, 204, 204) rgb(221, 221, 221) rgb(187, 187, 187);
	border-style:solid;
	border-width:1px;
	color:inherit;
	padding:2px;
	vertical-align:top;
}

.ngg-gallery-thumbnail img:hover {
	filter: alpha(opacity=90);
	-moz-opacity: .9;
    opacity: .9;
	border-color:#000000;
} 

.ngg-gallery-thumbnail span {
	/* Images description */
	font-size:90%;
	padding-left:5px;
	display:block;
}

.ngg-clear {
	clear: both;
}

/* ----------- Gallery navigation -------------*/

.ngg-navigation {
	font-size:0.9em !important;
	clear:both !important;
	display:block !important;
	padding-top:15px;
	text-align:center;
	
}

.ngg-navigation span {
	font-weight:bold;
	margin:0pt 6px;
}

.ngg-navigation a.page-numbers,
.ngg-navigation a.next,
.ngg-navigation a.prev, 
.ngg-navigation span.page-numbers,
.ngg-navigation span.next,
.ngg-navigation span.prev {
	border:1px solid #DDDDDD;
	margin-right:3px;
	padding:3px 7px;
}

.ngg-navigation a.page-numbers:hover,
.ngg-navigation a.next:hover,
.ngg-navigation a.prev:hover, 
.ngg-navigation span.page-numbers:hover,
.ngg-navigation span.next:hover,
.ngg-navigation span.prev:hover {
	background-color: #0066CC;
	color: #FFFFFF !important;
	text-decoration: none !important;
}

/* ----------- Image browser style -------------*/

.ngg-imagebrowser {
	
}

.ngg-imagebrowser h3 {
	text-align:center;
	padding-bottom:10px;
}

.ngg-imagebrowser .pic {
	background:#EEEEEE none repeat scroll 0% 50%;
	border-color:#DDDDDD rgb(187, 187, 187) rgb(170, 170, 170) rgb(204, 204, 204);
	border-style:solid;
	border-width:1px;
	color:inherit;
	display:block;
	padding:10px;
}

.ngg-imagebrowser img {
	width: 100%;
	margin: -3px;
	background:#FFFFFF none repeat scroll 0%;
	border-color:#AAAAAA rgb(204, 204, 204) rgb(221, 221, 221) rgb(187, 187, 187);
	border-style:solid;
	border-width:1px;
	color:inherit;
	padding:2px;
	vertical-align:top;
}

.ngg-imagebrowser-nav {
	padding:10px;
	margin-left:10px;
	
}

.ngg-imagebrowser-nav .back {
	float:left;
	border:1px solid #DDDDDD;
	margin-right:3px;
	padding:3px 7px;
}

.ngg-imagebrowser-nav .next {
	float:right;
	border:1px solid #DDDDDD;
	margin-right:3px;
	padding:3px 7px;
}

.ngg-imagebrowser-nav .back:hover,
.ngg-imagebrowser-nav .next:hover {
	border:1px solid #000000;
}

.ngg-imagebrowser-nav .back a:hover,
.ngg-imagebrowser-nav .next a:hover {
	text-decoration: none !important;
}

.ngg-imagebrowser-nav .counter {
	text-align:center;
	font-size:0.9em !important;
}

.exif-data {
  	margin-left: auto !important;
    margin-right: auto !important;	
}

/* ----------- Slideshow -------------*/
.slideshow {
	margin-left: auto; 
	margin-right: auto;
	text-align:center;
	outline: none;	
}

.slideshowlink {
	
}

/* ----------- JS Slideshow -------------*/
.ngg-slideshow {
    overflow:hidden;
    position: relative;
}

.ngg-slideshow * {
    vertical-align:middle;
}

/* See also : http://www.brunildo.org/test/img_center.html */
.ngg-slideshow-loader{
    display: table-cell;
    text-align: center;
    vertical-align:middle;
}

.ngg-slideshow-loader img{
    background: none !important; 
    border: 0 none !important;
    margin:auto !important; 
}

/* ----------- Single picture -------------*/
.ngg-singlepic {
	background-color:#FFFFFF;
	display:block;  
	padding:4px;
}

.ngg-left {
	float: left;
	margin-right:10px;
}

.ngg-right {
	float: right;
	margin-left:10px;
}

.ngg-center {
  	margin-left: auto !important;
    margin-right: auto !important;
}

/* ----------- Sidebar widget -------------*/
.ngg-widget,
.ngg-widget-slideshow {
	overflow: hidden;
	margin:0pt;
	padding:5px 0px 0px 0pt;
}

.ngg-widget img {
	border:2px solid #A9A9A9;
	margin:0pt 2px 2px 0px; 
	padding:1px; 
}

/* ----------- Related images -------------*/
.ngg-related-gallery {
	background:#F9F9F9;
	border:1px solid #E0E0E0;
	overflow:hidden;
	margin-bottom:1em;
	margin-top:1em;
	padding:5px;
}
.ngg-related-gallery img {
	border: 1px solid #DDDDDD;
	float: left;
	margin: 0pt 3px;
	padding: 2px;
	height: 50px;
	width:  50px;
}

.ngg-related-gallery img:hover {
	border: 1px solid #000000;
}

/* ----------- Gallery list -------------*/

.ngg-galleryoverview ul li:before {
	content: '' !important;
}

.ngg-gallery-list {
	list-style-type:none;
	padding: 0px !important;
	text-indent:0px !important;	
}

.ngg-galleryoverview div.pic img{
	width: 100%;	
}

.ngg-gallery-list li {
	float:left;
	margin:0 2px 0px 2px !important;
	overflow:hidden;
}

.ngg-gallery-list li a {
	border:1px solid #CCCCCC;
	display:block;
	padding:2px;
}

.ngg-gallery-list li.selected a{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#000000 none repeat scroll 0 0;
}

.ngg-gallery-list li img {
	height:40px;
	width:40px;	
}

li.ngg-next, li.ngg-prev {
	height:40px;
	width:40px;	
	font-size:3.5em;
}

li.ngg-next a, li.ngg-prev a  {
	padding-top: 10px;
	border: none;
	text-decoration: none;
}