.mejs__airplay-button>button, .mejs-airplay-button>button {
    background: url('airplay.svg') no-repeat 0 4px;
}

.mejs__airplay-button>button .fill, .mejs-airplay-button>button .fill {
    fill: #fff;
}

.mejs__airplay-button>button.active .fill, .mejs-airplay-button>button.active .fill {
    fill: #66A8CC;
}