/* SEARCH BOX */
.ais-search-box--input {
}
.ais-search-box--powered-by {
  font-size: .8em;
  text-align: right;
  margin-top: 2px;
}
/*
 * Image replacement technique used:
 * http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
 **/
.ais-search-box--powered-by-link {
  display: inline-block;
  margin-left: 3px;
  width: 42.6666666px;
  height: 13.3333333px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAoCAMAAAABrwJ6AAABUFBMVEUAAAAIDx5BptIMFyULFSIMFyUMFyUMFyQMFyQLFyQMFyQMFyQMFyQMFyQLFyMKEyIIER1HsN0MFyUMFyQKFSILFiRHsd4MFyRHsd4LFiMLFiMKFCIMFyUMFyQMFyRFqtUMFyQMFyUMFyQMFyQLFiRDqdMMFyQMFyQMFyUMFyUMFyQMFyQMFyQLFyRHsd4MFyRHsd4MFyQLFyQMFyQLFiNGr9wMFyQMFyVHst8MFyQMFyQMFyRHst9HsN5GsN0LFSNGr9pHst8MFyUMGCUMFyVHst8MFyRHsd4MFyRErNdGsN0MFyVHsN1GsN1Hsd4MFyRHst8MFyUMFyRHst9Hsd5Hsd5Hsd4MFyQLFiNIs+BIsuBItOEMFyRIst8MFyRHsd5Hst5Hsd5Gr9pHsuBHst9Hsd5Hsd5FrtlFrdsMGCVHs+BHsd5Gst5Gr9wMFyRGr9tD4Xp+AAAAbnRSTlMABgL1EkjE+u+NolrenSQKBP7x6g44+3L0HBQM7odEBOPMa1cuB/fVv6d8TT887+3r2YBmMyDltq+Vd25TPCcYDNHQuqyckmdSD+XHkoN9Ybm0r6FtSjIoINjIu7inmlpCLB3lwWBHGBGyincVcZSZwxMAAAXQSURBVFjDvZdVWyMxFIYzUzemToUKbakbFbaKFSnO4q4LrGb+/92ejFPdp7vLdwF5kjZ5k3zn5BSN1tJB4MbAoInkLRuSaRr9nYILGBspNJGiMxgbBACm4nKiSaTRTw5gUkkA6rqjkPKicZqKRJoZ6/8AiEJT10RjZDVgjOfP/wdAE4MCaIxiZgxKTwZAn22C7p8GA2TBSvruuClKmGj1YiKA9qWbqPZzIAAV/fapzIxzQAIT6ZoTAey7Pfli3p1/GAQA8jvHBmRTh+OfIHK0SxMA0Kcnp+326+b3syEA47WkxThR+YyxyjQawMr4GUaOlbllsbG1tUzT9HgAMoVTrWbkISlSAuggjvGRczgAFStvpI7WjPV0tLJE+s+OD1shhL4+7N9eX9d2XxZDAz0QjEYzfr7bp5mur90kO2uBjA/J8q9hvOBC3lmMC8FhALTLEtZhXirHbMSKnr7Ynlto+f4wb2OJ3JffFwclomRcNT/Fdzfs4hT2TlA+hZwD4xT4lIRC3ToYgCqbsVIWCr16tluouu5hQTY393elFeoHgPs1CwARLMusUSYhVRQalTBJRgMBrBE92fnqmsWSSoZ5gMWrE7R4CLv3XO3+OtmrbUOzuBkaBZAxa42GdNqQhGG8M6WIwR1ifyYFkTjdAyA/THjW5PVTFOM02TkA+nH5Zw32fXX/BqvSW2e7eSBojQLwxdRkQlodgUOPNxCvCNxLSTJj0jcAwHlEiGOKAQsZCO27Wdstf/FPu62tl22WXVkcDiDLWoJFO3zbecNZEMTZ0J4ZABCEHOEISgN2AeDxkmUPhQx86vHsvr14WNteaCwAKAb3GEbS5Ed+3ukB7nb7AUh/iukD2Lexz22hc8/Gutd/rtvYleqfAPigN84fxga0yop4MMf6APxHYI4D1Auwdc2y63MIxLfd19V2kfW0RgNQTrVPTTk/wZS8BefB+uK48zOxYR+AD65mJtsHsLjNeu6FvrNn28rJG/31C9zBCADGNW35pN3pGAOrIkBZpwz+sk62oQzgTYAFKn0AD3m2KOb/zcv9KsnJ6yx7PDcUwJVy6LAknbTn1LQoA3xRr/lDgNc8u/3Id4VeH0Oci3ZZ9nYoQGaeW9eut6skALj1Pm1QPQBLg6+gDScgepAsJpzA+jCA81UM1reUu5qMqRQGAN73/UpMKQCkYzoY7gFZIz2QJjVPlt+dn5hQiPz4rFahAnQcKACkitHI9EXBIX/hssAWw6PA/03x3otR0IUPai/Usnx3sNaavycPZGBJhwb1ZsIfNrb4gBRavoVU+CQCIAWA0HDE3gNQFmUpKq214OLXkbKPr0OeApcQyBGVALAImfBLFUkKnUAm3KcFgA1rD0AS44LrPcC5GaCgTxYYTmTKkhrNJ2AVSNnecHm9sajRIeZL+ge8BbVHaf8nRXiaOKAubOObXwEgvnUNWgHAv0OfFUWQaEtYl6dTlbwMt+u0isSNYz6xAA0pYX89tsGZb1bnyGvYPobS4PmUD3iA1DeXGAUAv1q46WUokLdDAMDdykpYfhvsGmIaIMbxRIDbCDMdxqJUEgCq1txQD6wc7/3YPSwCzPZLiN92hysf0pQS4GKHm3DNcmcx3swQgKCc+mWpk2IqyJqx5EhkddUTMyqdSp+oN0QTgt6+51kiG1eUXZ2KdVaXyy93SgCYcBW/EzI4CnoLg3o0XSjody7IbWg6MzowsyDKmzUdmIIX1qCem5rX3GmtSOoxchD7siGpqFavww2yoRv9zKqQimN1s0pIw6qCeQdVcrncBeqVz5XLCT+o1dlyKTvwh19AEXvtX+u12u1eqxp652ZNpFQhRxfL5SqMyHUebRjqG4FGuZud8qHJZN0Q8qKs0PLyHI3+ULTViv5KLjOYuYI+Vl4TX04iqzozy+flj1V3Jpy8KzUj0xtJPanpXeiDVRK8y/+b79LoY0UFCnGpjlkwutCHyxdsGLXz4QXz7FE650f/SL8BSczRaWPtOfYAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

/* STATS */
.ais-stats {
}
.ais-stats--header {
}
.ais-stats--body {
}
.ais-stats--time {
  font-size: small;
}
.ais-stats--footer {
}

/* INDEX SELECTOR */
.ais-index-selector {
}
.ais-index-selector--item {
}

/* HITS PER PAGE SELECTOR */
.ais-hits-per-page-selector {
}
.ais-hits-per-page-selector--item {
}

/* HITS */
.ais-hits {
}
.ais-hits--item {
}
.ais-hits__empty {
}

/* PAGINATION */
.ais-pagination {
}
.ais-pagination--item {
}
.ais-pagination--item__disabled {
  visibility: hidden;
}
.ais-pagination--item-first {
}
.ais-pagination--item-previous {
}
.ais-pagination--item-page {
}
.ais-pagination--item-page__active {
}
.ais-pagination--item-next {
}
.ais-pagination--item-last {
}

/* REFINEMENT LIST */
.ais-refinement-list {
}
.ais-refinement-list--header {
}
.ais-refinement-list--body {
}
.ais-refinement-list--list {
}
.ais-refinement-list--item {
}
.ais-refinement-list--item__active {
}
.ais-refinement-list--label {
}
.ais-refinement-list--checkbox {
}
.ais-refinement-list--count {
}
.ais-refinement-list--footer {
}

/* MENU */
.ais-menu {
}
.ais-menu--header {
}
.ais-menu--body {
}
.ais-menu--list {
}
.ais-menu--item {
}
.ais-menu--item__active {
}
.ais-menu--link {
}
.ais-menu--count {
}
.ais-menu--footer {
}

/* TOGGLE */
.ais-toggle {
}
.ais-toggle--header {
}
.ais-toggle--body {
}
.ais-toggle--list {
}
.ais-toggle--item {
}
.ais-toggle--item__active {
}
.ais-toggle--label {
}
.ais-toggle--checkbox {
}
.ais-toggle--count {
}
.ais-toggle--footer {
}

/* HIERARCHICAL MENU */
.ais-hierarchical-menu {
}
.ais-hierarchical-menu--header {
}
.ais-hierarchical-menu--body {
}
.ais-hierarchical-menu--list {
}
.ais-hierarchical-menu--list__lvl0 {
}
.ais-hierarchical-menu--list__lvl1 {
}
.ais-hierarchical-menu--item {
}
.ais-hierarchical-menu--item__active {
}
.ais-hierarchical-menu--link {
}
.ais-hierarchical-menu--count {
}
.ais-hierarchical-menu--footer {
}

/* RANGE SLIDER */
.ais-range-slider--target,
.ais-range-slider--target * {
  box-sizing: border-box;
}
.ais-range-slider--target {
  position: relative;
  direction: ltr;
  background: #f3f4f7;
  height: 18px;
}
.ais-range-slider--base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; /* Fix 401 */
}
.ais-range-slider--origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.ais-range-slider--state-tap .ais-range-slider--origin {
  transition: left .3s, top .3s;
}
.ais-range-slider--state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.ais-range-slider--base {
  transform: translate3d(0, 0, 0);
}

.ais-range-slider--connect {
  background: #46aeda;
  transition: background 450ms;
}

.ais-range-slider--background {
  background: #f3f4f7;
}

.ais-range-slider--handle {
  width: 1px;
  height: 28px;
  position: relative;
  z-index: 1;
  background: #8191b1;
  cursor: pointer;
}

.ais-range-slider--handle-lower {
  bottom: 10px;
}

.ais-range-slider--active {
  background: #1f3b5d;
}

.ais-range-slider--tooltip {
  position: absolute;
  color: #1f3b5d;
  border: 1px solid #8191b1;
  background: #ffffff;
  padding: 2px 3px;
}

.ais-range-slider--handle:hover {
  background: #1f3b5d;
}

.ais-range-slider--active .ais-range-slider--tooltip, .ais-range-slider--handle:hover .ais-range-slider--tooltip {
  background: #46aeda;
  color: #ffffff;
  border-color: #1f3b5d;
}

.ais-range-slider--handle-lower .ais-range-slider--tooltip {
  border-radius: 5px 5px 5px 0;
  top: -24px;
}

.ais-range-slider--handle-upper .ais-range-slider--tooltip {
  bottom: -24px;
  border-radius: 5px 0 5px 5px;
  right: 0;
}
