.psh {
  background-color: #2f3542;
  color: #bcc7d2;
  margin: 1em 0;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #2f3542;
  color: #bcc7d2;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #767e8a;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #2f3542;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #444955;
  color: #b4b6bb;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #444955;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #b4b6bb;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #444955;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #b4b6bb;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #767e8a;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #525a66;
  font-size: 13px;
  word-break: break-all;
  color: #b4b6bb;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #465058;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #43505d;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #494c5e;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #4e4e56;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #4d4b57;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #4d4f56;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #465058;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #4d4b57;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #525a66;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #fc8458;
}

.psh .source.ruby .punctuation.section.scope.ruby {
  color: #bcc7d2;
}

.psh .source.ruby .meta.embedded {
  color: #d1bc92;
}

.psh .source.ruby .meta.embedded .variable.instance,
.psh .source.ruby .variable.instance.ruby {
  color: #d1bc92;
}

.psh .source.ruby .meta.embedded .variable.instance .punctuation,
.psh .source.ruby .variable.instance.ruby .punctuation {
  color: #d1bc92;
}

.psh .source.ruby .constant.symbol.hashkey,
.psh .source.ruby .constant.symbol.hashkey .punctuation.definition.constant.hashkey.ruby {
  color: #c65353;
}

.psh .source.coffee .entity.name.class, .psh .source.coffee .entity.name.function, .psh .source.coffee .variable.readwrite {
  color: #d1bc92;
}

.psh .source.coffee .meta.class .name {
  color: #dee2e3;
}

.psh .source.coffee .support.function {
  color: #d1bc92;
}

.psh .source.coffee .embedded.source, .psh .source.coffee .variable.assignment {
  color: #bcc7d2;
}

.psh .comment {
  color: #7c8591;
}

.psh .entity.name.type {
  color: #d1bc92;
}

.psh .entity.other.inherited-class {
  color: #fc8458;
}

.psh .entity.name.accessor {
  color: #dee2e3;
}

.psh .keyword {
  color: #44c0c6;
}

.psh .keyword.control {
  color: #44c0c6;
}

.psh .keyword.operator {
  color: #d1bc92;
}

.psh .keyword.operator.new {
  color: #44c0c6;
}

.psh .keyword.other.special-method {
  color: #44c0c6;
}

.psh .keyword.other.unit {
  color: #fc8458;
}

.psh .storage {
  color: #44c0c6;
}

.psh .storage.type {
  color: #44c0c6;
}

.psh .storage.type.flowtype {
  color: #bcc7d2;
}

.psh .storage.type.flowtype.variable {
  color: #d1bc92;
}

.psh .storage.function {
  color: #44c0c6;
}

.psh .constant {
  color: #fc8458;
}

.psh .constant.dom {
  color: #bcc7d2;
}

.psh .constant.character.escape {
  color: #44c0c6;
}

.psh .constant.numeric {
  color: #d1bc92;
}

.psh .constant.other.color {
  color: #44c0c6;
}

.psh .constant.other.symbol {
  color: #fc8458;
}

.psh .variable {
  color: #bcc7d2;
}

.psh .variable.interpolation {
  color: #9dadbe;
}

.psh .variable.parameter.function {
  color: #d1bc92;
}

.psh .variable.other {
  color: #44c0c6;
}

.psh .variable.other.class, .psh .variable.other.instance {
  color: #d1bc92;
}

.psh .variable.other.object, .psh .variable.other.property, .psh .variable.other.readwrite {
  color: #bcc7d2;
}

.psh .variable.other.constant, .psh .variable.other.shorthandpropertyname {
  color: #d1bc92;
}

.psh .variable.type {
  color: #d1bc92;
}

.psh .variable.prototype {
  color: #fc8458;
}

.psh .variable.super, .psh .variable.this {
  color: #44c0c6;
}

.psh .invalid.illegal {
  background-color: #c65353;
  color: #2f3542;
}

.psh .string {
  color: #fc8458;
}

.psh .string.regexp {
  color: #44c0c6;
}

.psh .string.regexp .source.ruby.embedded {
  color: #fc8458;
}

.psh .string.other.link {
  color: #c65353;
}

.psh .string.unquoted.js {
  color: #d1bc92;
}

.psh .punctuation.definition.comment {
  color: #7c8591;
}

.psh .punctuation.definition.array, .psh .punctuation.definition.parameters, .psh .punctuation.definition.string, .psh .punctuation.definition.variable {
  color: #bcc7d2;
}

.psh .punctuation.definition.string.begin, .psh .punctuation.definition.string.end {
  color: #c65353;
}

.psh .punctuation.definition.heading, .psh .punctuation.definition.identity {
  color: #44c0c6;
}

.psh .punctuation.definition.tag {
  color: #1f8799;
}

.psh .punctuation.definition.bold {
  color: #d1bc92;
  font-weight: 700;
}

.psh .punctuation.definition.italic {
  color: #44c0c6;
  font-style: italic;
}

.psh .punctuation.class {
  color: #bcc7d2;
}

.psh .punctuation.section.embedded {
  color: #ac3939;
}

.psh .punctuation.key-value, .psh .punctuation.terminator {
  color: #d1bc92;
}

.psh .support.class {
  color: #d1bc92;
}

.psh .support.function {
  color: #d1bc92;
}

.psh .support.function.any-method {
  color: #bcc7d2;
}

.psh .support.function.misc {
  color: #fc8458;
}

.psh .support.constant {
  color: #bcc7d2;
}

.psh .entity.name.function {
  color: #dee2e3;
}

.psh .entity.name.class, .psh .entity.name.type.class {
  color: #d1bc92;
}

.psh .entity.name.section {
  color: #44c0c6;
}

.psh .entity.name.tag {
  color: #44c0c6;
}

.psh .entity.other.attribute-name {
  color: #d1bc92;
}

.psh .meta.class {
  color: #d1bc92;
}

.psh .meta.class .inherited-class {
  color: #d1bc92;
}

.psh .meta.link {
  color: #fc8458;
}

.psh .meta.require {
  color: #44c0c6;
}

.psh .meta.selector {
  color: #44c0c6;
}

.psh .meta.separator {
  background-color: #3d424b;
  color: #bcc7d2;
}

.psh .meta.brace {
  color: #bcc7d2;
}

.psh .meta.export .module, .psh .meta.import .module {
  color: #d1bc92;
}

.psh .meta .tag.decorator .operator.decoration {
  color: #44c0c6;
}

.psh .none {
  color: #bcc7d2;
}

.psh .markup.bold {
  color: #fc8458;
  font-weight: 700;
}

.psh .markup.changed {
  color: #44c0c6;
}

.psh .markup.deleted {
  color: #c65353;
}

.psh .markup.italic {
  color: #44c0c6;
  font-style: italic;
}

.psh .markup.heading .punctuation.definition.heading {
  color: #44c0c6;
}

.psh .markup.inserted {
  color: #cae359;
}

.psh .markup.list {
  color: #c65353;
}

.psh .markup.quote {
  color: #fc8458;
}

.psh .markup.raw.inline {
  color: #cae359;
}

.psh .source.css .support.constant.property-value {
  color: #fc8458;
}

.psh .source.less .support.function {
  color: #fc8458;
}

.psh .source.gfm .markup {
  -webkit-font-smoothing: auto;
}

.psh .source.gfm .markup.heading {
  color: #fc8458;
}

.psh .source.glsl .storage.modifier {
  color: #44c0c6;
}

.psh .source.glsl .support.function {
  color: #44c0c6;
}

.psh .source.glsl .support.variable {
  color: #fc8458;
}

.psh .source.ts .storage.type {
  color: #44c0c6;
}

.psh .source.ts .meta.definition {
  color: #bcc7d2;
}

.psh .source.ts .meta.function {
  color: #dee2e3;
}

.psh .source.ts .meta .punctuation.definition.block {
  color: #bcc7d2;
}

.psh .source.ts .meta .support.type {
  color: #d1bc92;
}

.psh .source.ts .entity.name {
  color: #44c0c6;
}

.psh .source.ts .entity.name.class, .psh .source.ts .entity.name.type {
  color: #d1bc92;
}

.psh .source.ts .entity.name.function {
  color: #dee2e3;
}

.psh .source.ts .entity.instance {
  color: #d1bc92;
}

.psh .source.ts .entity.inherited-class {
  color: #d1bc92;
}

.psh .source.ts .parameter.function {
  color: #bcc7d2;
}

.psh .source.ts .language.variable {
  color: #44c0c6;
}

.psh .source.jsx .es .meta.scope.tag .embedded.expression .punctuation.section {
  color: #d1bc92;
}

.psh .source.jsx .es .meta.scope.tag .meta.tag {
  color: #1f8799;
}

.psh .source.jsx .es .meta.scope.tag .meta.tag .embedded.expression .source {
  color: #bcc7d2;
}

.psh .source.jsx .keyword {
  color: #44c0c6;
}

.psh .source.jsx .keyword.accessor, .psh .source.jsx .keyword.assignment, .psh .source.jsx .keyword.operator {
  color: #d1bc92;
}

.psh .source.jsx .embedded .punctuation.section {
  color: #d1bc92;
}

.psh .source.jsx .entity.tag .class.component {
  color: #44c0c6;
}

.psh .source.jsx .other.object.key .js-label {
  color: #bcc7d2;
}

.psh .html.doctype, .psh .sgml.doctype, .psh .xhtml.doctype {
  color: #fc8458;
}

.psh .html.custom.elements, .psh .sgml.custom.elements, .psh .xhtml.custom.elements {
  color: #d1bc92;
}

.psh .c.dot-access {
  color: #bcc7d2;
}

.psh .objc.punctuation.scope {
  color: #bcc7d2;
}

.psh .objc.support.function {
  color: #d1bc92;
}

.psh .objcpp .support {
  color: #d1bc92;
}

.psh .cs.meta.body {
  color: #bcc7d2;
}

.psh .cs.meta.method, .psh .cs.meta.namespace {
  color: #d1bc92;
}

.psh .cs.meta.method.body, .psh .cs.meta.namespace.body {
  color: #bcc7d2;
}

.psh .cs.meta.keyword.using {
  color: #d1bc92;
}

.psh .cs.meta.keyword.using.other {
  color: #44c0c6;
}

.psh .cs.meta .variable.parameter.function {
  color: #bcc7d2;
}

.psh .java.source .variable.definition {
  color: #bcc7d2;
}

.psh .java.source .meta.class.meta.body {
  color: #bcc7d2;
}

.psh .java.source .meta.package .storage.modifier {
  color: #d1bc92;
}

.psh .uno.source.keyword {
  color: #44c0c6;
}

.psh .uno.source.meta.class.body {
  color: #bcc7d2;
}

.psh .uno.source.meta.class.identifier .entity.name {
  color: #bcc7d2;
}

.psh .uno.source.meta.class .storage.type {
  color: #d1bc92;
}

.psh .uno.source.meta.method.return-type {
  color: #d1bc92;
}

.psh .uno.source.meta.method-call .meta.method {
  color: #d1bc92;
}

.psh .uno.source.meta.meta .meta.method.annotation {
  color: #d1bc92;
}

.psh .shell.builtin.function {
  color: #d1bc92;
}

.psh .shell.definition.variable {
  color: #fc8458;
}

.psh .dots .constant.other {
  color: #44c0c6;
}

.psh .regexp {
  color: #fc8458 !important;
}
