/*Tooltip and Pointer CSS*/

.yui3-overlaycontextpanel {
	position: absolute;
	z-index: 9999;
}

.yui3-overlaycontextpanel-content {
	border-width: 2px;
	padding: 8px;
	position: relative;
}

.yui3-overlaycontextpanel-hidden {
	display: none !important;
	top: -10000px !important;
	left: -10000px !important;
}

.yui3-overlaycontextpanel .yui3-overlaycontextpanel-pointer,.yui3-overlaycontextpanel .yui3-overlaycontextpanel-pointer-inner {
	position: absolute;
	width: 0;
	height: 0;
	background: none;
}

/*top*/

.yui3-overlaycontextpanel-arrow-tr .yui3-overlaycontextpanel-pointer,.yui3-overlaycontextpanel-arrow-tc .yui3-overlaycontextpanel-pointer,.yui3-overlaycontextpanel-arrow-tl .yui3-overlaycontextpanel-pointer {
	top: -14px;
	border-top: 0;
	border-bottom-width: 14px;
}

.yui3-overlaycontextpanel-arrow-tr .yui3-overlaycontextpanel-pointer {
	border-left: 18px dotted transparent;
	border-right: 0;
	right: 10px;
}

.yui3-overlaycontextpanel-arrow-tc .yui3-overlaycontextpanel-pointer {
	border-left: 10px dotted transparent;
	border-right: 10px dotted transparent;
	left: 50%;
	margin-left: -10px;
}

.yui3-overlaycontextpanel-arrow-tl .yui3-overlaycontextpanel-pointer {
	border-left: 0;
	border-right: 18px dotted transparent;
	left: 10px;
}

.yui3-overlaycontextpanel-arrow-tr .yui3-overlaycontextpanel-pointer-inner,.yui3-overlaycontextpanel-arrow-tc .yui3-overlaycontextpanel-pointer-inner,.yui3-overlaycontextpanel-arrow-tl .yui3-overlaycontextpanel-pointer-inner {
	border-bottom: 10px solid #fff;
	bottom: -14px;
}

.yui3-overlaycontextpanel-arrow-tr .yui3-overlaycontextpanel-pointer-inner {
	border-left: 12px dotted transparent;
	border-right: 0;
	right: 2px;
}

.yui3-overlaycontextpanel-arrow-tc .yui3-overlaycontextpanel-pointer-inner {
	border-left: 8px dotted transparent;
	border-right: 8px dotted transparent;
	left: -8px;
}

.yui3-overlaycontextpanel-arrow-tl .yui3-overlaycontextpanel-pointer-inner {
	border-left: 0;
	border-right: 12px dotted transparent;
	left: 2px;
}

/*right*/

.yui3-overlaycontextpanel-arrow-rb .yui3-overlaycontextpanel-pointer,.yui3-overlaycontextpanel-arrow-rc .yui3-overlaycontextpanel-pointer,.yui3-overlaycontextpanel-arrow-rt .yui3-overlaycontextpanel-pointer {
	right: -14px;
	border-right: 0;
	border-left-width: 14px;
}

.yui3-overlaycontextpanel-arrow-rb .yui3-overlaycontextpanel-pointer {
	border-bottom: 0;
	border-top: 18px dotted transparent;
	bottom: 10px;
}

.yui3-overlaycontextpanel-arrow-rc .yui3-overlaycontextpanel-pointer {
	border-bottom: 10px dotted transparent;
	border-top: 10px dotted transparent;
	bottom: 50%;
	margin-bottom: -10px;
}

.yui3-overlaycontextpanel-arrow-rt .yui3-overlaycontextpanel-pointer {
	border-bottom: 18px dotted transparent;
	border-top: 0;
	top: 10px;
}

.yui3-overlaycontextpanel-arrow-rb .yui3-overlaycontextpanel-pointer-inner,.yui3-overlaycontextpanel-arrow-rc .yui3-overlaycontextpanel-pointer-inner,.yui3-overlaycontextpanel-arrow-rt .yui3-overlaycontextpanel-pointer-inner {
	border-left: 10px solid #fff;
	left: -14px;
}

.yui3-overlaycontextpanel-arrow-rb .yui3-overlaycontextpanel-pointer-inner {
	border-bottom: 0;
	border-top: 12px dotted transparent;
	bottom: 2px;
}

.yui3-overlaycontextpanel-arrow-rc .yui3-overlaycontextpanel-pointer-inner {
	border-bottom: 8px dotted transparent;
	border-top: 8px dotted transparent;
	bottom: -8px;
}

.yui3-overlaycontextpanel-arrow-rt .yui3-overlaycontextpanel-pointer-inner {
	border-bottom: 12px dotted transparent;
	border-top: 0;
	top: 2px;
}

/*bottom*/

.yui3-overlaycontextpanel-arrow-br .yui3-overlaycontextpanel-pointer,.yui3-overlaycontextpanel-arrow-bc .yui3-overlaycontextpanel-pointer,.yui3-overlaycontextpanel-arrow-bl .yui3-overlaycontextpanel-pointer {
	bottom: -14px;
	border-bottom: 0;
	border-top-width: 14px;
}

.yui3-overlaycontextpanel-arrow-br .yui3-overlaycontextpanel-pointer {
	border-left: 18px dotted transparent;
	border-right: 0;
	right: 10px;
}

.yui3-overlaycontextpanel-arrow-bc .yui3-overlaycontextpanel-pointer {
	border-left: 10px dotted transparent;
	border-right: 10px dotted transparent;
	left: 50%;
	margin-left: -10px;
}

.yui3-overlaycontextpanel-arrow-bl .yui3-overlaycontextpanel-pointer {
	border-left: 0;
	border-right: 18px dotted transparent;
	left: 10px;
}

.yui3-overlaycontextpanel-arrow-br .yui3-overlaycontextpanel-pointer-inner,.yui3-overlaycontextpanel-arrow-bc .yui3-overlaycontextpanel-pointer-inner,.yui3-overlaycontextpanel-arrow-bl .yui3-overlaycontextpanel-pointer-inner {
	border-top: 10px solid #fff;
	top: -14px;
}

.yui3-overlaycontextpanel-arrow-br .yui3-overlaycontextpanel-pointer-inner {
	border-left: 12px dotted transparent;
	border-right: 0;
	right: 2px;
}

.yui3-overlaycontextpanel-arrow-bc .yui3-overlaycontextpanel-pointer-inner {
	border-left: 8px dotted transparent;
	border-right: 8px dotted transparent;
	left: -8px;
}

.yui3-overlaycontextpanel-arrow-bl .yui3-overlaycontextpanel-pointer-inner {
	border-left: 0;
	border-right: 12px dotted transparent;
	left: 2px;
}

/*left*/

.yui3-overlaycontextpanel-arrow-lb .yui3-overlaycontextpanel-pointer,.yui3-overlaycontextpanel-arrow-lc .yui3-overlaycontextpanel-pointer,.yui3-overlaycontextpanel-arrow-lt .yui3-overlaycontextpanel-pointer {
	left: -14px;
	border-left: 0;
	border-right-width: 14px;
}

.yui3-overlaycontextpanel-arrow-lb .yui3-overlaycontextpanel-pointer {
	border-bottom: 0;
	border-top: 18px dotted transparent;
	bottom: 10px;
}

.yui3-overlaycontextpanel-arrow-lc .yui3-overlaycontextpanel-pointer {
	border-bottom: 10px dotted transparent;
	border-top: 10px dotted transparent;
	bottom: 50%;
	margin-bottom: -10px;
}

.yui3-overlaycontextpanel-arrow-lt .yui3-overlaycontextpanel-pointer {
	border-bottom: 18px dotted transparent;
	border-top: 0;
	top: 10px;
}

.yui3-overlaycontextpanel-arrow-lb .yui3-overlaycontextpanel-pointer-inner,.yui3-overlaycontextpanel-arrow-lc .yui3-overlaycontextpanel-pointer-inner,.yui3-overlaycontextpanel-arrow-lt .yui3-overlaycontextpanel-pointer-inner {
	border-right: 10px solid #fff;
	right: -14px;
}

.yui3-overlaycontextpanel-arrow-lb .yui3-overlaycontextpanel-pointer-inner {
	border-bottom: 0;
	border-top: 12px dotted transparent;
	bottom: 2px;
}

.yui3-overlaycontextpanel-arrow-lc .yui3-overlaycontextpanel-pointer-inner {
	border-bottom: 8px dotted transparent;
	border-top: 8px dotted transparent;
	bottom: -8px;
}

.yui3-overlaycontextpanel-arrow-lt .yui3-overlaycontextpanel-pointer-inner {
	border-bottom: 12px dotted transparent;
	border-top: 0;
	top: 2px;
}

.yui3-overlaycontextpanel-arrow-tl, .yui3-overlaycontextpanel-arrow-tc, .yui3-overlaycontextpanel-arrow-tr {
	margin-top: 12px;
}

.yui3-overlaycontextpanel-arrow-bl, .yui3-overlaycontextpanel-arrow-bc, .yui3-overlaycontextpanel-arrow-br {
	margin-bottom: 12px;
}

.yui3-overlaycontextpanel-arrow-lt, .yui3-overlaycontextpanel-arrow-lc, .yui3-overlaycontextpanel-arrow-lb {
	margin-left: 12px;
}

.yui3-overlaycontextpanel-arrow-rt, .yui3-overlaycontextpanel-arrow-rc, .yui3-overlaycontextpanel-arrow-rb {
	margin-right: 12px;
}