/* 
	KoPub Dotum, Roboto
	Copyright: KOPUS, 2016 Google
*/

@charset "utf-8";

@font-face {
	font-family: "KoPubDotum Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("※"), url(./fonts/font_kopubroboto_300.woff2) format("woff2"),  url(./fonts/font_kopubroboto_300.woff) format("woff")
}

@font-face {
	font-family: "KoPubDotum Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("※"), url(./fonts/font_kopubroboto_400.woff2) format("woff2"),  url(./fonts/font_kopubroboto_400.woff) format("woff")
}

@font-face {
	font-family :"KoPubDotum Roboto";
	font-style :normal;
	font-weight :700;
	src: local("※"), url(./fonts/font_kopubroboto_700.woff2) format("woff2"),  url(./fonts/font_kopubroboto_700.woff) format("woff")
}

/* Chrome Font Randering */

@media
all and (-webkit-max-device-pixel-ratio: 1),
all and (max-device-pixel-ratio: 1),
all and (max-resolution: 72dpi),
all and (max-resolution: 1dppx) {

	html.win.chrome * {
		-webkit-text-stroke: .25px
	}
}