:global(.psh) {
  margin: 0;
  background-color: #1d1f21;
  color: #c5c8c6;
}

:global(.psh pre) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:global(.psh code), :global(.psh samp) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
}

:global(.psh code::-moz-selection), :global(.psh samp::-moz-selection) {
  background-color: #444;
}

:global(.psh code::selection), :global(.psh samp::selection) {
  background-color: #444;
}

:global(.psh .psh-line-numbers) {
  counter-reset: line;
}

:global(.psh .psh-line-numbers .psh-line) {
  counter-increment: line;
}

:global(.psh .psh-line-numbers .psh-line::before) {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #717474;
}

:global(.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before) {
  width: 2em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before) {
  width: 2.6em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before) {
  width: 3.2em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before) {
  width: 3.8em;
}

:global(.psh .psh-label) {
  background-color: #1d1f21;
  text-align: right;
  height: 18px;
}

:global(.psh .psh-label-value) {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  line-height: 18px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 11px;
  font-family: serif;
  font-family: initial;
  background-color: #343537;
  color: #aeaeaf;
}

:global(.psh .psh-caption) {
  padding: 12px;
  background-color: #343537;
  font-weight: 700;
  font-size: 14px;
  color: #aeaeaf;
}

:global(.psh .psh-filename) {
  padding: 3px 12px;
  background-color: #343537;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #aeaeaf;
}

:global(.psh .psh-request) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

:global(.psh .psh-request .psh-request-method) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #717474;
  font-size: 15px;
  color: #fff;
}

:global(.psh .psh-request .psh-request-method-get) {
  background-color: #42bd79;
}

:global(.psh .psh-request .psh-request-method-post) {
  background-color: #00abd6;
}

:global(.psh .psh-request .psh-request-method-put) {
  background-color: #845eed;
}

:global(.psh .psh-request .psh-request-method-patch) {
  background-color: #f0813d;
}

:global(.psh .psh-request .psh-request-method-delete) {
  background-color: #df435d;
}

:global(.psh .psh-request .psh-request-resource) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #47494a;
  font-size: 13px;
  color: #aeaeaf;
}

:global(.psh .psh-request .psh-request-method-get + .psh-request-resource) {
  background-color: #363e3c;
}

:global(.psh .psh-request .psh-request-method-post + .psh-request-resource) {
  background-color: #333d40;
}

:global(.psh .psh-request .psh-request-method-put + .psh-request-resource) {
  background-color: #393941;
}

:global(.psh .psh-request .psh-request-method-patch + .psh-request-resource) {
  background-color: #3e3b3a;
}

:global(.psh .psh-request .psh-request-method-delete + .psh-request-resource) {
  background-color: #3d383b;
}

:global(.psh .psh-add), :global(.psh .psh-highlight), :global(.psh .psh-remove) {
  margin: 0 -18px;
  padding-left: 15px;
}

:global(.psh .psh-highlight) {
  border-left: 3px solid #dba643;
  background-color: #3d3d3a;
}

:global(.psh .psh-add) {
  border-left: 3px solid #42bd79;
  background-color: #363e3c;
}

:global(.psh .psh-remove) {
  border-left: 3px solid #df435d;
  background-color: #3d383b;
}

:global(.psh .psh-invisibles-lf), :global(.psh .psh-invisibles-space), :global(.psh .psh-invisibles-tab) {
  position: relative;
}

:global(.psh .psh-invisibles-lf::before), :global(.psh .psh-invisibles-space::before), :global(.psh .psh-invisibles-tab::before) {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #47494a;
}

:global(.psh .psh-invisibles-tab::before) {
  content: "⇥";
}

:global(.psh .psh-invisibles-space::before) {
  content: "·";
}

:global(.psh .psh-invisibles-lf::before) {
  content: "↩";
}

:global(.psh .psh-commands::before) {
  content: ">";
  padding-right: .8em;
  color: #a8ff60;
}

:global(.psh .comment) {
  color: #7c7c7c;
}

:global(.psh .entity) {
  color: #ffd2a7;
}

:global(.psh .entity.name.type) {
  text-decoration: underline;
  color: #ffffb6;
}

:global(.psh .entity.other.inherited-class) {
  color: #9b5c2e;
}

:global(.psh .keyword) {
  color: #96cbfe;
}

:global(.psh .keyword.control) {
  color: #96cbfe;
}

:global(.psh .keyword.operator) {
  color: #ededed;
}

:global(.psh .storage) {
  color: #cfcb90;
}

:global(.psh .storage.modifier) {
  color: #96cbfe;
}

:global(.psh .constant) {
  color: #9c9;
}

:global(.psh .constant.numeric) {
  color: #ff73fd;
}

:global(.psh .variable) {
  color: #c6c5fe;
}

:global(.psh .invalid.deprecated) {
  text-decoration: underline;
  color: #fd5ff1;
}

:global(.psh .invalid.illegal) {
  color: #fd5ff1;
  background-color: rgba(86, 45, 86, .75);
}

:global(.psh .string .meta.embedded.line), :global(.psh .string .source) {
  color: #ededed;
}

:global(.psh .string .punctuation.section.embedded) {
  color: #00a0a0;
}

:global(.psh .string .punctuation.section.embedded .source) {
  color: #00a0a0;
}

:global(.psh .string) {
  color: #a8ff60;
}

:global(.psh .string .constant) {
  color: #00a0a0;
}

:global(.psh .string.regexp) {
  color: #e9c062;
}

:global(.psh .string.regexp .constant.character.escape), :global(.psh .string.regexp .source.ruby.embedded), :global(.psh .string.regexp .string.regexp.arbitrary-repetition) {
  color: #ff8000;
}

:global(.psh .string.regexp.group) {
  color: #c6a24f;
  background-color: hsla(0, 0%, 100%, .06);
}

:global(.psh .string.regexp.character-class) {
  color: #b18a3d;
}

:global(.psh .string .variable) {
  color: #8a9a95;
}

:global(.psh .support) {
  color: #ffffb6;
}

:global(.psh .support.function) {
  color: #dad085;
}

:global(.psh .support.constant) {
  color: #ffd2a7;
}

:global(.psh .support.type.property-name.css) {
  color: #ededed;
}

:global(.psh .source .entity.name.tag), :global(.psh .source .punctuation.tag) {
  color: #96cbfe;
}

:global(.psh .source .entity.other.attribute-name) {
  color: #c6c5fe;
}

:global(.psh .entity.other.attribute-name) {
  color: #c6c5fe;
}

:global(.psh .entity.name.tag.namespace), :global(.psh .entity.other.attribute-name.namespace) {
  color: #e18964;
}

:global(.psh .meta.preprocessor.c) {
  color: #8996a8;
}

:global(.psh .meta.preprocessor.c .keyword) {
  color: #afc4db;
}

:global(.psh .meta.cast) {
  color: #676767;
}

:global(.psh .meta.sgml.html .meta.doctype), :global(.psh .meta.sgml.html .meta.doctype .entity), :global(.psh .meta.sgml.html .meta.doctype .string), :global(.psh .meta.xml-processing), :global(.psh .meta.xml-processing .entity), :global(.psh .meta.xml-processing .string) {
  color: #494949;
}

:global(.psh .meta.tag .entity), :global(.psh .meta.tag.inline .entity), :global(.psh .meta.tag > .punctuation) {
  color: #c6c5fe;
}

:global(.psh .meta.tag.inline .name), :global(.psh .meta.tag .name), :global(.psh .meta.tag > .punctuation) {
  color: #96cbfe;
}

:global(.psh .meta.selector.css .entity.name.tag) {
  text-decoration: underline;
  color: #96cbfe;
}

:global(.psh .meta.selector.css .entity.other.attribute-name.tag.pseudo-class) {
  color: #8f9d6a;
}

:global(.psh .meta.selector.css .entity.other.attribute-name.id) {
  color: #8b98ab;
}

:global(.psh .meta.selector.css .entity.other.attribute-name.class) {
  color: #62b1fe;
}

:global(.psh .meta.property-group .support.constant.property-value.css),
:global(.psh .meta.property-value .support.constant.property-value.css) {
  color: #f9ee98;
}

:global(.psh .meta.preprocessor.at-rule .keyword.control.at-rule) {
  color: #8693a5;
}

:global(.psh .meta.property-value .constant),
:global(.psh .meta.property-value .support.constant.named-color.css) {
  color: #87c38a;
}

:global(.psh .meta.constructor.argument.css) {
  color: #8f9d6a;
}

:global(.psh .meta.diff), :global(.psh .meta.diff.header) {
  color: #f8f8f8;
  background-color: #0e2231;
}

:global(.psh .meta.separator) {
  color: #60a633;
  background-color: #242424;
}

:global(.psh .meta.line.entry.logfile), :global(.psh .meta.line.exit.logfile) {
  background-color: hsla(0, 0%, 93%, .16);
}

:global(.psh .meta.line.error.logfile) {
  background-color: #751012;
}

:global(.psh .source.gfm) {
  color: #999;
}

:global(.psh .gfm .markup.heading) {
  color: #eee;
}

:global(.psh .gfm .link) {
  color: #555;
}

:global(.psh .gfm .support.quote), :global(.psh .gfm .variable.list) {
  color: #555;
}

:global(.psh .gfm .link .entity) {
  color: #ddd;
}

:global(.psh .gfm .raw) {
  color: #aaa;
}

:global(.psh .markdown .paragraph) {
  color: #999;
}

:global(.psh .markdown .heading) {
  color: #eee;
}

:global(.psh .markdown .raw) {
  color: #aaa;
}

:global(.psh .markdown .link) {
  color: #555;
}

:global(.psh .markdown .link .string) {
  color: #555;
}

:global(.psh .markdown .link .string.title) {
  color: #ddd;
}
