/*=====================================
WFT-Centralised_Widget_CSS
version: 1.0.0 (POC)
======================================*/

.test-widget{width:100%;height:60px;background:#ffff00;border:5px solid #111}

.test-widget2{width:100%;height:60px;background:#ffff00;border:5px solid #111}

.test-widget3{width:100%;height:60px;background:#ffff00;border:5px solid #222}
