/* BASIC STRUCTURE */
body {text-align:left;}
.layout-bd {overflow:auto;*position:relative;}
.layout-bd .layout-module-col {float:left;}
.layout-bd .layout-module-col .layout-m-hd,
.layout-bd .layout-module-row .layout-m-hd {*width:100%;}
.layout-bd .layout-module {word-wrap:break-word;position:relative;*position:static;z-index:0;float:left;word-wrap:normal;border:1px solid #666;text-align:left;}
.layout-bd .layout-module .layout-m-bd {overflow:auto;position:relative;*position:static;}
.layout-module-row:after,
.layout-module-col:after,
.layout-m-hd:after,
.layout-m-bd:after,
.layout-m-ft:after {content:".";display:block;height:0;line-height:0;clear:both;visibility:hidden;}
.layout-module-row,
.layout-module-col,
.layout-m-hd,
.layout-m-bd,
.layout-m-ft,
.layout-module {zoom:1;}
.layout-bd .layout-ft {clear:both;}

/* we need the content container to be the offsetParent */
.FIT_TO_CONTENT {position:relative;}

/* MODULE OPEN/CLOSE */
.layout-bd .layout-collapsed-horiz .layout-m-hd,
.layout-bd .layout-collapsed-horiz .layout-m-bd,
.layout-bd .layout-collapsed-horiz .layout-m-ft,
.layout-bd .layout-collapsed-vert .layout-m-bd,
.layout-bd .layout-collapsed-vert .layout-m-ft, 
.layout-bd .layout-collapsed-vert .layout-vert-collapse-nub,
.layout-bd .layout-collapsed-horiz .layout-left-collapse-nub,
.layout-bd .layout-collapsed-horiz .layout-right-collapse-nub,
.layout-bd .layout-vert-expand-nub,
.layout-bd .layout-left-expand-nub,
.layout-bd .layout-right-expand-nub {display:none;}
.layout-bd .layout-collapsed-vert .layout-vert-expand-nub,
.layout-bd .layout-collapsed-horiz .layout-left-expand-nub,
.layout-bd .layout-collapsed-horiz .layout-right-expand-nub {display:block;}
.layout-bd .layout-collapsed-horiz .layout-left-expand-nub,
.layout-bd .layout-collapsed-horiz .layout-right-expand-nub {height:100%;}

/* BUG FIX: IE8, FF and Safari put a scrollbar on module bodies that don't need it in FIT_TO_CONTENT.
 *          There's no need for a vertical scrollbar in FIT_TO_CONTENT for any browser, so we kill it here.
 */
.FIT_TO_CONTENT .layout-module .layout-m-bd {overflow-y:hidden;}
