.psh {
  background-color: #fff;
  color: #333;
  margin: 1em 0;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #fff;
  color: #333;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #999;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #fff;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e6e6e6;
  color: #5c5c5c;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #e6e6e6;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #5c5c5c;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #e6e6e6;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #5c5c5c;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #999;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #ccc;
  font-size: 13px;
  word-break: break-all;
  color: #5c5c5c;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #f1faf5;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #ecf9fc;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #f6f3fe;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #fef6f0;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #fdf1f3;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #fcf8f1;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #f1faf5;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #fdf1f3;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ccc;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #183691;
}

.psh .comment, .psh .punctuation.definition.comment, .psh .string.comment {
  color: #969896;
}

.psh .constant, .psh .entity.name.constant, .psh .variable.language, .psh .variable.other.constant {
  color: #0086b3;
}

.psh .entity, .psh .entity.name {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #795da3;
}

.psh .variable.parameter.function {
  color: #333;
}

.psh .entity.name.tag {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #63a35c;
}

.psh .keyword {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #a71d5d;
}

.psh .storage, .psh .storage.type {
  color: #a71d5d;
}

.psh .storage.modifier.import, .psh .storage.modifier.package, .psh .storage.type.java {
  color: #333;
}

.psh .punctuation.definition.string, .psh .string, .psh .string .punctuation.section.embedded .source {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #183691;
}

.psh .support {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #0086b3;
}

.psh .meta.property-name {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #0086b3;
}

.psh .variable {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #ed6a43;
}

.psh .variable.other {
  color: #333;
}

.psh .invalid.broken {
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  color: #b52a1d;
}

.psh .invalid.deprecated {
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  color: #b52a1d;
}

.psh .invalid.illegal {
  font-style: italic;
  text-decoration: underline;
  background-color: #b52a1d;
  color: #f8f8f8;
}

.psh .carriage-return {
  font-style: italic;
  text-decoration: underline;
  background-color: #b52a1d;
  color: #f8f8f8;
  undefined: ^M;
}

.psh .invalid.unimplemented {
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  color: #b52a1d;
}

.psh .message.error {
  color: #b52a1d;
}

.psh .string .source {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #333;
}

.psh .string .variable {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #0086b3;
}

.psh .source.regexp, .psh .string.regexp {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #183691;
}

.psh .string.regexp.character-class, .psh .string.regexp .constant.character.escape, .psh .string.regexp .source.ruby.embedded, .psh .string.regexp .string.regexp.arbitrary-repitition {
  color: #183691;
}

.psh .string.regexp .constant.character.escape {
  font-weight: 700;
  color: #63a35c;
}

.psh .support.constant {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #0086b3;
}

.psh .support.variable {
  color: #0086b3;
}

.psh .meta.module-reference {
  color: #0086b3;
}

.psh .markup.list {
  color: #693a17;
}

.psh .markup.heading, .psh .markup.heading .entity.name {
  font-weight: 700;
  color: #1d3e81;
}

.psh .markup.quote {
  color: teal;
}

.psh .markup.italic {
  font-style: italic;
  color: #333;
}

.psh .markup.bold {
  font-weight: 700;
  color: #333;
}

.psh .markup.raw {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #0086b3;
}

.psh .markup.deleted, .psh .meta.diff.header.from-file, .psh .punctuation.definition.deleted {
  background-color: #ffecec;
  color: #bd2c00;
}

.psh .markup.inserted, .psh .meta.diff.header.to-file, .psh .punctuation.definition.inserted {
  background-color: #eaffea;
  color: #55a532;
}

.psh .markup.changed, .psh .punctuation.definition.changed {
  background-color: #ffe3b4;
  color: #ef9700;
}

.psh .markup.ignored, .psh .markup.untracked {
  color: #d8d8d8;
  background-color: gray;
}

.psh .meta.diff.range {
  color: #795da3;
  font-weight: 700;
}

.psh .meta.diff.header {
  color: #0086b3;
}

.psh .meta.separator {
  font-weight: 700;
  color: #1d3e81;
}

.psh .meta.output {
  color: #1d3e81;
}

.psh .constant.other.reference.link, .psh .string.other.link {
  color: #183691;
  text-decoration: underline;
}
