.yui3-autocomplete-content {
}

.yui3-autocomplete-trigger {
	cursor: pointer;
	display: inline-block;
	float: none;
}

.yui3-autocomplete-results {	
}

.yui3-autocomplete-list-item {
	border: 1px solid #fff;
	list-style: none;
	margin: 0;
	padding: 0 3px;
}

.yui3-autocomplete-results-content {
	border: 1px solid #98c0f4;
	height: 100%;
	overflow-y: auto;
}

.yui3-autocomplete-selected {
	background: #dfe8f6;
	border-color: #a3bae9;
}