.github-badge {
  cursor: pointer;
  color:#333;
  background:#efefef;
  border-radius: 1em;
  padding: 1em;
  display:inline-block;
  text-align:center;
  position:relative;
  font:13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -moz-box-shadow: 10px 10px 5px #999;
  -webkit-box-shadow: 10px 10px 5px #999;
  box-shadow: 5px 5px 10px #999;
  box-sizing:border-box;
}

.github-badge .gb-summary, .github-badge .detail {
  float:left;
}

.github-badge .gb-summary {
  margin-right: 40px;
}

.github-badge .fa {
  width: 2em;
}

.github-badge .octicon {
  margin-left: 0.1em;
  width: 1.5em;
}

.github-badge .fa-map-marker {
  margin-left: 0.25em;
  width: 1.75em;
}

.github-badge .fa-star {
  margin-left: 0.2em;
  width: 1.8em;
}


.github-badge .fa-pencil {
  margin-left: 0.25em;
  width: 1.75em;
}

.github-badge img {
  text-align:center;
}

.github-badge img.user {
  border-radius: 50%;
  display: block;
  margin:0 auto 10px auto;
}

.github-badge img.octodex {
  display: block;
  position:absolute;
  bottom:3px;
  right:2px;
}

.github-badge h4 {
  font-size:1.2em;
}

.github-badge h4, p {
  text-align: left;
  display: block;
  vertical-align:top;
  margin:5px 0 5px 0;
}

.github-badge .detail section {
  border: 1px solid #d8d8d8;
  background:#fff;
  border-radius:3px;
  margin-bottom: 1em;
  max-width: 270px;
}

.github-badge .detail section h4 {
  border-radius:3px 3px 0 0;
  background:#f5f5f5;
  margin: 0;
  padding:0.5em 0.75em;
}

.github-badge .detail section p {
  padding:0.5em 0.5em 0.5em 0.75em;
  margin:0;
  border-top: 1px solid #d8d8d8;
  white-space: nowrap;
}

.github-badge .repos .fa-star {
  width: 1.25em;
}

.github-badge .repos span {
  margin-right: 1em;
  display: inline-block;
  width: 1.5em;
}

.github-badge.horizontal {

}

.powered {
  padding-top:20px;
}

.powered a {
  color:#ccc;
  font-family:'Helvetica';
  font-size:9px;
}



.github-badge.octo {
  padding: 0.5em;
  -moz-box-shadow: 2px 2px 7px #999;
  -webkit-box-shadow: 2px 2px 7px #999;
  box-shadow: 2px 2px 7px #999;
}

.github-badge.octo .repos span {
  margin-right:0;
}

.github-badge.octo .user {
  float:left;
  margin-right:1.25em;
}

.github-badge.octo .gb-summary {
  margin-right: 20px;
  padding-top: 2px;
}

.github-badge.octo .gb-summary p {
  display: inline-block;
  padding-top: 10px;
  margin-right:1em;
  font-size:0.9em;
}

.github-badge.octo .fa, .github-badge.octo .octicon {
  display:inline-block;
  height: 1.25em;
  padding: 0;
  margin: 0;
  font-size: 15px;
  width:1.5em !important;
}

.github-badge.octo .fa-star {
}

.github-badge.octo .octicon-repo {
  padding-left: 0.2em;
}

.github-badge.octo .octodex {
  right:6px;
  top:5px;
}


.github-badge.octo h4 {
  position:absolute;
  top:0px;
  left:72px;
  font-size:0.8em;
  font-weight:normal;
}

.github-badge .history {
  width:150px;
  left:72px;
  border:1px solid #ccc;
  clear:both;
  position:absolute;
  top:46px;
}

.github-badge .history i {
  height: 8px;
  width:8px;
  background:#fff;
  margin:1px;
  display:inline-block;
}

.github-badge .history i.few-commits {
  background:#d6e685;
}

.github-badge .history i.some-commits {
  background:#8cc665;
}

.github-badge .history i.more-commits {
  background:#44a340;
}

.github-badge .history i.many-commits {
  background:#1e6823;
}

.github-badge .detail section.languages p {
  white-space: normal;
}
