body {/* Default styling for everything that is un-styled and doesn't inherit*/
	background-color: #fff;
	color:#000;
	font-size: 12px;
	line-height: 1.8em;
}

h2.suf-mag-excerpt-title {
	font-size: 2.2em;
}
a, a:visited, a:hover {
	color: #555;
	text-decoration: underline;
}
.postdata a, .postdata a:visited {
	color: #999;
	text-decoration: none;
}
.blogtitle a { text-decoration: none; }
.postdata a:hover { color: #555; }
/*#comments a, #comments a:visited, #comments a:hover { color: #555; }*/
.comment-body a, .comment-body a:visited, .comment-body a:hover { color: #555; }
a.comment-reply-link, a.comment-reply-link:visited, a.comment-reply-link:hover, a.comment-reply-login, a.comment-reply-login:visited, a.comment-reply-login:hover, a.page-numbers:hover {
	background: #444;
	color: #eee;
	padding: 5px;
	text-decoration: none;
}
.author-below .comment-reply-link, .author-above .comment-reply-link, .author-below .comment-reply-link:hover, .author-above .comment-reply-link:hover { border-color: #333; background: none; padding: 0 5px; text-decoration: underline; }
#comments input[type='text'], #comments textarea {
	border-radius: 0;
}
a.suf-mag-category-all-posts, a.suf-mag-category-all-posts:visited, a.suf-mag-category-all-posts:hover { color: #eee; text-decoration: none; background: #444; }
#comments ul.children { margin-top: 20px}
a.excerpt-more-append, a.excerpt-more-append:visited, a.suf-mag-excerpt-full-story, a.suf-mag-excerpt-full-story:visited, a.suf-mag-excerpt-full-story:hover {
	color: #555;
	text-decoration: underline;
}
pre {
	border: 1px solid #ddd;
}
hr{
	border: 1px dotted #666;
}
blockquote{
	border: none;
}

.border{
	border: 1px solid #ccc;
}
.suf-widget{
	border: none;
}

#wrapper { border: none; background: none;}

/* main menu */
#nav {
	border-bottom: 1px solid #444;
}

#nav ul li, #nav.continuous ul ul li, #nav-top.continuous ul ul li{
	border: 1px solid #444;
}

#nav-top ul li a, #nav ul li a {
	color: #444;
	background-color: #fff;
}

#nav-top a.current, #nav-top a.current:visited, #nav-top a.current:hover, #nav-top a.current:active, #nav-top li a:hover,
#nav a.current, #nav a.current:visited, #nav a.current:hover, #nav a.current:active, #nav li a:hover {
	color: #eee;
	background: #555;
}

#nav ul ul li {
	border: 1px solid #444;
}

#nav.continuous, #nav-top.continuous {
	border-bottom: 1px solid #444;
}
#nav ul ul li, #nav.continuous ul ul li, #nav-top ul ul li, #nav-top.continuous ul ul li { border-bottom: 1px dotted #777; }

#nav-top.continuous a.current, #nav-top.continuous a.current:visited, #nav-top.continuous a.current:hover, #nav-top.continuous a.current:active,
#nav-top.continuous li a:hover, #nav-top.continuous li li a, #nav-top.continuous li li a:visited,
#nav.continuous a.current, #nav.continuous a.current:visited, #nav.continuous a.current:hover, #nav.continuous a.current:active,
#nav.continuous li a:hover, #nav.continuous li li a, #nav.continuous li li a:visited {
	color: #eee;
	background: #555;
}
#nav-top.continuous, #nav-top.continuous ul li,
#nav-top.continuous a, #nav-top.continuous a:visited, #nav-top.continuous li li a:hover,
#nav-top.continuous li li a.current, #nav-top.continuous li li a.current:visited, #nav-top.continuous li li a.current:hover, #nav-top.continuous li li a.current:active,
#nav.continuous, #nav.continuous ul li,
#nav.continuous a, #nav.continuous a:visited, #nav.continuous li li a:hover,
#nav.continuous li li a.current, #nav.continuous li li a.current:visited, #nav.continuous li li a.current:hover, #nav.continuous li li a.current:active {
	color: #eee;
	background: #444;
}

#nav-top {
	border: 1px solid #444;
	border-top: none;
}

#nav-top ul li{
	border: 1px solid #444;
}

#nav-top ul ul li {
	border: 1px solid #444;
}

#nav ul ul li, #nav.continuous ul ul li, #nav-top ul ul li, #nav-top.continuous ul ul li {
	border-top: none;
}
#nav ul ul li:first-child, #nav.continuous ul ul li:first-child, #nav-top ul ul li:first-child, #nav-top.continuous ul ul li:first-child {
	border-top: 1px solid #444;
}
#nav ul ul li:last-child, #nav.continuous ul ul li:last-child, #nav-top ul ul li:last-child, #nav-top.continuous ul ul li:last-child {
	border-bottom: 1px solid #444;
}

/* sub menu */
#subnav {
	border: 1px solid #e7e7e7;
}
#subnav li {
	border-right: 1px solid #D8D8D8;
}
#subnav a, #subnav a:visited {
	font-weight: normal;
	font-style: italic;
}
#subnav li.current_page_item a, #subnav li.current_page_item a:visited {
	font-weight: bold;
	font-style: normal;
	color: #555;
}
#subnav li a:hover {
	color: #555;
}
/* Level 3 */
.hier-nav {
	border: 1px solid #e7e7e7;
}

.hier-nav li {
	border-right: 1px solid #D8D8D8;
}

.hier-nav .current_page_item, .hier-nav .current_page_parent {
	border-left: 1px solid #D8D8D8;
}

.post, article.page {
	border: none;
	border-bottom: 3px solid #333;
	padding: 2em 1em 1.5em;
}
article.post, article.page {
	border-radius: 0;
}
.post:last-child, article.page:last-child {
	border-bottom: none;
}
.page-links span {
	border: 1px solid;
	padding: 3px;
}

.page-links a, .page-links a:visited, .page-links a:hover {
	text-decoration: none;
}

.page-links > span, .page-links a:hover span {
	background: #444;
	color: #eee;
}

h1.posttitle,
h2.posttitle {
	border-bottom: solid 1px #222;
	font-weight: bold;
}

/* next & previous page navigation */
.page-nav {
	border: 1px solid #e7e7e7;
}
.suf-page-nav a,
.suf-page-nav span {
	border: 1px solid;
}

/* next & previous post navigation */
.post-nav, .page-nav {
	border: none;
	font-style: italic;
}
.suf-page-nav a.page-numbers:hover, .suf-page-nav span.current {
	background: #444;
	color: #eee;
}
#commentform label {
	border: solid 1px #999;
}

#commentform textarea {
	font-size: 110%;
	border: solid 1px #999999;
}

#commentform textarea:focus, #commentform input[type="text"]:focus {
	border: solid 1px #999;
}

a.comment-reply-link, a.comment-reply-login {
	border: solid 1px #999999;
}

.comment-response-type, .response-type {
	border: solid 1px #999999;
}

/* Credits  */
#page-footer, #cred {
	border-top: 1px solid #444;
}

#cred table {
	border: none;
}

.download {
	border: 1px solid #0000ff;
}

.announcement {
	border: 1px solid #088c43;
}

.warning {
	border: 1px solid #ff0000;
}

.note {
	border: 1px solid #e7d605;
}

fieldset {
	border:none;
}

input{
	border-top: 1px solid #ccc;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #ccc;
}

textarea {
	border-top: 1px solid #ccc;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #ccc;
}

textarea:focus, input[type="text"]:focus {
	border: solid 1px #666;
}

/* Featured Posts */
#featured-posts {
	border-color: #e7e7e7;
}

.sliderIndex a,
#sliderIndex a {
	border-style: solid;
	border-width: 1px;
	text-decoration: none;
}

ul.sidebar-tabs {
	font: bold 100%/100% Arial, sans-serif;
}

.author-profile, .author-profile:last-child,
.info-tag, .info-tag:last-child,
.info-category, .info-category:last-child {
	border: solid 1px #e7e7e7;
	padding: 10px;
}
div.info-category {
	border-radius: 5px;
}

.author-profile h2,
.info-tag h2,
h2.category-title {
	border-bottom: solid 1px #222;
	font-weight: bold;
}

.wp-caption img {
	border: 0 none;
}

ul.sidebar-tabs li a, .warea ul.sidebar-tabs li a {
	border: none;
	background: transparent;
	color: #eee;
}

.warea ul.sidebar-tabs li a.tab-current,
ul.sidebar-tabs li a.tab-current {
	border-radius: 0;
	background: #fff;
	color: #444;
}

.tab-box, .tabbed-sidebar {
	border: 1px solid #e7e7e7;
}

.sidebar-tabs {
 	background: #444;
	color: #eee;
}

/* The content shown when a tab is selected */
div.sidebar-tab-content {
	/*border: 1px solid #e7e7e7;*/
	border: none;
}

/* Magazine */
.suf-mag-headlines {
	border-width: 1px;
	border-style: solid;
	border-color: #e7e7e7;
}

.suf-mag-headline-block li.suf-mag-headline a.tab-current {
	border: none;
}

h2.suf-mag-excerpt-title,
h2.suf-tile-title {
	border-top: 1px dotted #e7e7e7;
	border-bottom: 1px dotted #e7e7e7;
}

h2.suf-mag-headlines-title {
	font-family: Arial, sans-serif;
	border-width: 1px;
	border-style: solid;
	border-color: #e7e7e7;
}
.suf-mag-headline-block li.suf-mag-headline a.tab-current {
	background: #444;
	color: #eee;
}
.widget-suf-cat-posts ul.suf-cat-posts-list { margin-left: 0; }
.widget-suf-cat-posts li.suf-cat-post,
.suf-mag-category li.suf-mag-catblock-post {
	border-bottom: 1px dotted #e7e7e7;
}

.widget-suf-cat-posts li.suf-cat-post:hover,
.suf-mag-category li.suf-mag-catblock-post:hover {
	border: 1px solid #e7e7e7;
}

.widget-suf-subscription input[type='text'].subscription-email {
	border: 1px solid #888;
}

.suf-widget h3 {
	font: bold 100%/100% Arial, sans-serif;
}

.suf-flat-widget h3 {
    border-top: 1px dotted #666;
    border-bottom: 1px dotted #666;
}

.flattened {
    border: none;
}

.author-info {
    border: 1px solid #e7e7e7;
}

/* Sliding panel. */
#top-bar-right-spanel {
	background-color: #040D0F;
	border: 1px solid #222;
}

/* Sliding panel widgets. */
.spanel .suf-panel-widget {
	border: none;
}

.nr-post h3 {
	border: 1px solid #e7e7e7;
}

div.booklisting img,
div.bookentry img {
	border: 1px solid #e7e7e7;
}

.nr_widget h4 {
	border: 1px solid #e7e7e7;
	font-weight: bold;
}
.wp-pagenavi a,
.wp-pagenavi span {
	border-width: 1px;
    border-style: solid;
}

.wp-pagenavi span.extend {
	border: none;
}

h3.comments, h3.respond, #reply-title {
	background: none;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #444;
	padding: 5px 5px 10px 5px;
	font-size: 1.5em;
	font-weight: bold;
}

#comments h3.comments, #respond h3.respond, h3#reply-title {
	border-radius: 0;
}
#commentform label, #commentform label.textarea {
	border: none;
	width: 200px;
	text-align: left;
}
ol.commentlist p {
	line-height: 1.8em;
}
ol.commentlist li.comment, ol.commentlist li.trackback, ol.commentlist li.pingback {
	background: none;
	border: 1px solid #e7e7e7;
	border-top: none;
	margin: 0;
	border-radius: 0;
	padding: 20px 10px;
}
ol.commentlist li.comment:first-child, ol.commentlist li.pingback:first-child, ol.commentlist li.trackback:first-child {
	border-top: 1px solid #e7e7e7;
}
ol.commentlist li.comment.author-below:first-child, ol.commentlist li.pingback.author-below:first-child, ol.commentlist li.trackback.author-below:first-child {
	border-top: none;
}
/* WP-Recaptcha Plugin */
#commentform label.recaptcha_input_area_text {
	border: none;
}

/* Subscribe to Comments Plugin */
#commentform .subscribe-to-comments label {
	border: none;
}

.dbx-handle{border-bottom:1px dotted #aaa}
.dbx-tooltip{border:1px solid #000; font:normal normal normal 0.85em Georgia, serif;}
*[class="dbx-tooltip"]:lang(en){border-color:InfoText}

h2.suf-mag-category-title {
	font-family: Arial, sans-serif;
	font-size: 1.2em;
}

.widget_calendar td.with-posts { background: #444; }
.widget_calendar td.with-posts a { color: #eee; }

.spanel .suf-panel-widget h3 {
	font-weight: bold;
}

.sidebar-tab-content ul,
.suf-widget ul,
.suf-flat-widget ul,
.suf-panel-widget ul {
	list-style: circle;
	padding: 0;
	margin-left: 20px;
}
.suf-mag-category ul li,
.sidebar-tab-content ul li,
.suf-widget ul li,
.suf-flat-widget ul li,
.suf-panel-widget ul li {
	padding: 0;
}

.suf-mag-category ul {
	list-style: circle;
	padding: 0;
	margin: 0 5px;
}
.widget-suf-follow-twitter ul, .widget-suf-featured-posts ul { list-style: none; margin-left: 0; }
.widget-suf-follow-twitter ul li { padding-left: 22px; }

.tab-box div.sbtab-content-archives ul li,
.tabbed-sidebar div.sbtab-content-archives ul li,
div.widget_archive ul li,
.widget_archive ul li {
	background-image: none;
}

.sidebar-tab-content ul ul li, .suf-widget ul ul li {
	padding-left:0;
}

.button, .button:visited, input[type="submit"], .button, input[type="submit"]  {
	background: #444;
	color: #eee;
	font-weight:bold;
	font-family: Arial, sans-serif;
}
input[type="submit"].searchsubmit {
	background: url(../../images/search-button-gray-1.png) no-repeat 0 0;
}
#ie6 #right-header-widgets .searchsubmit, #ie6 #left-header-widgets .searchsubmit, #ie6 #top-bar-right-widgets .searchsubmit, #ie6 #top-bar-left-widgets .searchsubmit,
#ie6 #sidebar .searchsubmit, #ie6 #sidebar-2 .searchsubmit, #ie6 #sidebar-b .searchsubmit, #ie6 #sidebar-2-b .searchsubmit, #ie6 #horizontal-outer-widgets-1 .searchsubmit, #ie6 #horizontal-outer-widgets-2 .searchsubmit {
    background: url(../../images/search-button-gray-1.gif) no-repeat 0 0;
}
#subnav, .hier-nav {
	border: none;
	background: none;
}

#subnav li a,
.hier-nav li a {
	font-style: italic;
	font-weight: normal;
	color: #999;
}

#subnav li.current_page_parent a, #subnav li.current_page_parent a:visited, #subnav li.current_page_parent a:hover,
.hier-nav li.current_page_item a, .hier-nav li.current_page_item a:visited, .hier-nav li.current_page_item a:hover,
.hier-nav li.current_page_parent a, .hier-nav li.current_page_parent a:visited, .hier-nav li.current_page_parent a:hover {
	color: #555;
	font-style: normal;
	font-weight: bold;
}

#subnav li, .hier-nav li, .hier-nav .current_page_item, .hier-nav .current_page_parent {
	border: none;
}

#subnav, .hier-nav {
	border-bottom: 1px solid #e7e7e7;
}

/* These settings are required for Featured Posts */
.sliderIndex a, .sliderIndex a:visited,
#sliderIndex a, #sliderIndex a:visited {
	border-color: #e7e7e7;
	color: #444;
}

.sliderIndex a:hover, .sliderIndex a.activeSlide,
#sliderIndex a:hover, #sliderIndex a.activeSlide,
.index-overlaid .sliderIndex a:hover, .index-overlaid .sliderIndex a.activeSlide,
.index-overlaid #sliderIndex a:hover, .index-overlaid #sliderIndex a.activeSlide {
	background-color: #444;
	color: #eee;
}

.pager-bullets #sliderPager a, .pager-bullets .sliderPager a { background: url(../../images/slider-gray.png) transparent no-repeat center center; }
.pager-bullets #sliderPager a.activeSlide, .pager-bullets .sliderPager a.activeSlide, .pager-bullets #sliderPager a:hover, .pager-bullets .sliderPager a:hover { background: url(../../images/slider-black.png) transparent no-repeat center center; }

.wp-pagenavi a, .wp-pagenavi a:visited, .wp-pagenavi span {
	border-color: #444;
	color: #444;
}

.wp-pagenavi span.current, .wp-pagenavi a:hover {
	background: #444;
	color: #eee;
}

.meta-left-pullout ul { border-right: 1px dotted #222; }
.meta-right-pullout ul { border-left: 1px dotted #222; }
.meta-pullout li { border-bottom: 1px dotted #222; }
.meta-pullout a { text-decoration: none; }

.exif-button { background: #444; border-color: #c0c0c0; }
.exif-button a { color: #eee; text-decoration: none; }
.exif-button .open .icon { background-position: -48px -96px; }
.exif-button .close .icon { background-position: -64px -96px; }

.mm-warea { background: #fff; border: 1px solid #c0c0c0; border-top: none; color: #333; }
#nav .mm-warea .mm-widget ul li, #nav-top .mm-warea .mm-widget ul li { background: url(../../images/slider-black.png) transparent no-repeat; color: #333; list-style-image: url(../../images/slider-black.png); padding-left: 20px; }
#nav .mm-warea .mm-widget a, #nav-top .mm-warea .mm-widget a,
#nav .mm-warea .mm-widget a:visited, #nav-top .mm-warea .mm-widget a:visited,
#nav .mm-warea .mm-widget a:hover, #nav-top .mm-warea .mm-widget a:hover {
	background: none;
	color: #787878;
}
#nav .mm-warea .mm-widget ul li:first-child, #nav-top .mm-warea .mm-widget ul li:first-child, #nav .mm-warea .mm-widget ul li:last-child, #nav-top .mm-warea .mm-widget ul li:last-child { border: none; }
.outer-pullout-container .meta-pullout { border: none; }
