/* BlogWriter Style*/

/* RESET
=============================================================================*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* BODY
=============================================================================*/

body {
  font-family: Malgun Gothic, Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

body>*:first-child {
  margin-top: 0 !important;
}

body>*:last-child {
  margin-bottom: 0 !important;
}

/* BLOCKS
=============================================================================*/

p, blockquote, ul, ol, dl, table, pre {
  margin: 15px 0;
}

/* HEADERS
=============================================================================*/

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: #3F7EB2;
}

h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

h1 {
  font-size: 28px;
  color: #E43030;
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  color: #0E5FA1;
}

h3 {
  font-size: 18px;
  color: #FF8400;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  color: #777;
  font-size: 14px;
}

body>h2:first-child, body>h1:first-child, body>h1:first-child+h2, body>h3:first-child, body>h4:first-child, body>h5:first-child, body>h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
  margin-top: 10px;
}

/* LINKS
=============================================================================*/

a {
  color: #4183C4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* LISTS
=============================================================================*/

ul, ol {
  padding-left: 30px;
}

ul li > :first-child, 
ol li > :first-child, 
ul li ul:first-of-type, 
ol li ol:first-of-type, 
ul li ol:first-of-type, 
ol li ul:first-of-type {
  margin-top: 0px;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0px;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

dl dt:first-child {
  padding: 0;
}

dl dt>:first-child {
  margin-top: 0px;
}

dl dt>:last-child {
  margin-bottom: 0px;
}

dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

dl dd>:first-child {
  margin-top: 0px;
}

dl dd>:last-child {
  margin-bottom: 0px;
}

/* CODE
=============================================================================*/

code,
kbd,
pre,
samp {
  font-size: 12px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  max-width: 90%;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* QUOTES
=============================================================================*/

blockquote {
  border-left: 5px solid #FF8C39;
  padding: 5px 15px;
  color: #FF8C39;
}

blockquote>:first-child {
  margin-top: 0px;
}

blockquote>:last-child {
  margin-bottom: 0px;
}

/* HORIZONTAL RULES
=============================================================================*/

hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 2px solid #ddd;
  padding: 0;
}

/* TABLES
=============================================================================*/
table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-top:1px solid #ea6153;
  border-right:1px solid #ea6153;
  display: table;
  border-collapse:collapse;
}
@media screen and (max-width: 580px) {
  table {
    display: block;
  }
}

table tr {
  display: table-row;
  background: #f6f6f6;
}
table tr:nth-of-type(odd) {
  background: #e9e9e9;
}
@media screen and (max-width: 580px) {
  table tr {
    padding: 8px 0;
    display: block;
  }
}

table th {
  font-weight: 900;
  padding: 6px 12px;
  display: table-cell;
  font-weight: 900;
  color: #ffffff;
  border-bottom:1px solid #ea6153;
  border-left:1px solid #ea6153;
  background: #ea6153;
  text-align:center;
}
@media screen and (max-width: 580px) {
  table th {
    padding: 2px 12px;
    display: block;
  }
}

/* FOOTER
=============================================================================*/

footer img {
  background:#FFFFFF;
  border:none;
  border-width:0px 0px 0px 0px;
  box-shadow:0px 0px 0px #FFFFFF; /* Standard blur at 5px. Increase for more depth */
  -webkit-box-shadow:0px 0px 0px #FFFFFF;
  -moz-box-shadow:0px 0px 0px #FFFFFF;
  max-width: 100%;
}

/* IMAGES
=============================================================================*/

img {
  background:#5A5A5A; /*Change this to a background image or remove*/
  border:solid #fff;
  border-width:6px 6px 20px 6px;
  box-shadow:1px 1px 5px #333; /* Standard blur at 5px. Increase for more depth */
  -webkit-box-shadow:1px 1px 5px #333;
  -moz-box-shadow:1px 1px 5px #333;
  /*height:auto; Set to height of your image or desired div*/
  /*width:inherit; Set to width of your image or desired div*/
  max-width: 95%;
}
