.yui3-slidecheckbox-content,.yui3-slidecheckbox-content > div{height:28px;}
.yui3-slidecheckbox .edge,.yui3-slidecheckbox-handle,.yui3-slidecheckbox-handle > span,.yui3-slidecheckbox-labelOn,.yui3-slidecheckbox-labelOff{background-image:url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-slidecheckbox/assets/skins/ios5-green/slider.png);background-color:transparent;height:28px;display:block;-moz-user-select:none;-khtml-user-select:none;}
.yui3-slidecheckbox-handle,.yui3-slidecheckbox-handle > span,.yui3-slidecheckbox-labelOn,.yui3-slidecheckbox-labelOff{background-color:transparent;}
.yui3-slidecheckbox-handle{width:28px;background:none;}
.yui3-slidecheckbox-handle span{height:28px;width:14px;}
.yui3-slidecheckbox-handle .lt{background-position:0 0;left:-14px;}
.yui3-slidecheckbox-handle .rt{background-position:-14px 0;right:14px;}
.yui3-slidecheckbox-labelOff{background-position:right -84px;color:#8B8B8B;margin-left:-29px;}
.yui3-slidecheckbox-labelOn{background-position:right -56px;color:white;}
.yui3-slidecheckbox-labelOff,.yui3-slidecheckbox-labelOn{background-repeat:repeat-x;text-shadow: 0px 0px 2px white rgba(0, 0, 0, 0.6);height:28px;}
.yui3-slidecheckbox-labelOff{padding:1px 20px 0 17px;}
.yui3-slidecheckbox-labelOn{padding:1px 20px 0 15px;}
.yui3-slidecheckbox-labelOn label,.yui3-slidecheckbox-labelOff label{font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
.yui3-slidecheckbox-wrapper > .edge{width:14px;height:28px;}
.yui3-slidecheckbox-wrapper > .edge.lt{background-position:0 -28px;}
.yui3-slidecheckbox-wrapper > .edge.rt{background-position:-14px -28px;}