span.round {
   boarder-radius: 15px;
   padding: 10px;
   background-color: gray;
   font-color: black;
}

span.sharp-corners {
   padding: 10px;
   background-color: gray;
   font-color: black;
}

span.red {
   background-color: red;
}

span.blue {
   background-color: blue;
}

span.light-blue {
   background-color: lightCyan;
}

span.green {
   background-color: green;
}

span.white {
   background-color: white;
   font-color: black;
}

span.white-text {
   font-color: white;
}
