.yui3-skin-sam .yui3-datatable .editing {
    background-color: #f0cf53;
}

.yui3-datatable-editor-cell {
    background-color: #fffed4;
    border: 1px solid #8b8b8b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding-left: 4px;
    z-index:99;
    box-shadow: 1px 1px 1px rgba(128,128,128, 0.3);
}

.yui3-skin-sam .yui3-calendar-content {
    font-size: 11px;
}

.yui3-widget-ft {
   text-align: right;
}

.yui3-datatable-editor-overlay {
   padding: 4px;
   background-color: #e6e6e6;
   border: 1px solid #a0a0a0;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 3px;
   z-index: 99;
}

.yui3-datatable-editor-overlay .yui3-button {
    height:     22px;
    font-size:  11px;
    width:      auto;
    margin-top: 5px;
    margin-left: 5px;
}

.yui3-datatable-editor-overlay .yui3-datatable-editor-overlay-button-save {
    background-color:#1B7AE0;
    color: #ebebeb;
}

.yui3-datatable-editor-checkbox {
    height: 13px;
}
