.yui3-spinner-hidden {
    display:none;
}

.yui3-spinner {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    vertical-align:middle;
}

.yui3-spinner .yui3-spinner-content {
    padding:1px;
    position:relative;
}

.yui3-spinner input.yui3-spinner-input  {
    width:2em;
    height:1.5em;
    text-align:right;
    margin-right:22px;
    vertical-align:top;
    border:1px solid #000;
    padding:2px;
}

.yui3-spinner .yui3-spinner-up,
.yui3-spinner .yui3-spinner-down {
    position:absolute;
    height:1em;
    width:22px;
    overflow:hidden;
    text-indent:-10em;
    border:1px solid #999;
    margin:0;
    padding:0px;
}

.yui3-spinner .yui3-spinner-up {
    top:1px;
    *top:2px;
    right:1px;
}

.yui3-spinner .yui3-spinner-down {
    bottom:1px;
    *bottom:2px;
    right:1px;
 }