.yui3-image-gallery-paginator {
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 2000;
}

.ie6 .yui3-image-gallery-paginator {
	position: absolute;
}

.yui3-image-gallery-paginator-content {
	padding: 30px 30px 5px;
}

.yui3-image-gallery-paginator .yui3-paginator-link {
	color: white;
	font-size: larger;
	font-weight: bold;
	border: 0;
	padding: 0;
}

.yui3-image-gallery-paginator .yui3-image-gallery-paginator-thumb {
	background: transparent url() no-repeat 50% 50%;
	border: 0;
	cursor: pointer;
	display: inline-block;
	height: 55px;
	overflow: hidden;
	padding: 3px;
	width: 55px;
	margin: 1px;
}

.yui3-image-gallery-paginator .yui3-paginator-current-page .yui3-image-gallery-paginator-thumb {
	border: 3px solid #fff;
	padding: 0;
}

.yui3-image-gallery-paginator-links {
	text-align: center;
}

.yui3-image-gallery-player {
	padding-bottom: 10px;
	text-align: center;
}