/*! formstone v0.5.12 [navigation.css] 2015-05-12 | MIT License | formstone.it */

/**
	 * @class
	 * @name .fs-navigation-element
	 * @type element
	 * @description Target elmement
	 */
/**
	 * @class
	 * @name .fs-navigation
	 * @type element
	 * @description Base widget class
	 */
.fs-navigation {
  /**
		 * @class
		 * @name .fs-navigation-toggle-nav
		 * @type element
		 * @description Toggle navigation
		 */
  /**
		 * @class
		 * @name .fs-navigation-toggle-nav.fs-navigation-enabled
		 * @type modifier
		 * @description Indicates enabled state
		 */
  /**
		 * @class
		 * @name .fs-navigation-toggle-nav.fs-navigation-open
		 * @type modifier
		 * @description Indicates open state
		 */
  /**
		 * @class
		 * @name .fs-navigation-toggle-handle
		 * @type element
		 * @description Toggle handle
		 */
  /**
		 * @class
		 * @name .fs-navigation-toggle-handle.fs-navigation-enabled
		 * @type modifier
		 * @description Indicates enabled state
		 */
  /**
		 * @class
		 * @name .fs-navigation-toggle-handle.fs-navigation-open
		 * @type modifier
		 * @description Indicates open state
		 */
  /**
		 * @class
		 * @name .fs-navigation-overlay-nav
		 * @type element
		 * @description Overlay nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-overlay-nav.fs-navigation-enabled
		 * @type modifier
		 * @description Indicates enabled state
		 */
  /**
		 * @class
		 * @name .fs-navigation-overlay-nav.fs-navigation-animated
		 * @type modifier
		 * @description Indicates animated state
		 */
  /**
		 * @class
		 * @name .fs-navigation-overlay-nav.fs-navigation-open
		 * @type modifier
		 * @description Indicates open state
		 */
  /**
		 * @class
		 * @name .fs-navigation-overlay-left-nav
		 * @type modifier
		 * @description Indicates left hand nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-overlay-right-nav
		 * @type modifier
		 * @description Indicates right hand nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-nav
		 * @type element
		 * @description Push nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-nav.fs-navigation-enabled
		 * @type modifier
		 * @description Indicates enabled state
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-nav.fs-navigation-animated
		 * @type modifier
		 * @description Indicates animated state
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-nav.fs-navigation-open
		 * @type modifier
		 * @description Indicates open state
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-left-nav
		 * @type modifier
		 * @description Indicates left hand nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-right-nav
		 * @type modifier
		 * @description Indicates right hand nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-nav
		 * @type element
		 * @description Reveal nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-nav.fs-navigation-enabled
		 * @type modifier
		 * @description Indicates enabled state
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-nav.fs-navigation-animated
		 * @type modifier
		 * @description Indicates animated state
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-nav.fs-navigation-open
		 * @type modifier
		 * @description Indicates open state
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-left-nav
		 * @type modifier
		 * @description Indicates left hand nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-right-nav
		 * @type modifier
		 * @description Indicates right hand nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-overlay-handle
		 * @type element
		 * @description Overlay handle
		 */
  /**
		 * @class
		 * @name .fs-navigation-overlay-handle.fs-navigation-enabled
		 * @type modifier
		 * @description Indicates enabled state
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-handle
		 * @type element
		 * @description Push handle
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-handle.fs-navigation-enabled
		 * @type modifier
		 * @description Indicates enabled state
		 */
  /**
		 * @class
		 * @name .fs-navigation-overlay-content:before
		 * @type element
		 * @description Overlay mask
		 */
  /**
		 * @class
		 * @name .fs-navigation-overlay-content.fs-navigation-open:before
		 * @type modifier
		 * @description Indicates open state
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-content
		 * @type element
		 * @description Target page content
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-content.fs-navigation-enabled
		 * @type modifier
		 * @description Indicates enabled state
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-content.fs-navigation-animated
		 * @type modifier
		 * @description Indicates animted state
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-content.fs-navigation-open
		 * @type modifier
		 * @description Indicates open state
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-left-content
		 * @type modifier
		 * @description Indicates left hand nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-push-right-content
		 * @type modifier
		 * @description Indicates right hand nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-content
		 * @type element
		 * @description Target page content
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-content.fs-navigation-enabled
		 * @type modifier
		 * @description Indicates enabled state
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-content.fs-navigation-animated
		 * @type modifier
		 * @description Indicates animted state
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-content.fs-navigation-open
		 * @type modifier
		 * @description Indicates open state
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-left-content
		 * @type modifier
		 * @description Indicates left hand nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-reveal-right-content
		 * @type modifier
		 * @description Indicates right hand nav
		 */
  /**
		 * @class
		 * @name .fs-navigation-handle
		 * @type element
		 * @description Click target to toggle navigation
		 */
  /**
		 * @class
		 * @name .fs-navigation-handle.fs-navigation-open
		 * @type modifier
		 * @description Indicates open state
		 */
  /**
		 * @class
		 * @name .fs-navigation-handle.fs-navigation-enabled
		 * @type modifier
		 * @description Indicates enabled state
		 */
  /**
		 * @class
		 * @name .fs-navigation-handle:after
		 * @type element
		 * @description Icon displayed in handle
		 */
  /**
		 * @class
		 * @name .fs-navigation-lock
		 * @type modifier
		 * @description Indicates locked state; Applied to body element
		 */
}
.fs-navigation.fs-navigation-enabled {
  margin: 0;
}
.fs-navigation,
.fs-navigation:after,
.fs-navigation:before,
.fs-navigation *,
.fs-navigation *:after,
.fs-navigation *:before {
  box-sizing: border-box;
  -webkit-transition: none;
          transition: none;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
.fs-navigation-toggle-nav.fs-navigation-enabled {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-width: 0 1px 1px;
  border-radius: 0 0 3px 3px;
  display: none;
}
.fs-navigation-toggle-nav.fs-navigation-open {
  display: block;
}
.fs-navigation-toggle-handle.fs-navigation-enabled {
  width: 100%;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #111111;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 45px 0 15px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.fs-navigation-toggle-handle.fs-navigation-open {
  border-radius: 3px 3px 0 0;
}
.fs-navigation-push-nav.fs-navigation-enabled,
.fs-navigation-reveal-nav.fs-navigation-enabled,
.fs-navigation-overlay-nav.fs-navigation-enabled {
  width: 270px;
  height: 100%;
  position: fixed;
  top: 0;
  background: #ffffff;
  display: block;
  overflow: auto;
  visibility: hidden;
}
.fs-navigation-reveal-nav.fs-navigation-animated {
  -webkit-transition: visibility 0.001s linear 0.2s;
          transition: visibility 0.001s linear 0.2s;
}
.fs-navigation-push-nav.fs-navigation-animated,
.fs-navigation-overlay-nav.fs-navigation-animated {
  -webkit-transition: -webkit-transform 0.2s ease, visibility 0.001s linear 0.2s;
          transition: transform 0.2s ease, visibility 0.001s linear 0.2s;
}
.fs-navigation-push-nav.fs-navigation-enabled,
.fs-navigation-reveal-nav.fs-navigation-enabled {
  z-index: 0;
}
.fs-navigation-push-left-nav.fs-navigation-enabled,
.fs-navigation-reveal-left-nav.fs-navigation-enabled,
.fs-navigation-overlay-left-nav.fs-navigation-enabled {
  left: 0;
}
.fs-navigation-push-right-nav.fs-navigation-enabled,
.fs-navigation-reveal-right-nav.fs-navigation-enabled,
.fs-navigation-overlay-right-nav.fs-navigation-enabled {
  right: 0;
}
.fs-navigation-push-left-nav.fs-navigation-enabled,
.fs-navigation-overlay-left-nav.fs-navigation-enabled {
  -webkit-transform: translate3D(-270px, 0, 0);
      -ms-transform: translate3D(-270px, 0, 0);
          transform: translate3D(-270px, 0, 0);
}
.fs-navigation-push-right-nav.fs-navigation-enabled,
.fs-navigation-overlay-right-nav.fs-navigation-enabled {
  -webkit-transform: translate3D(270px, 0, 0);
      -ms-transform: translate3D(270px, 0, 0);
          transform: translate3D(270px, 0, 0);
}
.fs-navigation-overlay-nav.fs-navigation-enabled {
  z-index: 2;
}
.fs-navigation-overlay-left-nav.fs-navigation-enabled {
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.15);
}
.fs-navigation-overlay-right-nav.fs-navigation-enabled {
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.15);
}
.fs-navigation-reveal-nav.fs-navigation-open {
  visibility: visible;
  -webkit-transition: visibility 0.001s ease;
          transition: visibility 0.001s ease;
}
.fs-navigation-push-nav.fs-navigation-open,
.fs-navigation-overlay-nav.fs-navigation-open {
  -webkit-transform: translate3D(0, 0, 0);
      -ms-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
  -webkit-transition: -webkit-transform 0.2s ease, visibility 0.001s ease;
          transition: transform 0.2s ease, visibility 0.001s ease;
  visibility: visible;
}
.fs-navigation-push-handle.fs-navigation-enabled,
.fs-navigation-overlay-handle.fs-navigation-enabled {
  padding: 10px 40px 10px 15px;
  background: #ffffff;
  color: #111111;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 0 45px 0 15px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.fs-navigation-overlay-content:before {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.75);
  content: '';
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease, visibility 0.2s ease;
          transition: opacity 0.2s ease, visibility 0.2s ease;
  visibility: hidden;
}
.fs-navigation-overlay-content.fs-navigation-open:before {
  opacity: 1;
  visibility: visible;
}
.fs-navigation-reveal-content.fs-navigation-enabled,
.fs-navigation-push-content.fs-navigation-enabled {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  -webkit-transform: translate3D(0, 0, 0);
      -ms-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.fs-navigation-reveal-content.fs-navigation-animated,
.fs-navigation-push-content.fs-navigation-animated {
  -webkit-transition: -webkit-transform 0.2s ease;
          transition: transform 0.2s ease;
}
.fs-navigation-reveal-left-content.fs-navigation-enabled,
.fs-navigation-push-left-content.fs-navigation-enabled {
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.15);
}
.fs-navigation-reveal-right-content.fs-navigation-enabled,
.fs-navigation-push-right-content.fs-navigation-enabled {
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.15);
}
.fs-navigation-reveal-left-content.fs-navigation-open,
.fs-navigation-push-left-content.fs-navigation-open {
  -webkit-transform: translate3D(270px, 0, 0);
      -ms-transform: translate3D(270px, 0, 0);
          transform: translate3D(270px, 0, 0);
}
.fs-navigation-reveal-right-content.fs-navigation-open,
.fs-navigation-push-right-content.fs-navigation-open {
  -webkit-transform: translate3D(-270px, 0, 0);
      -ms-transform: translate3D(-270px, 0, 0);
          transform: translate3D(-270px, 0, 0);
}
.fs-navigation-handle.fs-navigation-enabled {
  position: relative;
}
.fs-navigation-handle.fs-navigation-enabled:after {
  height: 3px;
  width: 15px;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  background: #cccccc;
  box-shadow: 0 5px 0 #cccccc, 0 -5px 0 #cccccc;
  content: '';
  display: block;
  margin: auto 0;
}
.fs-navigation-handle.fs-navigation-open:after {
  width: 15px;
  height: 15px;
  background: transparent;
  border: none;
  box-shadow: none;
  color: #cccccc;
  content: "\00d7";
  font-size: 22px;
  font-weight: 700;
  line-height: 13px;
  text-align: center;
}
.fs-navigation-lock {
  overflow: hidden !important;
}
