/*! formstone v0.5.12 [pagination.css] 2015-05-12 | MIT License | formstone.it */

/**
	 * @class
	 * @name .fs-pagination-element
	 * @type element
	 * @description Target elmement
	 */
/**
	 * @class
	 * @name .fs-pagination
	 * @type element
	 * @description Base widget class
	 */
/**
	 * @class
	 * @name .fs-pagination.fs-pagination-mobile
	 * @type modifier
	 * @description Indicates mobile display
	 */
.fs-pagination {
  /**
		 * @class
		 * @name .fs-pagination
		 * @type element
		 * @description Pages container
		 */
  /**
		 * @class
		 * @name .fs-pagination-page
		 * @type element
		 * @description Page element
		 */
  /**
		 * @class
		 * @name .fs-pagination-ellipsis
		 * @type element
		 * @description Ellipsis element
		 */
  /**
		 * @class
		 * @name .fs-pagination-page.fs-pagination-active
		 * @type modifier
		 * @description Indicates active page
		 */
  /**
		 * @class
		 * @name .fs-pagination-page.fs-pagination-first
		 * @type modifier
		 * @description Indicates first page
		 */
  /**
		 * @class
		 * @name .fs-pagination-page.fs-pagination-last
		 * @type modifier
		 * @description Indicates last page
		 */
  /**
		 * @class
		 * @name .fs-pagination-page.fs-pagination-visible
		 * @type modifier
		 * @description Indicates visible page
		 */
  /**
		 * @class
		 * @name .fs-pagination-control
		 * @type element
		 * @description Pagination button
		 */
  /**
		 * @class
		 * @name .fs-pagination-control.fs-pagination-control_previous
		 * @type modifier
		 * @description Indicates previous control
		 */
  /**
		 * @class
		 * @name .fs-pagination-control.fs-pagination-control_next
		 * @type modifier
		 * @description Indicates next control
		 */
  /**
		 * @class
		 * @name .fs-pagination-position
		 * @type element
		 * @description Mobile position indicator
		 */
  /**
		 * @class
		 * @name .fs-pagination-select
		 * @type element
		 * @description Mobile page dropdown
		 */
}
.fs-pagination-pages {
  text-align: center;
}
.fs-pagination-page,
.fs-pagination-ellipsis {
  display: none;
  margin: 0 5px;
}
.fs-pagination-active,
.fs-pagination-first,
.fs-pagination-last,
.fs-pagination-visible {
  display: inline-block;
}
.fs-pagination-control {
  border: none;
  display: block;
}
.fs-pagination-control:focus {
  outline: none;
}
.fs-pagination-control_previous {
  float: left;
}
.fs-pagination-control_next {
  float: right;
}
.fs-pagination-position,
.fs-pagination-select {
  display: none;
}
.fs-pagination-mobile .fs-pagination-pages {
  display: none;
}
.fs-pagination-mobile .fs-pagination-position {
  display: block;
  text-align: center;
}
.fs-pagination-mobile .fs-pagination-select {
  position: absolute;
  z-index: -1;
  display: block;
  opacity: 0;
}
