/*! formstone v0.5.12 [scrollbar.css] 2015-05-12 | MIT License | formstone.it */

/**
	 * @class
	 * @name .fs-scrollbar-element
	 * @type element
	 * @description Target elmement
	 */
/**
	 * @class
	 * @name .fs-scrollbar
	 * @type element
	 * @description Base widget class
	 */
/**
	 * @class
	 * @name .fs-scrollbar.fs-scrollbar-horizontal
	 * @type modifier
	 * @description Indicates horizontal scrolling
	 */
/**
	 * @class
	 * @name .fs-scrollbar.fs-scrollbar-setup
	 * @type modifier
	 * @description Indicates setup state
	 */
/**
	 * @class
	 * @name .fs-scrollbar.fs-scrollbar-active
	 * @type modifier
	 * @description Indicates active state
	 */
.fs-scrollbar {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  /**
		 * @class
		 * @name .fs-scrollbar-content
		 * @type element
		 * @description Scrolling content
		 */
  /**
		 * @class
		 * @name .fs-scrollbar-bar
		 * @type element
		 * @description Scrollbar container
		 */
  /**
		 * @class
		 * @name .fs-scrollbar-track
		 * @type element
		 * @description Scrollbar track container
		 */
  /**
		 * @class
		 * @name .fs-scrollbar-handle
		 * @type element
		 * @description Scrollbar handle
		 */
}
.fs-scrollbar,
.fs-scrollbar * {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
.fs-scrollbar,
.fs-scrollbar-content,
.fs-scrollbar-bar,
.fs-scrollbar-track,
.fs-scrollbar-handle {
  box-sizing: border-box;
}
.fs-scrollbar-content {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.fs-scrollbar-content::-webkit-scrollbar,
.fs-scrollbar-content::-webkit-scrollbar-button,
.fs-scrollbar-content::-webkit-scrollbar-track,
.fs-scrollbar-content::-webkit-scrollbar-track-piece,
.fs-scrollbar-content::-webkit-scrollbar-thumb,
.fs-scrollbar-content::-webkit-scrollbar-corner,
.fs-scrollbar-content::-webkit-resizer {
  background: transparent;
  opacity: 0;
}
.fs-scrollbar-bar {
  width: 16px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-width: 0 0 0 1px;
  display: none;
}
.fs-scrollbar-track {
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
  overflow: hidden;
}
.fs-scrollbar-handle {
  width: 10px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 3px;
  z-index: 2;
  background: #cccccc;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.fs-scrollbar-horizontal .fs-scrollbar-content {
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 0 16px 0;
}
.fs-scrollbar-horizontal .fs-scrollbar-bar {
  width: 100%;
  height: 16px;
  top: auto;
  bottom: 0;
  border-width: 1px 0 0 0;
}
.fs-scrollbar-horizontal .fs-scrollbar-handle {
  width: 20px;
  height: 10px;
  top: auto;
  right: auto;
  bottom: 3px;
}
.fs-scrollbar-setup .fs-scrollbar-content,
.fs-scrollbar-active .fs-scrollbar-content {
  padding: 20px;
}
.fs-scrollbar-setup .fs-scrollbar-bar,
.fs-scrollbar-active .fs-scrollbar-bar {
  display: block;
}
