/*! formstone v0.5.12 [upload.css] 2015-05-12 | MIT License | formstone.it */

/**
	 * @class
	 * @name .fs-upload-element
	 * @type element
	 * @description Target elmement
	 */
/**
	 * @class
	 * @name .fs-upload
	 * @type element
	 * @description Base widget class
	 */
/**
	 * @class
	 * @name .fs-upload.fs-upload-dropping
	 * @type modifier
	 * @description Indicates dropping state
	 */
.fs-upload {
  overflow: hidden;
  /**
		 * @class
		 * @name .fs-upload-input
		 * @type element
		 * @description Masked Input
		 */
  /**
		 * @class
		 * @name .fs-upload-target
		 * @type element
		 * @description Drop target
		 */
}
.fs-upload,
.fs-upload:after,
.fs-upload:before,
.fs-upload *,
.fs-upload *:after,
.fs-upload *:before {
  box-sizing: border-box;
  -webkit-transition: none;
          transition: none;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
.fs-upload-input {
  position: absolute;
  left: 100%;
  opacity: 0;
}
.no-opacity .fs-upload-input {
  left: -999px;
}
.fs-upload-target {
  background: #ffffff;
  border: 3px dashed #cccccc;
  border-radius: 3px;
  color: #666666;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  padding: 25px;
  text-align: center;
  -webkit-transition: background 0.15s linear,
				border 0.15s linear,
				opacity 0.15s linear;
          transition: background 0.15s linear,
				border 0.15s linear,
				opacity 0.15s linear;
}
.fs-upload.dropping .fs-upload-target,
.no-touch .fs-upload:hover .fs-upload-target {
  background: #eeeeee;
  border-color: #999999;
  color: #333333;
}
