@font-face {
  font-family: 'cyber-font';
  src: url('eot/OpenDyslexic-Regular.eot');
  src: url('eot/OpenDyslexic-Regular.eot?#iefix') format('embedded-opentype'),
       url('woff/OpenDyslexic-Regular.woff') format('woff'),
       url('ttf/OpenDyslexic-Regular.ttf')  format('truetype'),
       url('svg/OpenDyslexic-Regular.svg#cyber-font') format('svg');
       font-style: normal;
       font-weight: normal;
}
@font-face {
  font-family: 'cyber-font';
  src: url('eot/OpenDyslexic-Bold.eot');
  src: url('eot/OpenDyslexic-Bold.eot?#iefix') format('embedded-opentype'),
       url('woff/OpenDyslexic-Bold.woff') format('woff'),
       url('ttf/OpenDyslexic-Bold.ttf')  format('truetype'),
       url('svg/OpenDyslexic-Bold.svg#cyber-font') format('svg');
       font-style: normal;
       font-weight: bold;
}
