
.box{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#page{
	width: 100%;
	height: 100%;
	padding: 7px;
	background-color: #ECE9D8;
	overflow:hidden;
}
#body{
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 70px;
	overflow:hidden;
}
#body form{
	width: 100%;
	height: 100%;
}
#top{
	position: absolute;
	top:0;
	width: 100%;
	height: 30px;
	font-size: 11pt;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	background-color: #E7F2F6;
}
#content{
	width: 100%;
	height: 100%;
	padding: 5px;
	background-color: white;
	overflow: auto;
}
#content .box{
	margin: 0px;
}
#content table{
	width: 100%;
	height: 100%;
}
#content table,#content th,#content td{
	border:1px #BDDCEA solid;
	border-collapse:collapse;
}
#content table .dataarea td{
	vertical-align: top;
}
#bottom{
	position: absolute;
	bottom:0;
	width: 100%;
	height: 70px;
	background-color: #DEDEDE;
}
#memo{
	color: red;
	text-align: center;
	margin: 10px;
}
.list{
	width: 100%;
	height: 100%;
	margin: 0px;
}
.nav{
	height: 100%;
}
.nav .category{
	position: absolute;
	left:0;
	right: 0;
	top:0;
	width: 100%;
	height: auto;
	overflow:auto;
}
.nav .category select{
	width: 100%;
	margin: 0px;
}
.nav .view{
	width: 100%;
	height: 100%;
	overflow: auto;
}
#F_View{
	width: 100%;
	height: 100%;
	border: solid 1px gray;
	padding: 1px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.datalist{
	width: 27%;
	height: 100%;
}
.resultlist{
	width: 27%;
	height: 100%;
}
.ToolsBar{
	margin-top: 100%;
	text-align: center;
}
.ToolsBar img{
	border: none;
}
.ToolsBar .button{
	display: inline-block;
	margin-bottom: 2px;
	width: 16px;
	height: 16px;
}
.ActionBar{
	width: 100%;
	height: 30px;
	margin-top: 5px;
	text-align: center;
	overflow:hidden;
}
.ActionBarItem{
	width: 70px;
	margin: 3px 7px;
	*padding-top: 1px;
}