.yui3-js-enabled .yui3-treeview-loading {
    display:none;
}

.yui3-treeview a {
    text-decoration: none;
    color: black;
}

.yui3-treeview .yui3-treeview-label-content {
    background-position: 0 -43px;
    padding-left: 38px;
}

.yui3-treeleaf-content,
.yui3-treeview-label-content,
.yui3-toggle {
    background: url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-yui-treeview/assets/skins/sam/tree_view_icons_blue_01_arrow_beside_folders.gif) no-repeat;
}

.yui3-tree-collapsed  .yui3-treeview-label-content {
    background-position: 0 -3px;
}


.yui3-tree-collapsed .yui3-treeleaf,
.yui3-tree-collapsed .yui3-treeview  {
    display : none;
}

.yui3-treeview-treelabel {
    cursor: pointer;   
}

.yui3-treeview {
    zoom : 1;
}


.yui3-treeview  .yui3-treeview-content {
    margin-left: 22px;
}

.yui3-treeview .yui3-treeleaf {
    margin-top: 1px;
}

.yui3-treeview .yui3-treeleaf-content {
    background-position: 0 -162px;
    padding-left: 38px;
}
