.mejs__speed-button, .mejs-speed-button {
    position: relative;
}

.mejs__speed-button > button, .mejs-speed-button > button {
    background: transparent;
    width: 36px;
    margin: 11px 0 0 0;
    font-size: 11px;
    line-height: normal;
    color: #ffffff;
}

.mejs__speed-selector, .mejs-speed-selector {
    visibility: hidden;
    position: absolute;
    top: -100px;
    left: -10px;
    width: 60px;
    height: 100px;
    background: rgba(50, 50, 50, 0.7);
    border: solid 1px transparent;
    padding: 0;
    overflow: hidden;
    border-radius: 0;
}

.mejs__speed-selector, .mejs-speed-selector {
    visibility: visible;
}

.mejs__speed-selector-list, .mejs-speed-selector-list  {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none !important;
    overflow: hidden;
}

.mejs__speed-selector-list-item, .mejs-speed-selector-list-item {
    margin: 0 0 6px 0;
    padding: 0 10px;
    list-style-type: none !important;
    display: block;
    color: #fff;
    overflow: hidden;
}

.mejs__speed-selector-list-item:hover, .mejs-speed-selector-list-item:hover {
    background-color: rgb(200, 200, 200) !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.mejs__speed-selector-input, .mejs-speed-selector-input {
    clear: both;
    float: left;
    margin: 3px 3px 0 5px;
    position: absolute;
    left: -1000px;
}

.mejs__speed-selector-label, .mejs-speed-selector-label {
    width: 60px;
    float: left;
    padding: 4px 0 0 0;
    line-height: 15px;
    font-size: 11px;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

.mejs__speed-selected, .mejs-speed-selected {
    color: rgba(33, 248, 248, 1);
}