.psh {
  background-color: #2e3440;
  color: #d8dee9;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
}

.psh code::-moz-selection, .psh samp::-moz-selection {
  background-color: #434c5e;
}

.psh code::selection, .psh samp::selection {
  background-color: #434c5e;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #838995;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #2e3440;
  text-align: right;
  height: 18px;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  line-height: 18px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 11px;
  font-family: serif;
  font-family: initial;
  background-color: #434853;
  color: #b4b6ba;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #434853;
  font-weight: 700;
  font-size: 14px;
  color: #b4b6ba;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #434853;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #b4b6ba;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #838995;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #595f6a;
  font-size: 13px;
  color: #b4b6ba;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #454f57;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #424f5b;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #484b5c;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #4d4d54;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #4c4a55;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #4c4e54;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #454f57;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #4c4a55;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #595f6a;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #a3be8c;
}

.psh .source {
  -webkit-font-smoothing: auto;
  color: #d8dee9;
}

.psh .none {
  color: #d8dee9;
}

.psh .comment {
  color: #4c566a;
}

.psh .comment .markup.link {
  color: #4c566a;
  text-decoration: none;
}

.psh .comment .markup.link:hover {
  text-decoration: underline;
}

.psh .constant {
  color: #8fbcbb;
}

.psh .constant.character.escape {
  color: #d08770;
}

.psh .constant.numeric, .psh .constant.other.color {
  color: #b48ead;
}

.psh .constant.language {
  color: #81a1c1;
}

.psh .constant.other.symbol {
  color: #8fbcbb;
}

.psh .constant.other.placeholder {
  color: #d08770;
}

.psh .constant.variable {
  color: #d8dee9;
}

.psh .entity.name.function {
  color: #88c0d0;
}

.psh .entity.name.class, .psh .entity.name.type.class {
  color: #8fbcbb;
}

.psh .entity.name.section {
  color: #81a1c1;
}

.psh .entity.name.tag {
  color: #81a1c1;
}

.psh .entity.name.type {
  color: #8fbcbb;
}

.psh .entity.other.inherited-class {
  color: #8fbcbb;
  font-weight: 700;
}

.psh .entity.other.attribute-name {
  color: #8fbcbb;
}

.psh .entity.other.attribute-name.id {
  color: #8fbcbb;
  text-decoration: underline;
}

.psh .invalid.deprecated {
  color: #ebcb8b !important;
  text-decoration: line-through !important;
}

.psh .invalid.illegal {
  color: #d8dee9 !important;
  background-color: #bf616a !important;
}

.psh .keyword {
  color: #81a1c1;
}

.psh .keyword.control {
  color: #81a1c1;
}

.psh .keyword.operator {
  color: #81a1c1;
}

.psh .keyword.other.special-method {
  color: #88c0d0;
  font-style: italic;
}

.psh .keyword.other.unit {
  color: #81a1c1;
}

.psh .markup.bold {
  font-weight: 700;
}

.psh .markup.changed {
  color: #ebcb8b;
}

.psh .markup.deleted {
  color: #bf616a;
}

.psh .markup.italic {
  font-style: italic;
}

.psh .markup.heading {
  color: #88c0d0;
}

.psh .markup.heading .marker {
  color: #81a1c1;
}

.psh .markup.heading .punctuation.definition.heading {
  color: #88c0d0;
}

.psh .markup.link {
  text-decoration: none;
}

.psh .markup.link:hover {
  text-decoration: underline;
}

.psh .markup.quote {
  color: #eceff4;
}

.psh .markup.raw {
  color: #8fbcbb;
}

.psh .meta {
  color: #d8dee9;
}

.psh .meta.brace {
  color: #d8dee9;
}

.psh .meta.class {
  color: #8fbcbb;
}

.psh .meta.class.body {
  color: #d8dee9;
}

.psh .meta.definition.variable {
  color: #d8dee9;
}

.psh .meta.link {
  color: #d8dee9;
}

.psh .meta.method {
  color: #88c0d0;
}

.psh .meta.method.body {
  color: #d8dee9;
}

.psh .meta.method-call {
  color: #d8dee9;
}

.psh .meta.require {
  color: #5e81ac;
}

.psh .meta.selector {
  color: #8fbcbb;
}

.psh .meta.separator {
  color: #d8dee9;
}

.psh .meta.tag {
  color: #81a1c1;
}

.psh .punctuation {
  color: #d8dee9;
}

.psh .punctuation.definition.array, .psh .punctuation.definition.function-parameters, .psh .punctuation.definition.method-parameters, .psh .punctuation.definition.parameters, .psh .punctuation.definition.separator, .psh .punctuation.definition.seperator {
  color: #d8dee9;
}

.psh .punctuation.definition.bold {
  font-weight: 700;
}

.psh .punctuation.definition.comment {
  color: #4c566a;
}

.psh .punctuation.definition.heading, .psh .punctuation.definition.identity {
  color: #88c0d0;
}

.psh .punctuation.definition.italic {
  font-style: italic;
}

.psh .punctuation.definition.tag {
  color: #81a1c1;
}

.psh .punctuation.section.embedded {
  color: #81a1c1;
}

.psh .punctuation.section.class,
.psh .punctuation.section.inner-class .punctuation.section.method {
  color: #8fbcbb;
}

.psh .storage {
  color: #81a1c1;
}

.psh .storage.modifier.import .storage.modifier.package {
  color: #8fbcbb;
}

.psh .storage.type.annotation, .psh .storage.type.primitive {
  color: #81a1c1;
}

.psh .string {
  color: #a3be8c;
}

.psh .string.other.link {
  color: #a3be8c;
  text-decoration: none;
}

.psh .string.other.link:hover {
  text-decoration: underline;
}

.psh .string > .punctuation.definition.string {
  color: #d8dee9;
}

.psh .string.regexp {
  color: #ebcb8b;
}

.psh .string.regexp .source.ruby.embedded {
  color: #ebcb8b;
}

.psh .string.unquoted {
  color: #d8dee9;
}

.psh .support.class {
  color: #8fbcbb;
}

.psh .support.function {
  color: #88c0d0;
}

.psh .support.function.any-method {
  color: #88c0d0;
}

.psh .support.type {
  color: #8fbcbb;
}

.psh .underline {
  text-decoration: underline;
}

.psh .variable {
  color: #d8dee9;
}

.psh .variable.interpolation {
  color: #d8dee9;
  font-style: italic;
}

.psh .variable.language {
  color: #81a1c1;
}

.psh .variable.parameter {
  color: #d8dee9;
}

.psh .source.c .keyword.operator, .psh .source.cpp .keyword.operator {
  color: #81a1c1;
}

.psh .source.c .meta.preprocessor, .psh .source.cpp .meta.preprocessor {
  color: #5e81ac;
}

.psh .source.c .punctuation.definition.directive,
.psh .source.cpp .punctuation.definition.directive {
  color: #81a1c1;
}

.psh .source.c .punctuation.separator.pointer-access,
.psh .source.cpp .punctuation.separator.pointer-access {
  color: #81a1c1;
}

.psh .source.c .string.include, .psh .source.cpp .string.include {
  color: #8fbcbb;
}

.psh .source.clojure .entity.global {
  color: #8fbcbb;
}

.psh .source.clojure .meta.symbol {
  color: #d8dee9;
}

.psh .source.coffee .variable.other.instance {
  color: #d8dee9;
  font-style: italic;
}

.psh .source.cs .meta.method.annotation {
  color: #d08770;
}

.psh .source.cs .meta.namespace.body {
  color: #8fbcbb;
}

.psh .source.css.less .meta.at-rule .punctuation.definition.keyword,
.psh .source.css .meta.at-rule .punctuation.definition.keyword,
.psh .source.css.sass .meta.at-rule .punctuation.definition.keyword,
.psh .source.css.scss .meta.at-rule .punctuation.definition.keyword {
  color: #81a1c1;
}

.psh .source.css.less .meta.at-rule > .string.quoted,
.psh .source.css .meta.at-rule > .string.quoted,
.psh .source.css.sass .meta.at-rule > .string.quoted,
.psh .source.css.scss .meta.at-rule > .string.quoted {
  color: #8fbcbb;
}

.psh .source.css.less .meta.property-value .punctuation.definition.constant,
.psh .source.css .meta.property-value .punctuation.definition.constant,
.psh .source.css.sass .meta.property-value .punctuation.definition.constant,
.psh .source.css.scss .meta.property-value .punctuation.definition.constant {
  color: #81a1c1;
}

.psh .source.css.less .support.constant.property-value,
.psh .source.css.sass .support.constant.property-value,
.psh .source.css.scss .support.constant.property-value,
.psh .source.css .support.constant.property-value {
  color: #81a1c1;
}

.psh .source.css.less .support.type.property-name,
.psh .source.css.sass .support.type.property-name,
.psh .source.css.scss .support.type.property-name,
.psh .source.css .support.type.property-name {
  color: #8fbcbb;
}

.psh .source.elixir .variable.other.readwrite.module {
  color: #d08770;
}

.psh .source.elixir .variable.other.readwrite.constant {
  color: #8fbcbb;
}

.psh .source.elixir .punctuation.definition.variable {
  color: #d08770;
}

.psh .source.gfm .comment.hr {
  color: #81a1c1;
}

.psh .source.gfm .link .entity {
  color: #88c0d0;
}

.psh .source.gfm .punctuation.definition {
  color: #81a1c1;
}

.psh .source.gfm .variable.unordered.list {
  color: #81a1c1;
}

.psh .source.gfm .support {
  color: #8fbcbb;
}

.psh .source.glsl .punctuation.definition.directive {
  color: #81a1c1;
}

.psh .source.glsl .string.include {
  color: #8fbcbb;
}

.psh .source.go .entity.name.package {
  color: #8fbcbb;
}

.psh .source.go .storage.type.string {
  color: #8fbcbb;
}

.psh .text.haml .meta.prolog {
  color: #5e81ac;
}

.psh .text.haml .meta.section.object {
  color: #8fbcbb;
}

.psh .text.haml .punctuation.definition.prolog {
  color: #81a1c1;
}

.psh .text.haml .punctuation.definition.tag {
  color: #81a1c1;
}

.psh .text.haml .variable.other.instance {
  color: #d8dee9;
  font-style: italic;
}

.psh .source.haskell .entity.name.function.infix {
  color: #81a1c1;
}

.psh .source.haskell .identifier {
  color: #d8dee9;
}

.psh .source.haskell .meta.preprocessor {
  color: #5e81ac;
}

.psh .source.haskell .punctuation.definition.directive {
  color: #81a1c1;
}

.psh .source.haskell .support.other.module {
  color: #8fbcbb;
}

.psh .source.java .keyword.operator.instanceof {
  color: #81a1c1;
}

.psh .source.java .punctuation.bracket.angle {
  color: #81a1c1;
}

.psh .source.java .storage.modifier.import {
  color: #8fbcbb;
}

.psh .source.java .storage.type {
  color: #8fbcbb;
}

.psh .source.java .storage.type.annotation {
  color: #d08770;
}

.psh .source.java .storage.type.primitive {
  color: #81a1c1;
}

.psh .source.scala .entity.name.package {
  color: #8fbcbb;
}

.psh .source.scala .meta.import {
  color: #8fbcbb;
}

.psh .source.scala .meta.import .variable {
  color: #8fbcbb;
}

.psh .source.scala .scala.type {
  color: #8fbcbb;
}

.psh .source.scala .scala.type .class {
  color: #8fbcbb;
}

.psh .source.java-properties .meta.key-pair {
  color: #81a1c1;
}

.psh .source.java-properties .meta.key-pair > .punctuation {
  color: #d8dee9;
}

.psh .source.js.jsx .variable.other.class {
  color: #8fbcbb;
}

.psh .source.json .meta.structure.dictionary.json > .string.quoted.json {
  color: #8fbcbb;
}

.psh .source.json .meta.structure.dictionary.json > .string.quoted.json > .punctuation.string {
  color: #d8dee9;
}

.psh .source.json .meta.structure.array.json > .constant.language.json,
.psh .source.json .meta.structure.dictionary.json > .constant.language.json {
  color: #81a1c1;
}

.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json,
.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json {
  color: #a3be8c;
}

.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json > .punctuation,
.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json > .punctuation {
  color: #d8dee9;
}

.psh .source.julia .support.function.macro {
  color: #d08770;
}

.psh .source.css.less .mixin {
  color: #88c0d0;
}

.psh .source.php .meta.function-call {
  color: #88c0d0;
}

.psh .source.php .meta.function-call.static {
  font-style: italic;
}

.psh .source.php .meta.string-contents {
  color: #a3be8c;
}

.psh .source.php .punctuation.definition.variable {
  color: #81a1c1;
}

.psh .source.php .support.other.namespace.use {
  color: #8fbcbb;
}

.psh .source.python .variable.parameter {
  color: #d8dee9;
}

.psh .source.python .meta.function-call {
  color: #88c0d0;
}

.psh .source.python .meta.function-call.arguments {
  color: #d8dee9;
}

.psh .source.ruby .constant.other.symbol > .punctuation {
  color: #81a1c1;
}

.psh .source.ruby .variable.other.constant {
  color: #8fbcbb;
}

.psh .source.ruby .punctuation.definition.variable {
  color: #81a1c1;
}

.psh .source.shell .punctuation.definition.variable {
  color: #81a1c1;
}

.psh .source.yaml .entity.name.tag {
  color: #8fbcbb;
}

.psh .text.xml .constant.character.entity,
.psh .text.xml .constant.character .punctuation.definition {
  color: #d08770;
}

.psh .text.xml .entity.name.tag.namespace {
  color: #8fbcbb;
}

.psh .text.xml .string.unquoted.cdata {
  color: #4c566a;
}

.psh .text.xml .string.unquoted.cdata .punctuation.definition {
  color: #4c566a;
  font-weight: 700;
}
