.yui3-treeview {
    margin:0;
    padding:0;
    margin-left: 10px;
    list-style:none;
    zoom: 1;
}

.yui3-js-enabled .yui3-treeview-loading {
    display:none;
}

.yui3-treeview .yui3-treeview {
    border-left: 1px solid #ebebeb;
}

.yui3-tree-collapsed .yui3-treeview-label-content {
    background-position: -0px -81px;
}

.yui3-treeview-label-content {
    background-position: 0px -121px;
    display : block;
    position : relative;
    left : -5px;
    padding-left : 35px;
    top : 5px;
}

.yui3-treeview .yui3-singletree {
    border: none;
}

.yui3-treeleaf-content,
.yui3-treeleaf,
.yui3-treeview .yui3-treeview-content .yui3-treeview,
.yui3-treeview-label-content
{
    background-image: url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-yui3treeview/assets/tree_view_icons_blue_01_arrow_beside_folders.gif);
    background-repeat: no-repeat;
}

.yui3-treeview-treelabel {
    display: block;
    position: relative;
    margin-left: -1px;
    margin-top: 2px;
    text-decoration: none;
    color: black;
    border-left: 1px solid #EBEBEB;
}

.yui3-treeview .yui3-tree-collapsed .yui3-treeview-content {
    display : none;
}

.yui3-treeview .yui3-treeview-content {
    padding-bottom: 3px;
    margin-left: 6px;
}

.yui3-treeview .yui3-treeview-content .yui3-treeview {
    background: none;
}

.yui3-treeview .yui3-treeleaf {
    background-position: 0 -258px;
    margin-bottom: -7px;
    border: none;
    padding-top: 10px;
}

.yui3-treeleaf-content {
    background-position: 0 -162px;
    padding-left: 35px;
    margin-left: 4px;
    text-decoration: none;
}

