.default-container-highlight{
    border: 1px dashed #ddd;
}

.default-child-highlight {
    position: relative;
    background: #efefef;
    background: rgba(239, 239, 239, 0.45);
    -webkit-box-shadow: 0 1px 1px rgba(204, 204, 204, 0.26);
    -moz-box-shadow: 0 1px 1px rgba(204, 204, 204, 0.26);
    -ms-box-shadow: 0 1px 1px rgba(204, 204, 204, 0.26);
    box-shadow: 0 1px 1px rgba(204, 204, 204, 0.26);
    outline: rgba(204, 204, 204, 0.18) solid 1px;
}

.default-child-highlight .nav-pointer {
    color: #666;
    display: inline;
    font: 20px arial, sans-serif;
    left: -25px;
    position: absolute;
    top: 2px;
    z-index: 2;
}

.cramDownOpacity{
    opacity:0;
    -webkit-transition:opacity 5.7s ease-out;
    -o-transition:opacity 5.7s ease-out;
    -moz-transition:opacity 5.7s ease-out;
    transition:opacity 5.7s ease-out;
    z-index:1000;
    background:#ccc;
    border-radius:10px;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.gallery-nav-assist { display: none; }
