#q2w3_inc_options_table .select_pages {
	width: 100%; 
	height: 97px;
}
#q2w3_inc_options_table .text_input {
	width: 100%;
}
#q2w3_inc_options_table .select_input {
	width: 150px;
}
#q2w3_inc_options_table .digit_input {
	width: 150px;
}
#q2w3_inc_options_table .textarea_input {
	width: 100%;
	height: 130px;
}

#q2w3_inc_manager_errors .q2w3_inc_manager_error {
	color: red;
}