@import 'nib'
vendor-prefixes = moz webkit ms o official
support-for-ie = false

html, body { min-height: 100% }
.humane
.humane-libnotify
  position   : fixed
  transition : all .3s ease-out
  z-index    : 100000
  filter     : unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=100)")

.humane
.humane-libnotify
  font-family       : Ubuntu, Arial, sans-serif
  text-align        : center
  font-size         : 15px
  top               : 10px
  right             : 10px
  opacity           : 0
  width             : 150px
  color             : #fff
  padding           : 10px
  background-image  : linear-gradient-image(80px, rgba(0,0,0,0.9), rgba(50,50,50,0.9))
  background        : linear-gradient(top, rgba(0,0,0,0.9), rgba(50,50,50,0.9)) no-repeat
  *background-color : #000
  border-radius     : 5px
  box-shadow        : 0 4px 4px -4px #000
  transform         : translateY(-40px)
  p, ul
    margin: 0
    padding: 0
  ul
    list-style: none
  &.humane-libnotify-info
    background-image  : linear-gradient-image(80px, rgba(0,0,50,0.9), rgba(0,0,100,0.9))
    background        : linear-gradient(top, rgba(0,0,50,0.9), rgba(0,0,100,0.9)) no-repeat
    *background-color : #030
  &.humane-libnotify-success
    background-image  : linear-gradient-image(80px, rgba(0,50,0,0.9), rgba(0,100,0,0.9))
    background        : linear-gradient(top, rgba(0,50,0,0.9), rgba(0,100,0,0.9)) no-repeat
    *background-color  : #030
  &.humane-libnotify-error
    background-image  : linear-gradient-image(200px, rgba(50,0,0,0.9), rgba(100,0,0,0.9))
    background        : linear-gradient(top, rgba(50,0,0,0.9), rgba(100,0,0,0.9)) no-repeat
    *background-color  : #300

.humane.humane-animate
.humane-libnotify.humane-libnotify-animate
  opacity           : 1
  transform         : translateY(0)
  &:hover
    opacity         : 0.2

.humane.humane-animate
.humane-libnotify.humane-libnotify-js-animate
  opacity           : 1
  transform         : translateY(0)
  &:hover
    opacity         : 0.2
    filter          : unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=20)")
