html{height:100%}
body.btInit{-webkit-text-size-adjust:100%}

.bt-translate3d{-webkit-transform: translate3d(0, 0, 0)}
.bt-shortcut-mask,
.bt-overlay-mask{position:absolute;top:0;left:0;z-index:150;width:100%;height:100%;opacity:0.5;background-color:#000;display:none}
.yui3-btcontainer{position:absolute}

.yui3-widget-pushpop{overflow:hidden}

.yui3-btshortcut{position:absolute;z-index:9999}
.yui3-btshortcut-hidden{top:-9999px;left:-9999px}
.yui3-btshortcut-disabled{display:none}

.yui3-btoverlay{position:absolute;z-index:9999}
.yui3-btoverlay-hidden{top:-9999px;left:-9999px}
.yui3-btoverlay-disabled{display:none}

.yui3-btphotogrid .bpg_column{display:inline-block;overflow:hidden;vertical-align:top}

.yui3-btslidetab .bst_slide {white-space:nowrap}
.yui3-btslidetab .bst_index {border:2px solid #444;background:#eee}
.bst_slidebox {overflow:hidden}
.bst_slide li {display:inline-block}
.bst_tab > * {position:absolute!important;left:-10000px}
.bst_tab > *.on {position:relative!important;left:auto}

.yui3-btcarousel-content {white-space:nowrap}
.yui3-btcarousel-content > li {display:inline-block}
.bcr_indexbox {position:absolute;bottom:0;width:100%;text-align:center;white-space:nowrap}
.bcr_indexitem {display:inline-block;border:1px solid #888;width:8px;height:8px;margin:4px 8px;border-radius:8px}
.bcr_indexitem.bcr_on {background-color:#afc}
.bcr_showbtn .bcr_btnl, .bcr_showbtn .bcr_btnr {display:block}
.bcr_btnl, .bcr_btnr {display:none;position:absolute;top:45%;width:60px;height:30px;background:transparent url(http://yui.yahooapis.com/3.6.0/build/assets/skins/sam/sprite.png) no-repeat 10px -545px;cursor:pointer}
.bcr_btnr {background-position:10px -595px;right:0}
.bcr_off {opacity:0.5}

/* Skins for init / progress enhancement */
.btHideAll:not(.btReady),
.btInPlace:not(.btReady) [data-role=carousel],
.btInPlace:not(.btReady) [data-role=shortcut],
.btInPlace:not(.btReady) [data-role=overlay],
.btInPlace:not(.btReady) [data-role=photogrid],
.btInPlace:not(.btReady) [data-role=slidetab]
 {background:#fff url(http://yuilibrary.com/yui/docs/assets/widget/img/ajax-loader.gif) no-repeat 50% 50%;min-height:50px}
.btHideAll:not(.btReady) {width:100%;height:100%}

.btHideAll:not(.btReady) > *,
.btInPlace:not(.btReady) [data-role=carousel] > *,
.btInPlace:not(.btReady) [data-role=shortcut] > *,
.btInPlace:not(.btReady) [data-role=overlay] > *,
.btInPlace:not(.btReady) [data-role=photogrid] > *,
.btInPlace:not(.btReady) [data-role=slidetab] > *,
.btHideSCO:not(.btReady) [data-role=shortcut],
.btHideSCO:not(.btReady) [data-role=overlay]
 {visibility:hidden}

.btHideSCO:not(.btReady) [data-role=shortcut],
.btHideSCO:not(.btReady) [data-role=overlay]
 {position:absolute}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.gallery-bt-css { display: none; }
