* {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    box-sizing: border-box;
}
body:not(.ready) {
    overflow: hidden;
}
body:not(.ready) [data-cloak], body:not(.ready) .app-nav {
    display: none;
}
div#app {
    font-size: 30px;
    font-weight: lighter;
    margin: 40vh auto;
    text-align: center;
}
div#app:empty::before {
    content: "Loading...";
}
.emoji {
    height: 19.2px;
    height: 1.2rem;
    vertical-align: middle;
}
.progress {
    background-color: #000;
    background-color: var(--theme-color, #000);
    height: 2px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    -webkit-transition: width 0.2s, opacity 0.4s;
    transition: width 0.2s, opacity 0.4s;
    width: 0%;
    z-index: 999999;
}
.search a:hover {
    color: #000;
    color: var(--theme-color, #000);
}
.search .search-keyword {
    color: #000;
    color: var(--theme-color, #000);
    font-style: normal;
}
html, body {
    height: 100%;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}
img {
    max-width: 100%;
}
kbd {
    border: solid 1px #ccc;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px !important;
    line-height: 12px;
    margin-bottom: 3px;
    padding: 3px 5px;
    vertical-align: middle;
}
/* navbar */
.app-nav {
    left: 0;
    margin: 25px 60px 0 0;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 10;
}
.app-nav p {
    margin: 0;
}
.app-nav >a {
    margin: 0 16px;
    margin: 0 1rem;
    padding: 5px 0;
}
.app-nav ul, .app-nav li {
    display: inline-block;
    list-style: none;
    margin: 0;
}
.app-nav a {
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.app-nav a:hover {
    color: #000;
    color: var(--theme-color, #000);
}
.app-nav a.active {
    border-bottom: 2px solid #000;
    border-bottom: 2px solid var(--theme-color, #000);
    color: #000;
    color: var(--theme-color, #000);
}
/* navbar dropdown */
.app-nav li {
    display: inline-block;
    margin: 0 16px;
    margin: 0 1rem;
    padding: 5px 0;
    position: relative;
}
.app-nav li ul {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: none;
    max-height: calc(100vh - 61px);
    overflow-y: scroll;
    padding: 10px 0;
    position: absolute;
    right: -15px;
    text-align: left;
    top: 100%;
    white-space: nowrap;
}
.app-nav li ul li {
    display: block;
    font-size: 14px;
    line-height: 16px;
    line-height: 1rem;
    margin: 0;
    margin: 8px 14px;
    white-space: nowrap;
}
.app-nav li ul a {
    display: block;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
.app-nav li ul a.active {
    border-bottom: 0;
}
.app-nav li:hover ul {
    display: block;
}
.app-nav.no-badge {
    margin-right: 25px;
}
/* github corner */
.github-corner {
    border-bottom: 0;
    position: fixed;
    right: 0;
    text-decoration: none;
    top: 0;
    z-index: 1;
}
.github-corner svg {
    color: #fff;
    fill: #000;
    fill: var(--theme-color, #000);
    height: 80px;
    width: 80px;
}
.github-corner:hover .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
            animation: octocat-wave 560ms ease-in-out;
}
/* main */
main {
    display: block;
    position: relative;
    width: 100vw;
    height: 100%;
}
.anchor {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.anchor span {
    color: #000;
}
.anchor:hover {
    text-decoration: underline;
}
/* sidebar */
.sidebar {
    border-right: 1px solid rgba(0, 0, 0, .07);
    overflow-y: auto;
    padding: 40px 0;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-transition: -webkit-transform 250ms ease-out;
    transition: -webkit-transform 250ms ease-out;
    transition: transform 250ms ease-out;
    transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
    width: 300px;
    z-index: 20;
}
.sidebar > h1 {
    margin: 0 auto 16px;
    margin: 0 auto 1rem;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}
.sidebar > h1 a {
    color: inherit;
    text-decoration: none;
}
.sidebar > h1 .app-nav {
    display: block;
    position: static;
}
.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar li>p {
    font-weight: 700;
    margin: 0;
}
.sidebar ul, .sidebar ul li {
    list-style: none;
}
.sidebar ul li a {
    border-bottom: none;
    display: block;
}
.sidebar ul li ul {
    padding-left: 20px;
}
.sidebar::-webkit-scrollbar {
    width: 4px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}
.sidebar:hover::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.4);
}
.sidebar:hover::-webkit-scrollbar-track {
    background: rgba(136, 136, 136, 0.1);
}
/* sidebar toggle */
.sidebar-toggle {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    outline: none;
    outline: none;
    padding: 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    width: 30px;
    width: 284px;
    z-index: 30;
}
.sidebar-toggle .sidebar-toggle-button:hover {
    opacity: .4;
}
.sidebar-toggle span {
    background-color: #000;
    background-color: var(--theme-color, #000);
    display: block;
    margin-bottom: 4px;
    width: 16px;
    height: 2px;
}
body.sticky .sidebar, body.sticky .sidebar-toggle {
    position: fixed;
}
/* main content */
.content {
    padding-top: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
    position: absolute;
    -webkit-transition: left 250ms ease;
    transition: left 250ms ease;
}
/* markdown content found on pages */
.markdown-section {
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 15px 40px 15px;
    position: relative;
}
.markdown-section > * {
    box-sizing: border-box;
    font-size: inherit;
}
.markdown-section >:first-child {
    margin-top: 0!important;
}
.markdown-section hr {
    border: none;
    border-bottom: 1px solid #eee;
    margin: 2em 0;
}
.markdown-section table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    overflow: auto;
    width: 100%;
}
.markdown-section th {
    border: 1px solid #ddd;
    font-weight: 700;
    padding: 6px 13px;
}
.markdown-section td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}
.markdown-section tr {
    border-top: 1px solid #ccc;
}
.markdown-section tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.markdown-section p.tip {
    background-color: #f8f8f8;
    border-bottom-right-radius: 2px;
    border-left: 4px solid #f66;
    border-top-right-radius: 2px;
    margin: 2em 0;
    padding: 12px 24px 12px 30px;
    position: relative;
}
.markdown-section p.tip code {
    background-color: #efefef;
}
.markdown-section p.tip em {
    color: #000;
}
.markdown-section p.tip:before {
    background-color: #f66;
    border-radius: 100%;
    color: #fff;
    content: "!";
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    left: -12px;
    line-height: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    top: 14px;
}
.markdown-section p.warn {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 16px;
    padding: 1rem;
}
body.close .sidebar {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
}
body.close .sidebar-toggle {
    width: auto;
}
body.close .content {
    left: 0;
}
@media print {
    .github-corner, .sidebar-toggle, .sidebar {
        display: none;
    }
    .app-nav {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .github-corner, .sidebar-toggle, .sidebar {
        position: fixed;
    }
    .app-nav {
        margin-top: 16px;
    }
    .app-nav li ul {
        top: 30px;
    }
    main {
        height: auto;
        overflow-x: hidden;
    }
    .sidebar {
        left: -300px;
        -webkit-transition: -webkit-transform 250ms ease-out;
        transition: -webkit-transform 250ms ease-out;
        transition: transform 250ms ease-out;
        transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
    }
    .content {
        left: 0;
        max-width: 100vw;
        position: static;
        -webkit-transition: -webkit-transform 250ms ease;
        transition: -webkit-transform 250ms ease;
        transition: transform 250ms ease;
        transition: transform 250ms ease, -webkit-transform 250ms ease;
    }
    .app-nav, .github-corner {
        -webkit-transition: -webkit-transform 250ms ease-out;
        transition: -webkit-transform 250ms ease-out;
        transition: transform 250ms ease-out;
        transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
    }
    .sidebar-toggle {
        background-color: transparent;
        width: auto;
    }
    body.close .sidebar {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
    }
    body.close .sidebar-toggle {
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-transition: 1s background-color;
        transition: 1s background-color;
        width: 284px;
    }
    body.close .content {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
    }
    body.close .app-nav, body.close .github-corner {
        display: none;
    }
    .github-corner .octo-arm {
        -webkit-animation: octocat-wave 560ms ease-in-out;
                animation: octocat-wave 560ms ease-in-out;
    }
    .github-corner:hover .octo-arm {
        -webkit-animation: none;
                animation: none;
    }
}
@-webkit-keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg);
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
    }
}
@keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg);
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
    }
}
