.yui3-skin-sam .cal-launcher {
    min-width: 25px;
    background: url('http://yui.yahooapis.com/gallery-2013.03.13-20-05/gallery-datepicker/assets/skins/sam/glyphicons-halflings.png');
    background-position: -188px -118px;
}

