.OutsideBox{
	position: absolute;
	border: solid 1px gray;
}
.InsideBox{
	position: absolute;
	border: solid 1px transparent;
}
.PopupMenu{
	text-align: left;
	cursor: default;
	-moz-user-select:none;
	background-color: white;
}
.PopupMenuContent{
	width: 100%;
	height: 100%;
	padding: 1px;
	cursor: default;
	font-family: ו;
	font-size: 9pt;
	overflow: hidden;
}
.PopupMenuItem{
	width: 100%;
	height: 18px;
	font-size: 9pt;
	color: black;
	overflow: hidden;
	text-align: left;
}
.PopupMenuItem #icon{
	width: 14px;
	text-align: center;
	display: inline-block;
}
.PopupMenuItem #title{
	margin: 1px 0px;
	display: inline-block;
}
.PopupMenuItem #title span{
	padding:2px 2px 0px 2px;
	height:14px;
	line-height:14px;
	display: inline-block;
}
.PopupMenuItem #sub{
	width: 12px;
	text-align: center;
	margin: 1px 0px;
	display: inline-block;
}
.ActivePopupMenuItem{
	color: white;
	background-color: #0054E3;
}
.PopupMenuSepLine{
	width: 100%;
	height: 0px;
	margin: 2px 0px;
	font-size: 9pt;
	border-top: solid 1px #848081;
	border-bottom: solid 1px #FFFEFA;
	overflow: hidden;
	display: none;
}