<ul class="tree {{#if folderSelect}}tree-folder-select{{/if}}" id="{{#if id}}{{id}}{{else}}myTree{{/if}}" role="tree">
	<li class="tree-branch hidden" data-template="treebranch" role="treeitem" aria-expanded="false">
		<div class="tree-branch-header">
			{{#if folderSelect}}<button type="button" class="glyphicon icon-caret glyphicon-play"><span class="sr-only">Open</span></button>{{/if}}
			<button type="button" class="tree-branch-name">
				{{#unless folderSelect}}<span class="glyphicon icon-caret glyphicon-play"></span>{{/unless}}
				<span class="glyphicon icon-folder glyphicon-folder-close"></span>
				<span class="tree-label"></span>
			</button>
		</div>
		<ul class="tree-branch-children" role="group"></ul>
		<div class="tree-loader" role="alert">Loading...</div>
	</li>
	<li class="tree-item hidden" data-template="treeitem" role="treeitem">
		<button type="button" class="tree-item-name">
			<span class="glyphicon icon-item fueluxicon-bullet"></span>
			<span class="tree-label"></span>
		</button>
	</li>
</ul>