.yui3-skin-sam .yui3-datatable-quickedit td.quickedit-haserror input,
.yui3-skin-sam .yui3-datatable-quickedit td.quickedit-haserror select
{
	background-color: #FFCCCC;
}

.yui3-skin-sam .yui3-datatable-quickedit td.quickedit-haserror .quickedit-message-text
{
	font-size: 75%;
	color: #BE1E2D;
}
