html{height:100%}
body{position:relative}
body.btInit{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body.btFixed .btFixed {position:fixed;z-index:50}
body.btFixed .btHeader.btFixed {top:0}
body.btFixed .btFooter.btFixed {bottom:0}
body.btFocus.btFixed .btHeader.btFixed,
body.btFocus.btFixed .btFooter.btFixed {position:static}
body.btFocus.btFixed .btFixedScroll {margin:0!important}

body.btFixed .yui3-btshortcut,
body.btFixed .yui3-btoverlay {position:fixed}

body.btNative .btp-nscroll {position:relative}

.btHidden {display:none}
.btRoot {position:absolute;top:0;left:0;*z-index:160}
.btDummy {overflow:hidden;height:0}

.bt_posfixed{position:absolute;top:10px;left:0;overflow:scroll;width:30px;height:30px}
.bt_posfixed div{height:100px;width:100%;position:relative}
.bt_posfixed span{position:fixed;top:1px}

.bt-translate3d{-webkit-transform: translate3d(0, 0, 0)}
.bt-shortcut-mask,
.bt-overlay-mask{position:absolute;top:0;left:0;z-index:150;width:100%;height:100%;display:none}
.yui3-btpage{position:relative}
.yui3-btcontainer{position:absolute;width:100%}
.yui3-btcontainer-disabled{left:-5555px}
.bt-container-scroll.yui3-widget-content-expanded{height:auto}
.bt-container-scroll{*overflow:visible!important}
.btp-nscroll .yui3-btcontainer{position:relative}
.btHeader, .btFooter{width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-moz-box-sizing:border-box;left:0}
.btDeskContainer{height:100%;overflow:auto}

.yui3-widget-pushpop{overflow:hidden}

.yui3-btshortcut, .yui3-btoverlay {position:absolute}
.yui3-btshortcut-hidden, .yui3-btoverlay-hidden{top:-9999px;left:-9999px}
.yui3-btshortcut-disabled, .yui3-btoverlay-disabled{display:none}

.yui3-btphotogrid .bpg_column{display:inline-block;zoom:1;*display:inline;overflow:hidden;vertical-align:top}

.yui3-btslidetab .bst_slide {white-space:nowrap}
.bst_slidebox {overflow:hidden}
.bst_slide {position:relative}
.bst_slide li {display:inline-block;zoom:1;*display:inline}
.bst_tab {position:relative}
.bst_tab > * {position:absolute!important;left:-10000px;width:100%}
.bst_tab > *.on {position:relative!important;left:auto}

.yui3-btcarousel-content {white-space:nowrap;*position:relative!important}
.yui3-btcarousel-content > li {display:inline-block}
.yui3-btcarousel-content li {zoom:1;*display:inline}

.bcr_indexbox {position:absolute;bottom:0;width:100%;text-align:center;white-space:nowrap}
.bcr_indexitem {display:inline-block;zoom:1;*display:inline;width:8px;height:8px;margin:4px 8px}
.bcr_showbtn .bcr_btnl, .bcr_showbtn .bcr_btnr {display:block}
.bcr_btnl, .bcr_btnr {display:none;position:absolute;top:45%;cursor:pointer}
.bcr_btnr {right:0}

.yui3-btviewer .bvi_image {max-width:100%}
