@font-face {
  font-family: 'KoPub Dotum';
  font-style: normal;
  font-weight: 300;
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.eot);
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.eot?#iefix) format('embedded-opentype'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.woff) format('woff'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub Dotum';
  font-style: normal;
  font-weight: 400;
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Regular.eot);
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Regular.eot?#iefix) format('embedded-opentype'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Regular.woff) format('woff'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub Dotum';
  font-style: normal;
  font-weight: 700;
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.eot);
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.eot?#iefix) format('embedded-opentype'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.woff) format('woff'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.ttf) format('truetype');
}