body {
  padding-top: 25px;
}
#info:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}
#contact:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}
.jumbotron{
    background: #33CC33;
}
.jumbotron h1 {
    font-size: 80px;
}
.panel-title > a{
    font-size: 15px;
}
.panel-heading > .panel-title {
    font-size: 15px;
}
