<!-- Fuel UX Checkboxes Inline http://getfuelux.com/javascript.html#checkbox-examples-inline -->
<div class="form-group">
  <label for="<%= name %>" class="control-label<% if(horizontal) { %> col-sm-2<% } %>"><%= label %></label>

  <div class="checkbox<% if(horizontal) {%> col-sm-10<% } %><% if(required) {%> required<% } %>">
    <% _.each(checkboxes, function(checkbox, i){ %><label class="checkbox-custom checkbox-inline<% if(isDisabled) {%> disabled<% } %>" data-initialize="checkbox" id="<%= name+'-'+i %>">
      <input class="sr-only" name="<%= name %>" type="checkbox" value="<%= checkbox %>"<% if(readonly) {%> readonly <% } %><% if(isDisabled) {%> disabled <% } %>> <span class="checkbox-label"><%= checkbox %></span>
    </label><% }); %>
    <% if (helptext.length > 0) { %><p class="help-block"><%= helptext %></p><% } %>
  </div>
</div>