 .yui3-pulldown-refresh-icon-pulldown,
 .yui3-pulldown-refresh-icon-release {
    background: url(http://l.yimg.com/us.yimg.com/i/us/ls/gr/t/1304966707/common_sprite_low_res.png) no-repeat;
}

 .yui3-pulldown-refresh-icon-pulldown {
    background-position: 0 -919px;
}

 .yui3-pulldown-refresh-icon-release {
    background-position: 0 -840px;
}
.yui3-pulldown-refresh-animated {
    -webkit-transition:all 0.3s ease;
}

#yui3-pulldown-refresh-icon {
    float: left;
    height: 40px;
    display: inline-block;
    padding-left: 24px;
    position: relative;
    top: -3px;
}

.yui3-pulldown-refresh-loading-con {
    float: left;
    position: relative;
    display: inline-block;
    margin-left: 49px;
    top: 16px;
}
.yui3-pulldown-refresh-last-update {
    float: left;
    position: relative;
    display: inline-block;
    margin-top: 5px;
    font-size: 12px;
}

.yui3-pulldown-refresh-loading-stat {
    position: relative;
    width: 260px;
    display:block;
}
#yui3-pulldown-refresh-icon .yui3-pulldown-refresh-hidden {
    display: none;
}
#yui3-pulldown-refresh-icon .yui3-pulldown-refresh-loading {
    background: url(http://l.yimg.com/a/i/us/ls/gr/loading_16x16_1_trans.gif) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 0px;
}
