.PopupDialogOverlay{
	position: absolute;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	/*background: url(trans.png)*/
}
.PopupDialogOuter{
	position: absolute;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
}
.PopupDialog{
	position: absolute;
	border: solid 1px gray;
	background-color: white;
	overflow: hidden;
}
.PopupDialog .empty{
	width:100%;
	height:100%;
}