.PopupDialogOverlay{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/*
	background-color: black;
	filter:alpha(Opacity=45);
	-moz-opacity:0.45;
	opacity: 0.45
	*/
	background: url(trans.png)
}
.PopupDialogOuter{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.PopupDialog{
	position: absolute;
	border: solid 1px gray;
	background-color: white;
	overflow: hidden;
}
.PopupDialog .empty{
	width:100%;
	height:100%;
}