/***** only for IE6 *****/

.PopupDialogOverlay{
	position: absolute;
	width: expression(eval(document.compatMode&&document.compatMode=='CSS1Compat') ? documentElement.clientWidth:document.body.clientWidth);
	height: expression(eval(document.compatMode&&document.compatMode=='CSS1Compat') ? documentElement.clientHeight:"100%");
	left: expression(eval(document.compatMode&&document.compatMode=='CSS1Compat') ? documentElement.scrollLeft:document.body.scrollLeft);
	top: expression(eval(document.compatMode&&document.compatMode=='CSS1Compat') ? documentElement.scrollTop:document.body.scrollTop);
	background-color: black;
	filter: alpha(Opacity=45);
	overflow:hidden;
}
.PopupDialogOuter{
	position: absolute;
	width: expression(eval(document.compatMode&&document.compatMode=='CSS1Compat') ? documentElement.clientWidth:document.body.clientWidth);
	height: expression(eval(document.compatMode&&document.compatMode=='CSS1Compat') ? documentElement.clientHeight:"100%");
	left: expression(eval(document.compatMode&&document.compatMode=='CSS1Compat') ? documentElement.scrollLeft:document.body.scrollLeft);
	top: expression(eval(document.compatMode&&document.compatMode=='CSS1Compat') ? documentElement.scrollTop:document.body.scrollTop);
	overflow:hidden;
}
.PopupDialog{
	position: absolute;
	border: solid 1px gray;
	background-color: white;
	overflow: hidden;
}
.PopupDialog .empty{
	width: 100%;
	height: 100%;
}