.yui3-skin-sam .yui3-datatable tr.row-expansion td.post-row-expansion
{
	border-top:1px solid #CBCBCB;
}

.yui3-skin-sam .yui3-datatable .row-toggle a.row-expand-nub
{
	padding:0 8px;
	height:14px;
	margin-left:2px;
	*display:inline-block;
}
.yui3-skin-sam .yui3-datatable .row-closed a.row-expand-nub
{
	background:url(http://yui.yahooapis.com/gallery-2014.03.06-14-38/gallery-datatable-row-expansion/assets/skins/sam/closed.png) no-repeat;
}
.yui3-skin-sam .yui3-datatable .row-open a.row-expand-nub
{
	background:url(http://yui.yahooapis.com/gallery-2014.03.06-14-38/gallery-datatable-row-expansion/assets/skins/sam/open.png) no-repeat;
}
