/*csslint adjoining-classes: false, star-property-hack: false */

.itsaviewmodel {
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

.itsaviewmodel-styled {
    border: solid 1px #CCC;
    padding: 1.3em 1.1em 0.3em;
    background-color: #EDF5FF;
    -webkit-box-shadow: 5px 5px 6px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    5px 5px 6px rgba(50, 50, 50, 0.45);
    box-shadow:         5px 5px 6px rgba(50, 50, 50, 0.45);
}

.itsaviewmodel .itsaview-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.itsaviewmodel.itsa-button-capitalize button {
    text-transform: capitalize;
}

.itsaviewmodel.itsa-button-uppercase button {
    text-transform: uppercase;
}

.itsaviewmodel.itsa-button-lowercase button {
    text-transform: lowercase;
}

.itsaviewmodel button + button,
.itsaviewmodel button + button {
    margin-left: 0.5em;
}
/* speed-up Transitions-time pure-buttons from 0.1s to 0.05s */
.itsaviewmodel .pure-button {
    -webkit-transition: 0.05s linear -webkit-box-shadow;
    -moz-transition: 0.05s linear -moz-box-shadow;
    -ms-transition: 0.05s linear box-shadow;
    -o-transition: 0.05s linear box-shadow;
    transition: 0.05s linear box-shadow;
}

.itsaviewmodel .pure-form div[data-type="editorBase"] {
    display: inline-block;
    height: 10em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.itsaviewmodel .pure-form div[data-type="editorBase"].itsa-focused {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: #129FEA;
}

.itsaviewmodel .pure-form-aligned div[data-type="editorBase"] {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 14em;
}

/* speed-up Transitions-time pure-inputs from 0.3s to 0.1s */
.itsaviewmodel .pure-form input[type="text"],
.itsaviewmodel .pure-form input[type="password"],
.itsaviewmodel .pure-form input[type="email"],
.itsaviewmodel .pure-form input[type="url"],
.itsaviewmodel .pure-form input[type="date"],
.itsaviewmodel .pure-form input[type="month"],
.itsaviewmodel .pure-form input[type="time"],
.itsaviewmodel .pure-form input[type="datetime"],
.itsaviewmodel .pure-form input[type="datetime-local"],
.itsaviewmodel .pure-form input[type="week"],
.itsaviewmodel .pure-form input[type="number"],
.itsaviewmodel .pure-form input[type="search"],
.itsaviewmodel .pure-form input[type="tel"],
.itsaviewmodel .pure-form input[type="color"],
.itsaviewmodel .pure-form select,
.itsaviewmodel .pure-form textarea {
    -webkit-transition: 0.15s linear border;
    -moz-transition: 0.15s linear border;
    -ms-transition: 0.15s linear border;
    -o-transition: 0.15s linear border;
    transition: 0.15s linear border;
}

.itsaview-statusbar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.itsaviewmodel[data-itsastatusbar="true"] {
    padding-bottom: 1.6em;
}

.itsaviewmodel.itsaviewmodel-styled[data-itsastatusbar="true"] {
    padding-bottom: 1.6em;
    overflow-y: hidden;
}

.itsaviewmodel-styled .itsaview-statusbar {
    margin-left: -1.1em;
}

.itsaview-statusbar .itsa-statusbar-container {
    height: 1.5em;
    line-height: 1.6em;
}