.psh {
  background-color: #0f1c21;
  color: #80b6ad;
  margin: 1em 0;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #0f1c21;
  color: #80b6ad;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #486967;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #0f1c21;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #273337;
  color: #a9adaf;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #273337;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #a9adaf;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #273337;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #a9adaf;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #486967;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #2b4344;
  font-size: 13px;
  word-break: break-all;
  color: #a9adaf;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #2a3b3c;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #283a40;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #2d3741;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #32383a;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #32363b;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #313a3a;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #2a3b3c;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #32363b;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #2b4344;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #3f5e61;
}

.psh .comment {
  color: #00485a;
  font-style: italic;
}

.psh .keyword {
  color: #039d6c;
}

.psh .keyword.control {
  color: #039d6c;
}

.psh .keyword.operator {
  color: #039d6c;
}

.psh .keyword.other.special-method {
  color: #039d6c;
}

.psh .keyword.other.unit {
  color: #0b737c;
}

.psh .storage {
  color: #04c975;
}

.psh .constant {
  color: #046655;
}

.psh .constant.character.escape {
  color: #8abeb7;
}

.psh .constant.numeric {
  color: #80b6ad;
}

.psh .constant.other.color {
  color: #8abeb7;
}

.psh .constant.other.symbol {
  color: #046655;
}

.psh .variable {
  color: #04c975;
}

.psh .variable.interpolation {
  color: #2d323b;
}

.psh .variable.parameter.function {
  color: #80b6ad;
}

.psh .invalid.illegal {
  color: #3f5e61;
}

.psh .string {
  color: #3f5e61;
}

.psh .string.regexp {
  color: #8abeb7;
}

.psh .string.regexp .source.ruby.embedded {
  color: #71908b;
}

.psh .string.other.link {
  color: #434a58;
}

.psh .punctuation.definition.comment {
  color: #00485a;
}

.psh .punctuation.definition.array, .psh .punctuation.definition.parameters, .psh .punctuation.definition.string, .psh .punctuation.definition.variable {
  color: #3f5e61;
}

.psh .punctuation.definition.heading, .psh .punctuation.definition.identity {
  color: #81a2be;
}

.psh .punctuation.definition.bold {
  color: #0b737c;
  font-weight: 700;
}

.psh .punctuation.definition.italic {
  color: #94a5bc;
  font-style: italic;
}

.psh .punctuation.section.embedded {
  color: #039758;
}

.psh .support.class {
  color: #04c975;
}

.psh .support.function {
  color: #3f5e61;
}

.psh .support.function.any-method {
  color: #046655;
}

.psh .entity.name.function {
  color: #0b737c;
}

.psh .entity.name.type {
  color: #0b737c;
  text-decoration: underline;
}

.psh .entity.other.inherited-class {
  color: #b5bd68;
}

.psh .entity.name.class, .psh .entity.name.type.class {
  color: #0b737c;
}

.psh .entity.name.section {
  color: #81a2be;
}

.psh .entity.name.tag {
  color: #04c975;
}

.psh .entity.gfm {
  color: #3f5e61;
}

.psh .entity.other.attribute-name {
  color: #308891;
}

.psh .entity.other.attribute-name.id {
  color: #308891;
}

.psh .meta.class {
  color: #308891;
}

.psh .meta.link {
  color: #3f5e61;
}

.psh .meta.require {
  color: #81a2be;
}

.psh .meta.selector {
  color: #94a5bc;
}

.psh .meta.separator {
  background-color: #71908b;
  color: #80b6ad;
}

.psh .none {
  color: #80b6ad;
}

.psh .markup.bold {
  color: #0b737c;
  font-weight: 700;
}

.psh .markup.changed {
  color: #94a5bc;
}

.psh .markup.deleted {
  color: #0b737c;
}

.psh .markup.italic {
  color: #94a5bc;
  font-style: italic;
}

.psh .markup.heading .punctuation.definition.heading {
  color: #81a2be;
}

.psh .markup.inserted {
  color: #0b737c;
}

.psh .markup.list {
  color: #0b737c;
}

.psh .markup.quote {
  color: #0b737c;
}

.psh .markup.raw.inline {
  color: #b5bd68;
}

.psh .markup.underline.link.gfm {
  color: #3f5e61;
}

.psh .source.gfm .markup {
  -webkit-font-smoothing: auto;
}

.psh .source.gfm .markup.heading {
  color: #0b737c;
}

.psh .meta .meta .meta .meta .meta .meta.structure.dictionary.value .string {
  color: #3f5e61;
}

.psh .meta.structure.dictionary.value.json .string.quoted.double.json {
  color: #04c975;
}

.psh .meta.structure.dictionary.json .string.quoted.double.json {
  color: #308891;
}

.psh .meta .meta .meta .meta.structure.dictionary.value .string {
  color: #94a5bc;
}

.psh .meta .meta.structure.dictionary.value .string {
  color: #04c975;
}

.psh .punctuation.definition.variable.php {
  color: #04c975;
}

.psh .punctuation.definition.parameters.php {
  color: #80b6ad;
}

.psh .support.function.php {
  color: #308891;
}
