:global(.psh) {
  background-color: #0f1c21;
  color: #80b6ad;
  margin: 1em 0;
}

:global(.psh figure) {
  margin: 0;
}

:global(.psh pre) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

:global(.psh code), :global(.psh samp) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #0f1c21;
  color: #80b6ad;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:global(.psh .psh-line-numbers) {
  counter-reset: line;
}

:global(.psh .psh-line-numbers .psh-line) {
  counter-increment: line;
}

:global(.psh .psh-line-numbers .psh-line::before) {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #486967;
}

:global(.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before) {
  width: 2em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before) {
  width: 2.6em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before) {
  width: 3.2em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before) {
  width: 3.8em;
}

:global(.psh .psh-label) {
  background-color: #0f1c21;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

:global(.psh .psh-label-value) {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #273337;
  color: #a9adaf;
}

:global(.psh .psh-caption) {
  padding: 12px;
  background-color: #273337;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #a9adaf;
}

:global(.psh .psh-filename) {
  padding: 3px 12px;
  background-color: #273337;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #a9adaf;
}

:global(.psh .psh-request) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

:global(.psh .psh-request .psh-request-method) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #486967;
  font-size: 15px;
  color: #fff;
}

:global(.psh .psh-request .psh-request-method-get) {
  background-color: #42bd79;
}

:global(.psh .psh-request .psh-request-method-post) {
  background-color: #00abd6;
}

:global(.psh .psh-request .psh-request-method-put) {
  background-color: #845eed;
}

:global(.psh .psh-request .psh-request-method-patch) {
  background-color: #f0813d;
}

:global(.psh .psh-request .psh-request-method-delete) {
  background-color: #df435d;
}

:global(.psh .psh-request .psh-request-resource) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #2b4344;
  font-size: 13px;
  word-break: break-all;
  color: #a9adaf;
}

:global(.psh .psh-request .psh-request-method-get + .psh-request-resource) {
  background-color: #2a3b3c;
}

:global(.psh .psh-request .psh-request-method-post + .psh-request-resource) {
  background-color: #283a40;
}

:global(.psh .psh-request .psh-request-method-put + .psh-request-resource) {
  background-color: #2d3741;
}

:global(.psh .psh-request .psh-request-method-patch + .psh-request-resource) {
  background-color: #32383a;
}

:global(.psh .psh-request .psh-request-method-delete + .psh-request-resource) {
  background-color: #32363b;
}

:global(.psh .psh-add), :global(.psh .psh-highlight), :global(.psh .psh-remove) {
  margin: 0 -18px;
  padding-left: 15px;
}

:global(.psh .psh-highlight) {
  border-left: 3px solid #dba643;
  background-color: #313a3a;
}

:global(.psh .psh-add) {
  border-left: 3px solid #42bd79;
  background-color: #2a3b3c;
}

:global(.psh .psh-remove) {
  border-left: 3px solid #df435d;
  background-color: #32363b;
}

:global(.psh .psh-invisibles-lf), :global(.psh .psh-invisibles-space), :global(.psh .psh-invisibles-tab) {
  position: relative;
}

:global(.psh .psh-invisibles-lf::before), :global(.psh .psh-invisibles-space::before), :global(.psh .psh-invisibles-tab::before) {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #2b4344;
}

:global(.psh .psh-invisibles-tab::before) {
  content: "⇥";
}

:global(.psh .psh-invisibles-space::before) {
  content: "·";
}

:global(.psh .psh-invisibles-lf::before) {
  content: "↩";
}

:global(.psh .psh-commands::before) {
  content: ">";
  padding-right: .8em;
  color: #3f5e61;
}

:global(.psh .comment) {
  color: #00485a;
  font-style: italic;
}

:global(.psh .keyword) {
  color: #039d6c;
}

:global(.psh .keyword.control) {
  color: #039d6c;
}

:global(.psh .keyword.operator) {
  color: #039d6c;
}

:global(.psh .keyword.other.special-method) {
  color: #039d6c;
}

:global(.psh .keyword.other.unit) {
  color: #0b737c;
}

:global(.psh .storage) {
  color: #04c975;
}

:global(.psh .constant) {
  color: #046655;
}

:global(.psh .constant.character.escape) {
  color: #8abeb7;
}

:global(.psh .constant.numeric) {
  color: #80b6ad;
}

:global(.psh .constant.other.color) {
  color: #8abeb7;
}

:global(.psh .constant.other.symbol) {
  color: #046655;
}

:global(.psh .variable) {
  color: #04c975;
}

:global(.psh .variable.interpolation) {
  color: #2d323b;
}

:global(.psh .variable.parameter.function) {
  color: #80b6ad;
}

:global(.psh .invalid.illegal) {
  color: #3f5e61;
}

:global(.psh .string) {
  color: #3f5e61;
}

:global(.psh .string.regexp) {
  color: #8abeb7;
}

:global(.psh .string.regexp .source.ruby.embedded) {
  color: #71908b;
}

:global(.psh .string.other.link) {
  color: #434a58;
}

:global(.psh .punctuation.definition.comment) {
  color: #00485a;
}

:global(.psh .punctuation.definition.array), :global(.psh .punctuation.definition.parameters), :global(.psh .punctuation.definition.string), :global(.psh .punctuation.definition.variable) {
  color: #3f5e61;
}

:global(.psh .punctuation.definition.heading), :global(.psh .punctuation.definition.identity) {
  color: #81a2be;
}

:global(.psh .punctuation.definition.bold) {
  color: #0b737c;
  font-weight: 700;
}

:global(.psh .punctuation.definition.italic) {
  color: #94a5bc;
  font-style: italic;
}

:global(.psh .punctuation.section.embedded) {
  color: #039758;
}

:global(.psh .support.class) {
  color: #04c975;
}

:global(.psh .support.function) {
  color: #3f5e61;
}

:global(.psh .support.function.any-method) {
  color: #046655;
}

:global(.psh .entity.name.function) {
  color: #0b737c;
}

:global(.psh .entity.name.type) {
  color: #0b737c;
  text-decoration: underline;
}

:global(.psh .entity.other.inherited-class) {
  color: #b5bd68;
}

:global(.psh .entity.name.class), :global(.psh .entity.name.type.class) {
  color: #0b737c;
}

:global(.psh .entity.name.section) {
  color: #81a2be;
}

:global(.psh .entity.name.tag) {
  color: #04c975;
}

:global(.psh .entity.gfm) {
  color: #3f5e61;
}

:global(.psh .entity.other.attribute-name) {
  color: #308891;
}

:global(.psh .entity.other.attribute-name.id) {
  color: #308891;
}

:global(.psh .meta.class) {
  color: #308891;
}

:global(.psh .meta.link) {
  color: #3f5e61;
}

:global(.psh .meta.require) {
  color: #81a2be;
}

:global(.psh .meta.selector) {
  color: #94a5bc;
}

:global(.psh .meta.separator) {
  background-color: #71908b;
  color: #80b6ad;
}

:global(.psh .none) {
  color: #80b6ad;
}

:global(.psh .markup.bold) {
  color: #0b737c;
  font-weight: 700;
}

:global(.psh .markup.changed) {
  color: #94a5bc;
}

:global(.psh .markup.deleted) {
  color: #0b737c;
}

:global(.psh .markup.italic) {
  color: #94a5bc;
  font-style: italic;
}

:global(.psh .markup.heading .punctuation.definition.heading) {
  color: #81a2be;
}

:global(.psh .markup.inserted) {
  color: #0b737c;
}

:global(.psh .markup.list) {
  color: #0b737c;
}

:global(.psh .markup.quote) {
  color: #0b737c;
}

:global(.psh .markup.raw.inline) {
  color: #b5bd68;
}

:global(.psh .markup.underline.link.gfm) {
  color: #3f5e61;
}

:global(.psh .source.gfm .markup) {
  -webkit-font-smoothing: auto;
}

:global(.psh .source.gfm .markup.heading) {
  color: #0b737c;
}

:global(.psh .meta .meta .meta .meta .meta .meta.structure.dictionary.value .string) {
  color: #3f5e61;
}

:global(.psh .meta.structure.dictionary.value.json .string.quoted.double.json) {
  color: #04c975;
}

:global(.psh .meta.structure.dictionary.json .string.quoted.double.json) {
  color: #308891;
}

:global(.psh .meta .meta .meta .meta.structure.dictionary.value .string) {
  color: #94a5bc;
}

:global(.psh .meta .meta.structure.dictionary.value .string) {
  color: #04c975;
}

:global(.psh .punctuation.definition.variable.php) {
  color: #04c975;
}

:global(.psh .punctuation.definition.parameters.php) {
  color: #80b6ad;
}

:global(.psh .support.function.php) {
  color: #308891;
}
