/* Artfully masterminded by ZURB */
/* -----------------------------------------
THIS IS ALL DECLARED IN THE PLUGIN
----------------------------------------- */
.flickrbombWrapper{overflow:hidden;display:block;position:relative;}
.flickrbombContainer{position:relative;}
.flickrbombWrapper:hover .setupIcon{display:block;}
.flickrbombWrapper .setupIcon{display:none; z-index:99;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAApdJREFUeNpiZGBgYALidCD2BmJpBvqBb0B8Foi7gfgxI5CIB+IChoEDD4A4DOSQ9UCswDCwIAUULRzUMs3b25vnxo0b6v///zfo7e2VIEErFyhEtgOxBKWOyM3NFZo0aZIciH3z5s3vGhoaN0nQnsdEjZAQFhZmhjkCBLZu3foRWd7S0pJz9+7divjMoIpDsrKyhNCiiB+ZP3/+fDkXFxd+fGawUMMhAgICzMh8dXV1TlBUGRgYcFpbW/OA+ITMoIpDPnz48BddDDmqiAFUiZqVK1d+/PPnz398atauXfuO5g5RVVVlY2FhYcQlD8pF6enpT2nqEFCOmTVrFtZo+PLly9++vr4XwHRy5+3bt39pmkaqqqpEpaSk2JDF9uzZ89HV1fU+KeZQVKCByodjx46po4eCsbHxzVu3bv2iW4E2YcIEjNq6q6vrBYmOoCyN1NbWipqZmfGgJ8rm5ubX5JjHRG4CLSsrw4jOxMTER+R6jCyHzJw5U5qHhwelNJ03b97r48ePfyfXISQnVlBVv2XLFhVksWfPnv3S09O7SSiLUjWxYiszysvLn1LgCOKiBpQeQI2cz58/64IaPOhlxqlTp74sWbLkI6XlEQshRxw9elQFV+358+fPf7GxsY8YqACYCCVKfFU4IxBQq5mJ1yHBwcFC+OTZ2NgYw8PD+anhEKLqGlBBBYyiLz9+/PgPbI2J4WsU0cwh6A1hZ2dnXuTowtYoonrUgGpR9NISFDLI/GnTpr2jeYhgq8pBbVB4KZSX94jS8oOsIh5UnoCiBRRdPj4+dyZPnvyOWrmGah0sCgG4iP/LMPDgN8ghJwbYEaDEfwVUBpwDYi0glhkAR4DqqHIgvodcRAsDsRgdHfEHiG/DOAABBgDwy+4qw3JyZwAAAABJRU5ErkJggg==);width:34px;height:34px;position:absolute;bottom:8px;right:8px;opacity:.7;}
.setupIcon:hover{opacity:1;}
img.flickrbomb{position:absolute;left:0;top:0;}
.flickrbombFlyout{display:none;background:rgba(0,0,0,.9);width:345px;height:230px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid rgba(10,10,10,.95);-moz-box-shadow:1px 1px 9px rgba(0,0,0,.85);-webkit-box-shadow:1px 1px 9px rgba(0,0,0,.85);box-shadow:1px 1px 9px rgba(0,0,0,.85);background:-ms-linear-gradient(left,rgba(29,30,33,1) 0%,rgba(0,0,0,.5) 100%);/* IE10+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1e21',endColorstr='#000000',GradientType=.5 );/* IE6-9 */
background-image:-webkit-gradient(
linear,
left bottom,
left top,
color-stop(0.28,rgba(23,23,23,.7)),
color-stop(1,rgba(48,48,48,.85))
);background-image:-moz-linear-gradient(
center bottom,
rgba(23,23,23,.85) 28%,
rgba(48,48,48,.85) 100%
);padding:20px 35px 0px 45px;position:absolute;z-index:9999;}
.flickrbombFlyout a.photo{display:block;overflow:hidden;width:100px;height:60px;float:left;margin:0 15px 15px 0;position:relative;}
.flickrbombFlyout a.photo img{width:100%;}
.flickrbombFlyout a.photo:hover{-moz-box-shadow:0 0 8px rgba(0,0,0,.7);-webkit-box-shadow:0 0 8px rgba(0,0,0,.7);box-shadow:0 0 8px rgba(0,0,0,.7);top:-1px;}
.flickrbombFlyout a.prev,.flickrbombFlyout a.next{background:rgb(29,30,33);/* Old browsers */
background:-moz-linear-gradient(left,rgba(29,30,33,.5) 0%,rgba(0,0,0,1) 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(29,30,33,.5)),color-stop(100%,rgba(0,0,0,.5)));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(left,rgba(29,30,33,.5) 0%,rgba(0,0,0,.5) 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(left,rgba(29,30,33,1) 0%,rgba(0,0,0,.5) 100%);/* Opera11.10+ */
background:-ms-linear-gradient(left,rgba(29,30,33,1) 0%,rgba(0,0,0,.5) 100%);/* IE10+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1e21',endColorstr='#000000',GradientType=.5 );/* IE6-9 */
background:linear-gradient(left,rgba(29,30,33,1) 0%,rgba(0,0,0,.5) 100%);/* W3C */
border:1px solid #111;padding-top:95px;text-align:center;position:absolute;color:#fff;text-decoration:none;width:25px;overflow:hidden;height:113px;}
.flickrbombFlyout a.prev:hover,.flickrbombFlyout a.next:hover{color:#666;border-color:#222;}
.flickrbombFlyout a.prev{left:10px;}
.flickrbombFlyout a.next{right:10px;}