.jqbar

{

    position: relative;

    /*top: 100px;*/

	cursor:pointer;

}

.jqbar.vertical

{

    text-align: center;

    display: inline-block;

}

.jqbar.vertical span

{

    display: block;

    font-size: 11px;

    font-weight: bold;

}

.jqbar.vertical .bar-percent

{

    font-size: 12px;

    font-weight: bold;

    position: absolute;

    height: 20px;

    margin-bottom: 5px;

    width: 100%;

}

.jqbar.vertical .bar-level-wrapper

{

    position: relative;

    display: inline-block;

    overflow: hidden;

}

.jqbar.vertical .bar-level

{

    position: absolute;

}



/*horizontal*/

.jqbar.horizontal  { margin-bottom:1px; float:left; margin-top:6px;}

.jqbar.horizontal.active .bar-level {background:rgb(25, 151, 105);}

.jqbar.horizontal span

{

    display: inline-block;

    font-size: 13px;

	font-weight: normal;

	width: 75px;

	border-radius: 50px;

	float: left;

margin-top: 1px;

	}

.jqbar.horizontal .bar-percent

{

    font-size: 12px;

   margin-bottom: 5px;

   height:20px;

}



