<!-- Input With Search http://getfuelux.com/javascript.html#search-->
<div class="form-group<% if(horizontal && inputsize.length > 0) {%> form-group-<%= inputsize %><% } %>">
  <label class="control-label<% if(horizontal) { %> col-sm-2<% } %>" for="<%= id %>Input"><%= label %></label>
  <% if(horizontal) {%><div class="col-sm-10"><% } %>
    <div class="search input-group<% if(inputsize.length > 0) {%> input-group-<%= inputsize %><% } %>" data-initialize="search" role="search" id="<%= id %>">
      <% if(placement=="appended") { %><input id="<%= id %>Input" name="<%= id %>Input" class="form-control<% if(!horizontal && inputsize.length > 0) {%> input-<%= inputsize %><% } %>" placeholder="<%= placeholder %>" type="search"<% if(required) {%> required <% } %><% if(readonly) {%> readonly <% } %><% if(isDisabled) {%> disabled <% } %>/><% } %>
      <span class="input-group-btn">
        <button class="btn btn-default<% if(inputsize.length > 0) {%> btn-<%= inputsize %><% } %>" type="button"<% if(readonly) {%> readonly <% } %><% if(isDisabled) {%> disabled <% } %>>
          <span class="glyphicon glyphicon-search"></span>
          <span class="sr-only">Search</span>
        </button>
      </span>
      <% if(placement=="prepended") { %><input id="<%= id %>Input" name="<%= id %>Input" class="form-control<% if(!horizontal && inputsize.length > 0) {%> input-<%= inputsize %><% } %>" placeholder="<%= placeholder %>" type="search"<% if(required) {%> required <% } %><% if(readonly) {%> readonly <% } %><% if(isDisabled) {%> disabled <% } %>/><% } %>
    </div>
    <% if (helptext.length > 0) { %><p class="help-block"><%= helptext %></p><% } %>
  <% if(horizontal) {%></div><% } %>
</div>
