.textarea-expander textarea, .textarea-expander pre {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

.textarea-expander > pre,.textarea-expander > textarea {
 
  background: transparent;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
}
.textarea-expander > textarea {
  /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  /* This height is used when JS is disabled */
  height: 60px;
}
.textarea-expander.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}
.textarea-expander > pre {
  display: none;
}
.textarea-expander.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}
