/** 
 *  sliderkit-site-ie6.css
 *	> ie6 styles for Slider Kit plugin website presentation
 * 
 */

/*---------------------------------
 *  Site structure
 *---------------------------------*/
.supertoc{display:none}
