.yui3-tree-view {
	overflow: auto;
}

.yui3-tree-view-content {
	margin: 0;
}

.yui3-tree-view ul {
	list-style: none;
}

.yui3-tree-container {
	margin: 0 0 0 20px;
}

.yui3-tree-node-content .yui3-tree-hitarea {
	height: 18px;
	width: 16px;
	cursor: pointer;
}

.yui3-tree-node .yui3-dd-draggable, .yui3-tree-node .yui3-dd-draggable .yui3-tree-label {
	cursor: pointer;
}

.yui3-tree-collapsed .yui3-tree-hitarea {
	background-image: url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-tree-view/assets/arrows.png);
	background-repeat: no-repeat;
}

.yui3-tree-expanded .yui3-tree-hitarea {
	background-image: url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-tree-view/assets/arrows.png);
	background-repeat: no-repeat;
	background-position: -16px 50%;
}

.yui3-tree-collapsed.yui3-tree-node-over .yui3-tree-hitarea {
	background-position: -32px 50%;
}

.yui3-tree-expanded.yui3-tree-node-over .yui3-tree-hitarea {
	background-position: -48px 50%;
}

.yui3-tree-hitarea, .yui3-tree-label, .yui3-tree-icon {
	float: left;
}

.yui3-tree-label {
	cursor: default;
	line-height: 19px;
	margin-left: 2px;
}

.yui3-tree-node-leaf {
	margin-left: 15px;
}

.yui3-tree-hidden {
	display: none;
}

.yui3-tree-node-selected .yui3-tree-label {
	background: #eee;
}

/* TreeView file */

.yui3-tree-file .yui3-tree-icon {
	height: 18px;
	width: 18px;
}

.yui3-tree-node-leaf .yui3-tree-icon {
	background: transparent url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-tree-view/assets/file.png) no-repeat 50% 50%;
}

.yui3-tree-file .yui3-tree-expanded .yui3-tree-icon {
	background: transparent url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-tree-view/assets/folder_opened.png) no-repeat 50% 50%;
}

.yui3-tree-file .yui3-tree-collapsed .yui3-tree-icon {
	background: transparent url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-tree-view/assets/folder_closed.png) no-repeat 50% 50%;
}

.yui3-tree-collapsed .yui3-tree-node-hidden-hitarea,
.yui3-tree-expanded .yui3-tree-node-hidden-hitarea {
	background-image: none;
}

/* TreeNodeIO */

.yui3-tree-view-content .yui3-tree-node-io-loading .yui3-tree-icon {
	background: url(http://yui.yahooapis.com/build/gallery-aui-skin-base/images/loading_indicator.gif) no-repeat 50% 50% !important;
}

/* TreeNodeCheck */

.yui3-tree-node-checkbox-container {
	float: left;
	background: transparent url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-tree-view/assets/checks.png) no-repeat 0 50%;
	height: 18px;
	width: 16px;
}

.yui3-tree-node-checked .yui3-tree-node-checkbox-container {
	background-position: -18px 50%;
}

.yui3-tree-node-child-unchecked .yui3-tree-node-checkbox-container {
	background-position: -36px 50%;
}

/* TreeViewDragDrop */

.yui3-tree-drag-insert-above {
	border-top: 1px dotted #555;
}

.yui3-tree-drag-insert-below {
	border-bottom: 1px dotted #555;
}

.yui3-tree-drag-insert-append .yui3-tree-label {
	background: #eee;
	border: 1px dotted #555;
}

.yui3-tree-drag-helper {
	min-width: 100px;
	line-height: 18px;
	position: absolute;
}

.yui3-tree-drag-helper-content {
	background: #fff;
	border: 1px solid #aaa;
	margin: 20px 0 0 60px;
	opacity: .9;
	padding: 2px 10px 0 6px;
	filter: alpha(opacity=90);
}

.yui3-tree-drag-helper-content .yui3-icon {
	background-position: -32px -192px;
	float: left;
}

.yui3-tree-drag-state-append .yui3-icon {
	background-position: 0 -192px;
}

.yui3-tree-drag-state-insert-above .yui3-icon,
.yui3-tree-drag-state-insert-below .yui3-icon {

	background-position: -64px -64px;
}

.yui3-tree-drag-helper-label {
	float: left;
	font-size: 12px;
	padding-left: 2px;
}

.yui3-tree-node-paginator {
	margin-left: 18px;
}