.util-border-radius-none {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.util-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.util-textHidden {
  text-indent: -9999px;
  overflow: hidden;
}
.AXSelect {
  border: 2px solid #b6b6b6;
  background: #ffffff;
  -webkit-border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 2px;
  margin: 0px auto;
  box-sizing: content-box;
  vertical-align: middle;
}
.AXSelectSmall {
  border: 2px solid #b6b6b6;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
  font-size: 11px;
  height: 18px;
  line-height: 18px;
  padding: 2px;
  margin: 0px auto;
  box-sizing: content-box;
  outline: none;
  vertical-align: middle;
}
.AXTextarea {
  border: 2px solid #b6b6b6;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
  font-size: 12px;
  line-height: 15px;
  padding: 4px;
  margin: 0px auto;
  box-sizing: content-box;
  outline: none;
}
.AXanchorSelect {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}
.AXanchorSelect .selectedTextBox {
  display: block;
  border: 2px solid #b6b6b6;
  /*background: @stop;*/
  background-image: -webkit-linear-gradient(#fdfdfd, #e8e8e8);
  /* For Safari */
  background-image: -o-linear-gradient(#fdfdfd, #e8e8e8);
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(#fdfdfd, #e8e8e8);
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(#fdfdfd, #e8e8e8);
  /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fdfdfd, endColorstr=#e8e8e8);
  /*For IE7-8-9*/
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.AXanchorSelect .selectedTextBox .selectedText {
  color: #58362a;
  text-shadow: 0px -1px rgba(255, 255, 255, 0.25);
}
.AXanchorSelect .selectedTextBox:focus {
  outline: none;
}
.AXanchorSelect .selectedTextBox:active {
  box-shadow: none;
}
.AXanchorSelect.disabled .selectedTextBox {
  display: block;
  border: 2px solid #b6b6b6;
  background: url('images/dx-default-regular.png') repeat-x;
  background-position: 0px -78px;
  box-shadow: inset 0px 1px 1px #d9d9d9;
  -webkit-border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AXanchorSelect .rootSelectBox {
  position: absolute;
  left: 0px;
  top: 0px;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.AXanchorSelect .selectBoxArrow {
  position: absolute;
  display: block;
  right: 0px;
  top: 0px;
  width: 24px;
  height: 18px;
  background: url('images/dx-slide-down-arrow.png') center center no-repeat;
  overflow: hidden;
  text-indent: -2000px;
}
.AXanchorSelect .selectBoxArrow.on {
  background: url('images/dx-slide-up-arrow.png') center center no-repeat;
}
.AXselectExpandBox {
  z-index: 5002;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 1px solid #b9babc;
  border-radius: 1px;
  background: #ffffff;
  box-shadow: 0px 1px #e9eced;
  overflow: hidden;
}
.AXselectExpandBox .selectExpandScroll {
  padding: 2px 0px;
}
.AXselectExpandBox a {
  display: block;
  padding: 3px 8px;
  font-size: 12px;
  line-height: 18px;
  color: #888888;
  text-decoration: none;
  border-bottom: 1px solid #d8d9db;
  background: #ffffff;
}
.AXselectExpandBox a.on {
  background: #ccc2be;
}
.AXselectExpandBox a:hover {
  background: #99847e;
  color: #ffffff;
}
