.ga-grid, .ga-grid--align\:start {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start; }

.ga-grid--align\:center {
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.ga-grid--align\:end {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end; }

.ga-grid--align\:baseline {
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
              -ms-grid-row-align: baseline;
          align-items: baseline; }

.ga-grid--align\:stretch {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch; }

.ga-grid__cell--align\:start {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.ga-grid__cell--align\:center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.ga-grid__cell--align\:end {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.ga-grid__cell--align\:baseline {
  -webkit-align-self: baseline;
      -ms-flex-item-align: baseline;
          align-self: baseline; }

.ga-grid__cell--align\:stretch {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch; }

@media (min-width: 25rem) {
  .ga-grid--align\.tiny\:start {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
  .ga-grid--align\.tiny\:center {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .ga-grid--align\.tiny\:end {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end; }
  .ga-grid--align\.tiny\:baseline {
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline; }
  .ga-grid--align\.tiny\:stretch {
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
                -ms-grid-row-align: stretch;
            align-items: stretch; }
  .ga-grid__cell--align\.tiny\:start {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .ga-grid__cell--align\.tiny\:center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .ga-grid__cell--align\.tiny\:end {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .ga-grid__cell--align\.tiny\:baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline; }
  .ga-grid__cell--align\.tiny\:stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch; } }

@media (min-width: 50rem) {
  .ga-grid--align\.small\:start {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
  .ga-grid--align\.small\:center {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .ga-grid--align\.small\:end {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end; }
  .ga-grid--align\.small\:baseline {
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline; }
  .ga-grid--align\.small\:stretch {
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
                -ms-grid-row-align: stretch;
            align-items: stretch; }
  .ga-grid__cell--align\.small\:start {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .ga-grid__cell--align\.small\:center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .ga-grid__cell--align\.small\:end {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .ga-grid__cell--align\.small\:baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline; }
  .ga-grid__cell--align\.small\:stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch; } }

@media (min-width: 75rem) {
  .ga-grid--align\.medium\:start {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
  .ga-grid--align\.medium\:center {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .ga-grid--align\.medium\:end {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end; }
  .ga-grid--align\.medium\:baseline {
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline; }
  .ga-grid--align\.medium\:stretch {
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
                -ms-grid-row-align: stretch;
            align-items: stretch; }
  .ga-grid__cell--align\.medium\:start {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .ga-grid__cell--align\.medium\:center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .ga-grid__cell--align\.medium\:end {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .ga-grid__cell--align\.medium\:baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline; }
  .ga-grid__cell--align\.medium\:stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch; } }

@media (min-width: 100rem) {
  .ga-grid--align\.large\:start {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
  .ga-grid--align\.large\:center {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .ga-grid--align\.large\:end {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end; }
  .ga-grid--align\.large\:baseline {
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline; }
  .ga-grid--align\.large\:stretch {
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
                -ms-grid-row-align: stretch;
            align-items: stretch; }
  .ga-grid__cell--align\.large\:start {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .ga-grid__cell--align\.large\:center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .ga-grid__cell--align\.large\:end {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .ga-grid__cell--align\.large\:baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline; }
  .ga-grid__cell--align\.large\:stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch; } }

@media (min-width: 125rem) {
  .ga-grid--align\.huge\:start {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
  .ga-grid--align\.huge\:center {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .ga-grid--align\.huge\:end {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end; }
  .ga-grid--align\.huge\:baseline {
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline; }
  .ga-grid--align\.huge\:stretch {
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
                -ms-grid-row-align: stretch;
            align-items: stretch; }
  .ga-grid__cell--align\.huge\:start {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .ga-grid__cell--align\.huge\:center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .ga-grid__cell--align\.huge\:end {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .ga-grid__cell--align\.huge\:baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline; }
  .ga-grid__cell--align\.huge\:stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch; } }
