@font-face {
	font-family: 'Meera';
	src: url('Meera/Meera.eot');
	src: url('Meera/Meera.eot?#iefix') format('embedded-opentype'),
		url('Meera/Meera.woff2') format('woff2'),
		url('Meera/Meera.woff') format('woff'),
		url('Meera/Meera.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
