@font-face {
	font-family: 'Uroob';
	src: url('Uroob/Uroob.eot');
	src: url('Uroob/Uroob.eot?#iefix') format('embedded-opentype'),
		url('Uroob/Uroob.woff2') format('woff2'),
		url('Uroob/Uroob.woff') format('woff'),
		url('Uroob/Uroob.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
