/*! docsearch 0.0.6 | © Algolia | github.com/algolia/docsearch */
@charset "UTF-8";
.aa-dropdown-menu {
  background-color: #FFF;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 16px;
  margin: 6px 0 0;
  padding: 4px;
  text-align: left;
  left: -20px !important;
  right: -320px !important;
}

.ads-suggestion {
  color: #333;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid #3A3A3A;
}

.ads-suggestion--category-header {
  display: none;
  background-color: #333333;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  text-align: left;
}

.ads-suggestion__main .ads-suggestion--category-header {
  display: block;
}

.ads-suggestion--highlight {
  padding: 0;
  color: #448CDE;
  background: none;
  font-weight: 600;
}

.ads-suggestion--category-header .ads-suggestion--highlight {
  color: inherit;
  background-color: #3A3A3A;
}

.aa-cursor .ads-suggestion--content {
  color: #0000FF;
}

.aa-cursor .ads-suggestion {
  background: #CECECE;
}

.ads-suggestion--subcategory-column {
  display: none;
}

.ads-suggestion--text {
  display: none;
}

.ads-suggestion--content {
  padding: 3px 5px;
}

.ads-suggestion--subcategory-inline {
  display: inline-block;
  font-weight: bold;
}

.ads-suggestion--subcategory-inline:after {
  content: " › ";
}

.ads-suggestion--title {
  display: inline;
}

@media (min-width: 568px) {
  .ads-suggestion--text {
    display: block;
    font-size: .9em;
    padding: 2px 0;
  }
}

@media (min-width: 768px) {
  .ads-suggestion {
    display: table;
    width: 100%;
    border-bottom: 1px solid #606060;
  }
  .ads-suggestion--subcategory-column {
    border-right: 1px solid #606060;
    background: #CECECE;
    color: #4E4726;
    display: table-cell;
    overflow: hidden;
    padding: 5px 7px 5px 5px;
    text-align: right;
    text-overflow: ellipsis;
    vertical-align: top;
    width: 135px;
    max-width: 135px;
    min-width: 135px;
  }
  .ads-suggestion--content {
    display: table-cell;
    padding: 5px 10px;
  }
  .ads-suggestion--subcategory-inline {
    display: none;
  }
  .ads-suggestion--title {
    font-weight: 600;
  }
  .ads-suggestion--text {
    display: block;
    font-weight: normal;
    padding: 2px;
  }
}

