.psh {
  background-color: #0e1112;
  color: #babebd;
  margin: 1em 0;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #0e1112;
  color: #babebd;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #646868;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #0e1112;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #26292a;
  color: #a8a9aa;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #26292a;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #a8a9aa;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #26292a;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #a8a9aa;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #646868;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #393c3d;
  font-size: 13px;
  word-break: break-all;
  color: #a8a9aa;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #2a3230;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #273134;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #2d2d35;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #312f2d;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #312c2e;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #31312d;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #2a3230;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #312c2e;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #393c3d;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #519aba;
}

.psh .text {
  color: #babebd;
}

.psh .complete_tag {
  color: #7494a3;
}

.psh .comment {
  color: #4d5a5e;
  background: none;
}

.psh .constant {
  color: #a074c4;
}

.psh .constant.character.escape {
  color: #a074c4;
}

.psh .constant.name.attribute.tag {
  color: #519aba;
}

.psh .constant.numeric {
  color: #a074c4;
}

.psh .constant.other.color {
  color: #a074c4;
}

.psh .constant.other.symbol {
  color: #a074c4;
}

.psh .entity {
  color: #cbcb41;
}

.psh .entity.name.class, .psh .entity.name.type.class {
  color: #a074c4;
}

.psh .entity.name.function {
  color: #cbcb41;
}

.psh .entity.name.section {
  color: #cbcb41;
}

.psh .entity.name.tag {
  color: #519aba;
  text-decoration: none;
}

.psh .entity.name.tag.block, .psh .entity.name.tag.inline, .psh .entity.name.tag.name {
  color: #519aba;
}

.psh .entity.name.tag.structure {
  color: #519aba;
}

.psh .entity.name.tag.block {
  color: #519aba;
}

.psh .entity.name.type {
  color: #519aba;
  text-decoration: none;
}

.psh .entity.name.type.tag {
  color: #8dc149;
}

.psh .entity.other.attribute-name {
  color: #8dc149;
}

.psh .entity.other.attribute-name.id {
  color: #8dc149;
}

.psh .entity.other.inherited-class {
  color: #cbcb41;
}

.psh .invalid.deprecated, .psh .invalid.illegal {
  background: none;
  color: #cc3e44;
}

.psh .keyword {
  color: #cc3e44;
}

.psh .keyword.control {
  color: #8dc149;
}

.psh .keyword.operator {
  color: #cc3e44;
}

.psh .keyword.operator.assignment {
  color: #4d5a5e;
}

.psh .keyword.operator.new {
  color: #7494a3;
}

.psh .keyword.other.important {
  color: #cc3e44;
}

.psh .keyword.other.special-method {
  color: #cc3e44;
}

.psh .keyword.other.unit {
  color: #cc3e44;
}

.psh .markup.bold {
  color: #babebd;
  font-weight: 700;
}

.psh .markup.changed {
  color: #babebd;
}

.psh .markup.deleted {
  color: #babebd;
}

.psh .markup.heading .punctuation.definition.heading {
  color: #babebd;
}

.psh .markup.inserted {
  color: #babebd;
}

.psh .markup.italic {
  color: #babebd;
  font-style: italic;
}

.psh .markup.list {
  color: #babebd;
}

.psh .markup.quote {
  color: #9ac4d7;
}

.psh .markup.raw.inline {
  color: #babebd;
}

.psh .meta.link {
  color: #babebd;
}

.psh .meta.require {
  color: #babebd;
}

.psh .meta.brace.curly {
  color: #6b7471;
}

.psh .meta.brace.round {
  color: #babebd;
}

.psh .meta.control.flow {
  color: #8dc149;
}

.psh .meta.comma {
  color: #4d5a5e;
}

.psh .meta.selector {
  color: #4d5a5e;
}

.psh .meta.separator {
  background-color: #4d5a5e;
  color: #4d5a5e;
}

.psh .meta.tag {
  color: #519aba;
}

.psh .none {
  color: #babebd;
}

.psh .punctuation {
  color: #4d5a5e;
}

.psh .punctuation.terminator {
  color: #4d5a5e;
}

.psh .punctuation.separator {
  color: #4d5a5e;
}

.psh .punctuation.definition {
  color: #4d5a5e;
}

.psh .punctuation.definition.array {
  color: #519aba;
}

.psh .punctuation.definition.bold {
  color: #babebd;
  font-weight: 700;
}

.psh .punctuation.definition.comment {
  color: #4d5a5e;
}

.psh .punctuation.definition.heading, .psh .punctuation.definition.identity, .psh .punctuation.definition.italic {
  color: #babebd;
}

.psh .punctuation.definition.italic {
  font-style: italic;
}

.psh .punctuation.definition.string {
  color: #519aba;
}

.psh .punctuation.definition.string.begin, .psh .punctuation.definition.string.end {
  color: #9ac4d7;
}

.psh .punctuation.definition.variable {
  color: #7494a3;
}

.psh .punctuation.definition.parameters {
  color: #babebd;
}

.psh .punctuation.definition.tag {
  color: #519aba;
}

.psh .punctuation.section.embedded {
  color: #babebd;
}

.psh .string {
  color: #519aba;
}

.psh .string .constant {
  color: #a074c4;
}

.psh .string.interpolated {
  color: #7494a3;
}

.psh .string.regexp {
  color: #519aba;
}

.psh .string.regexp .constant.character.escape, .psh .string.regexp .source.ruby.embedded, .psh .string.regexp .string.regexp.arbitrary-repitition {
  color: #519aba;
}

.psh .string.regexp.group {
  color: #519aba;
}

.psh .string.regexp.character-class {
  color: #519aba;
}

.psh .string.regexp .source.ruby.embedded {
  color: #519aba;
}

.psh .string.quoted.double {
  color: #9ac4d7;
}

.psh .string.quoted.single {
  color: #9ac4d7;
}

.psh .string .variable {
  color: #7494a3;
}

.psh .string.other.link {
  color: #519aba;
}

.psh .source {
  color: #519aba;
}

.psh .storage {
  color: #d4d7d6;
}

.psh .storage.modifier {
  color: #d4d7d6;
}

.psh .storage.type.class {
  color: #d4d7d6;
}

.psh .storage.type.function {
  color: #d4d7d6;
}

.psh .storage.type.var {
  color: #d4d7d6;
}

.psh .support {
  color: #a074c4;
}

.psh .support.class {
  color: #a074c4;
}

.psh .support.function {
  color: #cbcb41;
}

.psh .support.function.decl {
  color: #519aba;
}

.psh .support.constant {
  color: #a074c4;
}

.psh .support.type.property-name {
  color: #babebd;
}

.psh .variable {
  color: #7494a3;
}

.psh .variable.control.import.include {
  color: #8dc149;
}

.psh .variable.other {
  color: #cc3e44;
}

.psh .variable.other.property {
  color: #cc3e44;
}

.psh .variable.other.module {
  color: #a074c4;
}

.psh .variable.other.module-alias {
  color: #519aba;
}

.psh .variable.other.object {
  color: #8dc149;
}

.psh .variable.parameter.function {
  color: #cbcb41;
}

.psh .source.gfm {
  color: #babebd;
}

.psh .source.gfm .heading-1 {
  color: #e37933;
}

.psh .source.gfm .heading-2 {
  color: #e68849;
}

.psh .source.gfm .heading-3 {
  color: #e99660;
}

.psh .source.gfm .heading-4 {
  color: #eca576;
}

.psh .source.gfm .heading-5 {
  color: #efb48d;
}

.psh .source.gfm .heading-6 {
  color: #f2c3a3;
}

.psh .source.gfm .entity {
  color: #cbcb41;
}

.psh .source.gfm .link {
  color: #8dc149;
}

.psh .source.gfm .link .entity {
  color: #a074c4;
}

.psh .source.gfm .italic {
  color: #cbcb41;
}

.psh .source.gfm .bold {
  color: #cbcb41;
  font-weight: 700;
}

.psh .source.gfm .variable.syntax.list {
  color: #a2852f;
}

.psh .source.gfm .hr {
  color: #8dc149;
}

.psh .source.gfm .comment.quote {
  color: #9ac4d7;
}

.psh .source.gfm .support.quote {
  color: #0e1112;
  background-color: #babebd;
}

.psh .source.gfm .raw {
  color: #cc3e44;
  border: 1px solid #1c2326;
  background-color: #1c2326;
  border-radius: 3px;
}

.psh .source.ink {
  color: #babebd;
}

.psh .jade, .psh .pug {
  color: #babebd;
}

.psh .jade .comment, .psh .pug .comment {
  color: #4d5a5e;
}

.psh .jade .name, .psh .pug .name {
  color: #519aba;
}

.psh .jade .entity, .psh .pug .entity {
  color: #519aba;
}

.psh .jade .string, .psh .pug .string {
  color: #519aba;
}

.psh .jade .quoted, .psh .pug .quoted {
  color: #9ac4d7;
}

.psh .jade .attribute-name, .psh .jade .id, .psh .pug .attribute-name, .psh .pug .id {
  color: #cc3e44 !important;
}

.psh .jade .class, .psh .pug .class {
  color: #8dc149;
}

.psh .source.json .meta.structure.dictionary.json > .string.quoted.json {
  color: #519aba;
}

.psh .source.json .meta.structure.dictionary.json > .string.quoted.json > .punctuation.string {
  color: #519aba;
}

.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json,
.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json > .punctuation,
.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json,
.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json > .punctuation {
  color: #babebd;
}

.psh .source.json .meta.structure.array.json > .constant.language.json,
.psh .source.json .meta.structure.dictionary.json > .constant.language.json {
  color: #a074c4;
}

.psh .source.md {
  color: #babebd;
}

.psh .source.md .heading-1 {
  color: #e37933;
}

.psh .source.md .heading-2 {
  color: #e68849;
}

.psh .source.md .heading-3 {
  color: #e99660;
}

.psh .source.md .heading-4 {
  color: #eca576;
}

.psh .source.md .heading-5 {
  color: #efb48d;
}

.psh .source.md .heading-6 {
  color: #f2c3a3;
}

.psh .source.md .entity {
  color: #cbcb41;
}

.psh .source.md .link {
  color: #8dc149;
}

.psh .source.md .link .entity {
  color: #a074c4;
}

.psh .source.md .italic {
  color: #cbcb41;
}

.psh .source.md .bold {
  color: #cbcb41;
  font-weight: 700;
}

.psh .source.md .variable.syntax.list {
  color: #a2852f;
}

.psh .source.md .hr {
  color: #8dc149;
}

.psh .source.md .comment.quote {
  color: #9ac4d7;
}

.psh .source.md .support.quote {
  color: #0e1112;
  background-color: #babebd;
}

.psh .source.md .raw {
  color: #cc3e44;
  border: 1px solid #1c2326;
  background-color: #1c2326;
  border-radius: 3px;
}

.psh .mustache .meta.tag.template {
  color: #519aba;
}

.psh .mustache .meta.tag.template .entity.name.tag {
  color: #9ac4d7;
}

.psh .source.python .class {
  color: #a074c4;
}

.psh .source.python .inherited-class, .psh .source.python .support.function.magic {
  color: #93acb7;
}

.psh .source.python .inherited-class .support.function.builtin.python,
.psh .source.python .support.function.magic .support.function.builtin.python {
  color: #93acb7;
}

.psh .source.python .keyword, .psh .source.python .storage {
  color: #d4d7d6;
}

.psh .source.python .string {
  color: #519aba;
}

.psh .source.python .string.block {
  color: #2f6076;
}

.psh .source.python .string.block .keyword {
  color: #2f6076;
}
