:global(.psh) {
  background-color: #0e1112;
  color: #babebd;
  margin: 1em 0;
}

:global(.psh figure) {
  margin: 0;
}

:global(.psh pre) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: none;
}

:global(.psh code), :global(.psh samp) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
  background-color: #0e1112;
  color: #babebd;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:global(.psh .psh-line-numbers) {
  counter-reset: line;
}

:global(.psh .psh-line-numbers .psh-line) {
  counter-increment: line;
}

:global(.psh .psh-line-numbers .psh-line::before) {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #646868;
}

:global(.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before) {
  width: 2em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before) {
  width: 2.6em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before) {
  width: 3.2em;
}

:global(.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before) {
  width: 3.8em;
}

:global(.psh .psh-label) {
  background-color: #0e1112;
  height: 18px;
  text-align: right;
  line-height: 18px;
  font-size: 11px;
  font-family: sans-serif;
}

:global(.psh .psh-label-value) {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #26292a;
  color: #a8a9aa;
}

:global(.psh .psh-caption) {
  padding: 12px;
  background-color: #26292a;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  color: #a8a9aa;
}

:global(.psh .psh-filename) {
  padding: 3px 12px;
  background-color: #26292a;
  font-family: monospace;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  color: #a8a9aa;
}

:global(.psh .psh-request) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-family: monospace;
  font-weight: 500;
}

:global(.psh .psh-request .psh-request-method) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #646868;
  font-size: 15px;
  color: #fff;
}

:global(.psh .psh-request .psh-request-method-get) {
  background-color: #42bd79;
}

:global(.psh .psh-request .psh-request-method-post) {
  background-color: #00abd6;
}

:global(.psh .psh-request .psh-request-method-put) {
  background-color: #845eed;
}

:global(.psh .psh-request .psh-request-method-patch) {
  background-color: #f0813d;
}

:global(.psh .psh-request .psh-request-method-delete) {
  background-color: #df435d;
}

:global(.psh .psh-request .psh-request-resource) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #393c3d;
  font-size: 13px;
  word-break: break-all;
  color: #a8a9aa;
}

:global(.psh .psh-request .psh-request-method-get + .psh-request-resource) {
  background-color: #2a3230;
}

:global(.psh .psh-request .psh-request-method-post + .psh-request-resource) {
  background-color: #273134;
}

:global(.psh .psh-request .psh-request-method-put + .psh-request-resource) {
  background-color: #2d2d35;
}

:global(.psh .psh-request .psh-request-method-patch + .psh-request-resource) {
  background-color: #312f2d;
}

:global(.psh .psh-request .psh-request-method-delete + .psh-request-resource) {
  background-color: #312c2e;
}

:global(.psh .psh-add), :global(.psh .psh-highlight), :global(.psh .psh-remove) {
  margin: 0 -18px;
  padding-left: 15px;
}

:global(.psh .psh-highlight) {
  border-left: 3px solid #dba643;
  background-color: #31312d;
}

:global(.psh .psh-add) {
  border-left: 3px solid #42bd79;
  background-color: #2a3230;
}

:global(.psh .psh-remove) {
  border-left: 3px solid #df435d;
  background-color: #312c2e;
}

:global(.psh .psh-invisibles-lf), :global(.psh .psh-invisibles-space), :global(.psh .psh-invisibles-tab) {
  position: relative;
}

:global(.psh .psh-invisibles-lf::before), :global(.psh .psh-invisibles-space::before), :global(.psh .psh-invisibles-tab::before) {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #393c3d;
}

:global(.psh .psh-invisibles-tab::before) {
  content: "⇥";
}

:global(.psh .psh-invisibles-space::before) {
  content: "·";
}

:global(.psh .psh-invisibles-lf::before) {
  content: "↩";
}

:global(.psh .psh-commands::before) {
  content: ">";
  padding-right: .8em;
  color: #519aba;
}

:global(.psh .text) {
  color: #babebd;
}

:global(.psh .complete_tag) {
  color: #7494a3;
}

:global(.psh .comment) {
  color: #4d5a5e;
  background: none;
}

:global(.psh .constant) {
  color: #a074c4;
}

:global(.psh .constant.character.escape) {
  color: #a074c4;
}

:global(.psh .constant.name.attribute.tag) {
  color: #519aba;
}

:global(.psh .constant.numeric) {
  color: #a074c4;
}

:global(.psh .constant.other.color) {
  color: #a074c4;
}

:global(.psh .constant.other.symbol) {
  color: #a074c4;
}

:global(.psh .entity) {
  color: #cbcb41;
}

:global(.psh .entity.name.class), :global(.psh .entity.name.type.class) {
  color: #a074c4;
}

:global(.psh .entity.name.function) {
  color: #cbcb41;
}

:global(.psh .entity.name.section) {
  color: #cbcb41;
}

:global(.psh .entity.name.tag) {
  color: #519aba;
  text-decoration: none;
}

:global(.psh .entity.name.tag.block), :global(.psh .entity.name.tag.inline), :global(.psh .entity.name.tag.name) {
  color: #519aba;
}

:global(.psh .entity.name.tag.structure) {
  color: #519aba;
}

:global(.psh .entity.name.tag.block) {
  color: #519aba;
}

:global(.psh .entity.name.type) {
  color: #519aba;
  text-decoration: none;
}

:global(.psh .entity.name.type.tag) {
  color: #8dc149;
}

:global(.psh .entity.other.attribute-name) {
  color: #8dc149;
}

:global(.psh .entity.other.attribute-name.id) {
  color: #8dc149;
}

:global(.psh .entity.other.inherited-class) {
  color: #cbcb41;
}

:global(.psh .invalid.deprecated), :global(.psh .invalid.illegal) {
  background: none;
  color: #cc3e44;
}

:global(.psh .keyword) {
  color: #cc3e44;
}

:global(.psh .keyword.control) {
  color: #8dc149;
}

:global(.psh .keyword.operator) {
  color: #cc3e44;
}

:global(.psh .keyword.operator.assignment) {
  color: #4d5a5e;
}

:global(.psh .keyword.operator.new) {
  color: #7494a3;
}

:global(.psh .keyword.other.important) {
  color: #cc3e44;
}

:global(.psh .keyword.other.special-method) {
  color: #cc3e44;
}

:global(.psh .keyword.other.unit) {
  color: #cc3e44;
}

:global(.psh .markup.bold) {
  color: #babebd;
  font-weight: 700;
}

:global(.psh .markup.changed) {
  color: #babebd;
}

:global(.psh .markup.deleted) {
  color: #babebd;
}

:global(.psh .markup.heading .punctuation.definition.heading) {
  color: #babebd;
}

:global(.psh .markup.inserted) {
  color: #babebd;
}

:global(.psh .markup.italic) {
  color: #babebd;
  font-style: italic;
}

:global(.psh .markup.list) {
  color: #babebd;
}

:global(.psh .markup.quote) {
  color: #9ac4d7;
}

:global(.psh .markup.raw.inline) {
  color: #babebd;
}

:global(.psh .meta.link) {
  color: #babebd;
}

:global(.psh .meta.require) {
  color: #babebd;
}

:global(.psh .meta.brace.curly) {
  color: #6b7471;
}

:global(.psh .meta.brace.round) {
  color: #babebd;
}

:global(.psh .meta.control.flow) {
  color: #8dc149;
}

:global(.psh .meta.comma) {
  color: #4d5a5e;
}

:global(.psh .meta.selector) {
  color: #4d5a5e;
}

:global(.psh .meta.separator) {
  background-color: #4d5a5e;
  color: #4d5a5e;
}

:global(.psh .meta.tag) {
  color: #519aba;
}

:global(.psh .none) {
  color: #babebd;
}

:global(.psh .punctuation) {
  color: #4d5a5e;
}

:global(.psh .punctuation.terminator) {
  color: #4d5a5e;
}

:global(.psh .punctuation.separator) {
  color: #4d5a5e;
}

:global(.psh .punctuation.definition) {
  color: #4d5a5e;
}

:global(.psh .punctuation.definition.array) {
  color: #519aba;
}

:global(.psh .punctuation.definition.bold) {
  color: #babebd;
  font-weight: 700;
}

:global(.psh .punctuation.definition.comment) {
  color: #4d5a5e;
}

:global(.psh .punctuation.definition.heading), :global(.psh .punctuation.definition.identity), :global(.psh .punctuation.definition.italic) {
  color: #babebd;
}

:global(.psh .punctuation.definition.italic) {
  font-style: italic;
}

:global(.psh .punctuation.definition.string) {
  color: #519aba;
}

:global(.psh .punctuation.definition.string.begin), :global(.psh .punctuation.definition.string.end) {
  color: #9ac4d7;
}

:global(.psh .punctuation.definition.variable) {
  color: #7494a3;
}

:global(.psh .punctuation.definition.parameters) {
  color: #babebd;
}

:global(.psh .punctuation.definition.tag) {
  color: #519aba;
}

:global(.psh .punctuation.section.embedded) {
  color: #babebd;
}

:global(.psh .string) {
  color: #519aba;
}

:global(.psh .string .constant) {
  color: #a074c4;
}

:global(.psh .string.interpolated) {
  color: #7494a3;
}

:global(.psh .string.regexp) {
  color: #519aba;
}

:global(.psh .string.regexp .constant.character.escape), :global(.psh .string.regexp .source.ruby.embedded), :global(.psh .string.regexp .string.regexp.arbitrary-repitition) {
  color: #519aba;
}

:global(.psh .string.regexp.group) {
  color: #519aba;
}

:global(.psh .string.regexp.character-class) {
  color: #519aba;
}

:global(.psh .string.regexp .source.ruby.embedded) {
  color: #519aba;
}

:global(.psh .string.quoted.double) {
  color: #9ac4d7;
}

:global(.psh .string.quoted.single) {
  color: #9ac4d7;
}

:global(.psh .string .variable) {
  color: #7494a3;
}

:global(.psh .string.other.link) {
  color: #519aba;
}

:global(.psh .source) {
  color: #519aba;
}

:global(.psh .storage) {
  color: #d4d7d6;
}

:global(.psh .storage.modifier) {
  color: #d4d7d6;
}

:global(.psh .storage.type.class) {
  color: #d4d7d6;
}

:global(.psh .storage.type.function) {
  color: #d4d7d6;
}

:global(.psh .storage.type.var) {
  color: #d4d7d6;
}

:global(.psh .support) {
  color: #a074c4;
}

:global(.psh .support.class) {
  color: #a074c4;
}

:global(.psh .support.function) {
  color: #cbcb41;
}

:global(.psh .support.function.decl) {
  color: #519aba;
}

:global(.psh .support.constant) {
  color: #a074c4;
}

:global(.psh .support.type.property-name) {
  color: #babebd;
}

:global(.psh .variable) {
  color: #7494a3;
}

:global(.psh .variable.control.import.include) {
  color: #8dc149;
}

:global(.psh .variable.other) {
  color: #cc3e44;
}

:global(.psh .variable.other.property) {
  color: #cc3e44;
}

:global(.psh .variable.other.module) {
  color: #a074c4;
}

:global(.psh .variable.other.module-alias) {
  color: #519aba;
}

:global(.psh .variable.other.object) {
  color: #8dc149;
}

:global(.psh .variable.parameter.function) {
  color: #cbcb41;
}

:global(.psh .source.gfm) {
  color: #babebd;
}

:global(.psh .source.gfm .heading-1) {
  color: #e37933;
}

:global(.psh .source.gfm .heading-2) {
  color: #e68849;
}

:global(.psh .source.gfm .heading-3) {
  color: #e99660;
}

:global(.psh .source.gfm .heading-4) {
  color: #eca576;
}

:global(.psh .source.gfm .heading-5) {
  color: #efb48d;
}

:global(.psh .source.gfm .heading-6) {
  color: #f2c3a3;
}

:global(.psh .source.gfm .entity) {
  color: #cbcb41;
}

:global(.psh .source.gfm .link) {
  color: #8dc149;
}

:global(.psh .source.gfm .link .entity) {
  color: #a074c4;
}

:global(.psh .source.gfm .italic) {
  color: #cbcb41;
}

:global(.psh .source.gfm .bold) {
  color: #cbcb41;
  font-weight: 700;
}

:global(.psh .source.gfm .variable.syntax.list) {
  color: #a2852f;
}

:global(.psh .source.gfm .hr) {
  color: #8dc149;
}

:global(.psh .source.gfm .comment.quote) {
  color: #9ac4d7;
}

:global(.psh .source.gfm .support.quote) {
  color: #0e1112;
  background-color: #babebd;
}

:global(.psh .source.gfm .raw) {
  color: #cc3e44;
  border: 1px solid #1c2326;
  background-color: #1c2326;
  border-radius: 3px;
}

:global(.psh .source.ink) {
  color: #babebd;
}

:global(.psh .jade), :global(.psh .pug) {
  color: #babebd;
}

:global(.psh .jade .comment), :global(.psh .pug .comment) {
  color: #4d5a5e;
}

:global(.psh .jade .name), :global(.psh .pug .name) {
  color: #519aba;
}

:global(.psh .jade .entity), :global(.psh .pug .entity) {
  color: #519aba;
}

:global(.psh .jade .string), :global(.psh .pug .string) {
  color: #519aba;
}

:global(.psh .jade .quoted), :global(.psh .pug .quoted) {
  color: #9ac4d7;
}

:global(.psh .jade .attribute-name), :global(.psh .jade .id), :global(.psh .pug .attribute-name), :global(.psh .pug .id) {
  color: #cc3e44 !important;
}

:global(.psh .jade .class), :global(.psh .pug .class) {
  color: #8dc149;
}

:global(.psh .source.json .meta.structure.dictionary.json > .string.quoted.json) {
  color: #519aba;
}

:global(.psh .source.json .meta.structure.dictionary.json > .string.quoted.json > .punctuation.string) {
  color: #519aba;
}

:global(.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json),
:global(.psh .source.json .meta.structure.array.json > .value.json > .string.quoted.json > .punctuation),
:global(.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json),
:global(.psh .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json > .punctuation) {
  color: #babebd;
}

:global(.psh .source.json .meta.structure.array.json > .constant.language.json),
:global(.psh .source.json .meta.structure.dictionary.json > .constant.language.json) {
  color: #a074c4;
}

:global(.psh .source.md) {
  color: #babebd;
}

:global(.psh .source.md .heading-1) {
  color: #e37933;
}

:global(.psh .source.md .heading-2) {
  color: #e68849;
}

:global(.psh .source.md .heading-3) {
  color: #e99660;
}

:global(.psh .source.md .heading-4) {
  color: #eca576;
}

:global(.psh .source.md .heading-5) {
  color: #efb48d;
}

:global(.psh .source.md .heading-6) {
  color: #f2c3a3;
}

:global(.psh .source.md .entity) {
  color: #cbcb41;
}

:global(.psh .source.md .link) {
  color: #8dc149;
}

:global(.psh .source.md .link .entity) {
  color: #a074c4;
}

:global(.psh .source.md .italic) {
  color: #cbcb41;
}

:global(.psh .source.md .bold) {
  color: #cbcb41;
  font-weight: 700;
}

:global(.psh .source.md .variable.syntax.list) {
  color: #a2852f;
}

:global(.psh .source.md .hr) {
  color: #8dc149;
}

:global(.psh .source.md .comment.quote) {
  color: #9ac4d7;
}

:global(.psh .source.md .support.quote) {
  color: #0e1112;
  background-color: #babebd;
}

:global(.psh .source.md .raw) {
  color: #cc3e44;
  border: 1px solid #1c2326;
  background-color: #1c2326;
  border-radius: 3px;
}

:global(.psh .mustache .meta.tag.template) {
  color: #519aba;
}

:global(.psh .mustache .meta.tag.template .entity.name.tag) {
  color: #9ac4d7;
}

:global(.psh .source.python .class) {
  color: #a074c4;
}

:global(.psh .source.python .inherited-class), :global(.psh .source.python .support.function.magic) {
  color: #93acb7;
}

:global(.psh .source.python .inherited-class .support.function.builtin.python),
:global(.psh .source.python .support.function.magic .support.function.builtin.python) {
  color: #93acb7;
}

:global(.psh .source.python .keyword), :global(.psh .source.python .storage) {
  color: #d4d7d6;
}

:global(.psh .source.python .string) {
  color: #519aba;
}

:global(.psh .source.python .string.block) {
  color: #2f6076;
}

:global(.psh .source.python .string.block .keyword) {
  color: #2f6076;
}
