.yui3-loadingmask-message {
	background: #d4d4d4 url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-skin-classic/images/common/state_default_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #c8c9ca #9e9e9e #9e9e9e #c8c9ca;
}