/* Webfont: LatoLatin-Regular */@font-face {
    font-family: 'LatoLatin';
    src: url('LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('LatoLatin-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

