/* Standard Styles */
a {
	color:#787878;
}
a:visited {
	color: #787878;
}

/* sub menu */
#subnav li a:hover {
	color: #787878;
}

/* Level 3 */
.hier-nav li a:hover {
	color: #787878;
}

/* content */
.postdata a:hover {
	color: #787878;
}

/* post title */
h1.posttitle a:hover,
h2.posttitle a:hover {
	color: #787878;
}
.tags a:hover {
	color: #787878;
}

/* next & previous page navigation */
.page-nav a:hover {
	color: #787878;
}

/* next & previous post navigation */
.post-nav a:hover {
	color: #787878;
}

.suf-page-nav a.page-numbers,
.suf-page-nav a.page-numbers:visited {
	color: #787878;
}

/* comment list */
.commentlist cite {
	color: #787878;
}
.commentlist cite a, .commentlist cite a:visited {
	color: #787878;
}

/* Credits  */
#cred a:hover {
	color: #787878;
}

.suf-widget a:hover,
.suf-widget a:focus,
.suf-widget a:active,
.warea a:hover,
.warea a:focus,
.warea a:active {
	color: #787878;
}

/* These settings are for common plugins */
.wp-pagenavi a,
.wp-pagenavi a:visited,
.wp-pagenavi span {
	color: #787878;
}

.wp-pagenavi a:hover {
	color: #fff;
}

