.yui3-combobox-content .yui3-field-content {
	float: none;
}

.yui3-combobox-content {
	white-space: nowrap;
	vertical-align: middle;
}

.yui3-combobox-content .yui3-field-content {
	display: inline-block;
}

.yui3-combobox-content .yui3-field-input {
	display: block;
}