.yui3-skin-sam .yui3-component-busy
{
	background:#fff url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-busyoverlay/assets/skins/sam/spinner.gif) no-repeat scroll center;
	filter:alpha(opacity=60);
	opacity:0.6;
	z-index:100;
}
