@font-face {
    font-family: 'NotoSansKR-100';
    font-style: normal;
    font-weight: 100;
    src: url(./fonts/2350/NotoSansKR-Thin.eot);
    src: url(./fonts/2350/NotoSansKR-Thin.eot?#iefix) format('embedded-opentype'),
    url(./fonts/2350/NotoSansKR-Thin.woff2) format('woff2'),
    url(./fonts/2350/NotoSansKR-Thin.woff) format('woff'),
    url(./fonts/2350/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'NotoSansKR-200';
    font-style: normal;
    font-weight: 200;
    src: url(./fonts/2350/NotoSansKR-Light.eot);
    src: url(./fonts/2350/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
    url(./fonts/2350/NotoSansKR-Light.woff2) format('woff2'),
    url(./fonts/2350/NotoSansKR-Light.woff) format('woff'),
    url(./fonts/2350/NotoSansKR-Light.otf) format('opentype');
}


@font-face {
    font-family: 'NotoSansKR-300';
    font-style: normal;
    font-weight: 300;
    src: url(./fonts/2350/NotoSansKR-DemiLight.eot);
    src: url(./fonts/2350/NotoSansKR-DemiLight.eot?#iefix) format('embedded-opentype'),
    url(./fonts/2350/NotoSansKR-DemiLight.woff2) format('woff2'),
    url(./fonts/2350/NotoSansKR-DemiLight.woff) format('woff'),
    url(./fonts/2350/NotoSansKR-DemiLight.otf) format('opentype');
}


@font-face {
    font-family: 'NotoSansKR-400';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/2350/NotoSansKR-Regular.eot);
    src: url(./fonts/2350/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
    url(./fonts/2350/NotoSansKR-Regular.woff2) format('woff2'),
    url(./fonts/2350/NotoSansKR-Regular.woff) format('woff'),
    url(./fonts/2350/NotoSansKR-Regular.otf) format('opentype');
}


@font-face {
    font-family: 'NotoSansKR-600';
    font-style: normal;
    font-weight: 600;
    src: url(./fonts/2350/NotoSansKR-Medium.eot);
    src: url(./fonts/2350/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
    url(./fonts/2350/NotoSansKR-Medium.woff2) format('woff2'),
    url(./fonts/2350/NotoSansKR-Medium.woff) format('woff'),
    url(./fonts/2350/NotoSansKR-Medium.otf) format('opentype');
}


@font-face {
    font-family: 'NotoSansKR-700';
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/2350/NotoSansKR-Bold.eot);
    src: url(./fonts/2350/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
    url(./fonts/2350/NotoSansKR-Bold.woff2) format('woff2'),
    url(./fonts/2350/NotoSansKR-Bold.woff) format('woff'),
    url(./fonts/2350/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'NotoSansKR-900';
    font-style: normal;
    font-weight: 900;
    src: url(./fonts/2350/NotoSansKR-Black.eot);
    src: url(./fonts/2350/NotoSansKR-Black.eot?#iefix) format('embedded-opentype'),
    url(./fonts/2350/NotoSansKR-Black.woff2) format('woff2'),
    url(./fonts/2350/NotoSansKR-Black.woff) format('woff'),
    url(./fonts/2350/NotoSansKR-Black.otf) format('opentype');
}

