.yui3-panel-hd {
	background: #c0c2c5 url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-skin-classic/images/panel/header_bg.png) repeat-x 0 0;
	border: 0 solid;
	border-color: #C8C9CA #aeb2b8 #aeb2b8 #C8C9CA;
	border-bottom-width: 1px;
	padding-left: 10px;
	text-shadow: 1px 1px #fff;
}
