@charset "utf-8";
/* Image Sprite */
.mapi .jstree-hovered>i,
.mapi .jstree-clicked>i,
.col .nav li>a:hover>i,
.col .nav li>a:focus>i,
.col .nav li.active>a>i,
.theme label>a:hover,
.theme label>a:focus,
.theme ul ul>li>a:hover>i,
.theme ul ul>li>a:focus>i,
#properties li>*:hover>i,
#properties li>*:active>i,
#properties li>*:focus>i,
#properties li.active>*>i{background-image:url(../../../../common/img/glyphicons-halflings-white.png);background-repeat:no-repeat}
/* Opacity 100% */
.col>.x_close:hover,
.col>.x_close:focus,
.mapi .jstree-hovered>i,
.mapi .jstree-clicked>i,
.col .nav li>a:hover>i,
.col .nav li>a:focus>i,
.col .nav li.active>a>i,
.download .done>i,
.download .update>i,
.download .x_icon-download-alt,
#properties li>*:hover>i,
#properties li>*:active>i,
#properties li>*:focus>i,
#properties li.active>*>i,
#add_menu .desc>a:hover,
#add_menu .desc>a:focus{opacity:1;filter:alpha(opacity=100)}
/* Site */
.x_icon-question-sign{height:0 !important;padding:14px 0 0 0 !important}
body>.x{max-width:none !important}
.x>.body{padding-bottom:10px !important}
.x>.body>.content{margin-bottom:0}
#site{position:relative;overflow-x:auto;overflow-y:hidden;white-space:nowrap;margin-top:10px;padding:3px;word-wrap:normal}
#site .btnBoth,
#site .x_btn-group{text-align:right}
#site .btnBoth:after{content:"";display:block;clear:both}
.col{display:inline-block;*display:inline;*zoom:1;vertical-align:top;position:relative;overflow:hidden;background-color:#ddd;white-space:normal;height:100%;min-width:245px;padding:10px;margin:0 4px 0 0;border-radius:5px;box-shadow:1px 1px 1px #999;background-image:-webkit-linear-gradient(top, #eee, #ddd 18px, #ccc 18px, #ddd 33px);background-image:-moz-linear-gradient(top, #eee, #ddd 18px, #ccc 18px, #ddd 33px);background-image:-o-linear-gradient(top, #eee, #ddd 18px, #ccc 18px, #ddd 33px);background-image:linear-gradient(top, #eee, #ddd 18px, #ccc 18px, #ddd 33px)}
.col>h1,
.col>*>h1{line-height:32px !important;font-size:16px !important;margin:-10px -10px 0 -10px;color:#000 !important;padding:0 8px;text-shadow:0 1px 0 #fff;max-width:240px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.col>*>h1>a{color:#000;text-decoration:none}
.col>*>h1>a[target="_blank"]:after{vertical-align:middle;opacity:.75;filter:alpha(opacity=75)}
.col>*>h1>a:hover,
.col>*>h1>a:focus{color:#06C}
.col>.x_close{position:absolute;top:0;right:0;width:30px;height:30px;color:#666;font-size:17px;opacity:.75;filter:alpha(opacity=75)}
.col input[type="checkbox"],
.col input[type="radio"]{margin:0}
.col .cnt{overflow-x:hidden;overflow-y:auto;padding:10px;margin:0 -6px;border-radius:5px;background:#fff;border:1px solid #999;border-right:0;border-bottom:0}
.col .cnt>ul{margin:0;padding:0;list-style:none}
.col .cnt label{font-weight:normal}
.col .cnt label:only-child{cursor:pointer}
.col .x_alert{margin:0 0 10px 0}
	/* .mapi */
.col.map .x_btn-group{border-top:1px solid #ddd;padding:10px 0}
.col.map li._isCut a{color:#aaa}
.mapi{margin:3px 0 5px 0;min-width:200px;background-color:transparent !important}
.mapi ul{margin:0;padding:0;list-style:none}
.mapi li{padding:0;white-space:nowrap;position:relative;border-radius:3px;vertical-align:top}
.mapi li>ul{margin:0}
.mapi a{text-decoration:none}
.mapi>ul{padding:1px}
.mapi .jstree-rename-input{margin-left:-16px;z-index:2}
	/* Root */
.mapi>ul>li{margin-top:30px;position:relative}
.mapi>ul>li:before{content:"";display:block;border-top:1px dotted #ccc;position:relative;top:-15px}
.mapi>ul>li:first-child{margin-top:0}
.mapi>ul>li:first-child:before{content:normal}
.mapi>ul>li>a{font-weight:bold;text-shadow:0 1px 0 #fff;vertical-align:middle}
.mapi>ul>li>a:hover,
.mapi>ul>li>a:focus,
.mapi>ul>li>a.jstree-clicked,
.mapi>ul>li>a.jstree-hovered{text-shadow:none}
.mapi>ul>li>ul{margin:0 0 0 18px}
.mapi>ul>li>ul>li{margin-left:0}
	/* li>a */
.mapi li>a{border:0 !important;padding:0 8px !important;margin:0 0 1px 0;border-radius:3px;position:relative;z-index:2;height:23px;line-height:23px;max-width:160px;overflow:hidden;text-overflow:ellipsis;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;transition:.2s}
.mapi li>a>i{opacity:.5;filter:alpha(opacity=50)}
	/* Plugin style override */
.mapi a>.jstree-icon{display:none}
.mapi .jstree-open>.jstree-icon,
.mapi .jstree-closed>.jstree-icon{background-color:#fff}
/* Nav */
.col .nav li{border-top:1px solid #ddd;position:relative;white-space:nowrap}
.col .nav li:first-child{border-top:0}
.col .nav li>a,
.col .nav li>button{text-align:left;color:#000;line-height:20px;background-color:transparent;border:0;display:block;padding:5px 20px 5px 8px;color:#333;text-decoration:none;background:#fff;overflow:hidden;text-overflow:ellipsis;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s}
.col .nav .themeName{font-size:11px;color:#666;font-weight:normal}
.col .nav li>a{max-width:240px}
.col .nav li>button{width:100%;max-width:268px}
.col .nav li>a:hover,
.col .nav li>a:focus,
.col .nav li.active>a,
.col .nav li>button:hover,
.col .nav li>button:focus{background:#666;color:#fff}
.col .nav li>a:hover>.themeName,
.col .nav li>a:focus>.themeName,
.col .nav li.active>a>.themeName,
.col .nav li>button:hover>.themeName,
.col .nav li>button:focus>.themeName{color:#ddd}
.col .nav li>a>i{position:absolute;top:50%;right:5px;margin:-7px 0 0 0;opacity:.5;filter:alpha(opacity=50)}
/* Menu Type */
.col .typePage{display:none}
.col .multilingual>label,
.col .typePage>label{line-height:30px;margin:0}
.col .typeUrl{display:none}
.col.page .typePage,
.col.url .typeUrl{display:block}
/* Menu Clone */
.col .clone li>a:before,
.col .clone ul ul li{background-image:url(../../../../modules/menu/tpl/css/themes/default/d.png)}
.col .clone{margin:0 0 15px 0}
.col .clone ul{margin:0 !important}
.col .clone li{list-style:none;line-height:18px}
.col .clone li>a:before{content:"";display:inline-block;width:18px;height:18px;background-position:-36px 0;vertical-align:top;margin:0 4px 0 0}
.col .clone>ul>li{padding:15px 0;border-top:1px dotted #ccc}
.col .clone>ul>li:first-child{border-top:0;padding-top:0}
.col .clone>ul>li>a:before{background-position:-72px 0}
.col .clone>ul>li>a:only-child:before{background-position:-54px -36px}
.col .clone>ul>li>ul{padding-left:0;margin-left:0 !important}
.col .clone ul ul{padding-left:8px;margin-left:8px !important}
.col .clone ul ul li{background-position:-90px 10px;background-repeat:repeat-y}
.col .clone ul ul li:only-child,
.col .clone ul ul li:last-child{background:none} 
.col .clone ul ul li:only-child>a:before{background-position:-36px 0}
.col .clone li.x_disabled>a{color:#999;text-decoration:none;cursor:not-allowed}
.col .clone li.x_selected>a{color:#000;font-weight:bold;text-decoration:underline}
.col .clone .root{margin-top:15px}
.col .clone a{display:block;max-width:160px;white-space:nowrap;max-width:160px;text-overflow:ellipsis;overflow:hidden}
/* Download */
.download.col{max-width:600px;min-width:300px}
.download .list{margin-top:-10px}
.download .item{border-top:1px solid #ddd;padding:1px 0 1px 100px;position:relative;min-height:115px}
.download .item:first-child{border:0}
.download .item>img{position:absolute;top:15px;left:0;width:80px;height:80px;padding:4px;border:1px solid #ddd;border-radius:3px}
.download h2{margin:10px 0;line-height:normal !important}
.download h2>a{font-size:14px;color:#000}
.download .x_icon-download-alt{width:24px;height:24px;background-color:#94A55C;position:absolute;top:15px;right:0;border-radius:3px;margin:0;border:0;background-position:-90px -19px}
.download .x_icon-download-alt:hover,
.download .x_icon-download-alt:focus{background-color:#333}
.download p>i{font-style:normal;color:#ccc}
.download .item.installed ._install{display:none}
.download .item ._already_installed{display:none}
.download .item.installed ._already_installed{display:block}
.download .item.installed.up_to_date ._need_to_update{display:none}
.download .item.installed ._already_up_to_date{display:none}
.download .item.installed.up_to_date ._already_up_to_date{display:block}
.download .done,
.download .update{position:absolute;top:15px;right:0;border:0;background-color:transparent;border-radius:3px;color:#fff;overflow:visible;height:24px}
.download .done{background:#666}
.download .done:hover,
.download .done:focus{background:#333}
.download .update{background:#336}
.download .update:hover,
.download .update:focus{background:#333}
.download ._pagination{position:absolute;bottom:4px;left:4px;right:4px}
.download ._pagination>.x_pagination,
.download ._pagination>.search{margin:0}
.download ._pagination>.x_pagination{text-shadow:0 1px 0 #fff}
.download ._pagination>.x_pagination>ul{box-shadow:none}
.download ._pagination>.x_pagination a{background-color:transparent !important;color:#333}
.download ._pagination>.x_pagination a:hover,
.download ._pagination>.x_pagination a:focus{font-weight:bold}
.download ._pagination>.x_pagination .x_active>a{color:#000}
.download .starRating, 
.download .starRating>i{display:inline-block;height:15px;background:transparent url(../../../admin/tpl/img/starRating.png) no-repeat;overflow:hidden}
.download .starRating{width:79px;vertical-align:middle}
.download .starRating>i{font-size:0;line-height:0;vertical-align:top;text-indent:-100px;*text-indent:0;background-position:0 -15px}
.download .starRating.score1>i{width:20%}
.download .starRating.score2>i{width:40%}
.download .starRating.score3>i{width:60%}
.download .starRating.score4>i{width:80%}
.download .starRating.score5>i{width:100%}
/* Theme(layout|skin) */
.theme label{margin:0;padding:8px 0;position:relative;border-bottom:1px solid #ddd}
.theme label>a{position:absolute;top:4px;right:0;width:24px;height:24px;border-radius:3px;background-position:-427px 5px;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s}
.theme label>a:hover,
.theme label>a:focus{background-color:#000}
.theme h2{font-size:14px;border-bottom:1px solid #ddd;margin:0;padding:15px 0 8px 0}
.theme ul button{background-color:transparent;border:0;padding:0;margin:0;overflow:visible}
.theme ul{margin:0;padding:0;list-style:none}
.theme li{zoom:1}
.theme li:after{content:"";display:block;clear:both}
.theme .list>ul>li{padding:8px 0 8px 120px;border-top:1px dashed #ddd;position:relative}
.theme .list>ul>li:first-child{border:0}
.theme .list>ul>li>label{position:relative;color:#333;font-size:13px;white-space:nowrap;line-height:15px;margin:0 0 0 -120px;padding:0;border-bottom:0;cursor:pointer;zoom:1}
.theme .item{position:relative;float:left;margin:5px -110px 0 -120px;display:inline;width:112px;height:85px;border:1px solid #ddd;overflow:hidden;border-radius:3px}
.theme .selected{background:#FFC}
.theme .selected>label{font-weight:bold}
.theme ul ul{white-space:nowrap;float:left;width:100%;margin:5px 0 0 0}
.theme ul ul a>i{position:absolute;top:2px;right:2px}
.theme ul ul>li>*{display:block;height:21px;line-height:21px;text-align:left;position:relative;text-decoration:none;padding:0 34px 0 5px;border-radius:3px;color:#000;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;white-space:nowrap}
.theme ul ul>li>*:hover,
.theme ul ul>li>*:focus{background:#666;color:#fff}
.theme ul ul>li>button{width:100%;padding-right:0}
.theme .x_btn-group{margin:0 !important;padding:0;position:absolute;left:4px;right:4px;bottom:4px}
/* Add Sitemap */
#add_sitemap [for="sitemapName"]{font-weight:bold}
#add_sitemap .btnBoth{position:absolute;margin:0;bottom:4px;left:4px;right:4px}
/* Sitemap General */
#sitemap_general [for="sitemapName2"]{font-weight:bold}
#sitemap_general .btnBoth{position:absolute;margin:0;bottom:4px;left:4px;right:4px}
/* Properties */
#properties ul{margin:0;padding:0 0 8px 0}
#properties li{position:relative;white-space:nowrap;border-top:1px solid #ddd}
#properties li:first-child{border:0}
#properties li>strong{margin:0 0 0 8px}
#properties li>a,
#properties li>button{color:#000;position:relative;display:block;padding:0 8px;line-height:30px;background-color:transparent;border:0;text-align:left;text-decoration:none;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;*zoom:1}
#properties li>a{padding:0 24px 0 8px}
#properties li.type{height:30px;line-height:30px}
#properties li.homepage>label{line-height:30px}
#properties li.ex{border-top:0}
#properties li>button{width:100%}
#properties li>a:hover,
#properties li>button:hover,
#properties li>a:active,
#properties li>button:active,
#properties li>a:focus,
#properties li>button:focus,
#properties li.active>a{background-color:#666;color:#fff}
#properties li>*>i{position:absolute;top:50%;right:5px;margin:-7px 0 0 0;opacity:.5;filter:alpha(opacity=50)}
#properties.prop-shortcut li.homepage,
#properties.prop-shortcut li.design,
#properties.prop-shortcut li.details{display:none}
#properties ._hasFullSetupO{display:none}
#properties._hasFullSetup ._hasFullSetupO{display:block}
#properties._hasFullSetup ._hasFullSetupX{display:none}
#properties .homepage input[checked="checked"]+span{font-weight:bold}
/* Add */
#add>*>.x_btn-group{border:0;padding:0}
/* Add Menu */
#add_menu label{font-weight:bold}
#add_menu .x_tabbable{padding-top:8px}
#add_menu .desc{width:220px;min-height:50px;border-bottom:1px solid #ddd;color:#666;margin:0;padding:5px 0}
#add_menu .x_btn-group{position:absolute;margin:0;left:4px;right:4px;bottom:4px}
/* Default */
#default .menuType{border:1px solid #ddd;border-left:0;border-right:0}
#default [for="lang_menuName"],
#default [for="lang_pageTitle"],
#default [for="mid2"]{font-weight:bold}
#default .btnBoth{position:absolute;left:4px;right:4px;bottom:4px;margin:0}
/* Auth */
#auth li>label:first-child{font-weight:bold;line-height:30px;margin:0}
#auth select{height:26px;margin:0 0 5px 0;padding:0;width:100%}
#auth .x_btn-group{position:absolute;left:4px;right:4px;bottom:4px;margin:0}
/* Image Button */
#imgbtn form{padding:8px 0 0 0;margin:0}
#imgbtn figure{margin:0;text-align:center}
#imgbtn figcaption{font-weight:bold;text-align:left}
#imgbtn p{margin:0;text-align:left}
#imgbtn .btnBoth{border-top:0;border-bottom:1px solid #ddd;margin:0;padding:10px 0}
#imgbtn figure>img{max-width:220px}
#imgbtn figure>img,
#imgbtn .delete,
#imgbtn .modify{display:none}
#imgbtn form._imgUploaded figure>img,
#imgbtn form._imgUploaded .delete,
#imgbtn form._imgUploaded .modify{display:inline-block}
#imgbtn form._imgUploaded .noImg,
#imgbtn form._imgUploaded .upload{display:none}
#imgbtn form:last-child .btnBoth{border:0}
/* Design */
#design ._site{display:none}
#design ._preview_form{margin:0}
#design .mvOption{padding:10px 0 0 0}
#design>ul{margin-top:8px}
#design .x_nav{margin-bottom:14px}
#design .x_nav a{padding-top:5px;padding-bottom:4px}
#design .btnBoth{border:0}
#design img{width:220px}
#design .shadow{position:relative;box-shadow:0 0 4px #999 inset;padding:4px;height:160px;overflow:hidden;border-radius:3px;*border:1px solid #ddd}
#design .shadow>iframe{border:0;-webkit-transform-origin:0 0;-webkit-transform:scale(.20);-moz-transform-origin:0 0;-moz-transform:scale(.20);-0-transform-origin:0 0;-0-transform:scale(.20);-ms-transform-origin:0 0;-ms-transform:scale(.20);transform-origin:0 0;transform:scale(.20);position:absolute}
/*body{background:red}*/
#design #pc .shadow>iframe{width:1024px;height:768px;left:50%;margin-left:-102px}
#design #mobile .shadow>iframe{width:480px;height:800px;left:50%;margin-left:-48px}
#design .x_icon-zoom-in{position:absolute;right:4px;bottom:4px;width:24px;height:24px;border-radius:3px;background-color:#666;opacity:.75;filter:alpha(opacity:75);background-position:-331px 5px}
#design .x_icon-zoom-in:after{content:normal}
#design .mask{position:absolute;width:100%;height:100%;top:0;left:0}
#design .mask.on_message{background:#666;color:white}
#design .mask.loading{background:white}
#design .mask>span{display:block;padding:10px;text-align:center}
#design .btnBoth{position:absolute;bottom:4px;left:4px;right:4px;margin:0}
#design._mobile_view_disabled #mobile .shadow,
#design._mobile_view_disabled._mobileMode .nav,
#design._mobileMode .langDesktop,
#design._mobileMode._mobile_view_disabled .btnBoth,
#design._pcMode .langMobile{display:none}
#site._siteDesign #design .mvOption{display:none}
/* Layout */
#layout li ul._edit_menu {display:none}
#layout li.selected ul._edit_menu {display:block}
#layout .list, 
#skin .list{position:relative}
#layout .mask, 
#skin .mask{display:none;position:absolute;width:100%;height:100%;left:0;top:0;background:#fff;opacity:.5;filter:alpha(opacity=50);z-index:99}
#layout .disabled>.mask, 
#skin .disabled>.mask{display:block;cursor:not-allowed}
/* Full Setup */
#fullSetup .x_btn-group{position:absolute;right:4px;bottom:4px}
/* Message Box */
#msgBox{width:600px;margin-left:-300px}
#msgBox._small{width:400px;margin-left:-200px}
#msgBox._nobody .x_modal-body,
#msgBox._type_alert ._cancel{display:none}
#msgBox._nobody .x_modal-footer{border-top:0}
/* Divide local/global settings view */
._siteDesign .siteMapUI {display:none}
._siteMap .siteDesignUI {display:none}
._siteDesign #design ._item,
._siteDesign #design .x_close,
._siteDesign #skin ul ul,
._siteDesign .theme .cnt>label:first-child{display:none !important}
._siteDesign #design ._site{display:block}
/* Help Alert */
._quick_help{display:none;position:fixed !important;*position:absolute !important;top:85px;left:226px;z-index:100;width:600px;box-shadow:0 0 3px #000;color:#333}
._quick_help>label{display:inline-block;cursor:pointer}
