a {
	color: #5b677d;
}

input[type="submit"], input[type="button"], input[type="reset"], button {
	background: #d4d4d4 url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-skin-classic/images/common/state_default_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #c8c9ca #9e9e9e #9e9e9e #c8c9ca;
	color: #34404F;
	font-weight: bold;
	text-shadow: 1px 1px #fff;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover {
	background: #b9ced9 url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-skin-classic/images/common/state_hover_bg.png) repeat-x 0 0;
	border-color: #627782;
	color: #369;
}

input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, button:focus {
	background: #ebebeb url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-skin-classic/images/common/state_active_bg.png) repeat-x 0 0;
	border-color: #555;
}

.yui3-state-default {
	background: #d4d4d4 url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-skin-classic/images/common/state_default_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #c8c9ca #9e9e9e #9e9e9e #c8c9ca;
}

.yui3-state-hover {
	background: #b9ced9 url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-skin-classic/images/common/state_hover_bg.png) repeat-x 0 0;
	border-color: #627782;
}

.yui3-state-active {
	background: #ebebeb url(http://yui.yahooapis.com/gallery-2012.12.05-21-01/gallery-aui-skin-classic/images/common/state_active_bg.png) repeat-x 0 0;
	border-color: #555;
}

/* ---------- Extras ---------- */

/* ---------- Drop shadows ---------- */

.yui3-dialog-content {
	-moz-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}

.yui3-dialog-hd {
	-moz-box-shadow: 1px 1px 0 #fff;
	-webkit-box-shadow: 1px 1px 0 #fff;
	box-shadow: 1px 1px 0 #fff;
}

/* ---------- Rounded corners ---------- */

.yui3-tabview-list, .yui3-tab-active, .yui3-dialog-content, .yui3-dialog .yui3-widget-hd, input[type="submit"], input[type="button"], input[type="reset"], button, .yui3-panel-content, .yui3-panel-collapsed .yui3-panel-hd {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


/* Top left */

.yui3-panel-hd {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

/* Top right */

.yui3-panel-hd {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}
