/*
 * The Connections page icon.
 */
#icon-connections {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background: transparent url(../images/icon.png) no-repeat;
}

/*
 * Screen options
 */
.entry-per-page { width: 3em }

/*
 * Manage Page Styles
 */
.tablenav .tablenav-pages a.cn-char-current { padding: 8px; }
table.connections tr.unapproved { background-color: #FFFFE0; }
table.connections tr.entrydetails td {border-color:transparent #DFDFDF;}
table.connections tr.entrynotes td {border-color:transparent #DFDFDF #DFDFDF;}
table.connections span.cn-image-style {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(top, #f1f1f1 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	border: 1px solid #E3E3E3;
	margin: 4px 0px;
	padding: 5px;
}
table.connections span.cn-image {
	background:url("../images/loading.gif") transparent no-repeat 50% 50%;
	display: block;
	position: relative;
}
table.connections span.cn-image img {
	border: 1px solid #E3E3E3;
	margin: 0 !important;
	padding: 0 !important;
	visibility: hidden;
}
table.connections span.cn-image-style p {
	color: #AAAAAA;
	margin: 4px;
	text-align: center;
	text-shadow: 0px 1px 0px #E1E1E8;
}
table.connections a.action.approve { color: #006505; display: inline; }
table.connections a.action.unapprove { color: #D98500; }
table.connections a.action:hover { color: #D54E21; }

table.connections div.phone-numbers { margin-bottom: 6px; }
table.connections span.phone { display: block; }

table.connections div.email-addresses { margin-bottom: 6px; }
table.connections span.email { display: block; }

table.connections div.im-ids { margin-bottom: 6px; }
table.connections span.im { display: block; }

table.connections div.social-networks { margin-bottom: 6px; }
table.connections span.social-network { display: block; }

table.connections div.links { margin-bottom: 6px; }
table.connections span.link { display: block; }

table.connections span.date-name { font-weight: bold; }


/*
 * Phone Styles
 */
table.connections  span.date-block { display: block; margin-bottom: 10px; }
table.connections  span.vevent { display: block; }
table.connections  span.vevent span.summary { font-weight: bold; }

/*
 * Template Page Styles
 */
table#currenttheme, table#installthemes {
	border-color: #DDD;
	border-spacing: 0;
	border-width: 1px 0;
	border-style: solid none;
	margin: 10px auto;
	width: 100%;
}
table#currenttheme img {
	float: left;
	border-width: 0;
	margin-right: 1em;
	margin-bottom: 1.5em;
	margin-left: 0;
	width: 150px;
}

table#currenttheme a, table#availablethemes a { text-decoration: none; }
table#currenttheme td.current_template { border-left: 0; border-right: 0; width: 33%; }
table#currenttheme td.current_template h3.error { font-weight: bold; color: #F00000; }
table#availablethemes td.current_template { border-left: 0; border-right: 0; }
table#availablethemes td.template_instructions {padding-left: 12px; border-right: 0;}
table#availablethemes td.install_template {border-left: 0; border-right: 0;}
table#availablethemes div.center-thumbnail img {display: block; margin: 0 auto;}
/* Template Page Styles for 3.3 */
table#availablethemes {
	margin: 10px auto;
	width: 100%;
}
table#availablethemes td.available-theme {
	display: table-cell;;
	margin: 0px;
	padding: 20px;
}
/* Style for "No thumbnail Available" */
table#availablethemes .template-thumbnail-none {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 3px 4px 2px rgba(100, 100, 100, .4);
	-moz-box-shadow: 0px 3px 4px 2px rgba(100, 100, 100, .4);
	box-shadow: 0px 3px 4px 2px rgba(100, 100, 100, .4);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#CCC')"; /* For IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000'); /* For IE 5.5 - 7 */
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(top, #e3e3e3 1%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e3e3e3), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e3e3e3 1%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e3e3e3 1%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e3e3e3 1%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(top, #e3e3e3 1%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
	border:1px solid #D3D3D3;
	margin: auto;
}
table#availablethemes .template-thumbnail-none p {
	color: #AAAAAA;
	font-weight: 700;
	text-align: center;
	text-shadow: 1px 1px 0px #FFFFFF;
	padding: 5px;
}


/* Publish Styles */
#entry-type {border-color: #DFDFDF; border-style: solid; border-width: 1px; margin: 6px;}
#visibility {border-color: #DFDFDF; border-style: solid; border-width: 1px; margin: 6px;}
#minor-publishing label {display: block; margin:10px 6px;}

/* Field Styles */
#fieldsdiv a {display: block; font-style: normal; text-align: center; width: 230px}

/* Upgrade Page Styles */
div#connections-upgrade ul {padding-left: 20px !important; list-style-type: disc !important;}

/* Dashboard */
div.postbox div.inside { margin: 10px; }

div.rss-widget li { margin-bottom: 14px; }
div.rss-widget h4 { font-size: 1.2em; margin: 0; }
div.rss-widget h4 a { text-decoration: none; }
div.rss-widget div.rss-date { margin-bottom: 8px; }

div#metabox-system ul { margin-left: 12px; }

div#metabox-quick-links .one-half { width: 48%; }
div#metabox-quick-links .one-third { width: 30.66%; }
div#metabox-quick-links .two-third { width: 65.33%; }
div#metabox-quick-links .one-half,.one-third,.two-third { position: relative; margin-right: 4%; float: left; }
div#metabox-quick-links .last { margin-right: 0 !important; clear: right; }

div#metabox-quick-links .button {
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-user-select: none;
	background: none;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	line-height: 1em;
	overflow: hidden;
	padding: 0;
	position: relative;
	white-space: nowrap;
}
div#metabox-quick-links .button:hover, div#metabox-quick-links .button.hover {
	background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
}
div#metabox-quick-links .button:active, div#metabox-quick-links .button.active {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(255,255,255,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
	top: 1px;
}
div#metabox-quick-links .button.blue {
  background-color: #00ADEE;
}
div#metabox-quick-links .button.green {
  background-color: #91BD09;
}
div#metabox-quick-links .button span {
	color: #FFFFFF;
	line-height: 1em;
	padding: 0.5em 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	white-space: nowrap;
}
div#metabox-quick-links .button.full, .button.full span {
  display: block;
}
div#metabox-quick-links .button.large span {
  font-size: 1em;
  font-weight: 700;
}

div.clearboth { clear:both; }


/*
 * Entry Form Widget Styles
 */
div#wpcontent div.widgets-sortables {
	min-height: 0;
}
div#wpcontent div.widget {
	position: relative;
}
div#wpcontent div.widget-top .widget-title {
	padding: 6px 9px;
	overflow: hidden;
	position: relative;
}
div#wpcontent div.widget-title h4 {
	overflow: visible;
}
div#wpcontent div.widget-title h4 select {
	height: 1.75em;
	padding: 1px;
	margin-top: -10px;
}
div#wpcontent div.widget .widget-inside, .widget .widget-description {
	display: block;
	position: relative;
}
div#wpcontent div.widget-title-action:hover {
	cursor: pointer;
}
div#wpcontent .widget-placeholder {
	border-width: 1px;
	border-style: dashed;
	margin: 0 auto 20px;
	height: 60px;
	width: 100%;
}
div#metabox-address, div#metabox-phone, div#metabox-email, div#metabox-messenger, div#metabox-social-media, div#metabox-links, div#metabox-date {
	background-color: #FCFCFC;
	background-image: none;
}
/*
 * Entry Form Input Styles
 */
form p.submit a.button  {font-style:normal !important;}
form p.add  {font-style:normal; padding:12px 0 0; text-align: right;}
/*table.form-table td input {width:auto;}*/

#cancel-button {float:left;}
#cancel-button .button {display: inline-block;}
.button-warning:hover {background:#CE0000 none repeat scroll 0 0; color:#FFFFFF;}
.button {margin: 1px;}
.button-primary  {margin: 1px ; padding: 3px 10px; }
#toggleBioEditor { margin: 4px 6px 0 0; }
#toggleNoteEditor { margin: 4px 6px 0 0; }

form div.form-field input[type="text"] { width: 100%; }
form div.form-field input[type="radio"] { vertical-align: text-top; width: auto; }
form div.form-field div#relations { text-align: center }
form div.form-field div#relations select { text-align: left; width: 250px; }
form div.form-field div#relations li { text-align: left; width: 250px; }
form div.form-field h4 label { line-height: normal; vertical-align: text-top; }
form div.form-field h4 span.visibility { position: absolute; right: 0; }
form div.form-field h4 span.visibility label { font-weight: normal; }
form div.form-field div.input { float: left; }
form div.form-field div.input.half-width { width: 50%; }
form div.form-field .address-local input { width: 80%; }
form div.form-field .address-region input { width: 80%; }
form div.form-field .address-city { width: 28%; }
form div.form-field .address-city input { width: 86%; }
form div.form-field .address-state { width: 20%; }
form div.form-field .address-state input { width: 74%; }
form div.form-field .address-zipcode { width: 20%; }
form div.form-field .address-zipcode input { width: 62%; }
form div.form-field .address-country { clear: both; width: 52%; }
form div.form-field .address-country input { width: 80%; }
form div.form-field .address-latitude { width: 29%; }
form div.form-field .address-latitude input { width: 75%; }
form div.form-field .address-longitude { width: 29%; }
form div.form-field .address-longitude input { width: 70%; }

form div.form-field label {font-size: 12px; line-height: 1.6; padding: 0 2px;}
form div.form-field span.checkbox {background-color:transparent;float:right;font-size:11px;font-weight:bold;}
form div.form-field span.checkbox input {width:16px;}
form div.form-field span.selectbox {font-size:11px;font-weight:bold;}
form div.form-field span.selectbox select {padding:1px !important;vertical-align:middle !important;}
form div.form-field span.radio_group input {height: 13px; margin: 0px 5px 0px 2px; width:13px;}
form div.form-field span.radio_group label {float: left; line-height: 30px; padding-right: 15px; white-space: nowrap;}

/* Be very specific with this selector or the images used in rendering the Google Map will be affected, */
form div#metabox-image div.form-field img {-moz-border-radius:4px; background-color: #FFFFFF; border:1px solid #E3E3E3; margin-bottom:10px; padding:5px;}

form div.form-field div.relation {margin: 6px 0px}
form div.form-field div.websites label {display: inline;}
form div.form-field p.remove-button { bottom: 0px; display:inline-block; position: absolute; right: 10px; }
form div.form-field a.geocode.button { display: inline-block; }
form div.inside	span.radio_group label {float: left; line-height: 30px; margin: 6px; padding-right: 12px; white-space: nowrap;}
form div.form-field div.map {
	border: solid 1px #DFDFDF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 10px 0px 20px;
}
