@font-face {
	font-family: 'RaghuMalayalam';
	src: url('RaghuMalayalam/RaghuMalayalamSans-Regular.eot');
	src: url('RaghuMalayalam/RaghuMalayalamSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('RaghuMalayalam/RaghuMalayalamSans-Regular.woff2') format('woff2'),
		url('RaghuMalayalam/RaghuMalayalamSans-Regular.woff') format('woff'),
		url('RaghuMalayalam/RaghuMalayalamSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0000-02DC, U+0D01-0D7F, U+200C-200D, U+25CC;
}
