/*
  Crevasse 0.4.5
  Built by Nick Giancola: https://github.com/patbenatar
  Details and source: https://github.com/patbenatar/crevasse
  Demo: https://patbenatar.github.com/crevasse
*/

.crevasse_reset {
  /* HTML5 display-role reset for older browsers */ }
  .crevasse_reset html, .crevasse_reset body, .crevasse_reset div, .crevasse_reset span, .crevasse_reset applet, .crevasse_reset object, .crevasse_reset iframe,
  .crevasse_reset h1, .crevasse_reset h2, .crevasse_reset h3, .crevasse_reset h4, .crevasse_reset h5, .crevasse_reset h6, .crevasse_reset p, .crevasse_reset blockquote, .crevasse_reset pre,
  .crevasse_reset a, .crevasse_reset abbr, .crevasse_reset acronym, .crevasse_reset address, .crevasse_reset big, .crevasse_reset cite, .crevasse_reset code,
  .crevasse_reset del, .crevasse_reset dfn, .crevasse_reset em, .crevasse_reset img, .crevasse_reset ins, .crevasse_reset kbd, .crevasse_reset q, .crevasse_reset s, .crevasse_reset samp,
  .crevasse_reset small, .crevasse_reset strike, .crevasse_reset strong, .crevasse_reset sub, .crevasse_reset sup, .crevasse_reset tt, .crevasse_reset var,
  .crevasse_reset b, .crevasse_reset u, .crevasse_reset i, .crevasse_reset center,
  .crevasse_reset dl, .crevasse_reset dt, .crevasse_reset dd, .crevasse_reset ol, .crevasse_reset ul, .crevasse_reset li,
  .crevasse_reset fieldset, .crevasse_reset form, .crevasse_reset label, .crevasse_reset legend,
  .crevasse_reset table, .crevasse_reset caption, .crevasse_reset tbody, .crevasse_reset tfoot, .crevasse_reset thead, .crevasse_reset tr, .crevasse_reset th, .crevasse_reset td,
  .crevasse_reset article, .crevasse_reset aside, .crevasse_reset canvas, .crevasse_reset details, .crevasse_reset embed,
  .crevasse_reset figure, .crevasse_reset figcaption, .crevasse_reset footer, .crevasse_reset header, .crevasse_reset hgroup,
  .crevasse_reset menu, .crevasse_reset nav, .crevasse_reset output, .crevasse_reset ruby, .crevasse_reset section, .crevasse_reset summary,
  .crevasse_reset time, .crevasse_reset mark, .crevasse_reset audio, .crevasse_reset video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .crevasse_reset article, .crevasse_reset aside, .crevasse_reset details, .crevasse_reset figcaption, .crevasse_reset figure,
  .crevasse_reset footer, .crevasse_reset header, .crevasse_reset hgroup, .crevasse_reset menu, .crevasse_reset nav, .crevasse_reset section {
    display: block; }
  .crevasse_reset body {
    line-height: 1; }
  .crevasse_reset ol, .crevasse_reset ul {
    list-style: none; }
  .crevasse_reset blockquote, .crevasse_reset q {
    quotes: none; }
  .crevasse_reset blockquote:before, .crevasse_reset blockquote:after,
  .crevasse_reset q:before, .crevasse_reset q:after {
    content: '';
    content: none; }
  .crevasse_reset table {
    border-collapse: collapse;
    border-spacing: 0; }

.crevasse_editor.default_theme {
  font-family: courier;
  background-color: #042029;
  color: #819090;
  font-size: 12pt;
  border: none;
  outline: none;
  resize: none;
  padding: 0; }

.crevasse_previewer.github_theme {
  background-color: #fff;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #000; }
  .crevasse_previewer.github_theme > *:first-child {
    margin-top: 0 !important; }
  .crevasse_previewer.github_theme > *:last-child {
    margin-bottom: 0 !important; }
  .crevasse_previewer.github_theme a {
    color: #4183C4;
    text-decoration: none; }
    .crevasse_previewer.github_theme a:hover {
      text-decoration: underline; }
  .crevasse_previewer.github_theme strong {
    font-weight: bold; }
  .crevasse_previewer.github_theme em {
    font-style: italic; }
  .crevasse_previewer.github_theme h1, .crevasse_previewer.github_theme h2, .crevasse_previewer.github_theme h3, .crevasse_previewer.github_theme h4, .crevasse_previewer.github_theme h5, .crevasse_previewer.github_theme h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased; }
    .crevasse_previewer.github_theme h1 tt, .crevasse_previewer.github_theme h1 code, .crevasse_previewer.github_theme h2 tt, .crevasse_previewer.github_theme h2 code, .crevasse_previewer.github_theme h3 tt, .crevasse_previewer.github_theme h3 code, .crevasse_previewer.github_theme h4 tt, .crevasse_previewer.github_theme h4 code, .crevasse_previewer.github_theme h5 tt, .crevasse_previewer.github_theme h5 code, .crevasse_previewer.github_theme h6 tt, .crevasse_previewer.github_theme h6 code {
      font-size: inherit; }
    .crevasse_previewer.github_theme h1 + p, .crevasse_previewer.github_theme h2 + p, .crevasse_previewer.github_theme h3 + p, .crevasse_previewer.github_theme h4 + p, .crevasse_previewer.github_theme h5 + p, .crevasse_previewer.github_theme h6 + p {
      margin-top: 0; }
  .crevasse_previewer.github_theme h1 {
    font-size: 28px;
    color: #000; }
  .crevasse_previewer.github_theme h2 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    color: #000; }
  .crevasse_previewer.github_theme h3 {
    font-size: 18px; }
  .crevasse_previewer.github_theme h4 {
    font-size: 16px; }
  .crevasse_previewer.github_theme h5 {
    font-size: 14px; }
  .crevasse_previewer.github_theme h6 {
    color: #777;
    font-size: 14px; }
  .crevasse_previewer.github_theme p, .crevasse_previewer.github_theme blockquote, .crevasse_previewer.github_theme ul, .crevasse_previewer.github_theme ol, .crevasse_previewer.github_theme dl, .crevasse_previewer.github_theme table, .crevasse_previewer.github_theme pre {
    margin: 15px 0; }
  .crevasse_previewer.github_theme hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    height: 0;
    padding: 0; }
  .crevasse_previewer.github_theme ul, .crevasse_previewer.github_theme ol {
    padding-left: 30px; }
    .crevasse_previewer.github_theme ul li, .crevasse_previewer.github_theme ol li {
      margin: 5px 0; }
      .crevasse_previewer.github_theme ul li:first-child, .crevasse_previewer.github_theme ol li:first-child {
        margin-top: 0; }
      .crevasse_previewer.github_theme ul li:last-child, .crevasse_previewer.github_theme ol li:last-child {
        margin-bottom: 0; }
    .crevasse_previewer.github_theme ul li > :first-child, .crevasse_previewer.github_theme ol li > :first-child {
      margin-top: 0; }
    .crevasse_previewer.github_theme ul li > :last-child, .crevasse_previewer.github_theme ol li > :last-child {
      margin-bottom: 0; }
  .crevasse_previewer.github_theme ul {
    list-style-type: disc; }
  .crevasse_previewer.github_theme ol {
    list-style-type: decimal; }
  .crevasse_previewer.github_theme dl {
    padding: 0; }
    .crevasse_previewer.github_theme dl dt {
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      padding: 0;
      margin: 15px 0 5px; }
      .crevasse_previewer.github_theme dl dt:first-child {
        padding: 0; }
      .crevasse_previewer.github_theme dl dt > :first-child {
        margin-top: 0; }
      .crevasse_previewer.github_theme dl dt > :last-child {
        margin-bottom: 0; }
    .crevasse_previewer.github_theme dl dd {
      margin: 0 0 15px;
      padding: 0 15px; }
      .crevasse_previewer.github_theme dl dd > :first-child {
        margin-top: 0; }
      .crevasse_previewer.github_theme dl dd > :last-child {
        margin-bottom: 0; }
  .crevasse_previewer.github_theme blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777; }
    .crevasse_previewer.github_theme blockquote > :first-child {
      margin-top: 0; }
    .crevasse_previewer.github_theme blockquote > :last-child {
      margin-bottom: 0; }
  .crevasse_previewer.github_theme table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
    font: inherit; }
    .crevasse_previewer.github_theme table tr {
      border-top: 1px solid #ccc;
      background-color: #fff;
      margin: 0;
      padding: 0; }
      .crevasse_previewer.github_theme table tr:nth-child(2n) {
        background-color: #f8f8f8; }
      .crevasse_previewer.github_theme table tr th, .crevasse_previewer.github_theme table tr td {
        border: 1px solid #ccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px; }
        .crevasse_previewer.github_theme table tr th > :first-child, .crevasse_previewer.github_theme table tr td > :first-child {
          margin-top: 0; }
        .crevasse_previewer.github_theme table tr th > :last-child, .crevasse_previewer.github_theme table tr td > :last-child {
          margin-bottom: 0; }
      .crevasse_previewer.github_theme table tr th {
        font-weight: bold; }
  .crevasse_previewer.github_theme img {
    max-width: 100%; }
  .crevasse_previewer.github_theme code, .crevasse_previewer.github_theme tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
    font-family: courier;
    white-space: pre-wrap; }
  .crevasse_previewer.github_theme pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent; }
  .crevasse_previewer.github_theme pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px; }
