@charset "UTF-8";

.psh {
  background-color: #292a44;
  color: #f1eff7;
}

.psh figure {
  margin: 0;
}

.psh pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin: 0;
  line-height: 18px;
  font-size: 13px;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.psh code, .psh samp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px;
}

.psh .psh-line-numbers {
  counter-reset: line;
}

.psh .psh-line-numbers .psh-line {
  counter-increment: line;
}

.psh .psh-line-numbers .psh-line::before {
  content: counter(line);
  display: inline-block;
  padding-right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: #8d8d9e;
}

.psh .psh-line-numbers.psh-line-numbers-s .psh-line::before {
  width: 2em;
}

.psh .psh-line-numbers.psh-line-numbers-m .psh-line::before {
  width: 2.6em;
}

.psh .psh-line-numbers.psh-line-numbers-l .psh-line::before {
  width: 3.2em;
}

.psh .psh-line-numbers.psh-line-numbers-xl .psh-line::before {
  width: 3.8em;
}

.psh .psh-label {
  background-color: #292a44;
  text-align: right;
  height: 18px;
}

.psh .psh-label-value {
  position: relative;
  display: inline-block;
  padding: 1px 5px;
  margin: 6px;
  line-height: 18px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 11px;
  font-family: serif;
  font-family: initial;
  background-color: #3e3f57;
  color: #b2b2bc;
}

.psh .psh-caption {
  padding: 12px;
  background-color: #3e3f57;
  font-weight: 700;
  font-size: 14px;
  color: #b2b2bc;
}

.psh .psh-filename {
  padding: 3px 12px;
  background-color: #3e3f57;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #b2b2bc;
}

.psh .psh-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

.psh .psh-request .psh-request-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  background-color: #8d8d9e;
  font-size: 15px;
  color: #fff;
}

.psh .psh-request .psh-request-method-get {
  background-color: #42bd79;
}

.psh .psh-request .psh-request-method-post {
  background-color: #00abd6;
}

.psh .psh-request .psh-request-method-put {
  background-color: #845eed;
}

.psh .psh-request .psh-request-method-patch {
  background-color: #f0813d;
}

.psh .psh-request .psh-request-method-delete {
  background-color: #df435d;
}

.psh .psh-request .psh-request-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: #5b5b71;
  font-size: 13px;
  color: #b2b2bc;
}

.psh .psh-request .psh-request-method-get + .psh-request-resource {
  background-color: #41475a;
}

.psh .psh-request .psh-request-method-post + .psh-request-resource {
  background-color: #3e465e;
}

.psh .psh-request .psh-request-method-put + .psh-request-resource {
  background-color: #44435f;
}

.psh .psh-request .psh-request-method-patch + .psh-request-resource {
  background-color: #484457;
}

.psh .psh-request .psh-request-method-delete + .psh-request-resource {
  background-color: #484159;
}

.psh .psh-add, .psh .psh-highlight, .psh .psh-remove {
  margin: 0 -18px;
  padding-left: 15px;
}

.psh .psh-highlight {
  border-left: 3px solid #dba643;
  background-color: #474658;
}

.psh .psh-add {
  border-left: 3px solid #42bd79;
  background-color: #41475a;
}

.psh .psh-remove {
  border-left: 3px solid #df435d;
  background-color: #484159;
}

.psh .psh-invisibles-lf, .psh .psh-invisibles-space, .psh .psh-invisibles-tab {
  position: relative;
}

.psh .psh-invisibles-lf::before, .psh .psh-invisibles-space::before, .psh .psh-invisibles-tab::before {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #5b5b71;
}

.psh .psh-invisibles-tab::before {
  content: "⇥";
}

.psh .psh-invisibles-space::before {
  content: "·";
}

.psh .psh-invisibles-lf::before {
  content: "↩";
}

.psh .psh-commands::before {
  content: ">";
  padding-right: .8em;
  color: #6dfedf;
}

.psh .comment {
  color: #6d6db5;
  font-style: italic;
}

.psh .string {
  color: #6dfedf;
}

.psh .constant.numeric {
  color: #ffdb7d;
}

.psh .constant.character, .psh .constant.language, .psh .constant.other {
  color: #ae81ff;
}

.psh .variable {
  color: #ff6f9f;
}

.psh .keyword {
  color: #7aa5ff;
}

.psh .storage {
  color: #ed4781;
}

.psh .storage.type {
  color: #ed4781;
}

.psh .entity.name.class {
  color: #678bdc;
}

.psh .entity.other.inherited-class {
  color: #678bdc;
}

.psh .entity.name.function {
  color: #2de0a7;
}

.psh .variable.parameter {
  color: #ffbc69;
}

.psh .entity.name.tag {
  color: #ff6f9f;
}

.psh .entity.other.attribute-name {
  color: #f92672;
}

.psh .support.constant, .psh .support.function {
  color: #66d9ef;
}

.psh .support.class, .psh .support.type {
  color: #66d9ef;
}

.psh .invalid, .psh .invalid.deprecated {
  font-style: italic;
  color: #e72d2d;
  border-bottom: 1px dotted #e72d2d;
}

.psh .invalid.deprecated {
  color: #e88e2c;
  border-bottom-color: #e88e2c;
}

.psh .json .constant {
  color: #ed4781;
}

.psh .json .numeric {
  color: #ffdb7d;
}

.psh .json .string {
  color: #ae81ff;
}

.psh .json .punctuation.definition.string {
  color: #6d6db5;
}

.psh .json .structure.value > .quoted.string {
  color: #6dfedf;
}

.psh .markup.gfm.heading {
  color: #2de0a7;
}

.psh .markup.gfm.underline.link {
  color: #6dfedf;
}

.psh .gfm .link:hover {
  background: rgba(103, 139, 220, .2);
  border-radius: 2px;
}

.psh .gfm .link .entity {
  color: #ae81ff;
}

.psh .gfm .link .punctuation.begin, .psh .gfm .link .punctuation.end {
  color: #6d6db5;
}

.psh .tree-view:focus li.syntax-.directory.selected.status-added > .list-item::after {
  background-color: #215f55;
}

.psh .tree-view:focus li.syntax-.directory.selected.status-added > .list-item .name,
.psh .tree-view:focus li.syntax-.directory.selected.status-added > .list-item::before {
  color: #19e589;
}

.psh .tree-view:focus li.list-nested-item > .list-item.selected.status-added::before,
.psh .tree-view:focus li:not(.list-nested-item).selected.status-added::before {
  background-color: #215f55;
}

.psh .tree-view:focus li.list-nested-item > .list-item.selected.status-added .name,
.psh .tree-view:focus li:not(.list-nested-item).selected.status-added .name {
  color: #19e589;
}

.psh .list-group li.list-nested-item.status-added:not(.selected) > .list-item,
.psh .list-group li.list-nested-item > .list-item.status-added,
.psh .list-group li:not(.list-nested-item):not(.tabBlender).status-added,
.psh .list-tree li.list-nested-item.status-added:not(.selected) > .list-item,
.psh .list-tree li.list-nested-item > .list-item.status-added,
.psh .list-tree li:not(.list-nested-item):not(.tabBlender).status-added {
  color: #19e589;
}

.psh .tree-view:focus li.directory.selected.status-modified > .list-item::after {
  background-color: #963700;
}

.psh .tree-view:focus li.directory.selected.status-modified > .list-item .name,
.psh .tree-view:focus li.directory.selected.status-modified > .list-item::before {
  color: #ffab35;
}

.psh .tree-view:focus li.list-nested-item > .list-item.selected.status-modified::before,
.psh .tree-view:focus li:not(.list-nested-item).selected.status-modified::before {
  background-color: #963700;
}

.psh .tree-view:focus li.list-nested-item > .list-item.selected.status-modified .name,
.psh .tree-view:focus li:not(.list-nested-item).selected.status-modified .name {
  color: #ffab35;
}

.psh .list-group li.list-nested-item.status-modified:not(.selected) > .list-item,
.psh .list-group li.list-nested-item > .list-item.status-modified,
.psh .list-group li:not(.list-nested-item):not(.tabBlender).status-modified,
.psh .list-tree li.list-nested-item.status-modified:not(.selected) > .list-item,
.psh .list-tree li.list-nested-item > .list-item.status-modified,
.psh .list-tree li:not(.list-nested-item):not(.tabBlender).status-modified {
  color: #ffab35;
}
